{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">Gestion</h1>

        <hr>

        <div class="my-4">

            {% include 'app/admin/managing/_managing_services.html.twig' %}

            <h2 class="h5">Paiements</h2>
            <ul>
                <li class="mb-2 text-primary">
                    <a class="link-primary" href="{{ path('supports_current_month') }}">Récapitulatif mensuel des redevances</a>
                </li>
                <li class="mb-2 text-primary">
                    <a class="link-primary" href="{{ path('payments_index') }}">Paiements (redevances, participations financières)</a>
                </li>
                <li class="mb-2 text-primary">
                    <a class="link-primary" href="{{ path('payment_indicators') }}">Indicateurs des paiements</a>
            </ul>

            <hr class="my-3">

            <h2 class="h5">Listes</h2>
            <ul>
                <li class="mb-2 text-primary">
                    <a class="link-primary" href="{{ path('place_index') }}">Groupes de places</a>
                </li> 
                <li class="mb-2 text-primary">
                    <a class="link-primary" href="{{ path('organization_index') }}">Organismes prescripteurs</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}