{% set people_group = support.peopleGroup %}
{% set SERVICE_PASH_ID = constant("App\\Entity\\Organization\\Service::SERVICE_PASH_ID") %}

<section class="m-0">
	<div class="d-md-flex justify-content-md-between mb-2">
		<h1 class="h2">Suivi<span class="fas fa-angle-right fa-xs mx-1"></span>{{ title }}</h1>
		<div id="support" data-support="{{ support.id }}">
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_view', {'id': support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Page d'accueil du suivi">
				<span class="fas fa-home"></span><span class="sr-only">Page d'accueil du suivi</span>
			</a>
			{% if support.device and support.device.accommodation == YES %}
				<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_accommodations', {'id': support.id}) }}" 
					data-toggle="tooltip" data-placement="bottom" title="{% if support.service.id == SERVICE_PASH_ID %}Prises en charge hôtelelières{% else %}Modalités d'hébergement{% endif %}">
					<span class="fas fa-bed"></span><span class="sr-only">Hébergement</span>
				</a>
			{% endif %}
			{% if support.device and support.device.contribution == YES %}
				<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_contributions', {'id': support.id}) }}" 
					data-toggle="tooltip" data-placement="bottom" title="Paiements (redevances, PF, caution...)">
					<span class="fas fa-euro-sign px-1"></span><span class="sr-only">Paiements</span>
				</a>
			{% endif %}
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_evaluation_show', {'id': support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Evaluation sociale">
				<span class="fas fa-clipboard"></span><span class="sr-only">Évaluation</span>
			</a>
			<a href="{{ path('support_calendar_show', {'id': support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Rendez-vous">
				<span class="far fa-calendar-alt"></span><span class="sr-only">Agenda</span>
			</a>
			<a href="{{ path('support_notes', {'id': support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Notes sociales">
				<span class="fas fa-edit"></span><span class="sr-only">Notes</span>
			</a>
			<a href="{{ path('support_documents', {'id': support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Documents administratifs">
				<span class="fas fa-file-upload"></span><span class="sr-only">Documents</span>
			</a>
		</div>
	</div>
	
	{% include "model/_msgFlash.html.twig" %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="text-{{ theme_color }}" href="{{ path('people_group_show', {'id': people_group.id}) }}">
					<span class="fas fa-users mr-2"></span>Fiche groupe<span class="small"> {{ people_group.familyTypologyToString }}</span>
				</a>
			</li>
			<li class="breadcrumb-item">
				<a class="text-{{ theme_color }}" href="{{ path('support_view', {'id': support.id }) }}">Suivi social</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
		</ol>
	</nav>
	<div id="js-support-people">
		{% if support.supportPeople %}
			{% for support_person in support.supportPeople|filter(s => s.status == support.status) %}
				<a href="{{ path("group_person_show", {"id": people_group.id, "person_id": support_person.person.id, "slug": support_person.person.slug}) }}" 
					class="btn btn-outline-secondary btn-sm rounded-pill smal mb-2">{{ support_person.person.fullname }}</a>
			{% endfor %}
		{% endif %}
	</div>
</section>

<hr>