{% extends"base.html.twig" %}

{% form_theme formGroupPeople "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Fiche ménage{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}

{% block body %}

<script>
    $(document).ready(function () {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

<div>
    <h1 class="h2 mb-3">Groupe de personnes (ménage)</h1>

    {% if editMode %}
    <div class="small text-secondary">
        <p>Créé le {{groupPeople.creationDate | date("d/m/Y à H:i") }} (modifié le
            {{groupPeople.updateDate | date("d/m/Y à H:i") }})</p>
    </div>
    {% endif %}
</div>

<hr>

<section id="people-group">
    <h2 class="h3 my-4">Personnes du ménage</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover shadow">
            <thead class="bg-dark">
                <tr>
                    <th scope="col" class="align-middle th-width-20px"></th>
                    <th scope="col" class="align-middle text-light th-width-150px">Prénom</th>
                    <th scope="col" class="align-middle text-light th-width-150px">Nom</th>
                    <th scope="col" class="align-middle text-light th-width-150px">Date de naissance</th>
                    <th scope="col" class="align-middle text-light th-width-50px">Âge</th>
                    <th scope="col" class="align-middle text-light th-width-80px">Sexe</th>
                    <th scope="col" class="align-middle text-light th-width-100px">Rôle</th>
                    <th scope="col" class="align-middle th-width-50px"></th>
                </tr>
            </thead>
            <tbody>
                {% for rolePerson in groupPeople.rolePeople %}
                <tr>
                    <form action="/list/group/{{ rolePerson.groupPeople.id }}" method="post">
                        <th scope="row">
                            <a href="{{ path('personCard', {'id':rolePerson.person.id}) }}"
                                class="text-primary font-weight-bold"><span class="fas fa-user-edit"></span>
                            </a>
                        </th>
                        <td class="px-1">
                            <input type="text" class="form-control" value="{{ rolePerson.person.firstname }}">
                        </td>
                        <td class="px-1"><input type="text" class="form-control"
                                value="{{ rolePerson.person.lastname }}"></td>
                        <td class="px-1"><input type="date" class="form-control"
                                value="{{ rolePerson.person.birthdate | date("d/m/Y") }}"></td>
                        <td class="px-1">{{ rolePerson.person.age }} {% if rolePerson.person.age > 1  %} ans {% endif %}
                        </td>
                        <td class="px-1">
                            <select type="text" class="custom-select form-control">
                                <option value="1" {% if rolePerson.person.gender == 1 %} {{ "selected" }} {% endif %}>
                                    Femme
                                </option>
                                <option value="2" {% if rolePerson.person.gender == 2 %} {{ "selected" }} {% endif %}>
                                    Homme
                                </option>

                            </select>
                        </td>
                        <td class="px-1">
                            <select type="text" class="custom-select form-control">
                                <option value="1" {% if rolePerson.role == 1 %} {{ "selected" }} {% endif %}>
                                    Demandeur
                                </option>
                                <option value="2" {% if rolePerson.role == 2 %} {{ "selected" }} {% endif %}>
                                    Conjoint
                                </option>
                                <option value="3" {% if rolePerson.role == 3 %} {{ "selected" }} {% endif %}>
                                    Époux/se
                                </option>
                                <option value="4" {% if rolePerson.role == 4 %} {{ "selected" }} {% endif %}>
                                    Enfant
                                </option>
                                <option value="5" {% if rolePerson.role >= 5 %} {{ "selected" }} {% endif %}>
                                    Autre
                                </option>
                            </select>
                        </td>
                        <td class="px-1">
                            <button type="submit" name="updateInfo" id="updateInfo" class="btn btn-primary shadow"
                                id="save"><span class=" fas fa-save"></span></button>
                        </td>

                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<section id="people-group">
    {{ form_start(formGroupPeople) }}

    <div class="row">
        <div class="col-md-12">
            <div class="">
                {{ form_row(formGroupPeople.familyTypology) }}
                {{ form_row(formGroupPeople.nbPeople) }}
                {{ form_row(formGroupPeople.comment) }}
                {{ form_row(formGroupPeople._token) }}

                <div class="float-right">
                    <input type="submit" name="updateInfo" id="updateInfo" class="btn btn-primary shadow"
                        value="{% if editMode %}Mettre à jour{% else %}Enregistrer{% endif %}" id="save">
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover shadow">
                    <thead class="bg-dark">
                        <tr>
                            <th scope="col" class="align-middle th-width-20px"></th>
                            <th scope="col" class="align-middle text-light th-width-150px">Prénom</th>
                            <th scope="col" class="align-middle text-light th-width-150px">Nom</th>
                            <th scope="col" class="align-middle text-light th-width-120px">Date de naissance</th>
                            <th scope="col" class="align-middle text-light th-width-50px">Âge</th>
                            <th scope="col" class="align-middle text-light th-width-100px">Sexe</th>
                            <th scope="col" class="align-middle text-light th-width-120px">Rôle</th>
                            <th scope="col" class="align-middle th-width-50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formRolePerson in formGroupPeople.rolePeople %}
                        {% for formPerson in formRolePerson %}
                        {% for person in formPerson %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('personCard', {'id':1}) }}" class="text-primary font-weight-bold"><span
                                        class="fas fa-user-edit"></span>
                                </a>
                            </th>
                            <td class="px-0">{{ form_widget(formPerson.firstname) }}</td>
                            <td class="px-1">{{ form_widget(formPerson.lastname) }}</td>
                            <td class="px-0">{{ form_widget(formPerson.birthdate) }}</td>
                            <td class="px-0"> age</td>
                            <td class="px-0">{{ form_widget(formPerson.gender) }}</td>
                            <td class="px-1">{{ form_widget(formRolePerson.role) }}</td>
                            <td class="px-1">
                                <button type="submit" name="updateInfo" id="updateInfo" class="btn btn-primary shadow"
                                    id="save"><span class=" fas fa-save"></span></button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# {% set prototype_person = formGroupPeople.rolePeople.vars.prototype %}
    {{ form_widget(prototype_person) }} #}

    {{ form_end(formGroupPeople, {"render_rest": false}) }}
</section>

<hr>

<section id="social-supports">
    <h2 class="h3 my-4">Historique des suivis sociaux</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover shadow">
            <thead class="bg-dark">
                <tr>
                    <th scope="col" class="align-middle th-width-20px">
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Statut
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />début
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />fin
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Travailleur/euse social(e)
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Service
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Pôle
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for socialSupport in groupPeople.socialSupports %}
                <tr>
                    <th scope="row">
                    </th>
                    <td>{{ socialSupport.listStatus }}</td>
                    <td>
                        <a href="" class="text-primary font-weight-bold">
                            {{ socialSupport.beginningDate | date("d/m/Y") }}
                        </a>
                        <a class="text-blue" href=""></a>
                    </td>
                    <td>{{ socialSupport.endDate | date("d/m/Y") }}</td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<hr>

<script>
    $(document).ready(function () {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>


{% endblock %}