{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set group_people = form.vars.value %}

{% block title %}Fiche de groupe | Esperer95-app{% endblock %}

{% block body %}

<div class="container">
    <div>
        <h1 class="h2 mb-3">Fiche de groupe</h1>
        <div class="small text-secondary">
            <p>Créé le {{ group_people.createdAt | date("d/m/Y à H:i") }}
                {% if group_people.createdBy %} par {{ group_people.createdBy.fullname }}
                {% endif %} (modifié le {{ group_people.updatedAt | date("d/m/Y à H:i") }}
                {% if group_people.updatedBy %} par {{ group_people.updatedBy.fullname }}{% endif %})
            </p>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><span class="fas fa-users mr-2"></span>Fiche
                    groupe</a></li>
            </ol>
        </nav>
    </div>

    {{ form_start(form) }}
    <section>
        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="float-right">
                    <button type="submit" name="updateInfo" class="btn btn-{{ theme_color }} shadow">Mettre à
                        jour</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-dark">
                        <thead>
                            <tr>
                                <th scope="col" class="th-w-20 align-middle"></th>
                                <th scope="col" class="th-w-20" data-placement="bottom"
                                    title="Demandeur/euse principal·e">DP</th>
                                <th scope="col" class="th-w-150 align-middle">Prénom</th>
                                <th scope="col" class="th-w-150 align-middle">Nom</th>
                                <th scope="col" class="th-w-120 align-middle">Date de naissance</th>
                                <th scope="col" class="th-w-50 align-middle">Âge</th>
                                <th scope="col" class="th-w-100 align-middle">Sexe</th>
                                <th scope="col" class="th-w-150 align-middle">Rôle</th>
                                <th scope="col" class="th-w-50 align-middle"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form_person in form.rolePerson.children|sort ((a, b) => a.person.birthdate <=> b.person.birthdate) %}
                            {% set person = form_person.vars.value.person %}
                            <tr id="js-person-{{ person.id }}" class="js-tr-person">
                                <th scope="row" class="align-middle">
                                    <a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.id, "slug":person.slug}) }}"
                                        class="btn btn-{{ theme_color }} shadow" data-placement="bottom"
                                        title="Voir la fiche individuelle"><span class="fas fa-eye"></span>
                                    </a>
                                </th>
                                <td class="px-1 align-middle">
                                    <div class="custom-control custom-radio custom-radio-{{ theme_color }} pl-3">
                                        {{ form_widget(form_person.head) }}
                                    </div>
                                </td>
                                <td class="px-1">{{ form_widget(form_person.person.firstname) }}</td>
                                <td class="px-1">{{ form_widget(form_person.person.lastname) }}</td>
                                {% set age = person.age %}
                                <td class="px-1">{{ form_widget(form_person.person.birthdate) }}</td>
                                <td class="text-center px-1 align-middle">
                                    {{ age }} {% if age > 1 %}ans{% elseif age %} an{% endif %}</td>
                                <td class="px-1">
                                    {{ form_widget(form_person.person.gender) }}</td>
                                <td class="px-1">{{ form_widget(form_person.role) }}</td>
                                <td class="px-1 align-middle">
                                    <button class="js-remove btn btn-danger shadow"
                                        data-url="{{ path('remove_person', {'id':group_people.id, 'person_id': person.id, 'role_person_id':form_person.vars.value.id, '_token':csrf_token('remove' ~ form_person.vars.value.id)}) }}"
                                        data-toggle="modal" data-target="#modal-block" data-placement="bottom"
                                        title="Retirer la personne du groupe"><span
                                            class="fas fa-user-times"></span></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path("group_search_person", {"id":group_people.id}) }}"
                    class="btn btn-{{ theme_color }} btn-sm my-2">
                    <span class="fas fa-plus-square mr-2"></span>Ajouter une personne</a>
                <a href="{{ path("group_create_person", {"id":group_people.id}) }}"
                    class="btn btn-secondary btn-sm my-2">
                    <span class="fas fa-plus-square mr-2"></span>Naissance</a>
            </div>
        </div>
    </section>

    <section>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.familyTypology) }}</div>
            <div class="col-md-6">{{ form_row(form.nbPeople) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">{{ form_widget(form.comment) }}</div>
        </div>
        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="float-right">
                    <input type="submit" name="updateInfo" id="updateInfo" class="btn btn-{{ theme_color }} shadow"
                        value="Mettre à jour" id="save">
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form, {"render_rest": false}) }}

    <hr>

    {% include "app/support/historySupportsGroup.html.twig" %}

</div>

{% include "modalDialog/removePerson.html.twig" %}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("groupPeople") }}
{% endblock %}