{% extends"base.html.twig" %}

{% form_theme form_group_people "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Fiche ménage{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}

{% block body %}

<script>
    $(document).ready(function () {
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

<div>
    <h1 class="h2 mb-3">Groupe de personnes (ménage)</h1>

    {% if edit_mode %}
    <div class="small text-secondary">
        <p>Créé le {{group_people.creationDate | date("d/m/Y à H:i") }} (modifié le
            {{group_people.updateDate | date("d/m/Y à H:i") }})</p>
    </div>
    {% endif %}
</div>

<hr>

<section id="people-group">
    {{ form_start(form_group_people) }}

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover shadow">
                    <thead class="bg-dark">
                        <tr>
                            <th scope="col" class="align-middle th-width-20px"></th>
                            <th scope="col" class="align-middle text-light th-width-150px">Prénom</th>
                            <th scope="col" class="align-middle text-light th-width-150px">Nom</th>
                            <th scope="col" class="align-middle text-light th-width-120px">Date de naissance</th>
                            <th scope="col" class="align-middle text-light th-width-50px">Âge</th>
                            <th scope="col" class="align-middle text-light th-width-100px">Sexe</th>
                            <th scope="col" class="align-middle text-light th-width-150px">Rôle</th>
                            <th scope="col" class="align-middle th-width-50px"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for form_person in form_group_people.rolePerson.children %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path('person_show', {'id':form_person.vars.value.person.id, 'slug':form_person.vars.value.person.slug}) }}"
                                    class="text-primary font-weight-bold"><span class="mt-2 fas fa-user-edit"></span>
                                </a>
                            </th>
                            <td class="px-1">{{ form_widget(form_person.person.firstname) }}</td>
                            <td class="px-1">{{ form_widget(form_person.person.lastname) }}</td>
                            <td class="px-1">{{ form_widget(form_person.person.birthdate) }}</td>
                            <td class="px-1 pt-4"> {{ form_person.vars.value.person.age }} an(s)</td>
                            <td class="px-1">{{ form_widget(form_person.person.gender) }}</td>
                            <td class="px-1">{{ form_widget(form_person.role) }}</td>
                            <td class="px-1">
                                <a href="{{ path('remove_person', {'id':form_person.vars.value.person.id}) }}"
                                    name="remove" id="remove" class="btn btn-danger shadow" id="remove"><span
                                        class=" fas fa-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {# <form action="">
                            <tr>
                                <th scope="row">
                                    <a href="" class="text-primary font-weight-bold"><span
                                            class="mt-2 fas fa-user-edit"></span>
                                    </a>
                                </th>
                                <td class="px-1"></td>
                                <td class="px-1"></td>
                                <td class="px-1"></td>
                                <td class="px-1"></td>
                                <td class="px-1"></td>
                                <td class="px-1"></td>
                                <td class="px-1">
                                    <a href="" name="remove" id="remove" class="btn btn-primary shadow"
                                        id="remove"><span class=" fas fa-save"></span></a>
                                </td>
                            </tr>
                        </form> #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a href="{{ path('create_person') }}" class="float-right text-primary"><span class="fas fa-plus-square"></span>
        Ajouter une personne</a>
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                {{ form_row(form_group_people.familyTypology) }}
                {{ form_row(form_group_people.nbPeople) }}
                {{ form_row(form_group_people.comment) }}
                {{ form_row(form_group_people._token) }}

                <div class="float-right">
                    <input type="submit" name="updateInfo" id="updateInfo" class="btn btn-primary shadow"
                        value="{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}" id="save">
                </div>

            </div>
        </div>
    </div>

    {{ form_end(form_group_people, {"render_rest": false}) }}
</section>

<hr>

<section id="social-supports">
    <h2 class="h3 my-4">Historique des suivis sociaux</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover shadow">
            <thead class="bg-dark">
                <tr>
                    <th scope="col" class="align-middle th-width-20px">
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Statut
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />début
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />fin
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Travailleur/euse social(e)
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Service
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Pôle
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for socialSupport in group_people.socialSupports %}
                <tr>
                    <th scope="row">
                    </th>
                    <td>{{ socialSupport.listStatus }}</td>
                    <td>
                        <a href="" class="text-primary font-weight-bold">
                            {{ socialSupport.beginningDate | date("d/m/Y") }}
                        </a>
                        <a class="text-blue" href=""></a>
                    </td>
                    <td>{{ socialSupport.endDate | date("d/m/Y") }}</td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('create_person') }}" class="text-primary"><span class="fas fa-plus-square"></span>
        Créer un nouveau suivi</a>

    <br />
</section>

<hr>

<script>
    $(document).ready(function () {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>


{% endblock %}