{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Import{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="d-flex align-items-baseline">
                <h1 class="h2 my-3 mr-3">Import CSV</h1>
                {% include "model/msgFlash.html.twig" %}
                <div class="form-inline ml-4">
                    <div class="form-group col-auto my-1 px-1">
                        <div class="form-group">
                            {{ form_start(form) }}
                            {{ form_widget(form.service) }}
                            {{ form_row(form._token) }}
                            <button type="submit" id="send" name="send"  class="btn btn-{{ theme_color }} ml-3">Importer</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-sm table-bordered table-striped table-hover small shadow-sm">
                    <thead>
                        <tr>
                            {% for data in datas %}
                                {% if loop.first %}
                                    {% for col in data %}
                                        <th scope="col" class="align-middle th-w-100 bg-dark text-white">{{ col  }}</th>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            {% if not loop.first %}
                            <tr>
                                {% for col in data %}
                                    <td class="align-middle th-w-20">{{ col }}</td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
