{% extends 'base.html.twig' %}

{% block title %}Liste des personnes suivies{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}


{% block body %}

<section>
    <h1 class="h2 my-4">Liste des personnes suivies</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover shadow">
            <thead class="bg-dark">
                <tr>
                    <th scope="col" class="align-middle th-width-20px">
                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top"
                            title="Tout sélectionner">
                            <input type="checkbox" name="select-all" id="select-all" class="custom-control-input" />
                            <label class="custom-control-label" for="select-all"><span class="sr-only">Tout
                                    sélectionner<span></label>
                        </div>
                    </th>
                    {# <th scope="col" class="align-middle th-width-80px">
                        <a href="" class="sorting-indicator text-light">ID ménage
                            <span class="fas fa-caret-up">
                        </a>
                    </th> #}
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Nom
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-120px">
                        <a href="" class="sorting-indicator text-light">Prénom
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />naissance
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-80px">
                        <a href="" class="sorting-indicator text-light">Âge
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-80px">
                        <a href="" class="sorting-indicator text-light">Sexe
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Rôle
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Typologie familiale
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Nb de personnes
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Date de création
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de mise à jour
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for person in people %}
                {% for rolePerson in person.rolesPerson %}
                {% if rolePerson.head is defined %}
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox" name="selectedPosts[]" id=""
                                value="" class="checkbox" />
                            <label class="custom-control-label" for=""><span class="sr-only">Sélectionner<span></label>
                        </div>
                    </th>

                    {# {% for peopleGroup in person.peopleGroups %}
                    <td>{{ peopleGroup.id }}</td>
                    {% endfor %} #}

                    <td>
                        <a href="{{ path('peopleGroupCard', {'id':rolePerson.peopleGroup.id}) }}"
                            class="text-primary font-weight-bold">{{ person.lastname }}</a>
                        <a class="text-blue" href=""></a>
                    </td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.birthdate | date("d/m/Y") }}</td>
                    <td>{{ person.age }} an(s)</td>

                    <td>
                        {% if person.gender == 1 %}
                        {{ "Femme" }}
                        {% else %}
                        {{ "Homme" }}
                        {% endif %}
                    </td>

                    <td>
                        {% if rolePerson.role == 1 %}
                        {{ "Demandeur" }}
                        {% elseif rolePerson.role == 2 %}
                        {{ "Conjoint(e)" }}
                        {% elseif rolePerson.role == 3 %}
                        {{ "Enfant" }}
                        {% else %}
                        {{ "Autre membre" }}
                        {% endif %}
                    </td>

                    <td>{{ rolePerson.peopleGroup.familyTypologyText }}</td>
                    <td>{{ rolePerson.peopleGroup.nbPeople }}</td>

                    <td>{{ person.creationDate | date("d/m/Y H:i") }}</td>
                    <td>{{ person.updateDate | date("d/m/Y H:i") }}</td>

                </tr>

                {% endif %}
                {% endfor %}
                {% endfor %}

            </tbody>
        </table>
    </div>
</section>






{% endblock %}