{% extends "base.html.twig" %}

{% form_theme form "bootstrap_4_layout.html.twig" %}
{% if form_role_person is defined %}
{% form_theme form_role_person "form/bootstrap_4_horizontal_v2_layout.html.twig" %}
{% endif %}

{% block title %}
{% if group_people is defined %}Rechercher une personne
{% else %}Rechercher une personne{% endif %}
{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}

{% block body %}

<section class="my-0">
    <div class="container">
        <h1 class="h2 mb-4">{% if group_people is defined %}Rechercher une personne
            {% else %}Rechercher une personne{% endif %}</h1>
    </div>

    <div class="container-fluid p-0">
        <div class="jumbotron py-3">
            {{ form_start(form) }}
            <div class="form-inline justify-content-md-center align-items-end">
                <div class="form-group col-auto my-1 px-1">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="form-group col-auto my-1 px-1 ">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="form-group col-auto my-1 px-1 d-inline-flex align-items-baseline">
                    <div class=""><i class="fas fa-calendar-alt mx-1 text-black-50 d-none d-sm-block"
                            data-toggle="tooltip" data-placement="bottom" title="Date de naissance"></i></div>
                    {{ form_row(form.birthdate) }}
                </div>
                {#<div class="form-group col-auto my-1 px-1 d-inline-flex align-items-baseline">
                    {{ form_row(form.age) }} 
                </div> #}
                <div class="form-group col-auto my-1 px-1 d-inline-flex align-items-baseline">
                    <div><i class="fas fa-venus-mars mx-1 text-black-50 d-none d-sm-block" data-toggle="tooltip"
                            data-placement="bottom" title="Sexe"></i></div>
                    {{ form_row(form.gender) }}
                </div>
                <div class="form-group col-auto my-1 px-1 d-inline-flex align-items-baseline">
                    <div><i class="fas fa-phone mx-1 text-black-50 d-none d-sm-block" data-toggle="tooltip"
                            data-placement="bottom" title="Téléphone"></i></div>
                    {{ form_row(form.phone) }}
                </div>
                <div class="form-group col-auto my-1 px-1">

                    <button type="submit" id="search" class="btn btn-primary shadow"><i
                            class="fas fa-search"></i></button>
                    <a href="{{ path("list_people") }}" class="btn btn-secondary ml-2 shadow"><i
                            class="fas fa-eraser"></i></a>
                </div>
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
    </div>

    <div class="container">

        {% if app.request.attributes.get("_route") == "new_support_search_person" %}
        <p><a href="{{ path("person_new") }}" class="js-create-person text-primary"><span
                    class="fas fa-plus-square"></span> Créer une
                nouvelle personne</a></p>
        {% endif %}

        {% if people is defined %}

        {% if people %}
        {% if group_people is defined %}
        <p><a href="{{ path("group_create_person", {"id":group_people.id}) }}"
                class="js-create-person text-primary"><span class="fas fa-plus-square"></span> Créer une nouvelle
                personne</a></p>
        {% endif %}



        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Résultat : {{ people.getTotalItemCount | number_format(0,'', ' ')}}
                    personnes.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(people) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow">
                <thead class="bg-dark">
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-150px text-light text-uppercase">
                            {{ knp_pagination_sortable(people, "Nom", "p.lastname") }}
                        </th>
                        <th scope="col" class="align-middle th-width-120px text-light text-capitalize">
                            {{ knp_pagination_sortable(people, "Prénom", "p.firstname") }}
                        </th>
                        <th scope="col" class="align-middle th-date text-light">
                            {{ knp_pagination_sortable(people, "Date de naissance", "p.birthdate") }}
                        </th>
                        <th scope="col" class="align-middle th-width-80px text-light">
                            {{ knp_pagination_sortable(people, "Sexe", "p.gender") }}
                        </th>
                        <th scope="col" class="align-middle th-date text-light">
                            {{ knp_pagination_sortable(people, "Date de création", "p.createdAt") }}
                        </th>
                        <th scope="col" class="align-middle th-date text-light">
                            {{ knp_pagination_sortable(people, "Date de mise à jour", "p.updatedAt") }}
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {% for person in people %}
                    <tr>
                        <th scope="row">
                            {% if group_people is defined %}
                            <a href="{{ path('group_add_person', {'id':group_people.id, 'person_id': person.id}) }}"
                                class="js-add-person" data-toggle="modal" data-target="#modal-block"
                                data-placement="bottom" title="Ajouter la personne au groupe">
                                <i class="fas fa-plus-square fa-2x"></i>
                            </a>
                            {% else %}
                            <a href="{{ path('person_show', {'id':person.id, 'slug':person.slug}) }}"
                                class="btn btn-primary shadow" data-placement="bottom"
                                title="Voir la fiche individuelle">
                                <span class="fas fa-user"></span>
                            </a>
                            {% endif %}
                        </th>
                        <td>
                            <a href="{{ path('person_show', {'id':person.id, 'slug':person.slug}) }}"
                                class="text-primary text-uppercase font-weight-bold">{{ person.lastname }}</a>
                        </td>
                        <td class="text-capitalize">{{ person.firstname }}</td>
                        <td>{% if person.birthdate %} {{person.birthdate | date("d/m/Y") }}<br />
                            ({{ person.age }}{% if person.age > 1 %} ans{% elseif person.age %}
                            an{% endif %}){% endif %}</td>
                        <td>{% if person.gender == 1 %}
                            <i class="fas fa-female fa-2x text-dark" data-placement="bottom" title="Femme"></i>
                            {% elseif person.gender == 2 %}
                            <i class="fas fa-male fa-2x text-dark" data-placement="bottom" title="Homme"></i>
                            {% endif %} </td>
                        <td>{{ person.createdAt | date("d/m/Y H:i") }}</td>
                        <td>{{ person.updatedAt | date("d/m/Y H:i") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(people) }}
        </div>

        {% if group_people is defined %}
        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path("group_create_person", {"id":group_people.id}) }}" class="text-primary"><span
                            class="fas fa-plus-square"></span> Créer une nouvelle personne</a></p>
            </div>
        </div>
        {% endif %}
        {% endif %}
</section>
{% endif %}

</div>

{% if form_role_person is defined %}
<div class="modal fade" id="modal-block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Demande de confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(form_role_person) }}
            <div class="modal-body">
                <p>Avant d'ajouter la persone au groupe, merci de préciser son rôle dans le groupe.</p>
                {{ form_row(form_role_person.role) }}
                {{ form_row(form_role_person._token) }}
            </div>
            <div class="modal-footer">
                <button type="submit" id="js-btn-confirm" class="btn btn-primary">Ajouter la personne</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{ form_end(form_role_person, {"render_rest": false}) }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block modal_body %}Êtes-vous vraiment sûr de vouloir ajouter cette personne au groupe ?{% endblock %}
{% block modal_title %}Demande de confirmation{% endblock %}
{% block modal_confirm %}Ajouter la personne{% endblock %}
{% block modal_cancel %}Annuler{% endblock %}
{% block modal_alert %}primary{% endblock %}

{% block javascripts %}
<script src="{{ asset("js/addPerson.js") }}"></script>
{% endblock javascripts %}