{% extends "base.html.twig" %}

{% form_theme form "bootstrap_4_layout.html.twig" %}
{% if form_role_department is defined %}
{% form_theme form_role_department "form/bootstrap_4_horizontal_v2_layout.html.twig" %}
{% endif %}

{% block title %}Services{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}

{% block body %}

<section class="my-0">
    <div class="container">
        {% include 'msgFlash.html.twig' %}
        <h1 class="h2 mb-4">Services</h1>
    </div>

    <div class="container-fluid p-0">
        <div class="jumbotron py-3">
            {{ form_start(form) }}
            <div class="form-inline justify-content-md-center align-items-end">
                <div class="form-department col-auto my-1 px-1">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-department col-auto my-1 px-1">
                    {{ form_row(form.city) }}
                </div>
                <div class="form-department col-auto my-1 px-1 d-inline-flex align-items-baseline">
                    <div><i class="fas fa-phone mx-1 text-black-50 d-none d-sm-block" data-toggle="tooltip"
                            data-placement="bottom" title="Téléphone"></i></div>
                    {{ form_row(form.phone) }}
                </div>
                <div class="form-department col-auto my-1 px-1">
                    {{ form_row(form.pole) }}
                </div>
                <div class="form-department col-auto my-1 px-1">
                    <button type="submit" id="search" class="btn btn-primary shadow"><i
                            class="fas fa-search"></i></button>
                    <a href="{{ path("list_departments") }}" class="btn btn-secondary ml-2 shadow"><i
                            class="fas fa-eraser"></i></a>
                </div>
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
    </div>

    <div class="container">

        {% if app.request.attributes.get("_route") == "new_support_search_department" %}
        <p><a href="{{ path("department_new") }}" class="js-create-department text-primary"><span
                    class="fas fa-plus-square"></span>
                Créer un
                nouvel service</a></p>
        {% endif %}

        {% if departments is defined %}

        {% if departments %}
        {% if department_departments is defined %}
        <p><a href="{{ path("department_create_department", {"id":department_departments.id}) }}"
                class="js-create-department text-primary"><span class="fas fa-plus-square"></span> Créer un nouvel
                service</a></p>
        {% endif %}



        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Résultat : {{ departments.getTotalItemCount | number_format(0,'', ' ')}}
                    services.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(departments) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow">
                <thead class="bg-dark">
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-120px text-light">
                            {{ knp_pagination_sortable(departments, "Nom du service", "d.name") }}
                        </th>
                        <th scope="col" class="align-middle th-width-120px text-light">
                            {{ knp_pagination_sortable(departments, "Pôle", "p.name") }}
                        </th>
                        <th scope="col" class="align-middle th-width-120px text-light">
                            Téléphone
                        </th>
                        <th scope="col" class="align-middle th-width-150px text-light">
                            Email
                        </th>
                        <th scope="col" class="align-middle th-width-120px text-light">
                            {{ knp_pagination_sortable(departments, "Adresse", "p.address") }}
                        </th>
                        <th scope="col" class="align-middle th-width-120px text-light">
                            {{ knp_pagination_sortable(departments, "Ville", "p.city") }}
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {% for department in departments %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('department_show', {'id':department.id}) }}" class="btn btn-primary shadow"
                                data-placement="bottom" title="Voir la fiche du service">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ department.name }}</td>
                        <td>{{ department.pole.name }}</td>
                        <td>{{ department.phone }}</td>
                        <td>{{ department.email }}</td>
                        <td>{{ department.address }}</td>
                        <td>{{ department.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(departments) }}
        </div>

        {% if department_departments is defined %}
        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path("department_create_department", {"id":department_departments.id}) }}"
                        class="text-primary"><span class="fas fa-plus-square"></span> Créer un nouvel service</a></p>
            </div>
        </div>
        {% endif %}
        {% endif %}
</section>
{% endif %}

</div>

{% if form_role_department is defined %}
<div class="modal fade" id="modal-block" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Demande de confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(form_role_department) }}
            <div class="modal-body">
                <p>Avant d'ajouter la departmente au service, merci de préciser son rôle dans le service.</p>
                {{ form_row(form_role_department.role) }}
                {{ form_row(form_role_department._token) }}
            </div>
            <div class="modal-footer">
                <button type="submit" id="js-btn-confirm" class="btn btn-primary">Ajouter l'tilisateur</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
            {{ form_end(form_role_department, {"render_rest": false}) }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block modal_body %}Êtes-vous vraiment sûr de vouloir ajouter cet service au service ?{% endblock %}
{% block modal_title %}Demande de confirmation{% endblock %}
{% block modal_confirm %}Ajouter l'tilisateur{% endblock %}
{% block modal_cancel %}Annuler{% endblock %}
{% block modal_alert %}primary{% endblock %}

{% block javascripts %}
{% endblock javascripts %}