{% extends "base.html.twig" %}

{% block title %}Pôles{% endblock %}

{% block body %}

<section class="my-0">
    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-4">Pôles</h1>

        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">{{ poles.getTotalItemCount | number_format(0,'', ' ')}}
                    pôles.</p>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-120px">
                            {{ knp_pagination_sortable(poles, "Nom du pôle", "p.name") }}
                        </th>
                        <th scope="col" class="align-middle th-width-120px">
                            Téléphone
                        </th>
                        <th scope="col" class="align-middle th-width-150px">
                            Email
                        </th>
                        <th scope="col" class="align-middle th-width-120px">
                            Adresse
                        </th>
                        <th scope="col" class="align-middle th-width-120px">
                            {{ knp_pagination_sortable(poles, "Ville", "p.city") }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for pole in poles %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('pole_show', {'id':pole.id}) }}" class="btn btn-{{ theme_color }} shadow"
                                data-placement="bottom" title="Voir la fiche du pôle">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ pole.name }}</td>
                        <td>{{ pole.phone }}</td>
                        <td>{{ pole.email }}</td>
                        <td>{{ pole.address }}</td>
                        <td>{{ pole.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p><a href="#" class="js-create-pole text-{{ theme_color }}"><span class="fas fa-plus-square"></span>
                Créer un nouveau pôle</a>
        </p>
</section>
</div>

{% endblock %}