{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Fiche personne
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="h2 mb-3">Fiche de la personne</h1>
        {% if edit_mode %}
            <div class="small text-secondary">
                <p>
                    Créé le
                    {{person.createdAt | date("d/m/Y à H:i") }}
                    {% if person.createdBy %}
                        par
                        {{ person.createdBy.username }}
                    {% endif %}
                    <span id="js-person-updated">
                        (modifié le
                        {{ person.updatedAt | date("d/m/Y à H:i") }}
                        {% if person.updatedBy %}
                            par
                            {{ person.updatedBy.username }}
                        {% endif %})
                    </span>
                </p>
            </div>
        {% else %}
            <div class="mb-4"></div>
        {% endif %}

        {#{% dump(app.session.get("groupPeople")) %}#}
        {% if group_people is defined %}
            <div class="my-3">
                <a href="{{ path('group_people_show', {'id': group_people.id}) }}" class="text-primary">
                    <span class="fas fa-users"></span>
                    Retour à la fiche du ménage</a>
                <span class="small text-secondary">{{ group_people.getFamilyTypologyType }}
                    {% if group_people.nbPeople > 1 %}({{ group_people.nbPeople }}
                        personnes)
                    {% endif %}
                </span>
                <br/>
            </div>
        {% endif %}

        <hr>

        <section id="person">

            {% include 'msgFlash.html.twig' %}
            <div id="js-msg-flash-content"></div>

            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    {{ form_row(form.birthdate) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.gender) }}
                </div>
            </div>

            <br>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.phone1) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.phone2) }}

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.email) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                {{ form_label(form.comment) }}
                <div class="col-md-12">{{ form_widget(form.comment) }}</div>

            </div>
            {{ form_row(form._token) }}
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="mb-4 float-right">
                        <button type="submit" id="updatePerson" name="updatePerson" class="btn btn-primary shadow" data-url="{{ path('update_person', {'id':person.id}) }}">Mettre à jour</button>
                        <input type="submit" id="send" name="send" class="btn btn-secondary shadow" value="Enregistrer">
                    </div>

                </div>
            </div>

            {{ form_end(form, {"render_rest": false}) }}
        </section>

        <hr>

        <section id="social-supports">
            <h2 class="h3 my-4">Historique des suivis sociaux</h2>

            {% if group_people is defined %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover shadow">
                        <thead class="bg-dark">
                            <tr>
                                <th scope="col" class="align-middle th-width-20px"></th>
                                <th scope="col" class="align-middle th-width-100px">
                                    <a href="" class="sorting-indicator text-light">Statut
                                    </a>
                                </th>
                                <th scope="col" class="align-middle th-date">
                                    <a href="" class="sorting-indicator text-light">Date de<br/>début
                                    </a>
                                </th>
                                <th scope="col" class="align-middle th-date">
                                    <a href="" class="sorting-indicator text-light">Date de<br/>fin
                                    </a>
                                </th>
                                <th scope="col" class="align-middle th-width-150px">
                                    <a href="" class="sorting-indicator text-light">Travailleur/euse social(e)
                                    </a>
                                </th>
                                <th scope="col" class="align-middle th-width-150px">
                                    <a href="" class="sorting-indicator text-light">Service
                                    </a>
                                </th>
                                <th scope="col" class="align-middle th-width-100px">
                                    <a href="" class="sorting-indicator text-light">Pôle
                                    </a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for socialSupport in group_people.socialSupports %}
                                <tr>
                                    <th scope="row">
                                        <a href="" class="btn btn-primary shadow" data-placement="bottom" title="Voir le suivi social">
                                            <span class="fas fa-eye"></span>
                                        </a>
                                    </th>
                                    <td>{{ socialSupport.listStatus }}</td>
                                    <td>
                                        <a href="" class="text-primary font-weight-bold">
                                            {{ socialSupport.startDate | date("d/m/Y") }}
                                        </a>
                                        <a class="text-blue" href=""></a>
                                    </td>
                                    <td>{{ socialSupport.endDate | date("d/m/Y") }}</td>
                                    <td>XXX
                                    </td>
                                    <td>XXX
                                    </td>
                                    <td>XXX
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a href="" class="m-3 text-primary">
                    <span class="fas fa-plus-square"></span>
                    Créer un nouveau suivi</a>
                <br/>
            {% endif %}
        </section>

        <hr>

        <section id="groups-people">
            <h2 class="h3 my-4">Groupes d'appartenance</h2>

            {% if person.rolesPerson %}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover shadow">
                        <thead class="bg-dark text-light">
                            <tr>
                                <th scope="col" class="align-middle th-width-20px"></th>
                                <th scope="col" class="align-middle th-width-80px d-none d-sm-table-cell" data-placement="bottom" title="N° d'identification du ménage">ID groupe</th>
                                <th scope="col" class="align-middle th-width-140px">Typologie familiale</th>
                                <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Nb de personnes</th>
                                <th scope="col" class="align-middle th-width-150px">Rôle dans le groupe</th>
                                <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Date de création</th>
                                <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Date de modification
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for role in person.rolesPerson %}
                                <tr {% if role.head %} class="font-weight-bold" {% endif %}>
                                    <th scope="row">
                                        <a href="{{ path('group_people_show', {'id':role.groupPeople.id}) }}" class="btn btn-primary shadow" data-placement="bottom" title="Voir la fiche du ménage">
                                            <span class="fas fa-eye"></span>
                                        </a>
                                    </th>
                                    <td data-placement="bottom" title="N° d'identification du ménage" class="d-none d-sm-table-cell">
                                        {{ role.groupPeople.id }}</td>
                                    <td class="d-table-row d-sm-table-cell">
                                        {{ role.groupPeople.getFamilyTypologyType }}
                                    </td>
                                    <td class="d-table-row d-sm-table-cell">
                                        {{ role.groupPeople.nbPeople }}
                                        <span class="d-inline d-sm-none">
                                            personne(s)</span>
                                    </td>
                                    <td>{{ role.listRole }}</td>
                                    <td class="d-none d-sm-table-cell">{{ role.groupPeople.createdAt | date("d/m/Y H:i") }}</td>
                                    <td class="d-none d-sm-table-cell">{{ role.groupPeople.updatedAt | date("d/m/Y H:i") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </section>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/validationPerson.js") }}"></script>
    <script src="{{ asset("js/updatePerson.js") }}"></script>
{% endblock javascripts %}
