{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Fiche individuelle{% endblock %}

{% block stylesheets %}{% endblock %}

{% set person = form.vars.value %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Fiche individuelle{% else %}Création d'une personne{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Créé le {{person.createdAt | date("d/m/Y à H:i") }}
            {% if person.createdBy %}par {{ person.createdBy.username }}{% endif %}
            <span id="js-person-updated"> (modifié le {{ person.updatedAt | date("d/m/Y à H:i") }}
                {% if person.updatedBy %}par {{ person.updatedBy.username }}{% endif %})
            </span>
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    {% if group_people is defined and group_people.rolePerson|length > 1 %}
    <div class="my-3">
        <a href="{{ path('group_people_show', {'id': group_people.id}) }}" class="text-primary">
            <span class="fas fa-users"></span>
            Retour à la fiche du groupe</a>
        <span class="small text-secondary">{{ group_people.getFamilyTypologyType }}
            {% if group_people.nbPeople > 1 %}({{ group_people.nbPeople }}
            personnes)
            {% endif %}
        </span>
        <br />
    </div>
    {% endif %}

    <hr>

    <section id="person" data-is-edit-mode="{{ edit_mode ? 'true' : 'false' }}">

        {% include 'msgFlash.html.twig' %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_person = form %} {% else %} {% set form_person = form.person %} {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_person.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form_person.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form_person.birthdate) }}</div>
            <div class="col-md-6"> {{ form_row(form_person.gender) }}</div>
        </div>

        {% if edit_mode == false %}
        <div class="form-group row">
            {% if group_people is not defined %}
            <div class="col-md-6">{{ form_row(form.groupPeople.familyTypology) }}</div>
            <div class="col-md-6">{{ form_row(form.groupPeople.nbPeople) }}</div>
            {% endif %}
            <div class="col-md-6">{{ form_row(form.role) }}</div>
        </div>
        {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_person.phone1) }}</div>
            <div class="col-md-6">{{ form_row(form_person.phone2) }}</div>
            <div class="col-md-6">{{ form_row(form_person.email) }}</div>
        </div>
        <div class="form-group row">{{ form_label(form_person.comment) }}
            <div class="col-md-12">{{ form_widget(form_person.comment) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                    {% if edit_mode %}
                    <button type="submit" id="updatePerson" name="updatePerson" class="btn btn-primary shadow"
                        data-url="{{ path('update_person', {'id':person.id}) }}">Mettre à jour</button>
                    <input type="submit" id="send" name="send" class="btn btn-secondary shadow" value="Enregistrer">
                    {% else %}
                    <input type="submit" id="send" name="send" id="send" class="btn btn-primary shadow"
                        value="Enregistrer">
                    {% endif %}

                </div>

            </div>
        </div>

        {{ form_end(form, {"render_rest": false}) }}
    </section>

    <hr>

    {% if edit_mode %}

    <section id="social-supports">
        <h2 class="h3 my-4">Historique des suivis sociaux</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow">
                <thead class="bg-dark">
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-100px">
                            <a href="" class="sorting-indicator text-light">Statut
                            </a>
                        </th>
                        <th scope="col" class="align-middle th-date">
                            <a href="" class="sorting-indicator text-light">Date de début
                            </a>
                        </th>
                        <th scope="col" class="align-middle th-date">
                            <a href="" class="sorting-indicator text-light">Date de fin
                            </a>
                        </th>
                        <th scope="col" class="align-middle th-width-150px">
                            <a href="" class="sorting-indicator text-light">Travailleur/se social·e
                            </a>
                        </th>
                        <th scope="col" class="align-middle th-width-150px">
                            <a href="" class="sorting-indicator text-light">Service
                            </a>
                        </th>
                        <th scope="col" class="align-middle th-width-100px">
                            <a href="" class="sorting-indicator text-light">Pôle
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for social_support in person.socialSupports %}

                    {% set contact_user %}
                    <div class='text-left p-2'>
                        <b>Coordonnées :</b>
                        <br>Téléphone : {{social_support.socialSupportGrp.createdBy.phone }}
                        <br>Email : {{ social_support.socialSupportGrp.createdBy.email }}
                    </div>
                    {% endset %}

                    {% set contact_service %}
                    <div class='text-left p-2'>
                        <b>Coordonnées du service: </b>
                        <br>Téléphone : {{ social_support.socialSupportGrp.service.phone }}
                        <br>Email : {{ social_support.socialSupportGrp.service.email }}
                    </div>
                    {% endset %}

                    <tr>
                        <th scope="row">
                            {% if social_support.socialSupportGrp.service.id in rolesUser %}
                            <a href="{{ path('social_support_show', {'id':social_support.socialSupportGrp.groupPeople.id , 'social_support_id':social_support.socialSupportGrp.id}) }}"
                                class="btn btn-primary shadow" data-placement="bottom" title="Voir le suivi social">
                                <span class="fas fa-eye"></span>
                            </a>
                            {% endif %}
                        </th>
                        <td>{{ social_support.getStatusType }}</td>
                        <td>{{ social_support.startDate | date("d/m/Y") }}</td>
                        <td>{{ social_support.endDate | date("d/m/Y") }}</td>
                        <td><a href="#" class="text-primary" data-toggle="tooltip" data-placement="right"
                                data-html="true"
                                title="{{ contact_user }}">{{ social_support.socialSupportGrp.createdBy.firstname }}
                                {{  social_support.socialSupportGrp.createdBy.lastname }}</a></td>
                        <td>{% if social_support.socialSupportGrp.service %}
                            <a href="#" class="text-primary" data-toggle="tooltip" data-placement="right"
                                data-html="true"
                                title="{{ contact_service }}">{{ social_support.socialSupportGrp.service.name }}</a>{% endif %}
                        </td>
                        <td>{{ social_support.socialSupportGrp.service.pole.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if group_people is defined %}
        <a href="{{ path('social_support_new', {'id':group_people.id}) }}" class="m-3 text-primary">
            <span class="fas fa-plus-square pr-2"></span>Créer un nouveau suivi</a>
        {% endif %}

    </section>

    <hr>


    <section id="groups-people">
        <h2 class="h3 my-4">Groupes d'appartenance</h2>

        {% if person.rolesPerson %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-80px d-none d-sm-table-cell"
                            data-placement="bottom" title="N° d'identification du groupe">ID groupe</th>
                        <th scope="col" class="align-middle th-width-140px">Typologie familiale</th>
                        <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Nb de personnes</th>
                        <th scope="col" class="align-middle th-width-150px">Rôle dans le groupe</th>
                        <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Date de création</th>
                        <th scope="col" class="align-middle th-width-100px d-none d-sm-table-cell">Date de modification
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for role in person.rolesPerson %}
                    <tr {% if role.head %} class="font-weight-bold" {% endif %}>
                        <th scope="row">
                            <a href="{{ path('group_people_show', {'id':role.groupPeople.id}) }}"
                                class="btn btn-primary shadow" data-placement="bottom" title="Voir la fiche du groupe">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td data-placement="bottom" title="N° d'identification du groupe"
                            class="d-none d-sm-table-cell">
                            {{ role.groupPeople.id }}</td>
                        <td class="d-table-row d-sm-table-cell">
                            {{ role.groupPeople.getFamilyTypologyType }}
                        </td>
                        <td class="d-table-row d-sm-table-cell">
                            {% if role.groupPeople.nbPeople > 1 %}<span
                                class="d-inline d-sm-none">{{ role.groupPeople.nbPeople }}personnes</span>{% endif %}
                        </td>
                        <td>{{ role.getRoleType }}</td>
                        <td class="d-none d-sm-table-cell">{{ role.groupPeople.createdAt | date("d/m/Y H:i") }}</td>
                        <td class="d-none d-sm-table-cell">{{ role.groupPeople.updatedAt | date("d/m/Y H:i") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="" class="m-3 text-primary"><span class="fas fa-plus-square pr-2"></span>Créer un nouveau groupe</a>
    </section>

    {% endif %}

</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("person") }}
{# <script src="{{ asset("js/validationPerson.js") }}"></script>
{% if group_people is defined  %}
<script src="{{ asset("js/updatePerson.js") }}"></script>
{% else %}
<script src="{{ asset("js/newGroupPeople.js") }}"></script>
{% endif %} #}
{% endblock javascripts %}