{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block stylesheets %}

<!-- Bootstrap Date-Picker Plugin -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

{% endblock %}

{% block body %}

<div class="container">

    <section id="connection">

        <div class="row min-vh-80">

            <div class="col-md-6 mx-auto">

                <h1 class="mb-4">Rechercher une personne </h1>

                {{ form_start(form) }}

                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.birthdate) }}
                {{ form_row(form.gender) }}
                {{ form_row(form.phone) }}
                <div class="mb-4 float-right">
                    <input type="submit" value="Rechercher" id="search" class="btn btn-primary mb-4 shadow">
                </div>

                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}


{% endblock %}