{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Fiche du pole | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% set pole = form.vars.value %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Pôle {{ pole.name }}{% else %}Création d'un pôle{% endif %}</h1>
    {% if edit_mode %}
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    <hr>

    <section id="pole">

        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_pole = form %} {% else %} {% set form_pole = form.pole %}
        {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_pole.name) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_pole.phone) }}</div>
            <div class="col-md-6">{{ form_row(form_pole.email) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_pole.address) }}</div>
            <div class="col-md-6">{{ form_row(form_pole.city) }}</div>
            <div class="col-md-6">{{ form_row(form_pole.zipCode) }}</div>
            <div class="col-md-6">{{ form_row(form_pole.color) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                    <input type="submit" id="send" name="send" id="send" class="btn btn-{{ theme_color }} shadow"
                        value="Enregistrer">
                </div>
            </div>
        </div>

        {{ form_end(form, {"render_rest": false}) }}
    </section>

    <hr>

    <section id="groups-people">
        <h2 class="h4 my-4">Services rattachés</h2>

        {% if pole.services %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Nom</th>
                        <th scope="col" class="align-middle th-w-140">Téléphone</th>
                        <th scope="col" class="align-middle th-w-140">Email</th>
                        <th scope="col" class="align-middle th-w-140">Adresse</th>
                        <th scope="col" class="align-middle th-w-140">Ville</th>
                    </tr>
                </thead>

                <tbody>
                    {% for service in pole.services %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('service_show', {'id':service.id}) }}"
                                class="btn btn-{{ theme_color }} shadow" data-placement="bottom"
                                title="Voir la fiche du pole">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ service.name }}</td>
                        <td>{{ service.phone }}</td>
                        <td>{{ service.email }}</td>
                        <td>{{ service.address }}</td>
                        <td>{{ service.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="" class="m-3 text-{{ theme_color }}"><span class="fas fa-plus-square pr-2"></span>Créer un nouveau
            service</a>
    </section>

</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("admin") }}
{% endblock javascripts %}