{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Fiche du service | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% set service = form.vars.value %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Service {{ service.name }}{% else %}Création d'un service{% endif %}</h1>
    {% if edit_mode %}
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    <hr>

    <section id="service">

        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_service = form %} {% else %} {% set form_service = form.service %}
        {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_service.name) }}</div>
            <div class="col-md-6">{{ form_row(form_service.pole) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_service.phone) }}</div>
            <div class="col-md-6">{{ form_row(form_service.email) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_service.address) }}</div>
            <div class="col-md-6">{{ form_row(form_service.city) }}</div>
            <div class="col-md-6">{{ form_row(form_service.zipCode) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                    <input type="submit" id="send" name="send" id="send" class="btn btn-{{ theme_color }} shadow"
                        value="Enregistrer">
                </div>
            </div>
        </div>

        {{ form_end(form, {"render_rest": false}) }}
    </section>

    <hr>

    <section id="groups-people">
        <h2 class="h4 my-4">Utilisateurs rattachés</h2>

        {% if service.serviceUser %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Prénom</th>
                        <th scope="col" class="align-middle th-w-140">Nom</th>
                        <th scope="col" class="align-middle th-w-140">Fonction</th>
                        <th scope="col" class="align-middle th-w-140">Téléphone</th>
                        <th scope="col" class="align-middle th-w-140">Email</th>

                    </tr>
                </thead>

                <tbody>
                    {% for role in service.serviceUser %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('user_show', {'id':role.user.id}) }}"
                                class="btn btn-{{ theme_color }} shadow" data-placement="bottom"
                                title="Voir la fiche du service">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ role.user.firstname }}</td>
                        <td>{{ role.user.lastname }}</td>
                        <td>{{ role.getRoleType }}</td>
                        <td>{{ role.user.phone }}</td>
                        <td>{{ role.user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="#" class="m-3 text-{{ theme_color }}"><span class="fas fa-plus-square pr-2"></span>Ajouter un nouvel
            utilisateur</a>
    </section>

</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("admin") }}
{% endblock javascripts %}