{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Suivi social | Esperer95-app{% endblock %}

{% block body %}

<div class="container">

  {% if group_people is not defined %}
  {% set group_people = form.vars.value.groupPeople %}
  {% endif %}

  {% set typo = group_people.familyTypology %}
  {% set support = form.vars.value %}

  <h1 class="h2 mb-3">
    {% if edit_mode %}Suivi social{% else %}Nouveau suivi social{% endif %}
  </h1>
  {% if edit_mode %}
  <div class="small text-secondary">
    <p>
      Créé le {{support.createdAt | date("d/m/Y à H:i") }}
      {% if support.createdBy %}par {{ support.createdBy.fullname}}{% endif %}
      <span id="js-social-support-updated">
        (modifié le {{ support.updatedAt | date("d/m/Y à H:i") }} par {{ support.updatedBy.fullname }})
      </span>
    </p>
  </div>
  {% else %}
  <div class="mb-4"></div>
  {% endif %}
  {% if edit_mode %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-{{ theme_color }}"
          href="{{ path('group_people_show', {'id': group_people.id}) }}"><span class="fas fa-users mr-2"></span>Fiche
          groupe <span class="small">{{ support.groupPeople.getFamilyTypologyType }}</span></a></li>
      <li class="breadcrumb-item active" aria-current="page">Suivi social</li>
    </ol>
  </nav>
  {% for form_support_pers in form.supportPerson.children %}
  {% set person = form_support_pers.vars.data.person %}
  <a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.id, "slug":person.slug}) }}"
    class="btn btn-outline-{{ theme_color }} btn-sm mb-2">{{ person.fullname }}</a>
  {% endfor %}
  {% endif %}

  <hr>

  {{ form_start(form) }}

  <section>
    {% include "model/msgFlash.html.twig" %}
    <div id="js-msg-flash-content"></div>

    <div class="form-group row">
      <div class="col-md-6">{{ form_row(form.startDate) }}</div>
      {% if edit_mode %}
      <div class="col-md-6">{{ form_row(form.endDate) }}</div>
      {% endif %}
      <div class="col-md-6">{{ form_row(form.status) }}</div>
      <div class="col-md-6">{{ form_row(form.service) }}</div>
      <div class="col-md-6">{{ form_row(form.device) }}</div>
      <div class="col-md-6">{{ form_row(form.referent) }}</div>
      <div class="col-md-6">{{ form_row(form.referent2) }}</div>
    </div>

    {% if edit_mode %}

    <div class="d-flex row justify-content-center my-4">
      {# <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a class="btn btn-{{ theme_color }} btn-block shadow" href="" data-placement="bottom"
          title="Voir l'évaluation sociale">Évaluation</a>
      </div> #}
      {# <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a class="btn btn-{{ theme_color }} btn-block shadow" href="#" data-placement="bottom"
          title="Voir les modalités d'hébergement">Hébergement</a>
      </div> #}
      {# <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a class="btn btn-{{ theme_color }} btn-block shadow" href="#" data-placement="bottom"
          title="Voir les participations financières">Redevance</a>
      </div> #}
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a href="{{ path('support_calendar_show', {'id':support.id}) }}"
          class="btn btn-{{ theme_color }} btn-block shadow" data-placement="bottom"
          title="Voir les rendez-vous">Rendez-vous</a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a href="{{ path('notes', {'id':support.id}) }}" class="btn btn-{{ theme_color }} btn-block shadow"
          data-placement="bottom" title="Voir les notes sociales et rapport">Notes</a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
        <a href="{{ path('documents', {'id':support.id}) }}" class="btn btn-{{ theme_color }} btn-block shadow"
          data-placement="bottom" title="Voir les documents administratifs">Documents</a>
      </div>
    </div>

    <div class="mb-4">
      {# {% include "app/support/sitSummary.html.twig" %} #}
      {% include "app/support/sitSocial.html.twig" %}
      {% include "app/support/sitAdm.html.twig" %}
      {% include "app/support/sitFamily.html.twig" %}
      {% include "app/support/sitProf.html.twig" %}
      {% include "app/support/sitBudget.html.twig" %}
      {% include "app/support/sitHousing.html.twig" %}
    </div>

    {% endif %}

    <div class="form-group row">
      <div class="col-md-12">
        {% if edit_mode %}
        <a class="d-block  mb-3 pl-3 text-{{ theme_color }}"
          href="{{ path('support_pers_edit', {'id':support.id}) }}">Modifier les
          personnes rattachées au suivi</a>
        {% endif %}
        <div class="mb-4 float-right">
          {% if edit_mode %}
          <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow" value="Mettre à jour">
          {% else %}
          <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow" value="Enregistrer">
          {% endif %}
        </div>
      </div>
    </div>

  </section>

  {{ form_row(form._token) }}
  {{ form_end(form, {"render_rest": false}) }}

</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("support") }}
{% endblock javascripts %}