{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set typo = group_people.familyTypology %}

{% block title %}Suivi social | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

  {% set support = form.vars.value %}

  <h1 class="h2 mb-3">
    {% if edit_mode %}Suivi social{% else %}Nouveau suivi social{% endif %}
  </h1>
  {% if edit_mode %}
  <div class="small text-secondary">
    <p>
      Créé le
      {{support.createdAt | date("d/m/Y à H:i") }}
      {% if support.createdBy %}par
      {{ support.createdBy.firstname }} {{ support.createdBy.lastname }}
      {% endif %}
      <span id="js-social-support-updated">
        (modifié le {{ support.updatedAt | date("d/m/Y à H:i") }} par {{ support.updatedBy.firstname }}
        {{ support.updatedBy.lastname }})
      </span>
    </p>
  </div>
  {% else %}
  <div class="mb-4"></div>
  {% endif %}
  {% if group_people is defined %}
  <div class="my-3">
    <div>
      <a href="{{ path('group_people_show', {'id': group_people.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-2">
        <span class="fas fa-users"></span> Fiche groupe</a>
      {% for form_support_pers in form.supportPers.children %}
      {% set person = form_support_pers.vars.data.person %}
      <a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.id, "slug":person.slug}) }}"
        class="btn btn-outline-{{ theme_color }} btn-sm mb-2">
        {{ person.firstname }}
        {{ person.lastname }}</a>
      {% endfor %}

    </div>

  </div>
  {% endif %}

  <hr>

  {{ form_start(form) }}

  <section id="social-support">

    {% include "model/msgFlash.html.twig" %}
    <div id="js-msg-flash-content"></div>

    <div class="form-group row">
      <div class="col-md-6">{{ form_row(form.startDate) }}</div>
      {% if edit_mode %}
      <div class="col-md-6">{{ form_row(form.endDate) }}</div>
      {% endif %}
      <div class="col-md-6">{{ form_row(form.status) }}</div>
      <div class="col-md-6">{{ form_row(form.service) }}</div>
      <div class="col-md-6">{{ form_row(form.referent) }}</div>
      <div class="col-md-6">{{ form_row(form.referent2) }}</div>
    </div>

    {% if edit_mode %}
    <div class="accordion mb-4" id="accordion-support">
      {% set accordion_id = "accordion-support" %}
      {# {% include "app/support/sitSummary.html.twig" %} #}
      {% include "app/support/sitSocial.html.twig" %}
      {% include "app/support/sitAdm.html.twig" %}
      {% include "app/support/sitFamily.html.twig" %}
      {% include "app/support/sitProf.html.twig" %}
      {% include "app/support/sitBudget.html.twig" %}
      {% include "app/support/sitHousing.html.twig" %}
    </div>
    {% if edit_mode %}
    <div class="col-md-12">
      <a class="text-{{ theme_color }}"
        href="{{ path('support_pers_edit', {'id':group_people.id, 'support_id':support.id}) }}">Voir les
        personnes rattachées au suivi</a>
    </div>
    {% endif %}
    {% endif %}

    <div class="form-group row">
      <div class="col-md-12">
        <div class="mb-4 float-right">
          {% if edit_mode %}
          <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow" value="Mettre à jour">
          {% else %}
          <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow" value="Enregistrer">
          {% endif %}
        </div>
      </div>
    </div>

  </section>

  {{ form_row(form._token) }}
  {{ form_end(form, {"render_rest": false}) }}

</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("support") }}
{% endblock javascripts %}