{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Fiche utilisateur{% endblock %}

{% block stylesheets %}{% endblock %}

{% set user = form.vars.value %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Fiche utilisateur{% else %}Création d'un utilisateur{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Dernière connexion le {{user.lastLogin | date("d/m/Y à H:i") }}
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    <hr>

    <section id="user">

        {% include 'msgFlash.html.twig' %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_user = form %} {% else %} {% set form_user = form.user %} {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_user.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form_user.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form_user.username) }}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_user.phone) }}</div>
            <div class="col-md-6">{{ form_row(form_user.email) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                    {% if edit_mode %}
                    <button type="submit" id="updateuser" name="updateuser" class="btn btn-primary shadow"
                        data-url="{{ path('update_user', {'id':user.id}) }}">Mettre à jour</button>
                    <input type="submit" id="send" name="send" class="btn btn-secondary shadow" value="Enregistrer">
                    {% else %}
                    <input type="submit" id="send" name="send" id="send" class="btn btn-primary shadow"
                        value="Enregistrer">
                    {% endif %}

                </div>

            </div>
        </div>

        {{ form_end(form, {"render_rest": false}) }}
    </section>

    <hr>

    <section id="groups-people">
        <h2 class="h3 my-4">Services rattachés</h2>

        {% if user.roleuser %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col" class="align-middle th-width-20px"></th>
                        <th scope="col" class="align-middle th-width-150px">Rôle dans le service</th>
                        <th scope="col" class="align-middle th-width-140px">Nom du service</th>
                        <th scope="col" class="align-middle th-width-140px">Téléphone du service</th>
                        <th scope="col" class="align-middle th-width-140px">Pôle</th>

                    </tr>
                </thead>

                <tbody>
                    {% for role in user.roleuser %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('department_show', {'id':role.department.id}) }}"
                                class="btn btn-primary shadow" data-placement="bottom" title="Voir la fiche du service">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ role.getRoleType }}</td>
                        <td>{{ role.department.name }}</td>
                        <td>{{ role.department.phone }}</td>
                        <td>{{ role.department.pole.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <a href="" class="m-3 text-primary"><span class="fas fa-plus-square pr-2"></span>Créer un nouveau service</a>
    </section>

</div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}