{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Fiche utilisateur | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Fiche utilisateur{% else %}Création d'un utilisateur{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Dernière connexion le {{ form.vars.value.lastLogin | date("d/m/Y à H:i") }}
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    <hr>

    <section id="user">

        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_user = form %} {% else %} {% set form_user = form.user %} {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_user.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form_user.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form_user.username) }}</div>
            <div class="col-md-6">{{ form_row(form_user.status) }}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_user.email) }}</div>
            <div class="col-md-6">{{ form_row(form_user.phone) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                    <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"
                        value="Enregistrer">
                </div>
            </div>
        </div>

        {{ form_end(form, {"render_rest": false}) }}
    </section>

    <hr>

    <section id="social-supports">
        <h2 class="h4 my-4">Suivis sociaux en cours</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover text-dark">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Nom et Prénom</th>
                        <th scope="col" class="align-middle th-w-100">Typologie familiale</th>
                        <th scope="col" class="align-middle th-w-100">Statut</th>
                        <th scope="col" class="align-middle th-date">Date de début</th>
                        <th scope="col" class="align-middle th-date">Date de fin</th>
                    </tr>
                </thead>

                <tbody>
                    {% for support in form.vars.value.referentSupport|filter(support => support.status == 2)|sort ((a, b) => a.startDate <=> b.startDate)|reverse  %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('support_edit', {'id':support.groupPeople.id, 'support_id':support.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir le suivi social"><span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>
                            {% for person in support.groupPeople.rolePerson|filter(person => person.role != 3) %}
                            <span class="text-uppercase">{{ person.person.lastname }}</span>
                            {{ person.person.firstname }}
                            {% endfor %}
                        <td>{{ support.groupPeople.getFamilyTypologyType }}<br>
                            {% if support.supportPerson|length > 1 %}
                            {{ support.supportPerson|length }} personnes{% endif %}
                        </td>
                        <td>{{ support.getstatusType }}</td>
                        <td>{{ support.startDate| date("d/m/Y") }}</td>
                        <td>{% if support.endDate %}{{ support.endDate| date("d/m/Y") }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('new_support_search_person') }}" class="m-3 btn btn-{{ theme_color }} btn-sm">
            <span class="fas fa-plus-square mr-2"></span>Créer un nouveau suivi</a>
        <br />
    </section>

    <hr>

    <section id="services">
        <h2 class="h4 my-4">Services rattachés</h2>
        {% if form.vars.value.serviceUser %}
        <div class="table-responsive">
            <table class="table table-striped table-hover text-dark">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-140">Nom du service</th>
                        <th scope="col" class="align-middle th-w-140">Email</th>
                        <th scope="col" class="align-middle th-w-140">Téléphone</th>
                        <th scope="col" class="align-middle th-w-140">Pôle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serviceUser in form.vars.value.serviceUser %}
                    <tr>
                        <th scope="row">
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <a href="{{ path('service_show', {'id':serviceUser.service.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir la fiche du service">
                                <span class="fas fa-eye"></span>
                            </a>
                            {% else %}
                            <span class="btn btn-{{ theme_color }} btn-sm shadow"><span
                                    class="fas fa-ban"></span></span>
                            {% endif %}
                        </th>
                        <td>{{ serviceUser.service.name }}</td>
                        <td>{{ serviceUser.service.email }}</td>
                        <td>{{ serviceUser.service.phone }}</td>
                        <td>{{ serviceUser.service.pole.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}