{% extends "base.html.twig" %}

{% block title %}Suivis | {{ title_website }}{% endblock %}

{% block body %}

<section class="mt-0">

    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-3">Suivis</h1>
    </div>

    {% include "app/support/searchSupports.html.twig" %}

    <div class="container-fluid mt-4">

        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle mb-2">
                <span class="align-middle">Résultat : {{ supports.getTotalItemCount|number_format(0,'', ' ') }} <!--
                -->suivi{% if supports.getTotalItemCount > 1 %}s{% endif %}.</span>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(supports) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Nom et prénom", "p.lastname") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Date de naissance", "p.birthdate") }}</th>
                        <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(supports, "Typologie familiale", "g.familyTypology") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Statut", "sg.status") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début de suivi", "sg.startDate") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin de suivi", "sg.endDate") }}</th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Référent·e social·e", "u.lastname") }}</th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Service (Dispositif)", "s.name") }}</th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Commune", "sg.city") }}</th>
                    </tr>
                </thead>
                <tbody>            
                    {% for support in supports %}
                    {# {% cache "servicesSupport" ~ app.user.id ~ support.id support.updatedAt.timestamp %} #}
                        {% if support.supportPeople|filter(s => s.role != 3)|length %}
                            {% set supportPeople = support.supportPeople|filter(s => s.role != 3) %}
                        {% else %} 
                            {% set supportPeople = support.supportPeople %}
                        {% endif %}
                    <tr>
                        <td scope="row" class="align-middle">
                            {% if is_granted("VIEW", support) %}
                            <a href="{% if support.groupPeople %}{{ path('support_view', {'id':support.id}) }} {% endif %}"
                                class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-toggle="tooltip" data-placement="bottom"
                                title="Voir la fiche du suivi"><span class="fas fa-eye"></span>
                            </a>
                            {% endif %}
                            {# {% if is_granted("EDIT", support) %}
                            <a href="{% if support.groupPeople %}{{ path('support_view', {'id':support.id}) }} {% endif %}"
                                class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-toggle="tooltip" data-placement="bottom"
                                title="Modifier la fiche du suivi"><span class="fas fa-edit"></span>
                            </a>
                            {% endif %} #}
                        </td>
                        <td class="align-middle">
                            {% for supportPerson in supportPeople %}
                            <a href="{{ path('group_person_show', {'id':support.groupPeople.id, 'person_id':supportPerson.person.id, 'slug':supportPerson.person.slug}) }}"
                                class="text-{{ theme_color }}" title="Voir la fiche de la personne" data-toggle="tooltip" 
                                data-placement="bottom">{{ supportPerson.person.fullname }}{{ supportPerson.person.usename ? " (" ~ supportPerson.person.usename ~ ")" }}</a><br />
                        {% endfor %}
                        </td>
                        <td class="align-middle">
                            {% for supportPerson in supportPeople %}
                                {{ supportPerson.person.birthdate|date("d/m/Y") }}<br/>
                            {% endfor %}
                        </td>
                        <td class="align-middle">{{ support.groupPeople.familyTypologyToString }}<!--
                            -->{{ support.nbPeople > 1 ? ", " ~ support.nbPeople ~ " pers." }}
                            {% if support.nbPeople != support.groupPeople.nbPeople %}
                                <span class="fas fa-exclamation-triangle text-warning" 
                                    title="Le nombre de personnes rattachées au suivi ne correspond pas à la composition familiale."></span>
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ support.statusToString }}<br/>
                            <span class="text-secondary">{{ support.coefficient ? "(coeff. " ~ support.coefficient ~ ")" }}</span>
                        </td>
                        <td class="align-middle">{{ support.startDate ? support.startDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.endDate ? support.endDate|date("d/m/Y") }}
                            {% if support.endDate == null and support.theoreticalEndDate %}
                                <span class="text-secondary">{{ support.theoreticalEndDate|date("d/m/Y") }}<br/>(Fin théorique)</span>
                            {% endif %}
                            </td>
                        <td class="align-middle">{{ support.referent ? support.referent.fullname }}</td>
                        <td class="align-middle">
                            {{ support.service ? support.service.name }}<br/>
                            <span class="text-secondary">{{ support.device ? "(" ~ support.device.name ~ ")" }}</span>
                        </td>
                        <td class="align-middle">{{ support.city }}</td>
                            {# {% for accommodationGroup in support.accommodationGroups %}
                            <a href="{{ path('accommodation_edit', {'id':accommodationGroup.accommodation.id}) }}"
                                class="text-{{ theme_color }}" title="Voir la fiche du groupe de places" data-toggle="tooltip" data-placement="bottom">
                                {{ accommodationGroup.accommodation.address }} - {{ accommodationGroup.accommodation.city }}
                            </a><br />
                            {% endfor %} #}
                    </tr>
                    {# {% endcache %} #}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="navigation">{{ knp_pagination_render(supports) }}</div>

    </div>

</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}