<section class="m-0">

	<div class="d-md-flex justify-content-md-between mb-2">
		<h1 class="h2">{{ title }}</h1>
		<div>
			<a class="btn btn-{{ theme_color }} shadow" href="{{ path('support_edit', {'id':support.id}) }}" data-placement="bottom" title="Page d'accueil du suivi">
				<span class="fas fa-home"></class><span class="sr-only">Page d'accueil du suivi</span>
			</a>
			<a class="btn btn-{{ theme_color }} shadow" href="{{ path('support_pers_edit', {'id':support.id}) }}" data-placement="bottom" title="Personnes rattachées au suivi social">
				<span class="fas fa-users"></class><span class="sr-only">Personnes accompagnées</span>
			</a>
			<a class="btn btn-{{ theme_color }} shadow" href="{{ path('support_evaluation_show', {'id':support.id}) }}" data-placement="bottom" title="Evaluation sociale">
				<span class="fas fa-clipboard"></class><span class="sr-only">Évaluation</span>
			</a>
			{% if support.service.accommodation %}
				<a class="btn btn-{{ theme_color }} shadow" href="{{ path('support_accommodations', {'id':support.id}) }}" data-placement="bottom" title="Modalités d'hébergement">
					<span class="fas fa-bed"></class><span class="sr-only">Hébergement</span>
				</a>
			{% endif %}
			<a href="{{ path('support_calendar_show', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Rendez-vous">
				<span class="far fa-calendar-alt"></class><span class="sr-only">Agenda</span>
			</a>
			<a href="{{ path('notes', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Notes sociales">
				<span class="fas fa-edit"></class><span class="sr-only">Notes</span>
			</a>
			<a href="{{ path('documents', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Documents administratifs">
				<span class="fas fa-file-upload"></class><span class="sr-only">Documents</span>
			</a>
		</div>
	</div>

	<div id="support" data-support="{{ support.id }}"></div>

	<div class="small text-secondary">
		<p>Créé le {{support.createdAt | date("d/m/Y à H:i") }}{% if support.createdBy %} par {{ support.createdBy.fullname}}{% endif %}
			<span id="js-updatedSupport">(modifié le {{ support.updatedAt | date("d/m/Y à H:i") }} par {{ support.updatedBy.fullname }})</span>
		</p>
	</div>

	<div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="text-{{ theme_color }}" href="{{ path('group_people_show', {'id': support.groupPeople.id}) }}">
						<span class="fas fa-users mr-2"></span>Fiche groupe
						<span class="small">{{ support.groupPeople.getFamilyTypologyType }}</span>
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class="text-{{ theme_color }}" href="{{ path('support_edit', {'id':support.id }) }}">Suivi social</a>
				</li>
				{% if previous_page is defined %}
					<li class="breadcrumb-item">
						<a class="text-{{ theme_color }}" href="{{ path('{{ previous_path }}', {'id':support.id }) }}">{{ previous_page }}</a>
					</li>
				{% endif %}
				<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
			</ol>
		</nav>
		<div id="support-people">
		{% for supportPerson in support.supportPerson|sort ((a, b) => a.person.birthdate <=> b.person.birthdate) %}
			<a href="{{ path("group_person_show", {"id":support.groupPeople.id, "person_id":supportPerson.person.id, "slug":supportPerson.person.slug}) }}" 
				class="btn btn-outline-{{ theme_color }} btn-sm mb-2">{{ supportPerson.person.fullname }}</a>
		{% endfor %}
		</div>
	</div>

</section>

<hr>