<section class="m-0">

	{% if support.id %}
	{% set group_people = support.groupPeople %}
	{% set people = support.supportPeople %}
	{% endif %}

	<div class="d-md-flex justify-content-md-between mb-2">
		<h1 class="h2">Suivi<span class="fas fa-angle-right fa-xs mx-1"></span>{{ title }}</h1>
		{% if support.id %}
		<div id="support" data-support="{{ support.id }}">
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_view', {'id':support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Page d'accueil du suivi">
				<span class="fas fa-home"></span><span class="sr-only">Page d'accueil du suivi</span>
			</a>
			{% if support.device and support.device.accommodation %}
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_accommodations', {'id':support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Modalités d'hébergement">
				<span class="fas fa-bed"></span><span class="sr-only">Hébergement</span>
			</a>
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_contributions', {'id':support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Paiements (redevances, PF, caution...)">
				<span class="fas fa-euro-sign px-1"></span><span class="sr-only">Paiements</span>
			</a>
			{% endif %}
			<a class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" href="{{ path('support_evaluation_show', {'id':support.id}) }}" 
				data-toggle="tooltip" data-placement="bottom" title="Evaluation sociale">
				<span class="fas fa-clipboard"></span><span class="sr-only">Évaluation</span>
			</a>
			<a href="{{ path('support_calendar_show', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Rendez-vous">
				<span class="far fa-calendar-alt"></span><span class="sr-only">Agenda</span>
			</a>
			<a href="{{ path('support_notes', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Notes sociales">
				<span class="fas fa-edit"></span><span class="sr-only">Notes</span>
			</a>
			<a href="{{ path('support_documents', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow px-2 mr-1 mb-2" 
				data-toggle="tooltip" data-placement="bottom" title="Documents administratifs">
				<span class="fas fa-file-upload"></span><span class="sr-only">Documents</span>
			</a>
		</div>
		{% endif %}
	</div>
	
	{% include "model/msgFlash.html.twig" %}
	{# {% if support.id %}
	<div class="small text-secondary">
		<p>Suivi créé le {{support.createdAt|date("d/m/Y à H:i") }}{% if support.createdBy %} par {{ support.createdBy.fullname}}{% endif %}
			<span id="js-updatedSupport">(modifié le {{ support.updatedAt|date("d/m/Y à H:i") }}{{ support.updatedBy ? " par " ~ support.updatedBy.fullname }})</span>
		</p>
	</div>
	{% endif %} #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="text-{{ theme_color }}" href="{{ path('group_people_show', {'id': group_people.id}) }}">
					<span class="fas fa-users mr-2"></span>Fiche groupe<span class="small"> {{ group_people.familyTypologyToString }}</span>
				</a>
			</li>
			{% if support.id %}
			<li class="breadcrumb-item">
				<a class="text-{{ theme_color }}" href="{{ path('support_view', {'id':support.id }) }}">Suivi social</a>
			</li>
			{% endif %}
			<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
		</ol>
	</nav>
	<div id="js-support-people">
	{% for person in people %}
		<a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.person.id, "slug":person.person.slug}) }}" 
			class="btn btn-outline-secondary btn-sm rounded-pill smal mb-2">{{ person.person.fullname }}</a>
	{% endfor %}
	</div>
</section>

<hr>