{% extends "model/search.html.twig" %}

{% block search_form %}

    <div class="form-group col-auto my-1 px-1">{{ form_row(form.fullname) }}</div>
    {# <div class="form-group col-auto my-1 px-1">{{ form_row(form.familyTypologies) }}</div> #}
    {% if form.service.services.vars.choices|length > 1 %}
        <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.services) }}</div>
    {% endif %}
    {% if form.service.subServices.vars.choices|length > 1 %}
        <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.subServices) }}</div>
    {% endif %}
    {% if form.service.devices.vars.choices|length > 1 %}
        <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.devices) }}</div>
    {% endif %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.referents) }}</div>
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.status) }}</div>
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.supportDates) }}</div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de début"><span class="my-2 px-1">Entre</span>{{ form_row(form.date.start) }}
    </div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de fin"><span class="my-2 pr-2">et</span>{{ form_row(form.date.end) }}
    </div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex">
        <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} pl-2 py-2 text-dark"
            data-placement="bottom" title="Demandeur/euse princiapl·e">
            {{ form_row(form.head) }}
        </div>
    </div>
{% endblock %}