{% extends "model/collapseCard.html.twig" %}

{% set id = "sit-housing" %}

{% block card_title %}Situation au regard du logement{% endblock %}

{% block card_body %}

<div class="form-group row">
    <div class="col-md-6">{{ form_row(form.sitHousingGroup.housingStatus) }}</div>
    <div class="col-md-6">{{ form_row(form.sitHousingGroup.dls) }}</div>
    <div class="col-md-6 js-dls d-block">{{ form_row(form.sitHousingGroup.dlsId) }}</div>
    <div class="col-md-6 js-dls d-block">{{ form_row(form.sitHousingGroup.housingWishes) }}</div>
    <div class="col-md-6 js-dls d-block">{{ form_row(form.sitHousingGroup.citiesWishes) }}</div>
    <div class="col-md-6 js-dls d-block">{{ form_row(form.sitHousingGroup.specificities) }}</div>
    <div class="col-md-6 js-dls d-block">{{ form_row(form.sitHousingGroup.syplo) }}</div>
    <div class="col-md-6 js-syplo d-block">{{ form_row(form.sitHousingGroup.syploId) }}</div>
    <div class="col-md-6 js-syplo d-block">{{ form_row(form.sitHousingGroup.syploDate) }}</div>
</div>
<div class="form-group row">
    <div class="col-md-6">{{ form_row(form.sitHousingGroup.daloCommission) }}</div>
    <div class="col-md-6 js-daloCommission d-block">{{ form_row(form.sitHousingGroup.daloRecordDate) }}</div>
    <div class="col-md-6 js-daloCommission d-block">{{ form_row(form.sitHousingGroup.requalifiedDalo) }}</div>
    <div class="col-md-6 js-daloCommission d-block">{{ form_row(form.sitHousingGroup.decisionDate) }}</div>
</div>
<div class="js-0_SitProfPerson_profStatus js-1_SitProfPerson_profStatus d-block">
    <div class="form-group row">
        <div class="col-md-6">{{ form_row(form.sitHousingGroup.hsgActionEligibility) }}</div>
        <div class="col-md-6 js-hsgActionEligibility d-block">{{ form_row(form.sitHousingGroup.hsgActionRecord) }}</div>
        <div class="col-md-6 js-hsgActionEligibility d-block">{{ form_row(form.sitHousingGroup.hsgActionDate) }}</div>
        <div class="col-md-6 js-hsgActionEligibility d-block">{{ form_row(form.sitHousingGroup.hsgActionDept) }}</div>
        <div class="col-md-6 js-hsgActionEligibility d-block">{{ form_row(form.sitHousingGroup.hsgActionRecordId) }}</div>
    </div>
</div>
<div class="js-housingStatus d-block">
    <div class="form-group row">
        <div class="col-md-6">{{ form_row(form.sitHousingGroup.expulsionInProgress) }}</div>
        <div class="col-md-6 js-expulsionInProgress d-block">{{ form_row(form.sitHousingGroup.publicForce) }}</div>
        <div class="col-md-6 js-expulsionInProgress d-block">{{ form_row(form.sitHousingGroup.publicForceDate) }}</div>
        <div class="col-md-6 js-expulsionInProgress d-block">{{ form_row(form.sitHousingGroup.expulsionComment) }}</div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">{{ form_row(form.sitHousingGroup.housingExperience) }}</div>
    <div class="col-md-6 js-housingExperience d-block">{{ form_row(form.sitHousingGroup.housingExpeComment) }}</div>
</div>
<div class="js-housingStatus d-block">
    <div class="form-group row ">
        <div class="col-md-6">
            <div class="row">
                <div class="col-form-label col-sm-4">Aides liées au logement</div>
                <div class="col-sm-8">
                    <select id="js-hsgHelps" name="hsgHelps" class="form-control">
                        <option class="default" value="">-- Ajouter --</option>
                        <option value="1">FSL</option>
                        <option value="2">Eligibité aide à l'installation FSL</option>
                        <option value="3">Eligibililité CAF</option>
                        <option value="4">Autre(s) aide(s)</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="js-hsgHelps-1" class="col-md-2 js-hsgHelps d-block">{{ form_widget(form.sitHousingGroup.fsl) }}</div>
        <div id="js-hsgHelps-2" class="col-md-2 js-hsgHelps d-block">{{ form_widget(form.sitHousingGroup.fslEligibility) }}
        </div>
        <div id="js-hsgHelps-3" class="col-md-2 js-hsgHelps d-block">{{ form_widget(form.sitHousingGroup.cafEligibility) }}
        </div>
        <div id="js-hsgHelps-4" class="col-md-2 js-hsgHelps d-block">{{ form_widget(form.sitHousingGroup.otherHelps) }}</div>
        <div id="js-hsgHelps-5" class="col-md-6 js-otherHelps d-block">{{ form_row(form.sitHousingGroup.hepsPrecision) }}
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">{{ form_row(form.sitHousingGroup.domiciliation) }}</div>
    <div class="col-md-6 js-domiciliation d-block">{{ form_row(form.sitHousingGroup.domiciliationAddress) }}</div>
    <div class="col-md-6 js-domiciliation d-block">{{ form_row(form.sitHousingGroup.domiciliationCity) }}</div>
    <div class="col-md-6 js-domiciliation d-block">{{ form_row(form.sitHousingGroup.domiciliationDept) }}</div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        {{ form_widget(form.sitHousingGroup.commentSitHousing) }}
    </div>
</div>
{% endblock %}