{% extends "model/collapseCard.html.twig" %}

{% set id = "sit_prof" %}

{% block collapse_card_title %}Situation professionnelle{% endblock %}

{% block collapse_card_body %}

<div class="row">
    <div class="col-md-12 accordion" id="accordion-sit_prof">
        <div class="mb-4">
            {% for supportPers  in form.supportPers|filter(supportPers => supportPers.vars.value.person.age >= 18) %}
            {% set person = supportPers.vars.value.person %}
            <button type="button" id="heading-sit_prof-{{ loop.index0 }}"
                class="btn btn-outline-{{ theme_color }} {% if loop.first %}active{% endif %} js-person"
                data-toggle="collapse" data-target="#collapse-sit_prof-{{ loop.index0 }}" aria-expanded="false"
                aria-controls="collapse-sit_prof-{{ loop.index0 }}">
                {{ person.firstname}} {{ person.lastname}}
            </button>
            {% endfor %}
        </div>

        {% for supportPers  in form.supportPers|filter(supportPers => supportPers.vars.value.person.age >= 18) %}
        <div id="collapse-sit_prof-{{ loop.index0 }}" class="collapse {% if loop.first %}show{% endif %} my-3"
            aria-labelledby="heading-sit_prof-{{ loop.index0 }}" data-parent="#accordion-sit_prof">
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(supportPers.sitProf.schoolLevel) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(supportPers.sitProf.profStatus) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.jobType) }}
                </div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.contractStartDate) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.contractEndDate) }}
                </div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.nbWorkingHours) }}
                </div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.workingHours) }}
                </div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.workPlace) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_sitProf_profStatus d-block">
                    {{ form_row(supportPers.sitProf.employerName) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(supportPers.sitProf.transportMeans) }}</div>
                <div class="col-md-6">{{ form_row(supportPers.sitProf.rqth) }}</div>
            </div>
            <div class="form-group row">
                {# {{ form_label(supportPers.sitProf.commentSitProf) }} #}
                <div class="col-md-12">{{ form_widget(supportPers.sitProf.commentSitProf) }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}