{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set support = form.vars.value %}
{% set YES = constant("App\\Form\\Utils\\Choices::YES") %}

{% if support.id %}
	{% form_theme formCoeff "bootstrap_4_layout.html.twig" %}
	{% set people = form.vars.value.supportPeople %}
	{% set title = "Édition du suivi" %}
{% else %}
	{% set people = group_people.rolePeople %}
	{% set title = "Nouveau suivi" %}
{% endif %}

{% block title %}{{ title }} | {{ title_website }}{% endblock %}

{% block body %}

<div class="container">

	{% include "app/support/navSuppport.html.twig" %}

	{% include "model/msgFlash.html.twig" %}
	<div id="js-msg-flash-content"></div>

	{% if support.id and is_granted("ROLE_ADMIN") %}
		<section>
			<h2 class="h5 my-4">Coefficient du suivi</h2>
			{{ form_start(formCoeff) }}
				<div class="form-inline">
					{{ form_label(formCoeff.coefficient) }}
					<div class="form-group my-1 px-1">{{ form_widget(formCoeff.coefficient) }}</div>
					<div class="form-group my-1 px-1">
						<button type="submit" id="send-coeff" name="send-coeff" class="btn btn-{{ theme_color }} shadow">
							<span class="fas fa-save mr-2"></span>Modifier</button>
					</div>
				</div>
				{{ form_row(formCoeff._token) }}
			{{ form_end(formCoeff, {"render_rest": false}) }}
		</section>
		<hr>
	{% endif %}

	{{ form_start(form) }}

	{% set serviceId = support.service.id %}

	{% if serviceId == constant('SERVICE_AVDL_ID', support.service) %}
		{% include "app/avdl/avdlEdit.html.twig" %}
	{% elseif serviceId in constant('SERVICES_PASH_ID', support.service) %}
		{% include "app/hotelSupport/hotelSupportEdit.html.twig" %}
	{% else %}		
		{% include "app/support/supportRegular.html.twig" %}
	{% endif %}

	{% if support.id %}
    {# {% cache "support.edit" ~ support.id ~ support.updatedAt.timestamp support.updatedAt.timestamp %} #}
	<div class="form-group row">
		<div class="col-md-12">
			<div class="mb-4 float-right">
				<button type="submit" id="send2" name="send2" class="btn btn-{{ theme_color }} shadow">
					<span class="fas fa-save mr-2"></span>Mettre à jour</button>
			</div>
		</div>
	</div>

	<hr>
	
	{% include "app/support/supportPeople.html.twig" %}
	{# {% endcache %} #}

	{% endif %}

	<div class="form-group row">
		<div class="col-md-12"> 
			<div class="card border-warning"> 
				<div class="card-body p-3"> 
					<p class="mb-2"><span class="font-italic">Je certifie avoir informé la personne sur ses droits 
						(droit d'opposition, droits d'accès et de rectification) et avoir obtenu son consentement 
						pour le recueil de ses données personnelles</span>
					 (<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3#Article13" target="_blank" 
					 	class="text-{{ theme_color }}">article 13 du règlement général sur la protection des données [RGPD]</a>).</p>
					<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} p-1">
						{{ form_widget(form.agreement) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row my-5">
		<div class="col-md-12">
			{% if support.id and is_granted("DELETE", support) %}
			<div class="float-left d-flex">
				<a id="modal-btn-delete" class="mr-3 btn btn-danger d-block" href="{{ path('support_delete', {'id':support.id}) }}"
					title="Supprimer le suivi social" data-toggle="tooltip" data-placement="bottom"
					onclick="if(window.confirm('Tous les éléments rattachés au suivi vont être supprimés (évaluation sociale, RDVs, notes, documents...). 
					Êtes-vous vraiment sûr de vouloir supprimer ce suivi social ?')){return true;}else{return false;}"><span
					class="fas fa-trash-alt mr-2"></span><span class="">Supprimer</span></a>
			</div>
			{% endif %}
			<div class="float-right">
				<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>
				{% if support.id %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {"render_rest": false}) }}

</div>

{% include "app/support/removeSupportPerson.html.twig" %}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("support") }}
{% endblock javascripts %}
