{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set group_people = form.vars.value.groupPeople %}
{% set support = form.vars.value %}

{% block title %}Suivi social | Esperer95.app{% endblock %}

{% block body %}

	<div class="container">

		{% set title = "Suivi social" %}
		{% include "app/support/navSuppport.html.twig" %}

		{% include "model/msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<section>
			<h2 class="h4 my-4">Personnes attachées au suivi social</h2>
		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive mb-3">
						<table id="table-support-people" class="table table-striped table-hover text-dark shadow-sm">
							<thead>
								<tr>
									<th scope="col" class="align-middle th-w-20"></th>
									<th scope="col" class="align-middle th-w-120">Nom et prénom</th>
                                	<th scope="col" class="th-w-20" data-placement="bottom"
                                    title="Demandeur/euse principal·e">DP</th>									
                                	<th scope="col" class="th-w-150 align-middle">Rôle</th>
									<th scope="col" class="align-middle th-date">Date de début</th>
									<th scope="col" class="align-middle th-date">Date de fin</th>
									<th scope="col" class="align-middle th-w-120">Statut</th>
									<th scope="col" class="align-middle th-w-120">Situation à la fin</th>
									<th scope="col" class="align-middle th-w-20"></th>
								</tr>
							</thead>
							<tbody>
								{% for form_support_pers in form.supportPerson.children|sort ((a, b) => a.vars.value.person.birthdate <=> b.vars.value.person.birthdate)  %}
									{% set person = form_support_pers.vars.data.person %}
									<tr class="js-tr-support_pers">
										<th scope="row">
											<a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.id, "slug":person.slug}) }}" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Voir la fiche individuelle">
												<span class="fas fa-user-edit"></span>
											</a>
										</th>
										<td class="px-1 align-middle">{{ person.fullname }}</td>
										<td class="px-1 align-middle">
											<div class="custom-control custom-radio custom-radio-{{ theme_color }} pl-3">
												{{ form_widget(form_support_pers.head) }}
											</div>
										</td>										
										<td class="px-1">{{ form_widget(form_support_pers.role) }}</td>
										<td class="px-1">{{ form_widget(form_support_pers.startDate) }}</td>
										<td class="px-1">{{ form_widget(form_support_pers.endDate) }}</td>
										<td class="px-1">{{ form_widget(form_support_pers.status) }}</td>
										<td class="px-1">{{ form_widget(form_support_pers.endStatus) }}</td>
										<td class="px-1">
											<button class="js-remove btn btn-danger shadow" data-url="{{ path('remove_support_pers', {'id':support.id, 'support_pers_id':form_support_pers.vars.value.id, '_token':csrf_token('remove' ~ form_support_pers.vars.value.id)}) }}" data-toggle="modal" data-target="#modal-block" data-placement="bottom" title="Retirer la personne du suivi">
												<span class="fas fa-user-times"></span>
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-12">
					<a href="{{ path('support_add_people', {'id':support.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-2">
						<span class="fas fa-plus-square mr-2"></span>Ajouter les autres personnes du groupe au suivi</a>
					<div class="mb-4 float-right">
                		<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>Mettre à jour</button>
					</div>
				</div>
			</div>

			{{ form_row(form._token) }}
			{{ form_end(form, {"render_rest": false}) }}

		</section>
	</div>

	{% include "app/support/removeSupportPerson.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("supportPers") }}
{% endblock javascripts %}
