{% import "macros/viewDiv.html.twig" as divElt %}

<div class="row">
    <div class="col-md-6 mb-1 py-2">
        <span class="py-2 text-secondary">Service (dispositif) : </span>
        <a href="{{ path('service_edit', {'id': support.service.id }) }}" class="text-{{ theme_color }}">
            {{ support.service.name }}</a>
        <span>{{ support.device ? " (" ~ support.device.name ~ ")" }}</span>
    </div>
    {{ divElt.get(support.statusToString ~ (support.endStatus ? " (" ~ support.endStatusToString ~ ")" : "" ), "Status") }}
    {% set originRequest = support.originRequest %}
    {% if originRequest %}
    {{ divElt.get(originRequest.organization ? originRequest.organization.name ~ (originRequest.organizationComment ? " (" 
        ~ originRequest.organizationComment ~ ")" : "") : "", "Organization", "forms") }}
    {{ divElt.get(originRequest.orientationDate ? originRequest.orientationDate|date("d/m/Y"), "Orientation date", "forms") }}
    {% endif %}
</div>
<div class="row">
    {{ divElt.get(support.startDate ? support.startDate|date("d/m/Y") 
        ~ (support.endDate ? " - " ~ support.endDate|date("d/m/Y") : "") : "", "Date de suivi") }}
    {{ divElt.get(support.referent ? support.referent.fullname ~ (support.referent2 ? " (" 
        ~ support.referent2.fullname ~ ")" : "") : "", "Referent") }}
</div>
<div class="row">
    {{ divElt.get(support.theoreticalEndDate ? support.theoreticalEndDate|date("d/m/Y") : "", "Theoretical end date") }}
</div>
<div class="row">
    {% for accommodationGroup in support.accommodationGroups %}
        {% if loop.last %}
                {{ divElt.get(accommodationGroup.startDate ? accommodationGroup.startDate|date("d/m/Y") 
                    ~ (accommodationGroup.endDate ? " - " ~ accommodationGroup.endDate|date("d/m/Y") : "") : "", "Date d'hébergement") }}
                {# {{ divElt.get(accommodationGroup.accommodation ? accommodationGroup.accommodation.name : "", "Nom du groupe de places") }} #}
                {{ divElt.get(accommodationGroup.endReasonToString, "Motif de fin d'hébergement") }}
        {% endif %}	
    {% endfor %}
    {{ divElt.get(support.city or support.address ? support.address ~ ", " ~ support.zipcode ~ " " ~ support.city : "", "Adresse") }}
</div>
<div class="row">
    {{ divElt.get(support.coefficient ? support.coefficient, "Coefficient") }}
</div>
<div class="row">
    {{ divElt.get(support.comment) }}
</div>