<section>
	<h2 class="h4 my-4">Personnes rattachées au suivi social</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive mb-3">
				<table id="table-support-people" class="table table-sm table-striped table-hover text-dark shadow-sm">
					<thead>
						<tr>
							<th scope="col" class="align-middle th-w-20"></th>
							<th scope="col" class="align-middle th-w-150">Nom et prénom</th>
							<th scope="col" class="align-middle th-w-20" data-toggle="tooltip" data-placement="bottom" title="Demandeur/euse principal·e">DP</th>									
							<th scope="col" class="align-middle th-w-150">Rôle</th>
							<th scope="col" class="align-middle th-date">Date de début</th>
							<th scope="col" class="align-middle th-date">Date de fin</th>
							<th scope="col" class="align-middle th-w-120">Statut</th>
							<th scope="col" class="align-middle th-w-150">Situation à la fin</th>
							<th scope="col" class="align-middle th-w-150">Commentaire situation à la fin</th>
						</tr>
					</thead>

					<tbody>
						{% for form_support_pers in form.supportPeople.children %}
							{% set person = form_support_pers.vars.data.person %}
							<tr class="js-tr-support_pers">
								<th scope="row" class="px-1 align-middle">
									<button class="js-remove btn btn-danger btn-sm shadow" data-url="{{ path('remove_support_pers', 
										{'id':support.id, 'support_pers_id':form_support_pers.vars.value.id, '_token':csrf_token('remove' ~ form_support_pers.vars.value.id)}) }}" 
										data-toggle="modal" data-target="#modal-block" data-toggle="tooltip" data-placement="bottom" title="Retirer la personne du suivi">
										<span class="fas fa-user-times"></span>
									</button>
								</th>
								<td class="px-2 align-middle w-min-150">{{ person.fullname }}</td>
								<td class="px-1 align-middle">
									<div class="custom-control custom-radio custom-radio-{{ theme_color }} pl-3">
										{{ form_widget(form_support_pers.head) }}
									</div>
								</td>										
								<td class="px-1">{{ form_widget(form_support_pers.role) }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.startDate) }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.endDate) }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.status) }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.endStatus) }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.endStatusComment) }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-12">
			<a id="add-people" href="{{ path('support_add_people', {'id':support.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-2">
				<span class="fas fa-plus-square mr-2"></span>Ajouter les autres personnes du groupe au suivi</a>
			<div class="float-right">
				<button type="submit" id="send3" name="send3" class="btn btn-{{ theme_color }} shadow">
					<span class="fas fa-save mr-2"></span>Mettre à jour</button>
			</div>
		</div>
	</div>

</section>