{% extends "base.html.twig" %}
{% import "macros/view.html.twig" as utils %}

{% set ROLE_CHILD = constant("App\\Entity\\RolePerson::ROLE_CHILD") %}
{% set YES = constant("App\\Form\\Utils\\Choices::YES") %}
{% set SERVICES_PASH_ID = constant("App\\Entity\\Service::SERVICES_PASH_ID") %}

{% block title %}Suivi social | {{ title_website }}{% endblock %}

{% block body %}

<div class="container">

	<div class="d-flex mb-2">
		<h1 class="h2">Suivi social</h1>
		<div class="align-content-center"><a href="{{ path('support_edit', {'id': support.id }) }}" 
			class="text-{{ theme_color }} ml-2" title="Modifier le suivi"><span class="fas fa-edit"></span></a>
		</div>
	</div>

	{% include "model/msgFlash.html.twig" %}
	<div id="js-msg-flash-content"></div>

	{# {% cache "support.view" ~ support.id ~ support.updatedAt.timestamp support.updatedAt.timestamp %} #}

	{% set group_people = support.groupPeople %}
	<div class="small text-secondary">
		<p>Créé le {{support.createdAt|date("d/m/Y à H:i") }}{{ support.createdBy ? " par " ~ support.createdBy.fullname }}
			{% if support.updatedAt != support.createdAt %}
				(modifié le {{ support.updatedAt|date("d/m/Y à H:i") }}{{ support.updatedBy ? " par " ~ support.updatedBy.fullname }})				
			{% endif %}
		</p>
	</div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class="text-{{ theme_color }}" href="{{ path('group_people_show', {'id': group_people.id}) }}">
					<span class="fas fa-users mr-2"></span>Fiche groupe<span class="small"> {{ group_people.familyTypologyToString }}</span>
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Suivi social (Accueil)</li>
		</ol>
	</nav>
	{% for person in support.supportPeople %}
		<a href="{{ path("group_person_show", {"id":group_people.id, "person_id":person.person.id, "slug":person.person.slug}) }}" 
			class="btn btn-outline-secondary btn-sm rounded-pill mb-2">{{ person.person.fullname }}</a>
	{% endfor %}

	<hr>

	<div class="d-flex row justify-content-center my-4" id="test">
		{% if support.device and support.device.accommodation == YES %}
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-accommodations' class="btn btn-{{ theme_color }} btn-block shadow" 
			href="{{ path('support_accommodations', {'id':support.id}) }}" data-toggle="tooltip" data-placement="bottom" 
			title="Modalités d'hébergement">Hébergement<span class="badge badge-light ml-2">{{ support.accommodationGroups|length }}</span></a>
		</div>
		{% endif %}
		{% if support.device and support.device.contribution == YES %}
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-contributions' class="btn btn-{{ theme_color }} btn-block shadow" 
			href="{{ path('support_contributions', {'id':support.id}) }}" data-toggle="tooltip" data-placement="bottom" 
			title="Paiements (redevances, PF, caution...)">Paiements<span class="badge badge-light ml-2">{{ nbContributions }}</span></a>
		</div>
		{% endif %}
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-evaluation' class="btn btn-{{ theme_color }} btn-block shadow" 
			href="{{ path('support_evaluation_show', {'id':support.id}) }}" data-toggle="tooltip" data-placement="bottom" 
			title="Évaluation sociale">Évaluation<span class="badge badge-light ml-2">{{ evaluation ? 1 : 0 }}</span></a>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-calendar' class="btn btn-{{ theme_color }} btn-block shadow" 
				href="{{ path('support_calendar_show', {'id':support.id}) }}" data-toggle="tooltip" data-placement="bottom" 
				title="Rendez-vous">Rendez-vous<span class="badge badge-light ml-2">{{ nbRdvs }}</span></a>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-notes' class="btn btn-{{ theme_color }} btn-block shadow" 
				href="{{ path('support_notes', {'id':support.id}) }}" data-toggle="tooltip" data-placement="bottom" 
				title="Notes sociales et rapports">Notes<span class="badge badge-light ml-2">{{ nbNotes }}</span></a>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-3">
			<a id='support-documents' class="btn btn-{{ theme_color }} btn-block shadow" 
				href="{{ path('support_documents', {'id':support.id}) }}"data-toggle="tooltip" data-placement="bottom" 
				title="Documents administratifs">Documents<span class="badge badge-light ml-2">{{ nbDocuments }}</span></a>
		</div>
	</div>

	{% if support.service.id == constant('SERVICE_AVDL_ID', support.service) and support.avdl %}
		{% include "app/avdl/avdlView.html.twig" %}
	{% elseif support.service.id in SERVICES_PASH_ID %}
		{% include "app/hotelSupport/hotelSupportView.html.twig" %}
	{% else %}		
		{% include "app/support/supportRegularView.html.twig" %}
	{% endif %}

	<div class="row mt-3">
		<div class="col-md-12">
			{% if is_granted("DELETE", support) %}
			<div class="float-left d-flex">
				<a id="modal-btn-delete" class="mr-3 btn btn-danger d-block" href="{{ path('support_delete', {'id':support.id}) }}"
					title="Supprimer le suivi social" data-toggle="tooltip" data-placement="bottom"
					onclick="if(window.confirm('Tous les éléments rattachés au suivi vont être supprimés (évaluation sociale, RDVs, notes, documents...).Êtes-vous vraiment sûr de vouloir supprimer ce suivi social ?')){return true;}else{return false;}">
					<span class="fas fa-trash-alt mr-2"></span><span class="">Supprimer</span></a>
			</div>
			{% endif %}
			<div class="mb-3 float-right">
				<a href="{{ path('support_edit', {'id': support.id }) }}" id="support_edit" class="btn btn-{{ theme_color }} shadow"><span 
					class="fas fa-edit mr-2"></span>Modifier</a>
			</div>
		</div>
	</div>

	{% if nbRdvs %}
		<hr>
		<h2 class="h4 mb-4">Rendez-vous</h2>
		<div class="row mb-2">
			{{ utils.view(lastRdv ? lastRdv.start|date("d/m/Y à H:i"), "rdv.last") }}
			{{ utils.view(nextRdv ? nextRdv.start|date("d/m/Y à H:i"), "rdv.next") }}
		</div>
	{% endif %}

	{# {% endcache %} #}

	{% if evaluation %}
		<hr>
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="float-right">
					<a href="{{ path('support_note_new_evaluation', {'id': support.id }) }}" class="btn btn-{{ theme_color }} shadow"
						title="Générer une note sociale à partir de l'évaluation ci-dessous">
						<span class="fas fa-sticky-note mr-2"></span>Générer rapport social</a>
				</div>
			</div>
		</div>	
		{# {% cache "evaluation.view" ~ evaluation.id ~ evaluation.updatedAt.timestamp evaluation.updatedAt.timestamp %} #}
		{% include "app/evaluation/evaluationView.html.twig" %}
		{# {% endcache %} #}
	{% endif %}

</div>

{% endblock %}