{% extends "base.html.twig" %}

{% set support = form.vars.value %}
{% set people = support.id ? form.vars.value.supportPeople : people_group.rolePeople %}
{% set title = (support.id ? "Édition du" : "Nouveau") ~ " suivi" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div class="container">

		{% if support.id %}
			{% include "app/support/_shared/_navSuppport.html.twig" %}
		{% else %}
			{% include "app/people/peopleGroup/_navGroup.html.twig" %}
		{% endif %}

		{% include "model/_msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		{% if support.service.coefficient == YES and formCoeff is defined and is_granted("ROLE_ADMIN")  %}
			{% include "app/support/_shared/_coefficientSupport.html.twig" %}
		{% endif %}

		{{ form_start(form) }}

		<div class="form-group">
			<div class="row">
				<div class="col-md-6">{{ form_row(form.service, {'attr': {'data-url': path('support_switch_service')} }) }}</div>
				<div class="col-md-6">{{ form_row(form.subService, {'required': form.subService.vars.choices|length > 0}) }}</div>
			</div>
			<div class="row" data-parent-field="support_service" data-options="*">
				<div class="col-md-6">{{ form_row(form.device) }}</div>
			</div>
			<div class="row" data-parent-field="support_service" data-options="*">
				<div class="col-md-6">{{ form_row(form.referent) }}</div>
				<div class="col-md-6">{{ form_row(form.referent2) }}</div>
			</div>
		</div>
		
		<hr>

		{% set serviceType = support.service ? support.service.type : null %}
		
		{% if serviceType == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_AVDL") %}
			{% include "app/support/avdl/_avdlEdit.html.twig" %}
		{% elseif serviceType == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_HOTEL") %}
			{% include "app/support/hotelSupport/_hotelSupportEdit.html.twig" %}
		{% else %}		
			{% include "app/support/_shared/_supportRegular.html.twig" %}
		{% endif %}

		{% if support.id %}
		
			<div class="form-group row">
				<div class="col-md-12">
					<div class="mb-4 float-right">
						<button type="submit" id="send2" name="send2" class="btn btn-{{ theme_color }} shadow">
							<span class="fas fa-save mr-2"></span>Mettre à jour</button>
					</div>
				</div>
			</div>

			<hr>
			
			{% include "app/support/_shared/_supportPeople.html.twig" %}

		{% endif %}

		<div class="form-group row">
			<div class="col-md-12"> 
				<div class="card border-warning"> 
					<div class="card-body p-3"> 
						<p class="mb-2"><span class="font-italic">Je certifie avoir informé la personne sur ses droits 
							(droit d'opposition, droits d'accès et de rectification) et avoir obtenu son consentement 
							pour le recueil de ses données personnelles</span>
						(<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3#Article13" target="_blank" 
							class="text-{{ theme_color }}">article 13 du règlement général sur la protection des données [RGPD]</a>).</p>
						<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} p-1">
							{{ form_widget(form.agreement) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group row my-5">
			<div class="col-md-12">
				{% if support.id and is_granted("DELETE", support) %}
				<div class="float-left d-flex">
					{% set textAlert = "'Tous les éléments rattachés au suivi vont être supprimés (évaluation sociale, RDVs, notes, documents...)." ~ 
						" Êtes-vous vraiment sûr de vouloir supprimer ce suivi social ?'" %}
					<a id="modal-btn-delete" class="mr-3 btn btn-danger d-block" href="{{ path('support_delete', {'id':support.id}) }}"
						title="Supprimer le suivi social" data-toggle="tooltip" data-placement="bottom"
						onclick="if(window.confirm({{ textAlert }})){return true;}else{return false;}"><span
						class="fas fa-trash-alt mr-2"></span><span class="">Supprimer</span></a>
				</div>
				{% endif %}
				<div class="float-right">
					<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>
					{% if support.id %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		{{ form_row(form.cloneSupport) }}
		{{ form_row(form._token) }}
		{{ form_end(form, {"render_rest": false}) }}

	</div>

{% include "app/support/_shared/_removeSupportPerson.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("support") }}
{% endblock javascripts %}
