{% extends "base.html.twig" %}

{% set title = "Documents" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <section class="mt-0">

        <div class="container-fluid mt-4">
            <h1 class="h2 mb-3">{{ title }}</h1>
            {% include "model/_msgFlash.html.twig" %}
        </div>

        {% include "app/support/document/_searchDocuments.html.twig" %}

        <div class="container-fluid mt-4">

            <div class="row align-items-baseline">
                <div class="col-md-4 count align-middle mb-2">
                    <span class="align-middle">Résultat : {{ documents.getTotalItemCount|number  }} <!--
                    -->document{% if documents.getTotalItemCount > 1 %}s{% endif %}.</span>
                </div>
                <div class="col-md-8">
                    <div class="navigation">{{ knp_pagination_render(documents) }}</div>
                </div>
            </div>

			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover text-dark shadow-sm">
					<thead>
						<tr>
							<th scope="row" class="align-middle th-w-20"></th>
							<th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(documents, "Nom du document", "d.name") }}</th>
							<th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(documents, "Nom du suivi", "p.lastname") }}</th>
							<th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(documents, "Service", "s.name") }}</th>
							<th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(documents, "Type document", "d.type") }}</th>
							<th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(documents, "Description", "d.content") }}</th>
							<th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(documents, "Taille", "d.size") }}</th>
							<th scope="col" class="align-middle th-w-60">Ext.</th>
							<th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(documents, "Créé le", "d.createdAt") }}</th>
							<th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(documents, "Créé par", "d.createdBy") }}</th>
							<th scope="row" class="align-middle th-w-20"></th>
						</tr>
					</thead>
					<tbody id="container-documents">
						{% for document in documents %}
						{% set support = document.supportGroup %}
							<tr>
								<th scope="row" class="align-middle text-center">
								{% if support %}
										<a href="{{ path('support_documents', {'id':document.supportGroup.id, 'documentId':document.id}) }}"
											class="btn btn-{{ theme_color }} btn-sm shadow" data-toggle="tooltip" data-placement="bottom"
											title="Voir le suivi"><span class="fas fa-eye"></span>
										</a>
								{% endif %}
								</th>
								<td class="align-middle">{{ document.name }}</td>
                            	<td class="align-middle">{{ support ? support.supportPeople|filter(s => s.head == true)|first.person.fullname }}</td>
                            	<td class="align-middle">{{ support ? support.service.name }}</td>
								<td class="align-middle" data-value="{{ document.type }}">{{ document.typeToString }}</td>
								<td class="align-middle">{{ document.content }}</td>
								<td class="align-middle text-right">{{ (document.size / 1000000)|round(2) }} Mo</td>
								<td class="align-middle">{{ document.fileType }}</td>
								<td class="align-middle">{{ document.createdAt|date("d/m/Y H:i") }}</td>
								<td class="align-middle">{{ document.createdBy ? document.createdBy.fullname }}</td>
								<td scope="row" class="align-middle text-center">
									<a href="{{ path('document_download', {'id': document.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow my-1" 
										data-toggle="tooltip" data-placement="bottom" title="Télécharger le document"><span class="fas fa-file-download"></span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
            <div class="navigation">{{ knp_pagination_render(documents) }}</div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("search") }}
{% endblock javascripts %}