{% form_theme actionForm "bootstrap_4_layout.html.twig" %}

{{ form_start(actionForm) }}
<div class="form-inline mb-2">
    {{ form_label(actionForm.type) }}
    <div class="my-1 px-1">{{ form_widget(actionForm.type) }}</div>
    <div class="my-1 px-1">
        <button type="submit" id="action-validate" name="action-validate" 
            class="btn btn-{{ theme_color }} shadow"></span>Valider</button>
    </div>
</div>
{{ form_end(actionForm) }}