{% form_theme action_form 'bootstrap_4_layout.html.twig' %}

{{ form_start(action_form) }}
<div class="form-inline mb-2">
    {{ form_label(action_form.type) }}
    <div class="my-1 px-1">{{ form_widget(action_form.type) }}</div>
    <div class="my-1 px-1">
        <button type="submit" id="action-validate" name="action-validate" 
            class="btn btn-{{ theme_color }} shadow">Valider</button>
    </div>
</div>
{{ form_end(action_form) }}