{% set is_deleted = document.isDeleted %}

<tr data-document-id="{{ document.id }}">
    <td class="align-middle text-center">
        {% if document_index_route %}
            <a href="{{ path('support_document_index', {id: document.supportGroup.id,
                'documentId': document.id}) }}" class="btn btn-primary btn-sm shadow" 
                title="Voir le suivi" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="fas fa-eye"></i>
            </a>
        {% else %}
            <div class="form-check"
                title="Sélectionner le document" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <input type="checkbox" class="form-check-input ms-0" data-checkbox="{{ document.id }}">
            </div>
        {% endif %}
    </td>
    <td class="align-middle text-center">
        <button type="button" data-action="preview"
            class="btn btn-{{ is_deleted ? 'secondary disabled' : 'primary' }} btn-sm shadow d-none d-sm-inline"
            title="Prévisualiser le document" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="fas fa-eye"></i>
        </button>
        <button type="button" data-action="download"
            class="btn btn-{{ is_deleted ? 'secondary disabled' : 'primary' }} btn-sm m-1 shadow"
            title="Télécharger le document" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <i class="fas fa-file-download"></i>
        </button>
    </td>
    <td class="align-middle {{ not is_deleted ? 'cursor-pointer' }}" data-action="show" data-object-key="name">
        {{ document.name }}
    </td>
    <td class="align-middle {{ not is_deleted ? 'cursor-pointer' }}"data-action="show" data-object-key="tags">
        {% for tag in document.tags %}
            <span class="badge bg-{{ tag.color }}" 
                data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
        {% endfor %}
    </td>
    <td class="align-middle {{ not is_deleted ? 'cursor-pointer' }}" data-action="show" data-object-key="content">
        {{ document.content }}
    </td>
    <td class="align-middle text-end" data-object-key="sizeMo">{{ document.sizeMo }}</td>
    <td class="align-middle" data-object-key="fileType">{{ document.fileType }}</td>
    {% if document_index_route %}
        {% set support = document.supportGroup %}
        <td class="align-middle" data-object-key="supportGroup">{{ support ? support.header.fullname }}</td>
        <td class="align-middle" data-object-key="service">{{ support ? support.service.name }}</td>
    {% endif %}
    <td class="d-none d-lg-table-cell align-middle">
        {% if not is_deleted %}
            <span data-object-key="createdAt">{{ document.createdAt|date('d/m/Y H:i') }}</span>
        {% else %}
            <span data-object-key="deletedAt">{{ document.deletedAt|date('d/m/Y H:i') }}</span>
        {% endif %}
    </td>
    <td class="d-none d-lg-table-cell align-middle" data-object-key="createdBy">
        {{ document.createdby ? document.createdby.fullname }}
    </td>
    <td class="align-middle text-center">
        {% if is_deleted %}
            {{ include('model/button/_restore_button.html.twig') }}
        {% elseif not document_index_route %}
            <button 
                class="btn btn-danger btn-sm shadow my-1" data-action="delete"
                title="Supprimer le document" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="fas fa-trash-alt"></i>
            </button>
        {% endif %}
    </td>
</tr>