{% set document_index_route = app.request.attributes.get('_route') == 'document_index' %}

<div class="table-responsive">
	<table id="table-documents" class="table table-bordered table-striped table-hover text-dark shadow-sm">
		<thead>
			<tr>
				<th scope="col" class="align-middle text-center th-w-20 px-1">
					{% if document_index_route == false and not restoration_mode %}
						<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} text-dark pl-0"
							title="Tout sélectionner">
							<div class="form-check">
								<input type="checkbox" id="checkbox-all-files" data-checkbox-all="true"
									name="checkbox-all-files" class="custom-control-input checkbox form-check-input">
								<label class="custom-control-label form-check-label ml-2"
									for="checkbox-all-files" data-checkbox-all="true"></label>
							</div>
						</div>
					{% endif %}
				</th>
				<th scope="col" class="align-middle th-w-20"></th>
				<th scope="col" class="align-middle th-w-150">
					{{ knp_pagination_sortable(documents, 'Nom', 'd.name') }}
				</th>
				<th scope="col" class="align-middle th-w-100">Étiquette(s)</th>
				<th scope="col" class="align-middle th-w-120">
					{{ knp_pagination_sortable(documents, 'Description', 'd.content') }}
				</th>
				<th scope="col" class="align-middle th-w-80">
					{{ knp_pagination_sortable(documents, 'Taille', 'd.size') }}
				</th>
				<th scope="col" class="align-middle th-w-60">Type</th>
				{% if document_index_route %}
					<th scope="col" class="align-middle th-date">
						{{ knp_pagination_sortable(documents, 'Nom du suivi', 'p.lastname') }}
					</th>
					<th scope="col" class="align-middle th-w-80">
						{{ knp_pagination_sortable(documents, 'Service', 's.name') }}
					</th>
				{% endif %}
				<th scope="col" class="d-none d-lg-table-cell align-middle th-date">
					{% if restoration_mode %}
						{{ knp_pagination_sortable(documents, 'Supprimé le', 'd.deletedAt') }}
					{% else %}
						{{ knp_pagination_sortable(documents, 'Ajouté le', 'd.createdAt') }}
					{% endif %}
				</th>
				<th scope="col" class="d-none d-lg-table-cell align-middle th-w-100">
					{{ knp_pagination_sortable(documents, 'Ajouté par', 'u.lastname') }}
				</th>
				<th scope="col" class="align-middle th-w-20"></th>
			</tr>
		</thead>
		<tbody id="container-documents" {% if support is defined %}data-support="{{ support.id }}"{% endif %}
			data-action-show="{{ path('document_show', {'id': '__id__'}) }}">
			{% for document in documents %}
				{% set is_deleted = document.isDeleted %}
				<tr data-document-id="{{ document.id }}">
					<td class="align-middle text-center px-1">
						{% if is_deleted == false %}
							<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} text-dark pl-0"
								title="Sélectionner le document">
								<div class="form-check">
									<input type="checkbox" id="checkbox-file-{{ document.id }}" data-checkbox="{{ document.id }}"
										name="checkbox-file-{{ document.id }}" class="custom-control-input checkbox form-check-input">
									<label class="custom-control-label form-check-label ml-2" for="checkbox-file-{{ document.id }}"></label>
								</div>
							</div>
						{% elseif document_index_route %}
							<a href="{{ path('support_document_index', {'id': document.supportGroup.id,
								'documentId': document.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow" 
								title="Voir le suivi" data-toggle="tooltip" data-placement="bottom">
								<i class="fas fa-eye"></i>
							</a>
						{% endif %}
					</td>
					<td class="align-middle text-center">
						<a href="{{ path('document_download', {'id': document.id }) }}"
							class="btn btn-{{ is_deleted ? 'secondary disabled' : theme_color }} btn-sm shadow my-1"
							title="Télécharger le document" data-toggle="tooltip" data-placement="bottom">
							<i class="fas fa-file-download"></i>
						</a>
					</td>
					<td class="align-middle cursor-pointer" data-document="name">{{ document.name }}</td>

					<td class="align-middle cursor-pointer" data-document="tags">
						{% for tag in document.tags %}
							<span class="badge bg-{{ tag.color }} text-light" 
								data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
						{% endfor %}
					</td>
					<td class="align-middle cursor-pointer" data-document="content">{{ document.content }}</td>
					<td class="align-middle text-right">{{ (document.size / 1000000)|round(2) }} Mo</td>
					<td class="align-middle">{{ document.fileType }}</td>
					{% if document_index_route %}
						{% set support = document.supportGroup %}
						<td class="align-middle">{{ support ? support.header.fullname }}</td>
						<td class="align-middle">{{ support ? support.service.name }}</td>
					{% endif %}
					<td class="d-none d-lg-table-cell align-middle">
						{% if is_deleted %}
							{{ document.deletedAt|date('d/m/Y H:i') }}
						{% else %}
							{{ document.createdAt|date('d/m/Y H:i') }}
						{% endif %}
					</td>
					<td class="d-none d-lg-table-cell align-middle">{{ document.createdby ? document.createdby.fullname }}</td>
					<td class="align-middle text-center">
						{% if is_deleted %}
							{% include 'model/button/_restore_button.html.twig' with {
								path_route: path('document_restore', {'id': document.id})} %}
						{% elseif document_index_route == false %}
							<button data-url="{{ path('document_delete', {'id': document.id}) }}" 
								class="btn btn-danger btn-sm shadow my-1"
								data-action="delete" title="Supprimer le document" data-placement="bottom">
								<i class="fas fa-trash-alt"></i>
							</button>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>