<div id="dropzone-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DropzoneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Ajouter des fichiers</h2>
            </div>
            {{ form_start(dropzoneForm) }}
            <div class="modal-body pb-0">
                <div class="row mb-3">
                    <div class="col-md-12">
                        {% set dropzone_content %}{% apply spaceless %}
                            <div class='row' style='min-height: 300px;'>
                                <div class='col-md-12 m-auto'>
                                    <p class='align-middle text-center text-secondary'>{{ 'document.file.placeholder'|trans({}, 'forms') }}</p>
                                </div>
                            </div>
                        {% endapply %}{% endset %}
                        <div class="dropzone card p-2 cursor-pointer" id="dropzone" data-placeholder="{{ dropzone_content }}"></div>
                    </div>
                    <div class="col-sm-12 d-none">{{ form_widget(dropzoneForm.files) }}</div>
                    <div class="col-sm-12">{{ form_help(dropzoneForm.files) }}</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="float-end">
                    <button type="button" name="close" class="btn btn-secondary shadow" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" name="clear" class="btn btn-secondary shadow" data-bs-dismiss="modal">Effacer</button>
                    <button type="submit" name="send" class="btn btn-secondary d-none">Envoyer</button>
                </div>
            </div>
            {{ form_row(dropzoneForm._token) }}
            {{ form_end(dropzoneForm) }}
        </div>
    </div>
</div>