<div id="modal_document" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            {{ form_start(form_document, {
                'action': path('document_edit', {id: '__id__'}),
                'attr': {'data-path': path('document_edit', {id: '__id__'})}
            }) }}
            <div class="modal-body pb-0">
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form_label(form_document.name, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_document.name) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text" title="Étiquettes" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom"><i class="fas fa-tag text-black-50"></i>
                            </span>
                            {{ form_widget(form_document.tags) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form_label(form_document.content, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_document.content) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="float-start">
                    <button type="button" class="me-3 btn btn-danger shadow d-block" data-action="delete"
                        data-path-document-delete="{{ path('document_delete', {id: '__id__'}) }}"
                        title="Supprimer le document" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-trash-alt"></i>
                        <span class="d-none d-md-inline ms-2">Supprimer</span>
                    </button>
                </div>
                <div class="float-end">
                    <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" name="document_update" class="btn btn-primary shadow"
                        data-action="update"><i class="fas fa-save me-2"></i>Mettre à jour</button>
                </div>
            </div>
            {{ form_row(form_document._token) }}
            {{ form_end(form_document) }}
        </div>
    </div>
</div>
