{% form_theme form "bootstrap_4_layout.html.twig" %}

<div id="modal-document" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDocumentLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">

            {{ form_start(form) }}

            <div class="modal-body pb-0">
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                {{ form_row(form.content) }}
                <div class="form-group row js-document-block-file" data-placeholder="{{ 'document.file.placeholder'|trans({}, 'forms') }}">
                    <div class="col-sm-12 sr-only">{{ form_label(form.file) }}</div>
                    <div class="col-sm-12">{{ form_widget(form.file) }}</div>
                    <div class="col-sm-12">{{ form_help(form.file) }}</div>
                    <div class="col-sm-12">{{ form_errors(form.file) }}</div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="float-left">
                    <button id="modal-btn-delete" class="mr-3 btn btn-danger d-block" 
                        data-toggle="tooltip" data-placement="bottom" title="Supprimer le document"><span 
                        class="fas fa-trash-alt"></span><span class="d-none d-md-inline ml-2">Supprimer</span></button>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }} shadow" data-action="new"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                </div>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form) }}

        </div>
    </div>
</div>