{% extends "base.html.twig" %}

{% block title %}Documents{% endblock %}

{% block body %}

	<div class="container">

		{% set title = "Documents" %}
		{% include "app/support/_partials/_support_nav.html.twig" %}

		<div class="row">
			<div class="col-lg-4 my-2">
				<button id="btn-new-files" class="btn btn-{{ theme_color }} btn-sm shadow mr-2"
					data-toggle="tooltip" data-placement="bottom" title="Ajouter des documents">
					<span class="fas fa-plus-square mr-2"></span>Ajouter des documents</button>
				<div class="d-inline align-middle">Total :
					<span id="count-documents">{{ documents.getTotalItemCount|number }}</span>
				</div>
			</div>
			<div class="col-lg-8">
				{% include "app/document/_searchSupportDocuments.html.twig" %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				{% include "app/document/_actionForm.html.twig" %}
			</div>
			<div class="col-md-7">
				<div class="navigation">{{ knp_pagination_render(documents) }}</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover text-dark shadow-sm">
					<thead>
						<tr>
							<th scope="col" class="align-middle text-center th-w-20 px-1">
								<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} text-dark pl-0"
									title="Tout sélectionner">
									<div class="form-check">
										<input type="checkbox" id="checkbox-all-files" data-checkbox-all="true"
											name="checkbox-all-files" class="custom-control-input checkbox form-check-input">
										<label class="custom-control-label form-check-label ml-2"
											for="checkbox-all-files" data-checkbox-all="true"></label>
									</div>
								</div>
							</th>
							<th scope="col" class="align-middle th-w-20"></th>
							<th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(documents, "Nom", "d.name") }}</th>
							<th scope="col" class="align-middle th-w-100">Étiquette(s)</th>
							<th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(documents, "Description", "d.content") }}</th>
							<th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(documents, "Taille", "d.size") }}</th>
							<th scope="col" class="align-middle th-w-60">Type</th>
							<th scope="col" class="d-none d-lg-table-cell align-middle th-date">
								{{ knp_pagination_sortable(documents, "Ajouté le", "d.createdAt") }}</th>
							<th scope="col" class="d-none d-lg-table-cell align-middle th-w-100">
								{{ knp_pagination_sortable(documents, "Ajouté par", "u.lastname") }}</th>
							<th scope="col" class="align-middle th-w-20"></th>
						</tr>
					</thead>

					<tbody id="container-documents" data-support="{{ support.id }}">
						{% for document in documents %}
							<tr data-document-id="{{ document.id }}">
								<td scope="row" class="align-middle text-center px-1">
									<div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} text-dark pl-0"
										title="Sélectionner le document">
										<div class="form-check">
											<input type="checkbox" id="checkbox-file-{{ document.id }}" data-checkbox="{{ document.id }}"
												name="checkbox-file-{{ document.id }}" class="custom-control-input checkbox form-check-input">
											<label class="custom-control-label form-check-label ml-2" for="checkbox-file-{{ document.id }}"></label>
										</div>
									</div>
								</td>
								<td class="align-middle text-center">
									<a href="{{ path('document_download', {'id': document.id }) }}" class="btn btn-{{ theme_color }} btn-sm shadow my-1"
										data-toggle="tooltip" data-placement="bottom" title="Télécharger le document"><i class="fas fa-file-download"></i>
									</a>
								</td>
								<td class="align-middle cursor-pointer" data-document="name">{{ document.name }}</td>

								<td class="align-middle cursor-pointer" data-document="tags">
									{% for tag in document.tags %}
										<span class="badge bg-{{ tag.color }} text-light" 
											data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
									{% endfor %}
								</td>
								<td class="align-middle cursor-pointer" data-document="content">{{ document.content }}</td>
								<td class="align-middle text-right">{{ (document.size / 1000000)|round(2) }} Mo</td>
								<td class="align-middle">{{ document.fileType }}</td>
								<td class="d-none d-lg-table-cell align-middle">{{ document.createdAt|date("d/m/Y H:i") }}</td>
								<td class="d-none d-lg-table-cell align-middle">{{ document.createdby ? document.createdby.fullname }}</td>
								<td class="align-middle text-center">
									<button data-url="{{ path('document_delete', {'id': document.id}) }}" class="btn btn-danger btn-sm shadow my-1"
										data-action="delete" data-placement="bottom" title="Supprimer le document"><span class="fas fa-trash-alt"></span>
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="navigation">{{ knp_pagination_render(documents) }}</div>

			</div>
		</div>
		
		{% include "app/document/_dropzoneModal.html.twig" %}
		{% include "app/document/_documentModal.html.twig" %}
		{% include "app/document/_deleteDocumentModal.html.twig" %}

	</div>

{% endblock %}{% block javascripts %}
	{{ encore_entry_script_tags("search") }}
	{{ encore_entry_script_tags("document") }}
{% endblock javascripts %}
