{% extends 'model/_search.html.twig' %}

{% block search_form %}

<div class="col-auto my-1 px-1">
    <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} ps-2 py-1">{{ form_row(form.lastname) }}</div>
    <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} ps-2 py-1">{{ form_row(form.firstname) }}</div>
    <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} ps-2 py-1 w-min-200">{{ form_row(form.birthdate) }}</div>
</div>
{% endblock %}