{% extends 'model/_search.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.lastname) }}</div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.firstname) }}</div>
    <div class="col-auto my-1 px-1">
        <div class="input-group">
            <span class="input-group-text d-none d-sm-block" title="Date de naissance" data-bs-toggle="tooltip" 
                data-bs-placement="bottom"><i class="fas fa-birthday-cake text-black-50"></i>
            </span>
            {{ form_label(form.birthdate) }}
            {{ form_widget(form.birthdate) }}
        </div>
    </div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.siSiaoId) }}</div>
    {% if siSiaoLoginForm is defined %}
        <div class="col-auto my-1 px-1">
            <div class="form-check form-check-{{ theme_color }}"
                data-bs-placement="bottom" title="Activer la recherche via le SI-SIAO">
                {{ form_widget(form.siSiaoSearch) }}
            </div>
        </div>
    {% endif %}
{% endblock %}