<p><b>Objet :
    {% if payment.paymentDate %}Paiement{% else %}Avis d'échéance{% endif %} relatif {{ payment_type }}
</b></p>

<br/>

<p class="text-justify">
    {% if payment.paymentDate and payment.paidAmt > 0 %}
        Nous vous confirmons la réception de votre règlement de <b>{{ payment.paidAmt|amount }} 
        ({{ payment.paidAmtToString }} euro{{ payment.paidAmt > 1 ? "s" }})</b>,
        {% if payment.toPayAmt and payment.toPayAmt != payment.paidAmt %}
            pour un montant dû de {{ payment.toPayAmt|amount }}, 
        {% endif %}
    {% else %}
        Nous vous informons que dans le cadre de votre prise en charge, vous devez vous acquitter d'un montant de 
        <b>{{ payment.toPayAmt|amount }}
        ({{ payment.toPayAmtToString }} euro{{ payment.toPayAmt > 1 ? "s" }})</b>,
    {% endif %}
    relatif {{ payment_type }}{# 
    #}{% if support.city and payment.type in [1, 2, 10] %}
        au {{ support.address ~ " à " ~ support.city }} ({{ service.name }})<!--
        -->{% if payment.type in [1, 2] %}<!--
            -->, pour la période du <b>{{ payment.startDate|date("d/m/Y") }}</b> au <b>{{ payment.endDate|date("d/m/Y") }}</b> 
            (soit {{ payment.nbDays }} jours){# 
            #}{% endif %}{# 
    #}{% endif %}{# 
    #}.</p>
<br/>

{% if payment.commentExport %}
    <p>{{ payment.commentExport }}</p>
    <br/>
{% endif %}

{% if payment.type in [1, 2] %}
    <p class="text-justify">Le montant de {{ payment.toPayAmt|amount }} correspond à 
        {% if service.contributionType == 1 %}
            un pourcentage des ressources en référence au règlement de fonctionnement du service et en conformité avec les dispositions réglementaires en vigueur.
        {% elseif service.contributionType == 2 %}
            {{ payment.nbDays }} jours à {{ (payment.toPayAmt / payment.nbDays)|amount }} en référence à un barème forfaire.</p>
        {% endif %}
    </p>
    <br/>
{% endif %}

{% if payment.paymentDate %}
    <p>Montant réglé : {{ payment.paidAmt|amount }}</p>
    <p>Date de règlement : {{ payment.paymentDate ? payment.paymentDate|date("d/m/Y") }}</p>
    <p>Mode de règlement : {{ payment.paymentTypeToString }}</p>
    {% if payment.stillToPayAmt > 0 %}
        <p>Montant restant à payer : {{ payment.stillToPayAmt|amount }}</p>
    {% endif %}
{% else %}
    <p>Montant à payer : {{ payment.toPayAmt|amount }}</p>
{% endif %}