{% import "macros/viewParagraph.html.twig" as view_p %}

{% set theme_color = app.request.hasPreviousSession and app.session.get("theme_color") ? app.session.get("theme_color") : "#555c64;" %}
{% set ROLE_CHILD = constant("App\\Entity\\People\\RolePerson::ROLE_CHILD") %}
{% set people = support.supportPeople|filter(s => s.role != ROLE_CHILD and s.status == support.status)|sort ((a, b) => b.head <=> a.head) %}
{% set service = support.service %}
{% set subService = support.subService %}
{% set payment_type %}{% apply spaceless %}
    {% if payment.type == constant("CONTRIBUTION", payment) %}
        à la participation à l'hébergement
    {% elseif payment.type == constant("RENT", payment) %}
        au loyer
    {% elseif payment.type == constant("DEPOSIT", payment) %}
        à la caution
    {% elseif payment.type == constant("REPAYMENT", payment) %}
        à un remboursement de dette
    {% endif %}
{% endapply %}{% endset %}

{% if payment.type == constant("DEPOSIT_REFUNT", payment) %}
    {% set title = "Restitution de caution" %}
{% endif %}

<html lang="fr">
    <head>
        <title>{{ title }} | {{ support.header.fullname }}</title>
        <meta charset="utf-8" />
        <style type="text/css">
            body {
                font-family: sans-serif;
                font-size: .9rem;
                line-height: 1.5;
                color: #343a40;
            }
            h1 { 
                margin-bottom: 40px;
                padding: 6px;
                background-color: #e9ecef;
                text-align: center;
                font-size: 1.4rem;
            }
            p {
                margin: 0 0 6px 0; 
            }
            .pos-absolute {position: absolute;}
            .pos-fixed {position: fixed;}
            .text-center {text-align: center;}
            .text-right {text-align: right;}
            .text-justify {text-align: justify;}
        </style>
    </head>

    <body>
        <img src="{{ logo_path }}" width="200"/>

        <h1>{{ title }}</h1>

        <main>
            <p class="text-right">{{ service.city ? service.city : "Pontoise" }}, le {{ "now"|date("d/m/Y") }}</p>

            <br/>

            <p class="text-right">À l'intention de 
                {% for supportPerson in people %}
                    <b>{{ supportPerson.person.civilityToString }} {{ supportPerson.person.fullname }}</b>,<br/>
                {% endfor %}
            </p>

            <br/>

            <p>N° de dossier : {{ support.id }}</p>
            <p>N° de {{ title|lower }} : {{ payment.createdAt|date("Ymd_") }}{{ payment.id }}</p>
            <p>Service : {{ service.name }}</p>
            <p>{{ service.phone1 ? "Téléphone : " ~ (subService and subService.email ? subService.phone1 : service.phone1) }}</p>
            <p>{{ service.email ? "Email : " ~ (subService and subService.email ? subService.email : service.email) }}</p>


            <br/>

            {% if payment.type == constant("DEPOSIT_REFUNT", payment) %}
                {% include "app/payment/pdf/_depositRefuntPdf.html.twig" %}
            {% elseif payment.type == constant("LOAN", payment) %}
                {% include "app/payment/pdf/_loanPdf.html.twig" %}
            {% else %}
                {% include "app/payment/pdf/_regularPaymentPdf.html.twig" %}
            {% endif %}

            <br/>
            <br/>

            <p class="pos-absolute" style="right: 8px;">
                {{ app.user.firstname }} {{ app.user.lastname }}<br/>
                Service {{ service.name }}<br/>
                <img src="{{ logo_path }}" width="150"/>
            </p>
        </main>
    </body>
</html>