{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">Administration</h1>

        <hr>

        <div class="row my-4">
            <div class="col-md-6">
                <h2 class="h5">Utilisateurs</h2>
                <ul>
                    <li class="mb-2 text-primary">
                        <a class="link-primary" href="{{ path('security_registration') }}">Créer un compte utilisateur</a>
                    </li>
                    <li class="mb-2 text-primary">
                        <a class="link-primary" href="{{ path('admin_user_index') }}">Gérer les comptes Utilisateurs</a>
                    </li>
                </ul>

                {% if is_granted('ROLE_SUPER_ADMIN') %}

                    <hr class="my-3">

                    <h2 class="h5">Pôles, services et dispositifs</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('pole_index') }}">Gérer les pôles</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('service_index') }}">Gérer les service</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_devices') }}">Gérer les dispositifs</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_tag_index') }}">Gérer les étiquettes</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Organismes prescripteurs</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_organization_new') }}">Créer un organisme prescripteur</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('organization_index') }}">Gérer les organismes prescripteurs</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Documents</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('document_index') }}">Rechercher des documents</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Paramètres</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_settings') }}">Configuration des paramètres</a>
                        </li>
                    </ul>

                {% else %}

                    <h2 class="h5">Services</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('service_index') }}">Gérer les services</a>
                        </li>
                    </ul>
                {% endif %}

            </div>

            <div class="col-md-6">

                <h2 class="h5">Export</h2>
                <ul>
                    <li class="mb-2 text-primary">
                        <a class="link-primary" href="{{ path('export_index') }}">Exporter les données</a>
                    </li>
                </ul>

                {% if is_granted('ROLE_SUPER_ADMIN') %}

                    <hr class="my-3">

                    <h2 class="h5">Cache</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('cache_clear') }}">Vider le cache</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Base de données</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('database_backup_index') }}">Sauvegarder et exporter la base de données</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Indicateurs</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('indicators_social') }}">Indicateurs sociaux</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('daily_indicators') }}">Indicateurs quotidiens d'activité</a>
                        </li>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('indicator_services') }}">Indicateurs d'activité des services</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Doublons</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('duplicated_people_index') }}">Rechercher les personnes en doublon</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Glossaire</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_glossary') }}">Récapitulatif des variables et items</a>
                        </li>
                    </ul>

                    <hr class="my-3">

                    <h2 class="h5">Archive et suppression</h2>
                    <ul>
                        <li class="mb-2 text-primary">
                            <a class="link-primary" href="{{ path('admin_archive_purge_index') }}">Archivage et suppression des données</a>
                        </li>
                    </ul>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
