{% extends "base.html.twig" %}

{% block title %}Admin | Utilisateurs | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<section class="mt-0 mb-4">
    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-4">Admininistration des utilisateurs</h1>
    </div>

    {% include "app/search/searchUsers.html.twig" %}

    {% if users %}
    <div class="container-fluid mt-4">
        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Total : {{ users.getTotalItemCount | number_format(0,'', ' ')}} utilisateurs.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(users) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-120">
                            {{ knp_pagination_sortable(users, "Nom", "u.lastname") }}
                        </th>
                        <th scope="col" class="align-middle th-w-120">
                            {{ knp_pagination_sortable(users, "Prénom", "u.firstname") }}
                        </th>
                        <th scope="col" class="align-middle th-w-120">
                            Fonction
                        </th>
                        <th scope="col" class="align-middle th-w-120">
                            Téléphone
                        </th>
                        <th scope="col" class="align-middle th-w-150">
                            Email
                        </th>
                        <th scope="col" class="align-middle th-w-150">
                            Service
                        </th>
                        <th scope="col" class="align-middle th-w-150">
                            Pôle
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Nombre de connexion", "u.loginCount") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Dernière connexion", "u.lastLogin") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Date de création", "u.createdAt") }}
                        </th>
                    </tr>
                </thead>

                <tbody>

                    {% for user in users %}
                    {#{% cache "user" ~ app.user.id ~ user.id user.updatedAt.timestamp %}#}
                    <tr>
                        <th scope="row">
                            {% if is_granted("EDIT", user) %}
                            <a href="{{ path('security_user', {'id':user.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir la fiche">
                                <span class="fas fa-eye"></span>
                            </a>
                            {% else %}
                            <span class="btn btn-{{ theme_color }} btn-sm shadow"><span
                                    class="fas fa-ban"></span></span>
                            {% endif %}
                        </th>
                        <td class="text-uppercase">{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.statusList }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% for role in user.serviceUser %}
                            <a href="{{ path('service_edit', {'id': role.service.id}) }}"
                                class="text-{{ theme_color }}">
                                {{  role.service.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>{% for role in user.serviceUser|slice(0, 1) %}
                            <a href="{{ path('pole_edit', {'id': role.service.pole.id}) }}"
                                class="text-{{ theme_color }}">
                                {{  role.service.pole.name }}</a><br>
                            {% endfor %}
                        </td>
                        <td>{{ user.loginCount }}</td>
                        <td>{{ user.lastLogin | date("d/m/Y") }}</td>
                        <td>{{ user.createdAt | date("d/m/Y") }}</td>
                    </tr>
                    {#{% endcache %}#}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>

        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path("security_registration") }}" class="btn btn-{{ theme_color }} btn-sm shadow">
                        <span class="fas fa-plus-square mr-2"></span>Créer un nouvel utilisateur</a></p>
            </div>
        </div>
        {% endif %}
</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("directory") }}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}