{% extends 'base.html.twig' %}

{% set title = 'Paramètres' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(form) }}

        <section>
            <h1 class="h2 mb-3">{{ title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-primary" href="{{ path('admin') }}">Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>

            {% include 'model/_flash_message.html.twig' %}

            <hr>

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.organizationName) }}</div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12"><h2 class="h4 mb-3">Archivage et suppression de données</h2></div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.softDeletionDelay) }}</div>
                <div class="col-md-6">{{ form_row(form.hardDeletionDelay) }}</div>
            </div>
            
            <hr>

            <div class="row">
                <div class="col-md-12"><h2 class="h4 mb-3">Rappels</h2></div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.delayToUpdateSiaoRequest) }}</div>
                <div class="col-md-6">{{ form_row(form.delayToUpdateSocialHousingRequest) }}</div>
            </div>

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6 form-check">
                        {{ form_row(form.weeklyAlert) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-check">
                        {{ form_row(form.dailyAlert) }}
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <h3 class="h6 mb-3">Nombre de mois avant l'envoi d'un rappel par email :</h3>
                </div>
                <div class="col-md-6">{{ form_row(form.endValidPermitDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.endRightsSocialSecurityDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.endRqthDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.endRightsDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.siaoUpdatedRequestDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.socialHousingUpdatedRequestDateDelay) }}</div>                
                <div class="col-md-6">{{ form_row(form.endDomiciliationDateDelay) }}</div>                
            </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="float-end">
                            <button type="submit" id="send" name="send" class="btn btn-primary shadow">Enregistrer</button>
                        </div>
                    </div>
                </div>
        </section>

        {{ form_end(form) }}

    </div>
{% endblock %}

