{% set support_is_not_defined = support is not defined %}

<div class="table-responsive">
    <table id="table_tasks" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
            <tr>
                <th scope="col" class="align-middle th-w-20">{{ knp_pagination_sortable(tasks, 'Réalisée', 't.status') }}</th>
                <th scope="col" class="align-middle th-w-20"></th>
                <th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(tasks, 'Nom de la tâche', 't.title') }}</th>
                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(tasks, 'Date d\'échéance', 't.end') }}</th>
                <th scope="col" class="align-middle th-w-100">Rappel(s)</th>
                <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Priorité', 't.level') }}</th>
                <th scope="col" class="align-middle th-w-80">Étiquette(s)</th>
                <th scope="col" class="align-middle th-w-120">Intervenant·e·s</th>
                {% if support_is_not_defined %}
                    <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(tasks, 'Nom du suivi', 'p.lastname') }}</th>
                    <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(tasks, 'Service', 's.name') }}</th>
                {% endif %}               
                <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Créé le', 't.createdAt') }}</th>
                {% if support_is_not_defined %}
                    <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Créé par', 'u2.lastname') }}</th>
                {% endif %}
                <th scope="col" class="align-middle th-w-20"></th>
            </tr>
        </thead>
        <tbody>
            {% set now = 'now'|date('Y-m-d-H-i') %}
            {% for task in tasks %}
                {% set support = task.supportGroup %}
                <tr id="task_{{ task.id }}" class="{% if task.status == true %}text-secondary delete{% endif %}">
                    <td class="align-middle text-center">
                        <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} text-dark pl-0" 
                            title="Cliquer pour changer le statut" data-toggle="tooltip" data-placement="bottom">
                            <div class="form-check">
                                <input type="checkbox" class="custom-control-input checkbox form-check-input" 
                                    id="toggle_task_status_{{ task.id }}" {% if task.status == 1 %}checked{% endif %}
                                    data-action="toggle_task_status" 
                                    data-url="{{ path('task_toggle_status', {'id': task.id}) }}">
                                <label class="custom-control-label form-check-label ml-2 cursor-pointer" 
                                    for="toggle_task_status_{{ task.id }}"></label>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle text-center">
                        <button data-url="{{ path('task_show', {'id': task.id}) }}"
                            class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-action="edit_task"
                            title="Voir/Modifier la tâche" data-toggle="tooltip" data-placement="bottom">
                            <span class="fas fa-eye"></span>
                        </button>
                    </td>
                    <td class="align-middle" data-cell="title">{{ task.title }}</td>
                    {% set is_late = task.end|date('Y-m-d-H-i') < now and false == task.status %}
                    <td class="align-middle {{ is_late ? 'text-danger' }}" data-cell="end">
                        {{ task.endToString }}
                        {% if is_late %}
                            <span class="fas fa-exclamation text-danger" title="En retard" 
                                data-toggle="tooltip" data-placement="bottom"></span>
                        {% endif %}
                    </td>
                    <td class="align-middle" data-cell="alerts">
                        {% if task.alerts|length > 0 %}
                            {{ task.alerts.first.date|date('d/m/Y H:i') }}
                            <i class="fas fa-bell text-secondary"></i>
                            {# {% if task.countActiveAlerts > 0 %}
                                <span class="badge badge-pill badge-warning"
                                    title="{{ task.countActiveAlerts }} rappel(s) actif(s) pour cette tâche"
                                    data-toggle="tooltip" data-placement="bottom">{{ task.countActiveAlerts }}
                                </span>
                            {% elseif task.countViewedAlerts > 0 %}
                                <span class="badge badge-pill badge-secondary"
                                    title="{{ task.countViewedAlerts }} rappel(s) pour cette tâche"
                                    data-toggle="tooltip" data-placement="bottom">{{ task.countViewedAlerts }}
                                </span>
                            {% endif %} #}
                        {% endif %}
                    </td>
                    <td class="align-middle" data-cell="level">{{ task.levelToString }}</td>
                    <td class="align-middle" data-cell="tags">
                        {% for tag in task.tags %}
                            <span class="badge bg-{{ tag.color }} text-light">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td class="align-middle" data-cell="users">{{ task.usersToString }}</td>
                    {% if support_is_not_defined %}
                        <td class="align-middle" data-cell="support">{{ support ? support.header.fullname }}</td>
                        <td class="align-middle" data-cell="service">
                            {{ support ? support.service.name }} {{ support and support.subService ? ' | ' ~ support.subService.name }}<br/>
                            <span class="text-secondary">{{ support and support.device ? '(' ~ support.device.name ~ ')' }}</span>
                        </td>   
                    {% endif %}
                    <td class="align-middle" data-cell="createdAt">{{ task.createdAtToString }}</td>
                    {% if support_is_not_defined %}
                        <td class="align-middle">{{ task.createdBy ? task.createdBy.fullname : 'Auto.' }}</td>
                    {% endif %}
                    <td class="align-middle text-center">
                        {% if is_granted('DELETE', task) %}
                            <button class="btn btn-danger btn-sm shadow my-1" data-action="delete_task" 
                                data-url="{{ path('task_delete', {'id': task.id}) }}" title="Supprimer la tâche" 
                                data-toggle="tooltip" data-placement="bottom"><span class="fas fa-trash-alt"></span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>