{% set task_index = support is not defined %}

<div class="table-responsive">
    <table id="table_tasks" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
            <tr>
                <th scope="col" class="align-middle th-w-20">{{ knp_pagination_sortable(tasks, 'Réalisée', 't.status') }}</th>
                <th scope="col" class="align-middle th-w-20"></th>
                <th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(tasks, 'Nom de la tâche', 't.title') }}</th>
                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(tasks, 'Date d\'échéance', 't.end') }}</th>
                <th scope="col" class="align-middle th-w-100">Rappel(s)</th>
                <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Priorité', 't.level') }}</th>
                <th scope="col" class="align-middle th-w-80">Étiquette(s)</th>
                <th scope="col" class="align-middle th-w-120">Intervenant·e·s</th>
                {% if task_index %}
                    <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(tasks, 'Nom du suivi', 'p.lastname') }}</th>
                    <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(tasks, 'Service', 's.name') }}</th>
                {% endif %}
                {% if restoration_mode %}
                    <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Supprimée le', 't.deletedAt') }}</th>
                {% else %}
                    <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Créée le', 't.createdAt') }}</th>
                {% endif %}
                {% if task_index %}
                    <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(tasks, 'Créée par', 'u2.lastname') }}</th>
                {% endif %}
                <th scope="col" class="align-middle th-w-20"></th>
            </tr>
        </thead>
        <tbody id="container_tasks" class="table-group-divider"
            data-prototype="{{ include('app/event/task/_task_tr_component.html.twig', {task: form_task.vars.value})|spaceless|e }}"
            data-container-tag="tr"
            data-path-create="{{ support is defined ? path('support_task_create', {id: support.id}) : path('task_create') }}"
            data-path-show="{{ path('task_show', {id: '__id__'}) }}"
            data-path-edit="{{ path('task_edit', {id: '__id__'}) }}"
            data-path-delete="{{ path('task_delete', {id: '__id__'}) }}"
            data-path-restore="{{ path('task_restore', {id: '__id__'}) }}"
            data-path-toggle-status="{{ path('task_toggle_status', {id: '__id__'}) }}"
            data-path-show-support="{{ path('support_show', {id: '__id__'}) }}"
        >
            {% for task in tasks %}
                {{ include('app/event/task/_task_tr_component.html.twig') }}
            {% endfor %}
        </tbody>
    </table>
</div>