<div id="modal_task" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="modal_task_label" aria-hidden="true"
    data-confirm-before-close="{{ 'confirm_before_to_close_msg'|trans({}, 'forms') }}"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block d-md-flex pb-2">
                <div class="col-12 col-lg-6">
                    <h2 class="h3"></h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="text-end">
                        <small class="text-secondary" data-task="info"></small>
                    </div>
                </div>
            </div>
            
            {{ form_start(form_task) }}

            <div class="modal-body pb-0">
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form_label(form_task.title, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_task.title) }}
                    </div>
                </div>
                <div class="form-inline justify-content-md-right mb-2">
                    <div class="d-none">{{ form_row(form_task.end) }}</div>
                    <div class="col-auto my-1 pe-1 ps-0 d-inline-flex">
                        {{ form_label(form_task._endDate, null, {label_attr: {class: 'visually-hidden'}}) }}
                        <div class="input-group">
                            <span class="input-group-text" title="Date d'échéance" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom"><i class="far fa-calendar text-black-50"></i>
                            </span>
                            {{ form_widget(form_task._endDate) }}
                        </div>
                    </div>
                    <div class="col-auto my-1 pe-1 ps-0 d-inline-flex">
                        {{ form_label(form_task._endTime, null, {label_attr: {class: 'visually-hidden'}}) }}
                        <div class="input-group">
                            <span class="input-group-text" title="Heure d'échéance" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom"><i class="far fa-clock text-black-50"></i>
                            </span>
                            {{ form_widget(form_task._endTime) }}
                        </div>
                    </div>
                    <div class="col-auto my-1 me-3 pe-1 ps-0 d-inline-flex">
                        <div class="input-group">
                            <span class="input-group-text" title="Priorité" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom"><i class="fas fa-layer-group text-black-50"></i>
                            </span>
                            {{ form_label(form_task.level, null, {label_attr: {class: 'visually-hidden'}}) }}
                            {{ form_widget(form_task.level) }}
                        </div>
                    </div>
                    <div class="col-auto ms-1 my-1 d-inline-flex">
                        <div class="form-check ps-0"
                            title="Statut" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                {{ form_label(form_task.status, null, {label_attr: {class: 'visually-hidden'}}) }}
                                {{ form_widget(form_task.status, {label: 'Réalisée'}) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        {{ form_label(form_task.tags, null, {label_attr: {class: 'visually-hidden'}}) }}
                        <div class="input-group">
                            <span class="input-group-text" title="Étiquette(s)" data-bs-toggle="tooltip" 
                                data-bs-placement="bottom"><i class="fas fa-tag text-black-50"></i>
                            </span>
                            {{ form_widget(form_task.tags) }}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_label(form_task.users, null, {label_attr: {class: 'col-12 col-sm-12'}}) }}
                        {{ form_widget(form_task.users, {attr: {
                            'data-default-value': app.user.id
                        }}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form_task.supportGroup, null, {label_attr: {class: 'col-12 col-sm-12'}}) }}
                        {{ form_widget(form_task.supportGroup, {attr: {
                            'disabled': support is defined,
                            'data-choice-label': 'supportGroup_header_fullname',
                            'data-default-value': support is defined ? support.id : false,
                            'data-disabled-if-value': 'true',
                        }}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                    {{ form_label(form_task.content, null, {label_attr: {class: 'visually-hidden'}}) }}
                    {{ form_widget(form_task.content) }}
                    </div>
                </div>

                {{ include('model/_alerts.html.twig', {form_alerts: form_task.alerts}) }}

                {{ form_row(form_task._token) }}
            </div>

            <div class="modal-footer d-flex justify-content-between">
                <div class="float-start">
                    <button class="me-3 btn btn-danger" data-action="delete">
                        <i class="fas fa-trash-alt"></i>
                        <span class="d-none d-md-inline ms-2">Supprimer</span>
                    </button>
                </div>
                <div class="float-end">
                    <button type="button" class="btn btn-secondary" data-action="close_modal"
                        data-bs-dismiss="modal">Fermer
                    </button>
                    <button type="submit" data-action="save" class="btn btn-primary shadow">
                        <i class="fas fa-save me-2"></i>Enregistrer
                    </button>
                </div>
            </div>

            {{ form_end(form_task, {render_rest: false}) }}

        </div>
    </div>
</div>