{% extends 'base.html.twig' %}

{% set restoration_mode = form_search.deleted.deleted.vars.checked and is_granted('ROLE_SUPER_ADMIN') %}
{% set title = 'Tâches' ~ (restoration_mode ? ' (Corbeille)') %}
{% set alert_prototype = true %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container pt-3">
    
        {% include 'app/support/_partials/_support_nav.html.twig' %}

        <div class="row mb-2">
            <div class="d-flex col-md-6 align-items-center">
                {% if not restoration_mode %}
                    <button class="btn btn-primary shadow me-2" data-action="new_task"
                        title="Ajouter une tâche" data-bs-toggle="modal" data-bs-placement="bottom"
                        data-bs-target="#modal_task"><i class="fas fa-plus-square me-2"></i>Nouvelle tâche
                    </button>
				{% else %}
					<a href="{{ app.request.pathInfo }}" class="btn btn-primary btn-sm shadow me-2" 
                        id="return_index"><i class="fa-solid fa-arrow-rotate-left me-2"></i>Retour
					</a>
				{% endif %}
                <span class="me-1">Résultat :</span>
                <span data-counter="task">{{ tasks.getTotalItemCount|number }}</span>
            </div>
            <div class="col-md-6">
                <div class="navigation">{{ knp_pagination_render(tasks) }}</div>
            </div>
        </div>

        {% include 'app/event/task/_support_task_search_form.html.twig' %}
        
        {% include 'app/event/task/_task_table.html.twig' %}
        
        <div class="navigation">{{ knp_pagination_render(tasks) }}</div>
    </div>
    {% include 'app/event/task/_task_form_modal.html.twig' %}
    {% include 'app/event/task/_task_delete_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('task') }}
{% endblock javascripts %}