{% extends 'base.html.twig' %}

{% set restoration_mode = null %}
{% set title = 'Tâches' %}
{% set alert_prototype = true %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="mt-0">

		<div class="container-fluid mt-4">
            <h1 class="h2 mb-3">{{ title }}</h1>
        </div>
        {% include 'app/event/task/_task_search_form.html.twig' %}

        <div class="container-fluid mt-4">
            <div class="row align-items-baseline">
                <div class="col-md-6 align-middle mb-2">
                    {% if not restoration_mode %}
                        <button class="btn btn-primary shadow align-middle me-2" data-action="new_task"
                            title="Ajouter une tâche" data-bs-toggle="modal" data-bs-placement="bottom"
                            data-bs-target="#modal_task">
                            <i class="fas fa-plus-square me-2"></i>Nouvelle tâche
                        </button>
                    {% else %}
                        <a href="{{ app.request.pathInfo }}" class="btn btn-primary btn-sm shadow me-2" 
                            id="return_index"><i class="fa-solid fa-arrow-rotate-left me-2"></i>Retour
                        </a>
                    {% endif %}
                    <span>Résultat : </span>
                    <span data-counter="task">{{ tasks.getTotalItemCount|number }}</span>
                </div>
                <div class="col-md-6">
                    <div class="navigation">{{ knp_pagination_render(tasks) }}</div>
                </div>
            </div>

            {% include 'app/event/task/_task_table.html.twig' %}

            <div class="navigation">{{ knp_pagination_render(tasks) }}</div>
        </div>
    </section>
    {% include 'app/event/task/_task_form_modal.html.twig' %}
	{% include 'app/event/task/_task_delete_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('task') }}
    {{ encore_entry_script_tags('search') }}
{% endblock javascripts %}