{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set device = form.vars.value %}

{% block title %}{% if edit_mode %}Dispositif {{ device.name }}{% else %}Nouveau dispositif{% endif %} | Esperer95.app{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Dispositif {{ device.name }}{% else %}Nouveau dispositif{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Créé le {{device.createdAt | date("d/m/Y à H:i") }}{% if device.createdBy %} par {{ device.createdBy.fullname }}{% endif %}
            (modifié le {{ device.updatedAt | date("d/m/Y à H:i") }}{% if device.updatedBy %} par {{ device.updatedBy.fullname }}{% endif %})
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-{{ theme_color }}"
                href="{{ path('admin_devices') }}">Liste des dispositifs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche dispositif</li>
        </ol>
    </nav>

    <hr>

    <section>
        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{{ form_row(form.coefficient) }}</div>
            <div class="col-md-12">{{ form_widget(form.comment) }}</div>
        </div>

        {{ form_row(form._token) }}
        <div class="form-group row">
            <div class="col-md-12"> 
                <div class="mb-4 float-right">
                	<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow">{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
                </div>
            </div>
        </div>
        {{ form_end(form, {"render_rest": false}) }}
    </section>

    {% if edit_mode %}
    <hr>
    <section>
        <h2 class="h4 my-4">Services rattachés</h2>
        {% if device.serviceDevices %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Nom</th>
                        <th scope="col" class="align-middle th-w-140">Téléphone</th>
                        <th scope="col" class="align-middle th-w-140">Email</th>
                        <th scope="col" class="align-middle th-w-140">Adresse</th>
                        <th scope="col" class="align-middle th-w-140">Ville</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serviceDevice in device.serviceDevices %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('service_edit', {'id':serviceDevice.service.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir la fiche du service">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ serviceDevice.service.name }}</td>
                        <td>{{ serviceDevice.service.phone }}</td>
                        <td>{{ serviceDevice.service.email }}</td>
                        <td>{{ serviceDevice.service.address }}</td>
                        <td>{{ serviceDevice.service.city }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("directory") }}{% endblock javascripts %}