{% extends "base.html.twig" %}

{% block title %}Connexion | Esperer95-app{% endblock %}

{% block body %}

<div class="container">
    <section id="connection" class="row min-vh-80">
        <form action="{{ path("security_login") }}" method="post" class="form-signin m-auto text-center">
            {% include 'msgFlash.html.twig' %}
            <h1 class="h3 mb-4 font-weight-normal">Merci de vous connecter</h1>
            <label for="_username" class="sr-only">Login</label>
            <input type="text" name="_username" id="username" class="form-control mb-2 shadow-sm" placeholder="Login"
                value="{{ last_username }}" required autofocus>
            <label for="_password" class="sr-only">Mot de passe</label>
            <div class="js-password-group">
                <input type="password" name="_password" id="password" class="form-control mb-3 shadow-sm js-password"
                    placeholder="Mot de passe" required>
                <span class="js-show-password fas fa-eye"></span>
            </div>
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" id="remember" name="remember"
                    class="custom-control-input checkbox form-check-input" value="true">
                <label class="custom-control-label form-check-label" for="remember">Se souvenir de moi</label>
            </div>
            <input type="submit" value="Se connecter" id="validation"
                class="btn btn-lg btn-{{ theme_color }} btn-block mb-4 shadow">
            <a href="" class="text-{{ theme_color }} mb-4">Login ou mot de passe oublié ?</a>
        </form>
    </section>
</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("login") }}
{% endblock %}