{% extends "base.html.twig" %}

{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block title %}Création d'un compte utilisateur | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">
    <section id="inscription">

        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto">

                <h1 class="h2 mb-3">Création d'un compte utilisateur</h1>
                <hr>
                {{ form_start(form)}}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                    <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                    <div class="col-md-6">{{ form_row(form.username) }}</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.password) }}
                            <div class="js-password-group">
                                {{ form_widget(form.password) }}
                                <span class="js-show-password fas fa-eye"></span>
                            </div>
                            {{ form_help(form.password) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.confirmPassword) }}
                            <div class="js-password-group">
                                {{ form_widget(form.confirmPassword) }}
                                <span class="js-show-password fas fa-eye"></span>
                            </div>
                            {{ form_help(form.confirmPassword) }}
                        </div>
                    </div>
                </div>

                <hr>

                <h2 class="h4 mb-3">Profil et service rattaché</h2>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.roleUser) }}</div>
                </div>

                {{ form_row(form._token) }}
                <button type="submit" class="btn btn-{{ theme_color }}">Inscription</button>
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>

    </section>
</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("registration") }}
{% endblock %}