{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal_v2_layout.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}

<section id="inscription">

    <div class="row">
        <div class="col-md-8 mx-auto">

            <h1>Inscription</h1>

            {{ message }}

            {{ form_start(form)}}

            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            <div class="js-password-group">
                {{ form_row(form.password) }}
                <span class="js-show-password fas fa-eye"></span>
            </div>
            <div class="js-password-group">
                {{ form_row(form.confirmPassword) }}
                <span class="js-show-password fas fa-eye"></span>
            </div>
            {{ form_row(form._token) }}
            <button type="submit" class="btn btn-primary">Inscription</button>

            {{ form_end(form, {"render_rest": false}) }}

        </div>
    </div>

</section>

{% endblock %}

{% block javascripts %}
{# <script src="{{ asset("js/seePassword.js") }}"></script> #}
{{ encore_entry_script_tags("login") }}
{% endblock %}