{% extends "base.html.twig" %}

{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block title %}Réinitialisation du mot de passe| Esperer95-app{% endblock %}

{% block body %}

<div class="container">
    <section class="row min-vh-80">
        <div class="form-signin col-sm-8 col-md-6 col-lg-4 m-auto text-center">
            {% include "model/msgFlash.html.twig" %}
            <h1 class="h3 mb-4 font-weight-normal">Réinitialisation<br>du mot de passe</h1>
            <p>Saisissez vos login et adresse e-mail, puis choisissez votre nouveau mot de passe.</p>

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            <div class="form-group">
                <div class="mb-2">{{ form_errors(form.password) }}</div>
                <div class="input-group js-password-group">
                    {{ form_widget(form.password) }}
                    <div class="input-group-append">
                        <span class="input-group-text"><span class="fa fa-eye js-show-password"></span></span>
                    </div>
                    {{ form_help(form.password) }}
                </div>
            </div>
            <div class="form-group">
                <div class="mb-2">{{ form_errors(form.confirmPassword) }}</div>
                <div class="input-group js-password-group">
                    {{ form_widget(form.confirmPassword) }}
                    <div class="input-group-append">
                        <span class="input-group-text"><span class="fa fa-eye js-show-password"></span></span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Réinitialiser" id="submit"
                class="btn btn-lg btn-{{ theme_color }} btn-block mb-4 shadow">
            {{ form_end(form) }}
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("login") }}
{% endblock %}