<section class="mb-5">
    <h2 class="h3 mb-3">Mes exports</h1>
    <div class="row align-items-baseline">
        <div class="col-md-4 count align-middle mb-2">
            <span class="align-middle">Résultat : <span id="export_counter">{{ exports.count|number }}</span><!--
            --> export{% if exports.count > 1 %}s{% endif %}.</span>
        </div>
        <div class="col-md-8">
            <div class="navigation">{{ knp_pagination_render(exports) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="table_exports" class="table table-bordered table-striped table-hover text-dark shadow-sm">
                    <thead>
                        <tr>
                            <th scope="row" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">{{ knp_pagination_sortable(exports, 'Nom de l\'export', 'e.title') }}</th>
                            <th scope="col" class="align-middle">{{ knp_pagination_sortable(exports, 'Description', 'e.comment') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(exports, 'Nb de résultats', 'e.nbResults') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(exports, 'Taille', 'e.size') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(exports, 'Créé le', 'e.createdAt') }}</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody id="container-exports">
                        {% for export in exports %}
                            <tr id="export_{{ export.id }}">
                                <td scope="row" class="align-middle text-center">
                                    {% if export.size %}
                                        <a href="{{ path('export_download', {'id': export.id }) }}" 
                                            class="btn btn-{{ theme_color }} btn-sm shadow my-1" 
                                            title="Télécharger l'export" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                            <i class="fas fa-file-download"></i>
                                        </a>
                                    {% else %}
                                        <i class="fas fa-spinner link-{{ theme_color }}" title="Export est en cours de préparation"
                                            data-bs-toggle="tooltip" data-bs-placement="right"></i>                                                   
                                    {% endif %}
                                    </td>
                                <td class="align-middle">{{ export.title }}</td>
                                <td class="align-middle">{{ export.comment|raw }}</td>
                                <td class="align-middle text-end">{{ export.nbResults|number }}</td>
                                <td class="align-middle text-end">
                                    {% if export.size %}
                                        {{ (export.size / 1000)|round }} Ko
                                        <span class="text-secondary">{{ is_granted('ROLE_SUPER_ADMIN') ? '(' ~ export.delay ~ ')' }}</span>
                                    {% else %}
                                        <i class="fas fa-spinner link-{{ theme_color }}">
                                    {% endif %}
                                </td>  
                                <td class="align-middle">{{ export.createdAt|date('d/m/Y H:i') }}</td>
                                <td class="align-middle text-center">
                                    <button class="btn btn-danger btn-sm shadow my-1" data-action="delete_export"
                                        data-path="{{ path('export_delete', {'id': export.id}) }}" 
                                        title="Supprimer le fichier d'export" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        data-msg="Êtes-vous vraiment sûr de vouloir supprimer ce fichier d'export ?">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation">{{ knp_pagination_render(exports) }}</div>

</section>