<section class="mb-5">
    <h2 class="h3 mb-3">Mes exports</h1>
    <div class="row align-items-baseline">
        <div class="col-md-4 count align-middle mb-2">
            <span class="align-middle">Résultat : <span id="export_counter">{{ exports.count|number }}</span><!--
            --> export{% if exports.count > 1 %}s{% endif %}</span>
        </div>
        <div class="col-md-8">
            <div class="navigation">{{ knp_pagination_render(exports) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="table_exports" class="table table-bordered table-striped table-hover text-dark shadow-sm">
                    <thead>
                        <tr>
                            <th scope="row" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">{{ knp_pagination_sortable(exports, 'Nom de l\'export', 'e.title') }}</th>
                            <th scope="col" class="align-middle">{{ knp_pagination_sortable(exports, 'Description', 'e.comment') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(exports, 'Nb de résultats', 'e.nbResults') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(exports, 'Taille', 'e.size') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(exports, 'Créé le', 'e.createdAt') }}</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody id="container_exports" class="table-group-divider"
                        data-prototype="{{ include('app/admin/export/_export_tr_component.html.twig', {export})|spaceless|e }}"
                        data-container-tag="tr"
                        data-path-count="{{ path('export_count') }}"
                        data-path-new="{{ path('export_new') }}" 
                        data-path-download="{{ path('export_download', {id: '__id__'}) }}"
                        data-path-delete="{{ path('export_delete', {id: '__id__'}) }}"
                    >
                        {% for export in exports %}
                            {{ include('app/admin/export/_export_tr_component.html.twig') }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation">{{ knp_pagination_render(exports) }}</div>

</section>