<section>
    {{ form_start(form_password) }}
    <h2 class="h4 my-4">Modification du mot de passe</h2>
    <div class="row mb-3 mb-2">
        <div class="col-md-6">
            <div class="row mb-3">
                {{ form_label(form_password.oldPassword) }}
                <div class="col-8">
                    <div class="input-group js-password-group">
                        {{ form_widget(form_password.oldPassword) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                        {{ form_help(form_password.oldPassword) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 mb-2">
        <div class="col-md-6">
            <div class="row mb-3">
                {{ form_label(form_password.newPassword) }}
                <div class="col-8">
                    <div class="input-group js-password-group">
                        {{ form_widget(form_password.newPassword) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                        {{ form_help(form_password.newPassword) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row mb-3">
                {{ form_label(form_password.confirmNewPassword) }}
                <div class="col-8">
                    <div class="input-group js-password-group">
                        {{ form_widget(form_password.confirmNewPassword) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                        {{ form_help(form_password.confirmNewPassword) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="mb-4 float-end">
                <button type="submit" id="send2" name="send2" class="btn btn-primary shadow">Mettre à jour</button>
            </div>
        </div>
    </div>

    {{ form_row(form_password._token) }}
    {{ form_end(form_password) }}
</section>