{% extends 'model/_search.html.twig' %}

{% block search_form %}
<div class="col-auto my-1 px-1">{{ form_widget(form.lastname) }}</div>
<div class="col-auto my-1 px-1">{{ form_widget(form.firstname) }}</div>
<div class="col-auto my-1 px-1">{{ form_widget(form.status) }}</div>
<div class="col-auto my-1 px-1">
    <div class="input-group">
        <span class="input-group-text d-none d-sm-block" title="Téléphone" data-bs-toggle="tooltip" 
            data-bs-placement="bottom"><i class="fas fa-phone text-black-50"></i>
        </span>
        {{ form_label(form.phone, null, {label_attr: {class: 'visually-hidden'}}) }}
        {{ form_widget(form.phone) }}
    </div>
</div>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.service.poles) }}</div>
{% endif %}
<div class="col-auto my-1 px-1">{{ form_widget(form.service.services) }}</div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.disabled) }}</div>
{% endif %}
{% endblock %}