{% extends 'base.html.twig' %}

{% set title = app.user.fullname %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">{{ title }}</h1>

        <hr>

        <section>
            {{ form_start(form_user) }}

            <h2 class="h4 my-4">Coordonnées</h2>
            <div class="row mb-3 mb-2">
                <div class="col-md-6">{{ form_row(form_user.firstname) }}</div>
                <div class="col-md-6">{{ form_row(form_user.lastname) }}</div>
                <div class="col-md-6">{{ form_row(form_user.username) }}</div>
                <div class="col-md-6">{{ form_row(form_user.status) }}</div>
            </div>
            <div class="row mb-3 mb-2">
                <div class="col-md-6">{{ form_row(form_user.email) }}</div>
            </div>
            <div class="row mb-3 mb-2">
                <div class="col-md-6">{{ form_row(form_user.phone1) }}</div>
                <div class="col-md-6">{{ form_row(form_user.phone2) }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="mb-4 float-end">
                    <button type="submit" id="send" name="send" class="btn btn-primary shadow">Mettre à jour</button>
                    </div>
                </div>
            </div>

            {{ form_row(form_user._token) }}
            {{ form_end(form_user) }}

        </section>

        <hr>

        {% include 'app/organization/user/_user_password.html.twig' %}

        <hr>

        {% include 'app/organization/user/_user_setting.html.twig' %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {{ encore_entry_script_tags('user') }}
{% endblock javascripts %}