{% extends "base.html.twig" %}

{% block title %}Admin | Utilisateurs | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<section class="mt-0 mb-4">
    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-3">Administration des utilisateurs</h1>
    </div>

    {% include "app/user/searchUsers.html.twig" %}

    <div class="container-fluid mt-4">
        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Total : {{ users.getTotalItemCount|number_format(0,'', ' ')}} utilisateurs.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(users) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-120">
                            {{ knp_pagination_sortable(users, "Nom", "u.lastname") }}
                        </th>
                        <th scope="col" class="align-middle th-w-120">
                            {{ knp_pagination_sortable(users, "Prénom", "u.firstname") }}
                        </th>
                        <th scope="col" class="align-middle th-w-120">Fonction</th>
                        <th scope="col" class="align-middle th-w-120">Téléphone</th>
                        <th scope="col" class="align-middle th-w-150">Email</th>
                        <th scope="col" class="align-middle th-w-150">Service</th>
                        <th scope="col" class="align-middle th-w-150">Pôle</th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Nombre de connexion", "u.loginCount") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Dernière activité", "u.lastActivityAt") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(users, "Date de création", "u.createdAt") }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="align-middle" scope="row">
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('security_user', {'id':user.id}) }}"
                                        class="btn btn-{{ theme_color }} btn-sm shadow" data-toggle="tooltip" data-placement="bottom"
                                        title="Voir la fiche"><span class="fas fa-eye"></span>
                                    </a>
                                {% endif %}
                            </td>
                            <td class="align-middle text-uppercase">{{ user.lastname }}</td>
                            <td class="align-middle">{{ user.firstname }}</td>
                            <td class="align-middle">{{ user.statusToString }}</td>
                            <td class="align-middle">{{ user.phone1}}</td>
                            <td class="align-middle">{{ user.email }}</td>
                            <td class="align-middle">
                                {% for role in user.serviceUser|sort ((a, b) => a.service.name <=> b.service.name) %}
                                    <a href="{{ path('service_edit', {'id': role.service.id}) }}" 
                                        class="text-{{ theme_color }}">{{ role.service.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            {% set poles = [] %}
                            <td class="align-middle">
                                {% for role in user.serviceUser %}
                                    {% if role.service.pole.id not in poles %}
                                        {% set poles = poles|merge([role.service.pole.id]) %}
                                        <a href="{{ path('pole_edit', {'id': role.service.pole.id}) }}" 
                                            class="text-{{ theme_color }}">{{ role.service.pole.name }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="align-middle">{{ user.loginCount }}</td>
                            <td class="align-middle">{% if user.lastActivityAt %}{{ user.lastActivityAt|date("d/m/Y H:i") }}{% endif %}</td>
                            <td class="align-middle">{{ user.createdAt|date("d/m/Y") }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">{{ knp_pagination_render(users) }}</div>

        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path("security_registration") }}" class="btn btn-{{ theme_color }} btn-sm shadow">
                        <span class="fas fa-plus-square mr-2"></span>Créer un nouvel utilisateur</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("directory") }}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}