{% extends "model/search.html.twig" %}

{% block search_form %}
<div class="form-group col-auto my-1 px-1 ">{{ form_row(form.lastname) }}</div>
<div class="form-group col-auto my-1 px-1">{{ form_row(form.firstname) }}</div>
<div class="form-group col-auto my-1 px-1">{{ form_row(form.status) }}</div>
<div class="form-group col-auto my-1 px-1">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text d-none d-sm-block" data-toggle="tooltip" data-placement="bottom"
                title="Téléphone">
                <span class=" fas fa-phone text-black-50"></span>
            </div>
        </div>
        {{ form_row(form.phone) }}
    </div>
</div>
<div class="form-group col-auto my-1 px-1">{{ form_row(form.service.services) }}</div>
<div class="form-group col-auto my-1 px-1">{{ form_row(form.pole) }}</div>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.disabled) }}</div>
{% endif %}
{% endblock %}