{% extends "base.html.twig" %}

{% set EDIT_MODE = form.vars.value.id != null %}
{% set SERVICE_TYPE_HOTEL = constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_HOTEL") %}
{% set title = support.service.type == SERVICE_TYPE_HOTEL ? "Prise en charge hôtelière" : "Logement/hébergement" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	<div class="container">

		{% include "app/support/_partials/_support_nav.html.twig" %}

		{{ form_start(form) }}

		{% include "model/_flash_message.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<div class="row mb-3">
			<div class="col-md-6">{{ form_row(form.place) }}</div>
			<div class="col-md-6">{{ form_row(form.startDate) }}</div>
			<div class="col-md-6">{{ form_row(form.endDate) }}</div>
			<div class="col-md-6">{{ form_row(form.endReason) }}</div>
			<div class="col-md-6">{{ form_row(form.commentEndReason) }}</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-12">
				{% if EDIT_MODE and is_granted("DELETE", support) %}
					<div class="float-left d-flex">
						<a href="{{ path('support_group_people_place_delete', {'id': form.vars.value.id}) }}" 
							class="mr-3 btn btn-danger d-block" data-toggle="tooltip" title="Supprimer la prise en charge" data-placement="bottom"
							onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir supprimer cette prise en charge ?')){return true;}else{return false;}">
							<span class="fas fa-trash-alt mr-2"></span>Supprimer</a>
					</div>
				{% endif %}
				<div class="mb-4 float-right">
					<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>{% if EDIT_MODE %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		{% if EDIT_MODE %}
			<hr>
			{% include "app/place_group/_place_person_index.html.twig" %}
		{% endif %}
		
		{{ form_end(form) }}

		{% if EDIT_MODE %}
			{% include "app/place_group/_add_person_to_place_group.html.twig" %}
		{% endif %}

	</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("placeGroup") }}
{% endblock javascripts %}
