{% extends "model/_search.html.twig" %}

{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block search_form %}

    <div class="form-group col-auto my-1 px-1" title="{{ 'placeholder.name_or_id'|trans({}, 'forms') }}"
        data-toggle="tooltip" data-placement="bottom">{{ form_widget(form.fullname) }}</div>
    {% include "_shared/_serviceDeviceReferentSearch.html.twig" %}
    <div class="form-group col-auto my-1 px-1">{{ form_widget(form.status) }}</div>
    <div class="form-group col-auto my-1 px-1">{{ form_widget(form.supportDates) }}</div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex" title="Date de début" data-toggle="tooltip" 
        data-placement="bottom"><span class="my-2 px-1">Entre</span>{{ form_widget(form.date.start) }}
    </div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex" title="Date de fin" data-toggle="tooltip" 
        data-placement="bottom"><span class="my-2 pr-2">et</span>{{ form_widget(form.date.end) }}
    </div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex">
        <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} pl-2 py-2 text-dark"
            title="Demandeur/euse principal·e" data-toggle="tooltip" data-placement="bottom"> 
            {{ form_widget(form.head) }}
        </div>
    </div>
{% endblock %}