{% import 'macros/div_view.html.twig' as view_div %}

<div class="row">
    <div class="col-md-6 mb-1 py-2">
        <span class="py-2 font-weight-bold">Service (dispositif) : </span>
        <a href="{{ path('service_edit', {'id': support.service.id }) }}" class="text-{{ theme_color }}">
            {{ support.service.name }}</a>
        <span>{{ support.device ? ' (' ~ support.device.name ~ ')' }}</span>
    </div>
    {{ view_div.get(support.statusToString 
        ~ (support.service.coefficient == YES and support.status == STATUS_IN_PROGRESS ? ' (coeff. ' ~ support.coefficient ~ ')' )
        ~ (support.endStatus ? ' (' ~ support.endStatusToString ~ ')' ), 'Status') }}
    {% set origin_request = support.originRequest %}
    {% if origin_request %}
    {{ view_div.get(origin_request.organization ? origin_request.organization.name ~ (origin_request.organizationComment ? ' (' 
        ~ origin_request.organizationComment ~ ')'), 'Organization', 'forms') }}
    {{ view_div.get(origin_request.orientationDate ? origin_request.orientationDate|date('d/m/Y'), 'Orientation date', 'forms') }}
    {% endif %}
</div>
<div class="row">
    {{ view_div.get(support.startDate ? support.startDate|date('d/m/Y') 
        ~ (support.endDate ? ' - ' ~ support.endDate|date('d/m/Y')), 'Date de suivi') }}
    {{ view_div.get(support.referent ? support.referent.fullname ~ (support.referent2 ? ' | ' ~ support.referent2.fullname), 'Referent') }}
</div>
<div class="row">
    {{ view_div.get(support.theoreticalEndDate ? support.theoreticalEndDate|date('d/m/Y'), 'Theoretical end date') }}
</div>
<div class="row">
    {% for placeGroup in support.placeGroups %}
        {% if loop.last %}
                {{ view_div.get(placeGroup.startDate ? placeGroup.startDate|date('d/m/Y') 
                    ~ (placeGroup.endDate ? ' - ' ~ placeGroup.endDate|date('d/m/Y')), 'Date d\'hébergement') }}
                {# {{ view_div.get(placeGroup.place ? placeGroup.place.name, 'Nom du groupe de places') }} #}
                {{ view_div.get(placeGroup.endReasonToString, 'Motif de fin d\'hébergement') }}
        {% endif %}	
    {% endfor %}
    {{ view_div.get(support.city or support.address ? support.address ~ ', ' ~ support.dept ~ ' ' ~ support.city, 'Adresse') }}
</div>
<div class="row">
    {{ view_div.get(support.comment) }}
</div>