{{ form_start(form, {
    'action': people_group ? path('people_group_new_support', {'id': people_group.id }) 
}) }}

<div class="modal-body">
        {{ form_row(form.service, {
            'attr': {'data-url': path('support_switch_service')}
        }) }}
    <div data-parent-field="service">
        <div id="sub-service-block">{{ form_row(form.subService) }}</div>
        {{ form_row(form.device) }}
        {% if nb_supports > 0 %}
            <div class="form-check">
                {{ form_row(form._cloneSupport) }}
            </div>
        {% endif %}
        {% if people_group and people_group.siSiaoId %}
            <div class="form-check">
                {{ form_row(form._siSiaoImport) }}
            </div>
        {% endif %}
    </div>
    {{ form_row(form.referent) }}
    {{ form_row(form.status) }}
</div>

{% if people_group %}
    <div class="modal-footer d-flex justify-content-between">
        {% block modal_footer %}
        <div class="float-start">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
        <div class="float-end">
            <button type="submit" id="js-btn-confirm" class="btn btn-primary">Créer le nouveau suivi</button>
        </div>
        {% endblock %}
    </div>
{% endif %}

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}