<section class="mb-1">
	<h2 class="h5 my-4">Personnes rattachées au suivi social</h2>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table id="table-support-people" class="table table-sm table-striped table-hover text-dark shadow-sm">
					<thead>
						<tr>
							<th scope="col" class="align-middle text-center th-w-20" data-bs-toggle="tooltip" 
								data-bs-placement="bottom" title="Demandeur/euse principal·e">DP</th>									
							<th scope="col" class="align-middle th-w-140">Nom et prénom</th>
							<th scope="col" class="align-middle th-w-140">Rôle</th>
							<th scope="col" class="align-middle th-date">Date de début</th>
							<th scope="col" class="align-middle th-date">Date de fin</th>
							<th scope="col" class="align-middle th-w-140">Motif de fin</th>
							<th scope="col" class="align-middle th-w-140">Situation à la fin</th>
							<th scope="col" class="align-middle th-w-100">Commentaire situation à la fin</th>
							<th scope="col" class="align-middle th-w-20"></th>
						</tr>
					</thead>

					<tbody>
						{% for form_support_pers in form.supportPeople.children %}
							{% set support_person = form_support_pers.vars.value %}
							<tr data-support-person="{{ support_person.id }}">
								<td class="px-1 align-middle">
									<div class="custom-control custom-radio custom-radio-{{ theme_color }} ps-3">
										{{ form_widget(form_support_pers.head, {attr: {class: 'custom-control-input checkbox'}}) }}
									</div>
								</td>										
								<td class="px-2 align-middle w-min-150">{{ support_person.person.fullname }}</td>
								<td class="px-1">{{ form_widget(form_support_pers.role, {
									attr: {class: 'form-control-sm w-min-150'}}) }}
								</td>
								<td class="px-1">{{ form_widget(form_support_pers.startDate, {
									attr: {class: 'form-control-sm w-max-165'}}) }}
								</td>
								<td class="px-1">{{ form_widget(form_support_pers.endDate, {
									attr: {class: 'form-control-sm w-max-165'}}) }}
								</td>
								<td class="px-1">{{ form_widget(form_support_pers.endReason, {
									attr: {class: 'form-control-sm w-min-180'}}) }}
								</td>
								<td class="px-1">{{ form_widget(form_support_pers.endStatus, {
									attr: {class: 'form-control-sm w-min-180'}}) }}
								</td>
								<td class="px-1">{{ form_widget(form_support_pers.endStatusComment, {
									attr: {class: 'form-control-sm w-min-180'}}) }}
								</td>
								<th scope="row" class="px-1 align-middle">
									{% if support_person.head == false %}
										<button class="btn btn-danger btn-sm shadow" data-action="remove" data-url="{{ path('support_peron_delete', 
											{'id': support_person.id, '_token': csrf_token('remove' ~ support_person.id)}) }}" 
											data-bs-toggle="modal" data-bs-target="#modal-block" data-bs-toggle="tooltip" data-bs-placement="bottom" 
											title="Supprimer la personne du suivi">
											<span class="fas fa-user-times"></span>
										</button>
									{% endif %}
								</th>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-12">
			<div class="float-end">
				<button type="submit" id="send3" name="send3" class="btn btn-{{ theme_color }} shadow">
					<span class="fas fa-save me-2"></span>Mettre à jour</button>
			</div>
		</div>
	</div>
</section>

{% include 'app/support/_partials/_support_person_remove_modal.html.twig' %}