<section class="mb-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h5 mb-3">Orientation {{ support.service.preAdmission == YES ? '/ pré-admission' }}</h2>
        </div>
    </div>
    <div class="row">
        {% if support.service.place == YES %}
            <div class="col-md-6">{{ form_row(form.originRequest.infoToSiaoDate) }}</div>
        {% endif %}
        <div class="col-md-6">{{ form_row(form.originRequest.orientationDate) }}</div>
        <div class="col-md-6">{{ form_row(form.originRequest.organization) }}</div>
        <div class="col-md-6" data-parent-field="support_originRequest_organization" 
            data-options="*">{{ form_row(form.originRequest.organizationComment) }}</div>
    </div>
    {% if support.service.preAdmission == YES %}
        <div class="row" data-parent-field="support_originRequest_orientationDate">
            <div class="col-md-6">{{ form_row(form.originRequest.preAdmissionDate) }}</div>
            <div class="col-md-6">{{ form_row(form.originRequest.resulPreAdmission) }}</div>
            <div class="col-md-6">{{ form_row(form.originRequest.decisionDate) }}</div>
            <div class="col-md-12">{{ form_label(form.originRequest.comment) }}
                {{ form_widget(form.originRequest.comment) }}</div>
        </div>
    {% endif %}
</section>
<section class="{% if support.device and support.device.place == YES %}d-none{% endif %}">
<hr>
    <div class="row mb-3" id="support_location">
        <div class="col-md-12"><h2 class="h5 mb-3">Adresse du suivi</h2></div>
        <div class="col-md-6">{{ form_row(form.location._search) }}</div>
        <div class="col-md-6">{{ form_row(form.location.address) }}</div>
        <div class="col-md-6">{{ form_row(form.location.zipcode) }}</div>
        <div class="col-md-6">{{ form_row(form.location.city) }}</div>
        <div class="col-md-6">{{ form_row(form.location.commentLocation) }}</div>
        {{ form_row(form.location.locationId) }}
        {{ form_row(form.location.lat) }}
        {{ form_row(form.location.lon) }}
    </div>
</section>
<hr>
<section class="mb-3">
    <div class="row">
        <div class="col-md-12"><h2 class="h5 mb-3">Accompagnement</h2></div>
        <div class="col-md-6">{{ form_row(form.status) }}</div>
        <div class="col-md-6" data-check-valid="startDate">{{ form_row(form.startDate) }}</div>
    </div>
    {% if null == support.id and support.device and support.device.place == YES %}
        <div class="row">
            <div class="col-md-6" data-parent-field="support_startDate"
                data-check-valid="startDate">{{ form_row(form._place) }}</div>
        </div>
    {% endif %}
    <div class="row" data-parent-field="support_startDate">
        <div class="col-md-6" >{{ form_row(form.theoreticalEndDate) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6" data-check-valid="endDate">{{ form_row(form.endDate) }}</div>
        <div class="col-md-6" data-parent-field="support_endDate" data-check-valid="endDate">
            {{ form_row(form.endReason) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6" data-parent-field="support_startDate">{{ form_row(form.endStatus) }}</div>
        <div class="col-md-6" data-parent-field="support_endStatus" data-options="*">
            {{ form_row(form.endStatusComment) }}</div>
    </div>
    <div class="row" id="support_end_location" data-parent-field="support_endStatus" data-options="*">
        <div class="col-md-6">{{ form_row(form._endLocationSearch) }}</div>
        <div class="col-md-6">{{ form_row(form.endLocationAddress) }}</div>
        <div class="col-md-6">{{ form_row(form.endLocationCity) }}</div>
        <div class="col-md-6">{{ form_row(form.endLocationZipcode) }}</div>
    </div>
    <div class="row" data-parent-field="support_endDate">
        {% if support.id and support.device and support.device.place == YES %}
            <div class="col-md-6">
                <div class="form-check form-check-{{ theme_color }} ps-2">
                    {{ form_row(form.endPlace) }}
                </div>
            </div>
        {% endif %}
    </div>
</section>
<div class="row mb-3">
    <div class="col-md-12">{{ form_widget(form.comment) }}</div>
</div>