<div id="modal_rdv" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="modal_rdv_label" aria-hidden="true"
    data-confirm-before-close="{{ 'confirm_before_to_close_msg'|trans({}, 'forms') }}"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-block d-md-flex pb-2">
                <div class="col-12 col-lg-6">
                    <h2 class="h3"></h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="text-end">
                        <small class="text-secondary" data-rdv="info"></small>
                    </div>
                </div>
            </div>
            {{ form_start(form_rdv) }}
            <div class="modal-body pb-0">
                <div class="row mb-3">
                    <div class="col-12" id="modal_rdv_label">
                        {{ form_label(form_rdv.title, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_rdv.title, {attr: {
                            'data-default-value': support is defined ? support.header.fullname : false
                        }}) }}
                     </div>
                </div>
                <div class="form-inline justify-content-md-right mb-2">
                    <div class="col-auto my-1 pe-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <span class="input-group-text" title="Date" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="far fa-calendar text-black-50"></i>
                            </span>
                            <label class="visually-hidden required" for="date">Date</label>
                            <input type="date" id="date" name="date" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto my-1 pe-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <span class="input-group-text" title="Heure de début" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"><i class="far fa-clock text-black-50"></i>
                            </span>
                            <label class="visually-hidden required" for="start">Début</label>
                            <input type="time" id="start" name="start" required="required" class="form-control">
                        </div>
                        <div class="mx-1 pt-2">
                            <span>–</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" title="Heure de fin" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"><i class="far fa-clock text-black-50"></i>
                            </span>
                            <label class="visually-hidden required" for="end">Fin</label>
                            <input type="time" id="end" name="end" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="col-auto my-1 pe-1 pl-0 d-inline-flex">
                        {{ form_label(form_rdv.status, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_rdv.status) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-lg-6 d-none">
                        {{ form_label(form_rdv.start, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_rdv.start) }}
                    </div>
                    <div class="col-12 col-lg-6 d-none">
                        {{ form_label(form_rdv.end, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_rdv.end) }}
                    </div>
                    <div class="col-12 position-relative">
                        <div class="input-group" data-location-search="address" data-location-search-create="true"
                            data-location-lat="{{ support is defined ? support.service.lat }}"
                            data-location-lon="{{ support is defined ? support.service.lon }}"
                        >
                            <span class="input-group-text" title="Localisation" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"><i class="fas fa-map-marker-alt text-black-50"></i>
                            </span>
                            {{ form_label(form_rdv.location, null, {label_attr: {class: 'visually-hidden'}}) }}
                            {{ form_widget(form_rdv.location, {attr: {'data-location-type': 'search'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        {{ form_label(form_rdv.tags, null, {label_attr: {class: 'visually-hidden'}}) }}
                        <div class="input-group">
                            <span class="input-group-text" title="Étiquettes" data-bs-toggle="tooltip"
                                data-bs-placement="bottom"><i class="fas fa-tag text-black-50"></i>
                            </span>
                            {{ form_widget(form_rdv.tags) }}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_label(form_rdv.users, null, {label_attr: {class: 'col-12 col-sm-12'}}) }}
                        {{ form_widget(form_rdv.users, {attr: {'data-default-value': app.user.id}}) }}
                        {{ form_errors(form_rdv.users) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form_rdv.supportGroup, null, {label_attr: {class: 'col-12 col-sm-12'}}) }}
                        {{ form_widget(form_rdv.supportGroup, {attr: {
                            'disabled': support is defined,
                            'data-disabled-if-value': 'true',
                            'data-default-value': support is defined ? support.id : false, 
                            'data-choice-label': 'supportGroup_header_fullname',
                        }}) }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        {{ form_label(form_rdv.content, null, {label_attr: {class: 'visually-hidden'}}) }}
                        {{ form_widget(form_rdv.content) }}
                    </div>
                </div>

                {{ include('model/_alerts.html.twig', {form_alerts: form_rdv.alerts}) }}

                <hr>

                <div class="row mb-3">
                    <div class="col-md-6 form-check">
                        <div class="col-md-12">
                            {{ form_label(form_rdv.googleCalendar, null, {label_attr: {class: 'visually-hidden'}}) }}
                            {{ form_widget(form_rdv.googleCalendar, {attr: {'data-api-name': 'google'} }) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-check">
                        <div class="col-md-12">
                            {{ form_label(form_rdv.outlookCalendar, null, {label_attr: {class: 'visually-hidden'}}) }}
                            {{ form_widget(form_rdv.outlookCalendar, {attr: {'data-api-name': 'outlook'} }) }}
                        </div>
                    </div>
                </div>

                {{ form_row(form_rdv._token) }}
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="float-start">
                    <button class="btn btn-danger me-3" data-action="delete"
                        title="Supprimer le rendez-vous" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-trash-alt"></i><span class="d-md-inline ms-2">Supprimer</span>
                    </button>
                </div>
                <div class="float-end">
                    <button type="button" class="btn btn-secondary" data-action="close_modal" 
                        data-bs-dismiss="modal">Fermer
                    </button>
                    <button name="save_rdv" type="button" class="btn btn-primary shadow" data-action="save">
                        <i class="fas fa-save me-2"></i>Enregistrer
                    </button>
                </div>
            </div>

            {{ form_end(form_rdv, {'render_rest': false}) }}

        </div>
    </div>
</div>
