<div class="table-responsive">
    <table id="table_rdvs" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
            <tr>
                <th scope="col" class="align-middle th-w-20"></th>
                <th scope="col" class="align-middle th-w-150">
                    {{ knp_pagination_sortable(rdvs, 'Titre du rendez-vous', 'r.title') }}
                </th>
                <th scope="col" class="align-middle th-date">
                    {{ knp_pagination_sortable(rdvs, 'Date', 'r.start') }}</th>
                <th scope="col" class="align-middle th-w-100">Rappel(s)</th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(rdvs, 'Statut', 'r.status') }}</th>
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(rdvs, 'Lieu', 'r.location') }}</th>
                <th scope="col" class="align-middle th-w-60">Étiquette(s)</th>
                <th scope="col" class="align-middle th-w-120">Intervenant·e·s</th>
                {% if rdv_index %}
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(rdvs, 'Nom du suivi', 'p.lastname') }}
                    </th>
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(rdvs, 'Service', 's.name') }}
                    </th>
                {% endif %}
                {% if restoration_mode %}
                    <th scope="col" class="align-middle th-w-80">
                        {{ knp_pagination_sortable(rdvs, 'Supprimé le', 'r.deletedAt') }}
                    </th>
                {% else %}
                    <th scope="col" class="align-middle th-w-80">
                        {{ knp_pagination_sortable(rdvs, 'Créé le', 'r.createdAt') }}
                    </th>
                {% endif %}
                {% if rdv_index %}
                    <th scope="col" class="align-middle th-w-80">
                        {{ knp_pagination_sortable(rdvs, 'Créé par', 'u2.lastname') }}
                    </th>
                {% endif %}
                <th scope="col" class="align-middle th-w-20"></th>
            </tr>
        </thead>
        <tbody id="container_rdvs" class="table-group-divider"
            data-prototype="{{ include('app/rdv/_rdv_tr_component.html.twig', {rdv: form_rdv.vars.value})|spaceless|e }}"
            data-container-tag="tr"
            data-path-create="{{ support is defined ? path('support_rdv_create', {id: support.id}) : path('rdv_create') }}"
            data-path-show="{{ path('rdv_show', {id: '__id__'}) }}"
            data-path-edit="{{ path('rdv_edit', {id: '__id__'}) }}"
            data-path-delete="{{ path('rdv_delete', {id: '__id__'}) }}"
            data-path-restore="{{ path('rdv_restore', {id: '__id__'}) }}"
            data-path-show-support="{{ path('support_show', {id: '__id__'}) }}"
        >
            {% for rdv in rdvs %}
                {{ include('app/rdv/_rdv_tr_component.html.twig') }}
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="navigation">{{ knp_pagination_render(rdvs) }}</div>
