{% extends 'model/_search.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.title) }}</div>
    <div class="col-auto my-1 px-1 d-inline-flex" title="Date de début" data-toggle="tooltip" 
        data-placement="bottom"><span class="my-2 px-1">Entre</span>{{ form_widget(form.date.start) }}
    </div>
    <div class="col-auto my-1 px-1 d-inline-flex" title="Date de fin" data-toggle="tooltip" 
        data-placement="bottom"><span class="my-2 pr-1">et</span>{{ form_widget(form.date.end) }}
    </div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.status) }}</div>
    <div class="col-auto my-1 px-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" title="Étiquettes" data-toggle="tooltip" data-placement="bottom">
                    <i class="fas fa-tag text-black-50"></i>
                </div>
            </div>
            {{ form_widget(form.tags) }}
        </div>
    </div>
    <div class="col-auto my-1 px-1 d-inline-flex" title="Intervenant·e·s" 
        data-toggle="tooltip" data-placement="top">{{ form_widget(form.users) }}
    </div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.fullname) }}</div>

    {% include '_shared/_service_device_referent_search.html.twig' with {'referents' : false} %}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-auto my-1 px-1">{{ form_widget(form.id) }}</div>
    {% endif %}
{% endblock %}
