{% extends "base.html.twig" %}

{% block title %}Agenda
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	<section class="my-0">
		<div class="container">
			{% if support is defined %}
				{% set title = "Rendez-vous" %}
				{% include "app/support/navSuppport.html.twig" %}
			{% endif %}
			<div class="d-flex flex-row align-items-center justify-content-between mx-2">
				<div class="d-flex align-items-center mb-3">
					<h1 class="h2 mr-3">Agenda</h1>
					<button id="js-new-rdv" class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-toggle="modal" data-target="#modal-block" data-placement="bottom" title="Ajouter un rendez-vous">
						<span class="far fa-calendar-plus"></span>
					</button>
				</div>
				<h3 class="h4 text-secondary">{{ calendar.getMonthToString }}</h3>
				<div class="float-right">
					{% if support is defined %}
						<a href="{{ path('support_calendar', {'id': support.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois actuel">Aujourd'hui</a>
						<a href="{{ path('support_calendar_show', {'id': support.id, 'year': calendar.previousMonth.year, 'month': calendar.previousMonth.month}) }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois précédent">
							<i class="fas fa-angle-left"></i>
						</a>
						<a href="{{ path('support_calendar_show', {'id': support.id,'year': calendar.nextMonth.year, 'month': calendar.nextMonth.month}) }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois suivant">
							<i class="fas fa-angle-right"></i>
						</a>
					{% else %}
						<a href="{{ path('calendar') }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois actuel">Aujourd'hui</a>
						<a href="{{ path('calendar_show', {'year': calendar.previousMonth.year, 'month': calendar.previousMonth.month}) }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois précédent">
							<i class="fas fa-angle-left"></i>
						</a>
						<a href="{{ path('calendar_show', {'year': calendar.nextMonth.year, 'month': calendar.nextMonth.month}) }}" class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" data-placement="bottom" title="Mois suivant">
							<i class="fas fa-angle-right"></i>
						</a>
					{% endif %}
				</div>
			</div>

			{% set start_day = calendar.firstMonday %}

			<div class="calendar-table calendar-{{ calendar.weeks }}weeks">
				<div class="calendar-header text-secondary">
					<div class="calendar-week-number"></div>
					{% for day in calendar.daysList %}
						{% if loop.index0 < 5 %}
							<div class="calendar-header-col week-5days">{{ day }}</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="calendar-body">
					{% set week_number = start_day| date("W") - 1 %}
					{% for week in 0..(calendar.weeks - 1) %}
						{% if week_number >52 %}
							{% set week_number = 1 %}
						{% else %}
							{% set week_number = week_number + 1 %}
						{% endif %}
						<div class="calendar-week-row">
							<div class="calendar-week-number text-secondary">
								<div class="my-auto">{{ week_number }}</div>
							</div>
							{% for j in 0..6 %}
								{% if j < 5 %}
									{% set day = start_day |date_modify("+" ~ (j + week * 7) ~ " day") %}
									<div class="calendar-day-block week-5days {% if calendar.withinMonth(day) == false %}calendar-other-month{% endif %}
																																																																																																																																				                        {% if calendar.isToday(day) %}calendar-today{% endif %}" id="{{ day| date("Y-m-d") }}" data-toggle="modal" data-target="#modal-block" data-placement="bottom" title="Ajouter un rendez-vous">
										<div class="text-dark calendar-day">{{ day| date("d") }}
											{{ calendar.otherMonth(day) }}
										</div>
										{% if day| date("Y-m-d") in rdvs %}
											{% for rdv in rdvs[day| date("Y-m-d")] %}
												<a class="calendar-event bg-{{ theme_color }} text-light js-rdv" id="rdv-{{ rdv.id }}" data-toggle="modal" data-target="#modal-block" data-placement="bottom" title="Voir le rendez-vous">
													<span class="rdv-start">{{ rdv.start| date("H:i") }}</span>
													<span class="rdv-initiales">{{ rdv.createdBy.initials }}</span>
													<span class="rdv-title">{{ rdv.title }}</span>
												</a>
											{% endfor %}
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	{% include "app/rdv/modalRdv.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("rdv") }}
{% endblock javascripts %}
