{% extends "base.html.twig" %}

{% block title %}Agenda{% endblock %}

{% block body %}

    <section class="my-0">
        <div class="container pt-3">
            {% include "model/_msgFlash.html.twig" %}
            <div class="d-flex flex-row align-items-center justify-content-between mx-2">
                <div class="d-flex align-items-center mb-3">
                    <h1 class="h2 mr-3">Agenda</h1>
                    <button id="js-new-rdv" class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-toggle="modal"
                        data-target="#modal-rdv" data-toggle="tooltip" data-placement="bottom" title="Ajouter un rendez-vous"><span
                            class="far fa-calendar-plus"></span></button>
                </div>
                <h3 class="h4 text-secondary">Jour</h3>
                <div class="float-right">

                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                    {% for rdv in rdvs %}
                    <tr class="js-rdv" id="rdv-{{ rdv.id }}" data-toggle="modal" data-target="#modal-rdv">
                        <td>{{ rdv.start|date("d/m/Y") }} <span class="d-block">{{ rdv.start|date("H:i") }} -
                                {{ rdv.end|date("H:i") }}</span></td>
                        <td>{{ rdv.createdBy.fullname }}</td>
                        <td>{{ rdv.title }} {% if rdv.location %} ({{ rdv.location }}) {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>

{% include "app/rdv/_modalRdv.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("rdvs") }}
{% endblock javascripts %}