{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

<div id="modal-block" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalNote" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                {{ form_start(form) }}
                <div class="form-group row">
                    <div class="col-12">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-inline justify-content-md-right mb-2">
                    <div class="form-group col-auto my-1 pr-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Date">
                                    <i class=" far fa-calendar text-black-50"></i>
                                </div>
                            </div>
                            <label class="sr-only required" for="date">Date</label>
                            <input type="date" id="date" name="date" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-auto my-1 pr-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Heure de début">
                                    <i class=" far fa-clock text-black-50"></i>
                                </div>
                            </div>
                            <label class="sr-only required" for="start">Début</label>
                            <input type="time" id="start" name="start" required="required" class="form-control">
                        </div>
                        <div class="mx-1 py-2">
                            <span>–</span>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Heure de fin">
                                    <i class=" far fa-clock text-black-50"></i>
                                </div>
                            </div>
                            <label class="sr-only required" for="end">Fin</label>
                            <input type="time" id="end" name="end" required="required" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-lg-6 d-none">{{ form_row(form.start) }}</div>
                    <div class="col-12 col-lg-6 d-none">{{ form_row(form.end) }}</div>
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Localisation">
                                    <i class=" fas fa-map-marker-alt text-black-50"></i>
                                </div>
                            </div>{{ form_widget(form.location) }}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6"></div>
                    {#<div class="col-12 col-lg-6">{{ form_row(form.status) }}</div>#}
                </div>
                {# <div class="form-group row">
                    <div class="col-md-12">
                        <div id="toolbar-container" class="shadow-sm"></div>
                        <div id="editor" class="bg-white border shadow-sm"></div>
                    </div>
                </div> #}
                <div class="form-group row">
                    <div class="col-md-12">{{ form_widget(form.content) }}</div>
                </div>
                {{ form_row(form._token) }}
                <div class="form-group row">
                    <div class="col-4 col-lg-2 mb-2">Créé par :</div>
                    <div id="js-created-by" class="col-8 col-lg-4 font-weight-bold"></div>
                    <div class="col-4 col-lg-2 mb-2">Nom du suivi :</div>
                    <div id="js-support-fullname" class="col-8 col-lg-4 font-weight-bold"></div>
                </div>
            </div>
            <div class="modal-footer d-block">
                <div class="float-left d-flex">
                    <button id="modal-btn-delete" class="mr-3 btn btn-danger d-block" data-placement="bottom"
                        title="Supprimer le rendez-vous"><span class="fas fa-trash-alt"></span><span
                            class="sr-only">Supprimer</span></button>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
                {{ form_end(form, {"render_rest": false}) }}
            </div>
        </div>
    </div>
</div>