{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

    <div id="modal-rdv" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalRdvLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header d-block d-md-flex pb-2">
                <div class="col-12 col-lg-6">
                    <h2 class="h3" id="js-rdv-title"></h2>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="mb-0 text-right small text-secondary" id="js-rdv-info"></p>
                </div>
            </div>

            {{ form_start(form) }}

            <div class="modal-body pb-0">
                <div class="form-group row">
                    <div class="col-12" id="modalRdvLabel">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-inline justify-content-md-right mb-2">
                    <div class="form-group col-auto my-1 pr-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Date">
                                    <span class=" far fa-calendar text-black-50"></span>
                                </div>
                            </div>
                            <label class="sr-only required" for="date">Date</label>
                            <input type="date" id="date" name="date" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-auto my-1 pr-1 pl-0 d-inline-flex">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Heure de début">
                                    <span class=" far fa-clock text-black-50"></span>
                                </div>
                            </div>
                            <label class="sr-only required" for="start">Début</label>
                            <input type="time" id="start" name="start" required="required" class="form-control">
                        </div>
                        <div class="mx-1 py-2">
                            <span>–</span>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Heure de fin">
                                    <span class=" far fa-clock text-black-50"></span>
                                </div>
                            </div>
                            <label class="sr-only required" for="end">Fin</label>
                            <input type="time" id="end" name="end" required="required" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-lg-6 d-none">{{ form_row(form.start) }}</div>
                    <div class="col-12 col-lg-6 d-none">{{ form_row(form.end) }}</div>
                    <div class="col-12">
                        <div class="input-group" id="rdv_search_location">
                            <div class="input-group-prepend">
                                <div class="input-group-text" data-toggle="tooltip" data-placement="bottom"
                                    title="Localisation">
                                    <span class=" fas fa-map-marker-alt text-black-50"></span>
                                </div>
                            </div>{{ form_widget(form.location) }}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6"></div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-lg-6">{{ form_widget(form.status) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">{{ form_widget(form.content) }}</div>
                </div>
                {{ form_row(form._token) }}
            </div>

            <div class="modal-footer d-flex justify-content-between">
                <div class="float-left">
                    <button id="modal-btn-delete" class="mr-3 btn btn-danger" data-placement="bottom"
                        title="Supprimer le rendez-vous"><span class="fas fa-trash-alt"></span><span class="d-none d-md-inline ml-2">Supprimer</span></button>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
            </div>

            {{ form_end(form, {"render_rest": false}) }}

        </div>
    </div>
</div>