{% extends 'base.html.twig' %}

{% set title = 'Rendez-vous' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <section class="mt-0">

        <div class="container-fluid mt-4">
            <h1 class="h2 mb-3"><a class="fas fa-calendar-alt mr-2 text-{{ theme_color }}" 
                href="{{ path('calendar') }}" title="Passer en vue agenda"></a>{{ title }}</h1>
            {% include 'model/_msgFlash.html.twig' %}
        </div>

        {% include 'app/rdv/_rdv_search_form.html.twig' %}

        <div class="container-fluid mt-4">
            {% include 'app/rdv/_rdv_table.html.twig' %}
        </div>
    </section>

    {% include 'app/rdv/_rdv_form_modal.html.twig' %}
    {% include 'app/rdv/_rdv_update_api_modal.html.twig' with {modal_id: 'modal-update'} %}
    {% include 'app/rdv/_rdv_delete_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('rdv') }}
{% endblock javascripts %}
