{% extends 'base.html.twig' %}

{% set support_is_not_defined = support is not defined %}
{% set restoration_mode = null %}
{% set title = 'Rendez-vous' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="mt-0">

        <div class="container-fluid mt-4">
            <h1 class="h2 mb-3"><a class="fas fa-calendar-alt me-2 link-primary" 
                href="{{ path('calendar') }}" title="Passer en vue agenda"></a>{{ title }}</h1>
        </div>

        {% include 'app/rdv/_rdv_search_form.html.twig' %}

        <div class="container-fluid mt-4">
            <div class="row mb-2">
                <div class="col-md-6 mb-2">
                    <a href="{{ support_is_not_defined ? path('calendar_show') : path('support_calendar_show', {'id': support.id}) }}"
                    class="btn btn-primary shadow me-1"
                    title="Passer en vue agenda" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="far fa-calendar-alt"></i>
                        <span class="d-none d-lg-inline ms-1">Vue calendrier</span>
                    </a>
                    {% if not restoration_mode %}
                        <button class="btn btn-primary shadow me-2" title="Créer un nouveau rendez-vous" 
                            data-bs-toggle="modal" data-bs-placement="bottom" data-bs-target="#modal-rdv"
                            data-action="add-rdv" data-url="{{ path('rdv_create') }}">
                            <i class="fas fa-plus-square"></i>
                            <span class="d-none d-lg-inline ms-1">Nouveau RDV</span>
                        </button>
                        {% else %}
                            <a href="{{ app.request.pathInfo }}" class="btn btn-primary btn-sm shadow me-2" 
                                id="return_index"><i class="fa-solid fa-arrow-rotate-left me-2"></i>Retour
                            </a>
                        {% endif %}
                    <span class="align-middle">Résultat :
                    <span id="count-rdvs" data-count-rdvs="{{ rdvs.getTotalItemCount|number }}">
                        {{ rdvs.getTotalItemCount|number }}</span>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="navigation">{{ knp_pagination_render(rdvs) }}</div>
                </div>
            </div>            
        
            {% include 'app/rdv/_rdv_table.html.twig' %}
        </div>
    </section>

    {% include 'app/rdv/_rdv_form_modal.html.twig' %}
    {% include 'app/rdv/_rdv_update_api_modal.html.twig' with {modal_id: 'modal-update'} %}
    {% include 'app/rdv/_rdv_delete_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('rdv') }}
{% endblock javascripts %}
