{% extends "base.html.twig" %}

{% form_theme form_search "bootstrap_4_layout.html.twig" %}

{% block title %}Rendez-vous | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

	{% set title = "Rendez-vous" %}
	{% include "app/support/navSuppport.html.twig" %}

	<div class="row">
		<div class="d-flex col-md-6 mb-1 align-items-center">
            <a class="h3 fas fa-calendar-alt mr-2 mb-0 text-{{ theme_color }}" href="{{ path('support_calendar_show', {'id':support.id}) }}" title="Passer en vue agenda"></a>
			<a id="js-new-rdv" class="btn btn-{{ theme_color }} btn-sm shadow mr-2" href="{{ path('support_calendar_show', {'id':support.id}) }}" data-placement="bottom" title="Ajouter un rdv">
				<span class="fas fa-plus-square mr-2"></span>Nouveau RDV</a>
			<div class="d-inline align-middle">Total :
				<span id="count-rdvs">{{ rdvs.getTotalItemCount|number_format(0,'', ' ')}}</span>
				rdv{% if rdvs.getTotalItemCount > 1 %}s{% endif %}.
			</div>
		</div>
		<div class="col-md-6">
			<div class="navigation">{{ knp_pagination_render(rdvs) }}</div>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-md-12">
			<div class="accordion" id="accordionSearch">
				<div id="form-search">
					<div role="button" class="collapsed cursor-pointer d-block d-sm-none" id="headingSearch" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
						<h2 class="h5">Recherche<span class="float-right"><span class="fa fa-chevron-down"></span></span></h2>
					</div>
					<div id="collapseSearch" class="collapse show float-right" aria-labelledby="headingSearch" data-parent="#accordionSearch">
						{{ form_start(form_search) }}
						<div class="form-inline justify-content-md-center align-items-end">
							{% if rdvs.getTotalItemCount %}
							<div class="form-group col-auto my-1 px-1">
								<span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
									{{ knp_pagination_sortable(rdvs, "Titre", "r.title") }}
								</span>
								<span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
									{{ knp_pagination_sortable(rdvs, "Date de début", "r.startDate") }}
								</span>
								<span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
									{{ knp_pagination_sortable(rdvs, "Date de fin", "r.endDate") }}
								</span>
							</div>
							{% endif %}
							<div class="form-group col-auto my-1 px-1">{{ form_row(form_search.title) }}</div>
							<div class="form-group col-auto my-1 px-1">{{ form_row(form_search.date.start) }}</div>
							<div class="form-group col-auto my-1 px-1">{{ form_row(form_search.date.end) }}</div>
							<div class="form-group col-auto my-1 px-1">
								<div class="form-group">
									<button type="submit" id="search" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Rechercher">
										<span class="fas fa-search"></span><span class="sr-only">Rechercher</span>
									</button>
									<button type="reset" class="btn btn-secondary ml-2 shadow" data-placement="bottom" title="Effacer">
										<span class="fas fa-eraser"></span><span class="sr-only">Effacer</span>
									</button>
								</div>
							</div>
						</div>
						{{ form_end(form_search, {"render_rest": false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="row mb-4">
        <div class="table-responsive">
            <table id="table-rdvs" class="table table-striped table-hover text-dark">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(rdvs, "Titre RDV", "r.title") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(rdvs, "Date", "r.start") }}</th>
                        <th scope="col" class="align-middle th-w-150">{{ knp_pagination_sortable(rdvs, "Contenu", "r.content") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(rdvs, "Lieu", "r.location") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rdv in rdvs %}
                    <tr id="rdv-{{ rdv.id }}">
                        <th scope="row"></th>
                        <td class="align-middle">{{ rdv.title }}</td>
                        <td class="align-middle">{{ rdv.start| date("d/m/Y") }}<br/>{{ rdv.start| date("H:i") }} – {{ rdv.end| date("H:i") }}</td>
                        <td class="align-middle">{{ rdv.content }}</td>
                        <td class="align-middle">{{ rdv.location }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <div class="navigation">{{ knp_pagination_render(rdvs) }}</div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}