{% extends 'base.html.twig' %}

{% set support_is_not_defined = support is not defined %}
{% set restoration_mode = form_search.deleted.deleted.vars.checked and is_granted('ROLE_SUPER_ADMIN') %}
{% set title = 'Rendez-vous' ~ (restoration_mode ? ' (Corbeille)') %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'app/support/_partials/_support_nav.html.twig' %}

        <div class="row mb-2">
            <div class="col-sm-4 count align-middle">
                <a href="{{ support_is_not_defined ? path('calendar_show') : path('support_calendar_show', {'id': support.id}) }}"
                class="btn btn-primary shadow me-1"
                title="Passer en vue agenda" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i class="far fa-calendar-alt"></i></a>
                {% if not restoration_mode %}
                    <button class="btn btn-primary shadow my-1 me-2"
                        title="Ajouter un rdv" data-bs-toggle="modal" data-bs-placement="bottom" data-bs-target="#modal-rdv"
                        data-action="add-rdv" data-url="{{ path('rdv_create') }}">
                        <i class="fas fa-plus-square me-2"></i>Nouveau RDV
                    </button>
                    {% else %}
                        <a href="{{ app.request.pathInfo }}" class="btn btn-primary btn-sm shadow me-2" 
                            id="return_index"><i class="fa-solid fa-arrow-rotate-left me-2"></i>Retour
                        </a>
                    {% endif %}
                <span class="align-middle">Total :
                    <span id="count-rdvs" data-count-rdvs="{{ rdvs.getTotalItemCount|number }}">
                        {{ rdvs.getTotalItemCount|number }}</span> rdv{% if rdvs.getTotalItemCount > 1 %}s{% endif %}.
                </span>
            </div>
            <div class="col-sm-8">
                <div class="navigation">{{ knp_pagination_render(rdvs) }}</div>
            </div>
        </div>

        {% include 'app/rdv/_support_rdv_search_form.html.twig' %}

        {% include 'app/rdv/_rdv_table.html.twig' %}
    </div>

    {% include 'app/rdv/_rdv_form_modal.html.twig' %}
    {% include 'app/rdv/_rdv_update_api_modal.html.twig' with {modal_id: 'modal-update'} %}
    {% include 'app/rdv/_rdv_delete_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('rdv') }}
{% endblock javascripts %}
