{% extends "base.html.twig" %}

{% set title = "Répartition des suivis en cours" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if datas %} 
        {% set devices = datas.devices %}
        {% set datasUsers = datas.datasUsers %}
        {% set nbSupports = datas.nbSupports %}
        {% set sumCoeffSupports = datas.sumCoeffSupports %}
    {% endif %}

    <div class="container{{ datas and devices|length > 8 ? '-fluid mt-4' }}">

        <h1 class="h2 mb-3">{{ title }}</h1>
        <p>Nombre de suivis en cours par travailleur social en fonction du dispositif d'accompagnement.</p>

    </div>

    {% include "app/admin/dashboard/_searchSupportsByUser.html.twig" %}

    <div class="container{{ datas and devices|length > 8 ? '-fluid mt-4' }}">
    {% if datas %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped table-hover text-dark shadow">
                        <thead>
                            <tr>
                                <th scope="row" class="align-middle th-w-20"></th>
                                <th class="align-middle th-w-150">Travailleur/euse social·e</th>
                                <th class="align-middle th-w-100 text-right">Total</th>
                                {% for device in devices %}
                                    <th class="align-middle th-w-80 text-right">{{ device.name }}</th>
                                {% endfor %}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <th scope="row" class="align-middle th-w-20"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for datasUser in datasUsers %}
                                {% if datasUser.nbSupports > 0 %}
                                    <tr>
                                        <td scope="row" class="align-middle text-center">
                                            <a href="{{ path('supports', {'status':[2], 'service':{'referents':[datasUser.user.id]}, 'head': true}) }}" 
                                                class="btn btn-{{ theme_color }} btn-sm shadow" 
                                                data-placement="bottom" title="Voir les suivis du travailleur social"><!--
                                                --><span class="fas fa-eye fa-sm"></span>
                                            </a>
                                        </td>
                                        <td class="align-middle">{{ datasUser.user.fullname }}</td>
                                        <td class="align-middle text-right">{{ datasUser.nbSupports }}{% apply spaceless %}
                                            {% if datasUser.nbTheoreticalSupports > 0 %}
                                                <span class="text-secondary small"> /{{ datasUser.nbTheoreticalSupports }}</span>
                                            {% endif %}
                                            {% if datasUser.nbSupports != datasUser.sumCoeff %}
                                                <br/><span class="text-{{ theme_color }}"> ({{ datasUser.sumCoeff }})</span>
                                            {% endif %}
                                            {% endapply %}
                                        </td>
                                        {% for deviceKey, device in datasUser.devices %}
                                            {% if deviceKey in devices|keys %}
                                                <td class="align-middle text-right">{% apply spaceless %}
                                                    {% if device.nbSupports > 0 %}{{ device.nbSupports }}{% endif %}
                                                    {% if device.nbTheoreticalSupports > 0 %}
                                                        <span class="text-secondary small"> /{{ device.nbTheoreticalSupports }}</span>
                                                    {% endif %}
                                                    {% if device.nbSupports != device.sumCoeff %}
                                                        <br/><span class="text-{{ theme_color }}"> ({{ device.sumCoeff }})</span>
                                                    {% endif %}
                                                    {% endapply %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <td scope="row" class="align-middle text-center">
                                                <a href="{{ path('security_user', {'id':datasUser.user.id}) }}#supports-by-device" class="btn btn-{{ theme_color }} btn-sm shadow" 
                                                    data-toggle="tooltip" data-placement="bottom" title="Modifier la répartition des suivis théoriques par dispositif"><span class="fas fa-edit"></span>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        {% if is_granted("ROLE_ADMIN") %}
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row" colspan="2" class="align-middle text-right">Total</td>
                                    <td class="align-middle text-right">{{ nbSupports }}
                                        {% if nbSupports != sumCoeffSupports %}
                                            <br/><span class="text-{{ theme_color }}"> ({{ sumCoeffSupports }})</span>
                                        {% endif %}
                                        {% for device in devices %}
                                            <td class="align-middle text-right">{{ device.nbSupports }}
                                        {% if device.nbTheoreticalSupports > 0 %}
                                            <span class="small"> /{{ device.nbTheoreticalSupports }}</span>
                                        {% endif %}
                                            {% if device.nbSupports != device.sumCoeff %}
                                                <br/><span class="text-{{ theme_color }}"> ({{ device.sumCoeff }})</span>
                                            {% endif %}
                                            </td>
                                        {% endfor %}
                                </tr>
                                {% if datasUsers|length > 0 %} 
                                    <tr class="font-weight-bold">
                                        <td scope="row" colspan="2" class="align-middle text-right">Moyenne</td>
                                        <td class="align-middle text-right">{{ (nbSupports / datasUsers|length)|round(1) }}
                                            {% if nbSupports != sumCoeffSupports %}
                                                <br/><span class="text-{{ theme_color }}"> ({{ (sumCoeffSupports / datasUsers|length)|round(1) }})</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        {% if nbSupports != sumCoeffSupports %}
            <div class="row">
                <div class="col-md-12">
                    {% apply spaceless %}
                        <p class="small text-secondary justify"><span class="font-weight-bold">Note de lecture : </span>
                        le nombre entre parenthèses correspond à la valeur attribuée à la somme des suivis après application du coefficient.
                        Exemple : 10 (15) = 10 suivis réels, soit 15 suivis après pondération (coefficient de 1,5 par suivi).</p>
                    {% endapply %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <p>Veuillez effectuer une recherche pour afficher les résultats.</p>
    {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("search") }}
{% endblock javascripts %}