<div class="table-responsive">
    <table id="table_notes" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
            <tr>
                <th scope="col" class="align-middle th-w-80"></th>
                <th scope="col" class="align-middle th-w-auto">
                    {{ knp_pagination_sortable(notes, 'Note', 'n.title') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(notes, 'Type', 'n.type') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(notes, 'Statut', 'n.status') }}
                    </th>
                <th scope="col" class="align-middle th-w-120">Étiquette(s)</th>
                {% if support is not defined %}
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(notes, 'Nom du suivi', 'p.lastname') }}
                    </th>
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(notes, 'Service', 's.name') }}
                    </th>
                {% endif %}
                {% if restoration_mode %}
                    <th scope="col" class="align-middle th-date">
                        {{ knp_pagination_sortable(notes, 'Supprimée le', 'n.deletedAt') }}
                    </th>
                {% else %}
                    <th scope="col" class="align-middle th-date">
                        {{ knp_pagination_sortable(notes, 'Créée le', 'n.createdAt') }}
                    </th>
                {% endif %}
                {% if support is not defined %}
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(notes, 'Créée par', 'u.lastname') }}
                    </th>
                    <th scope="col" class="align-middle th-date th-w-120">
                        {{ knp_pagination_sortable(notes, 'Modifiée le', 'n.updatedAt') }}
                    </th>
                    <th scope="col" class="align-middle th-w-120">
                        {{ knp_pagination_sortable(notes, 'Modifiée par', 'u2.lastname') }}
                    </th>
                {% endif %}
                {% if not restoration_mode %}
                    <th scope="col" class="align-middle th-w-80">Export</th>
                {% endif %}
                <th scope="col" class="align-middle th-w-80"></th>
            </tr>
        </thead>
        <tbody id="container_notes" class="table-group-divider"
            {% if support is defined %}
                data-prototype="{{ include('app/note/_note_tr_component.html.twig', {note: form.vars.value})|e }}"
                data-container-tag="tr"
            {% endif %}
            data-path-create="{{ support is defined ? path('support_note_create', {id: support.id}) }}"
            data-path-show="{{ path('note_show', {id: '__id__'}) }}"
            data-path-edit="{{ path('note_edit', {id: '__id__'}) }}"
            data-path-delete="{{ path('note_delete', {id: '__id__'}) }}"
            data-path-restore="{{ path('note_restore', {id: '__id__'}) }}"
            data-path-export-word="{{ path('note_export_word', {id: '__id__'}) }}"
            data-path-export-pdf="{{ path('note_export_pdf', {id: '__id__'}) }}"
        >
            {% for note in notes %}
                {{ include('app/note/_note_tr_component.html.twig') }}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="navigation">{{ knp_pagination_render(notes) }}</div>