<div class="row">
    <div class="col-md-7 mb-2">
        {% if notes.getTotalItemCount %}
            <span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                {{ knp_pagination_sortable(notes, 'Titre', 'n.title') }}
            </span>
            <span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                {{ knp_pagination_sortable(notes, 'Date de création', 'n.createdAt') }}
            </span>
            <span class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                {{ knp_pagination_sortable(notes, 'Date de mise à jour', 'n.updatedAt') }}
            </span>
        {% endif %}
    </div>
    <div class="col-md-5">
        <div class="navigation">{{ knp_pagination_render(notes) }}</div>
    </div>
</div>

<div id="container-notes" class="row" data-support="{{ support.id }}">
    {% for note in notes %}
        {% set isDeleted = note.deletedAt is not null %}
        {% set tooltipCard = isDeleted ? '' : 'title="Voir la note" data-toggle="tooltip" data-placement="bottom"' %}

        <div class="col-sm-12 col-lg-6 mb-4 reveal" data-show-url="{{ path('note_show', {'id': note.id}) }}" data-note-id="{{ note.id }}" data-note-deleted="{{ isDeleted }}">
            <div class="card h-100 shadow">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="card-title h5 text-{{ theme_color }} {{ isDeleted ? '' : 'cursor-pointer' }}" {{ tooltipCard }}>{{ note.title }}</h3>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            {% if isDeleted %}
                                {% include 'model/button/_restore_button.html.twig' with {path_route: path('note_restore', {'id': note.id}),} %}
                            {% endif %}
                        </div>
                    </div>

                    <span data-note-type={{ note.type }}>{{ note.typeToString }}</span>
                    (<span data-note-status={{ note.status }}>{{ note.statusToString }}</span>)
                    <span class="small text-secondary" data-note-created="true">
                        | Créé le {{ note.createdAt|date('d/m/Y à H:i') }} par {{ note.createdBy.fullname }}
                    </span>
                    <span class="small text-secondary" data-note-updated="true">
                        {% if note.updatedAt != note.createdAt and note.updatedBy %}
                            (modifié le {{ note.updatedAt|date('d/m/Y à H:i') }} par {{ note.updatedBy.fullname }})
                        {% endif %}
                    </span>

                    <div class="mt-2 tags-list">
                        {% for tag in note.tags %}
                            <span class="badge bg-{{ tag.color }} text-light"
                                data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
                        {% endfor %}
                    </div>

                </div>
                <div class="card-body note-content {{ isDeleted ? '' : 'cursor-pointer' }}" {{ tooltipCard }}>
                    <div class="card-text">{{ note.content|raw }}</div>
                    <span class="note-fadeout"></span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12 sr-only">
            <p>Aucune note.</p>
        </div>
    {% endfor %}
</div>

<div class="navigation">{{ knp_pagination_render(notes) }}</div>
