<div class="table-responsive" id="container-notes" data-support="{{ support is defined ? support.id : '' }}">
    <table id="table-notes" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
        <tr>
            <th scope="col" class="align-middle th-w-80" data-get-url="show" data-show-url="{{ path('note_edit', {'id': '__id__'}) }}"></th>

            {% if restore_is_clicked is not defined or not restore_is_clicked %}
                <th scope="col" class="align-middle th-w-80"
                    data-word-url="{{ path('note_export_word', {'id': '__id__'}) }}"
                    data-pdf-url="{{ path('note_export_pdf', {'id': '__id__'}) }}"></th>
            {% endif %}

            <th scope="col" class="align-middle th-w-auto">
                {{ knp_pagination_sortable(notes, 'Nom de la note', 'n.title') }}</th>
            <th scope="col" class="align-middle th-w-80">
                {{ knp_pagination_sortable(notes, 'Type', 'n.type') }}</th>
            <th scope="col" class="align-middle th-w-80">
                {{ knp_pagination_sortable(notes, 'Statut', 'n.status') }}</th>
            <th scope="col" class="align-middle th-w-120">Étiquette(s)</th>

            {% if support is not defined %}
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(notes, 'Nom du suivi', 'p.lastname') }}</th>
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(notes, 'Service', 's.name') }}</th>
            {% endif %}

            {% if restore_is_clicked is defined and restore_is_clicked %}
                <th scope="col" class="align-middle th-date">
                    {{ knp_pagination_sortable(notes, 'Supprimée le', 'n.deletedAt') }}</th>
            {% else %}
                <th scope="col" class="align-middle th-date">
                    {{ knp_pagination_sortable(notes, 'Créée le', 'n.createdAt') }}</th>
            {% endif %}

            {% if support is not defined %}
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(notes, 'Créée par', 'u.lastname') }}</th>
                <th scope="col" class="align-middle th-date th-w-120">
                    {{ knp_pagination_sortable(notes, 'Modifiée le', 'n.updatedAt') }}</th>
                <th scope="col" class="align-middle">
                    {{ knp_pagination_sortable(notes, 'Modifiée par', 'u2.lastname') }}</th>
            {% endif %}

            {% if restore_is_clicked is defined %}
                <th scope="col" class="align-middle th-w-80" data-get-url="action"
                    data-delete-url="{{ path('note_delete', {'id': '__id__'}) }}"></th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            {% set isSoftDeletable = note.deletedAt is not null %}
            <tr id="note-{{ note.id }}">
                <td class="align-middle text-center">
                    {% include 'model/button/_show_button.html.twig' with {
                        'path_route': path('note_show', {'id': note.id}),
                        'disabled': isSoftDeletable,
                        'show_title': 'Voir la note'
                    } %}
                </td>

                {% if not isSoftDeletable %}
                    <td class="align-middle text-center p-1">
                        <a href="{{ path('note_export_word', {'id': note.id}) }}"
                            class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" title="Exporter la note au format Word"
                            data-toggle="tooltip" data-placement="bottom"><i class="fas fa-file-word bg-primary fa-lg"></i>
                            <span class="sr-only">Word</span>
                        </a><br/>
                        <a href="{{ path('note_export_pdf', {'id': note.id}) }}"
                            class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" title="Exporter la note au format PDF"
                            data-toggle="tooltip" data-placement="bottom"><i class="fas fa-file-pdf bg-danger fa-lg"></i>
                            <span class="sr-only">PDF</span>
                        </a><br/>
                    </td>
                {% endif %}

                <td class="align-middle justify" data-cell="title-content" data-title="{{ note.title }}" data-content="{{ note.content }}">
                    {% if note.title %}<span class="font-weight-bold">{{ note.title }} : </span>{% endif %}
                    {{ note.content|u.truncate(200, ' [...]', false)|striptags|raw }}
                </td>
                <td class="align-middle" data-cell="type" data-note-type="{{ note.type }}">{{ note.typeToString }}</td>
                <td class="align-middle" data-cell="status" data-note-status="{{ note.status }}">{{ note.statusToString }}</td>
                <td class="align-middle" data-cell="tags">
                    {% for tag in note.tags %}
                        <span class="badge bg-{{ tag.color }} text-light" data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
                    {% endfor %}
                </td>

                {% if support is not defined %}
                    <td class=" align-middle"
                        data-cell="support">{{ support is defined ? support.header.fullname : note.supportGroup.header.fullname }}
                    </td>
                    <td class="align-middle" data-cell="service">
                        {{ note.supportGroup.service.name }}<br/>
                        <span class="text-secondary">({{ note.supportGroup.device.name }})</span>
                    </td>
                {% endif %}

                {% if isSoftDeletable %}
                    <td class="align-middle" data-cell="createdAt">{{ note.deletedAtToString }}</td>
                {% else %}
                    <td class="align-middle" data-cell="createdAt">{{ note.createdAtToString }}</td>
                {% endif %}

                {% if support is not defined %}
                    <td class="align-middle">{{ note.createdBy ? note.createdBy.fullname }}</td>
                    <td class="align-middle">{{ note.updatedAt|date('d/m/Y') }}</td>
                    <td class="align-middle">{{ note.updatedBy ? note.updatedBy.fullname }}</td>
                {% endif %}

                {% if isSoftDeletable %}
                    <td class="align-middle text-center p-1">
                        {% include 'model/button/_restore_button.html.twig' with {path_route: path('note_restore', {'id': note.id})} %}
                    </td>
                {% elseif restore_is_clicked is defined %}
                    <td class="align-middle text-center p-1">
                        <button class="btn btn-sm btn-danger shadow mt-3" title="Supprimer la note" data-toggle="tooltip" data-placement="bottom"
                            data-action="delete-note" data-url="{{ path('note_delete', {'id': note.id}) }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="navigation">{{ knp_pagination_render(notes) }}</div>