<div id="note-modal" class="modal modal-fullscreen fade" tabindex="-1" role="dialog"
    aria-labelledby="modalNoteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen modal-xl" role="document">
        <div class="modal-content">

            {{ form_start(form) }}

            <div class="modal-body pb-0">
                <div class="form-group row">
                    <div class="col-12" id="modalNoteLabel">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div id="toolbar-container" class="shadow-sm"></div>
                        <div id="editor" name="note[editor]" class="editor-fullscreen bg-white border shadow-sm"></div>
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label d-none d-sm-block col-sm-2 required" for="note_type">Type</label>
                    <div class="col-6 col-sm-4">{{ form_widget(form.type) }}</div>
                    <label class="col-form-label d-none d-sm-block col-sm-2 required" for="note_status">Statut</label>
                    <div class="col-6 col-sm-4">{{ form_widget(form.status) }}</div>
                </div>
                <div class="row mb-3">
                    <label class="col-form-label d-none d-sm-block col-sm-2" for="note_tags">Étiquettes</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" title="Étiquettes" data-toggle="tooltip" data-placement="bottom">
                                    <i class="fas fa-tag text-black-50"></i>
                                </div>
                            </div>
                            {{ form_widget(form.tags) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex float-left">
                    <button id="modal-btn-delete" class="btn btn-danger d-none mr-2 mr-md-3" data-toggle="tooltip"
                        data-placement="bottom" title="Supprimer la note"><span class="fas fa-trash-alt"></span>
                        <span class="d-none d-md-inline ml-2">Supprimer</span>
                    </button>
                    <a id="export-note-word" class="btn btn-{{ theme_color }} d-none mr-1"
                        data-toggle="tooltip" data-placement="bottom" title="Exporter la note au format Word">
                        <span class="fas fa-file-word bg-primary fa-lg"></span><span class="d-none d-lg-inline ml-2">Word</span>
                    </a>
                    <a id="export-note-pdf" class="btn btn-{{ theme_color }} d-none"
                        data-toggle="tooltip" data-placement="bottom" title="Exporter la note au format PDF">
                        <span class="fas fa-file-pdf bg-danger fa-lg"></span><span class="d-none d-lg-inline ml-2">PDF</span>
                    </a>
                    <div id="js-auto-save" class="text-secondary d-none py-1 ml-2">
                        <span class="fas fa-sync-alt mr-2"></span>
                        <span class="d-none d-sm-inline">Sauv. auto.</span>
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" data-action="close" class="btn btn-secondary">Fermer</button>
                    <button type="submit" data-action="save" class="btn btn-{{ theme_color }} shadow">
                        <span class="fas fa-save d-none d-sm-inline mr-2"></span>Enregistrer</button>
                </div>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form) }}

        </div>
    </div>
</div>
