<div class="table-responsive" id="container-notes" data-support="{{ support.id }}">
    <table id="table-notes" class="table table-bordered table-striped table-hover text-dark shadow-sm">
        <thead>
        <tr>
            <th scope="col" class="align-middle th-w-20"></th>
            <th scope="col" class="align-middle th-w-150">
                {{ knp_pagination_sortable(notes, 'Nom de la note', 'n.title') }}</th>
            <th scope="col" class="align-middle th-w-100">
                {{ knp_pagination_sortable(notes, 'Type', 'n.type') }}</th>
            <th scope="col" class="align-middle th-w-100">
                {{ knp_pagination_sortable(notes, 'Statut', 'n.status') }}</th>
            <th scope="col" class="align-middle th-w-100">Étiquette(s)</th>
            <th scope="col" class="align-middle th-w-120">
                {{ knp_pagination_sortable(notes, 'Nom du suivi', 'p.lastname') }}</th>
            <th scope="col" class="align-middle th-w-120">
                {{ knp_pagination_sortable(notes, 'Service', 's.name') }}</th>
            <th scope="col" class="align-middle th-date">
                {{ knp_pagination_sortable(notes, 'Créé le', 'n.createdAt') }}</th>
            <th scope="col" class="align-middle th-w-80">
                {{ knp_pagination_sortable(notes, 'Créé par', 'u.lastname') }}</th>
            <th scope="col" class="align-middle th-date">
                {{ knp_pagination_sortable(notes, 'Modifié le', 'n.updatedAt') }}</th>
            <th scope="col" class="align-middle th-w-80">
                {{ knp_pagination_sortable(notes, 'Modifié par', 'u2.lastname') }}</th>
            <th scope="col" class="align-middle th-w-80"></th>
        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            {% set isSoftDeletable = note.deletedAt is not null %}
            <tr id="note-{{ note.id }}">
                <td class="align-middle text-center">
                    <a href="{{ path('support_note_index', {'id': support is defined ? support.id : note.supportGroup.id, 'noteId': note.id}) }}"
                        class="btn btn-{{ theme_color }} btn-sm shadow {{ isSoftDeletable ? 'disabled' : '' }}"
                        title="Voir la note sociale" type="button"
                        data-toggle="tooltip" data-placement="bottom"><i class="fas fa-eye"></i></a>
                </td>
                <td class="align-middle justify">
                    {% if note.title %}<span class="font-weight-bold">{{ note.title }} : </span>{% endif %}
                    {{ note.content|u.truncate(200, ' [...]', false)|striptags|raw }}
                </td>
                <td class="align-middle">{{ note.typeToString }}</td>
                <td class="align-middle">{{ note.statusToString }}</td>
                <td class="align-middle">
                    {% for tag in note.tags %}
                        <span class="badge bg-{{ tag.color }} text-light">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td class="align-middle">{{ support is defined ? support.header.fullname : note.supportGroup.header.fullname }}</td>
                <td class="align-middle" data-cell="service">
                    {{ support is defined ? support.service.name : note.supportGroup.service.name }}<br/>
                    <span class="text-secondary">({{ support is defined ? support.device.name : note.supportGroup.device.name }})</span>
                </td>
                <td class="align-middle">{{ note.createdAt|date('d/m/Y') }}</td>
                <td class="align-middle">{{ note.createdBy ? note.createdBy.fullname }}</td>
                <td class="align-middle">{{ note.updatedAt|date('d/m/Y') }}</td>
                <td class="align-middle">{{ note.updatedBy ? note.updatedBy.fullname }}</td>
                <th scope="row" class="align-middle text-center p-1">
                    {% if isSoftDeletable %}
                        <a href="{{ path('note_restore', {'supportId': support.id, 'id': note.id}) }}"
                            class="btn btn-success btn-sm shadow" title="Restaurer la note sociale"
                            data-toggle="tooltip" data-placement="bottom"><i class="fa-solid fa-trash-arrow-up"></i></a>
                    {% else %}
                        <a href="{{ path('note_export_word', {'id': note.id}) }}"
                            class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" title="Exporter la note au format Word"
                            data-toggle="tooltip" data-placement="bottom"><i
                                class="fas fa-file-word bg-primary fa-lg"></i>
                            <span class="sr-only">Word</span>
                        </a><br/>
                        <a href="{{ path('note_export_pdf', {'id': note.id}) }}"
                            class="btn btn-{{ theme_color }} btn-sm mb-1 shadow" title="Exporter la note au format PDF"
                            data-toggle="tooltip" data-placement="bottom"><i class="fas fa-file-pdf bg-danger fa-lg"></i>
                            <span class="sr-only">PDF</span>
                        </a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="navigation">{{ knp_pagination_render(notes) }}</div>