<div id="note-modal" class="modal modal-fullscreen-sm-down fade" tabindex="-1" role="dialog"
    aria-labelledby="modalNoteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen modal-xl" role="document">
        <div class="modal-content">

            {{ form_start(form) }}

            <div class="modal-body pb-0">
                <div class="row mb-3">
                    <div class="col-12" id="modalNoteLabel">{{ form_widget(form.title) }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div id="toolbar-container" class="shadow-sm"></div>
                        <div id="editor" name="note[editor]" class="editor-fullscreen bg-white border shadow-sm"></div>
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-form-label d-none d-sm-block col-sm-2 required" for="note_type">Type</label>
                    <div class="col-6 col-sm-4">{{ form_widget(form.type) }}</div>
                    <label class="col-form-label d-none d-sm-block col-sm-2 required" for="note_status">Statut</label>
                    <div class="col-6 col-sm-4">{{ form_widget(form.status) }}</div>
                </div>
                <div class="row mb-3">
                    <label class="col-form-label d-none d-sm-block col-sm-2" for="note_tags">Étiquettes</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-text" title="Étiquettes" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-tag text-black-50"></i>
                            </span>
                            {{ form_widget(form.tags) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex float-start">
                    <button id="modal-btn-delete" class="btn btn-danger me-2 me-md-3"
                        title="Supprimer la note" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-trash-alt"></i><span class="d-none d-md-inline ms-2">Supprimer</span>
                    </button>
                    <a id="export-note-word" class="btn btn-{{ theme_color }} me-1"
                        title="Exporter la note au format Word" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-file-word bg-primary fa-lg"></i><span class="d-none d-lg-inline ms-2">Word</span>
                    </a>
                    <a id="export-note-pdf" class="btn btn-{{ theme_color }}"
                        title="Exporter la note au format PDF" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-file-pdf bg-danger fa-lg"></i><span class="d-none d-lg-inline ms-2">PDF</span>
                    </a>
                    <div id="js-auto-save" class="text-secondary d-none py-1 ms-2">
                        <i class="fas fa-sync-alt me-2"></i>
                        <span class="d-none d-sm-inline">Sauv. auto.</span>
                    </div>
                </div>
                <div class="float-end">
                    <button type="button" data-action="close" class="btn btn-secondary">Fermer</button>
                    <button type="submit" data-action="save" class="btn btn-{{ theme_color }} shadow">
                        <i class="fas fa-save d-none d-sm-inline me-2"></i>Enregistrer</button>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
</div>
