<div id="modal-note" class="modal modal-fullscreen fade" tabindex="-1" role="dialog" aria-labelledby="modalNoteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen modal-xl " role="document">   
        <div class="modal-content">

            {{ form_start(form) }}

            <div class="modal-body pb-0">
                <div class="form-group row">
                    <div class="col-12" id="modalNoteLabel">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div id="toolbar-container" class="shadow-sm"></div>
                        <div id="editor" name="note[editor]" class="editor-fullscreen bg-white border shadow-sm"></div>
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 d-none d-sm-block">{{ form_label(form.type) }}</div>
                    <div class="col-6 col-sm-4">{{ form_widget(form.type) }}</div>
                    <div class="col-sm-2 d-none d-sm-block">{{ form_label(form.status) }}</div>
                    <div class="col-6 col-sm-4">{{ form_widget(form.status) }}</div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="d-flex float-left">
                    <button id="modal-btn-delete" class="btn btn-danger d-none mr-3" data-toggle="tooltip" 
                        data-placement="bottom" title="Supprimer la note"><span class="fas fa-trash-alt"></span>
                    </button>
                    <a href="#" id="js-btn-export" class="btn btn-{{ theme_color }} d-none mr-2" title="Exporter la note sur Word">
                        <span class="fas fa-file-word fa-lg"></span>
                    </a>
                    <div id="js-auto-save" class="text-secondary d-none py-1">
                        <span class="fas fa-sync-alt mr-2"></span>
                        <span class="d-none d-sm-inline">Sauv. auto.</span>
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form) }}

        </div>
    </div>
</div>