{% extends 'base.html.twig' %}

{% set nb_notes = notes|length %}
{% set restore_is_clicked = form_search.deleted.children.deleted.vars.data %}

{% block title %}Notes sociales{% endblock %}

{% block body %}
    <div class="container" data-view="card-table" data-is-card="{{ is_card_view }}">
        {% set title = 'Notes sociales' %}
        {% if restore_is_clicked %}
            {% set title = title ~ ' (Corbeille)' %}
        {% endif %}

        {% include 'app/support/_partials/_support_nav.html.twig' %}

        <div class="row mb-2">
            <div id="js-search-support-notes" class="col-md-12">
                {% include 'app/note/_support_note_search_form.html.twig' %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                {% if is_card_view %}
                    <a href="{{ path('support_note_index_table', {'id': support.id}) }}" class="btn btn-sm btn-{{ theme_color }}"
                        role="button" data-toggle="tooltip" title="Passer en vue liste"><i class="fa-solid fa-list"></i></a>
                {% else %}
                    <a href="{{ path('support_note_index', {'id': support.id}) }}" class="btn btn-sm btn-{{ theme_color }}"
                        role="button" data-toggle="tooltip" title="Passer en vue carte"><i class="fa-solid fa-grip-vertical"></i></a>
                {% endif %}

                {% if not restore_is_clicked %}
                    <button class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-action="new_note"
                        title="Créer une nouvelle note" data-toggle="tooltip" data-placement="bottom">
                        <i class="fas fa-plus-square mr-2"></i>Nouvelle note
                    </button>
                {% endif %}
                <div class="d-inline align-middle">Total :
                    <span id="count-notes" data-nb-total-notes="{{ nb_total_notes }}">
					{{ nb_notes }} note{% if nb_notes > 1 %}s{% endif %}
                        {{ nb_total_notes ? ' sur ' ~ nb_total_notes }}</span>
                </div>
            </div>
        </div>
        {% if is_card_view %}
            {% include 'app/note/_note_card.html.twig' %}
        {% else %}
            {% include 'app/note/_note_table.html.twig' %}
        {% endif %}
    </div>

    {% include 'app/note/_note_form_modal.html.twig' %}
    {% include 'model/_confirm_modal.html.twig' %}
    {% include 'app/note/_note_delete_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('note') }}
{% endblock javascripts %}
