{% extends "base.html.twig" %}

{% set nbNotes = notes|length %}

{% block title %}Notes sociales{% endblock %}

{% block body %}

	<div class="container">

		{% set title = "Notes sociales" %}
		{% include "app/support/_shared/_navSuppport.html.twig" %}

		<div class="row mb-2">
			<div id="js-search-support-notes" class="col-md-12 {{ nbNotes == 0 ? 'd-none' }}">
				{% include "app/note/_searchSupportNotes.html.twig" %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<button id="js-new-note" class="btn btn-{{ theme_color }} btn-sm shadow mr-2"
					data-toggle="tooltip" data-placement="bottom" title="Créer une nouvelle note">
					<span class="fas fa-plus-square mr-2"></span>Nouvelle note</button>
				<div class="d-inline align-middle">Total :
					<span id="count-notes" data-nb-total-notes="{{ nbTotalNotes }}">
					{{ nbNotes }} note{% if nbNotes > 1 %}s{% endif %}
					{{ nbTotalNotes ? " sur " ~ nbTotalNotes }}</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="navigation">{{ knp_pagination_render(notes) }}</div>
			</div>
		</div>

		<div id="container-notes" class="row" data-support="{{ support.id }}">
			{% for note in notes %}
				<div class="col-sm-12 col-lg-6 mb-4 reveal" data-note-id="{{ note.id }}">
					<div class="card h-100 shadow">
						<div class="card-header">
							<h3 class="card-title h5 text-{{ theme_color }} cursor-pointer" 
								data-placement="bottom" title="Voir la note">{{ note.title }}</h3>
							<span data-note-type={{ note.type }}>{{ note.typeToString }}</span>
							<span data-note-status={{ note.status }}>({{ note.statusToString }})</span>
							<span class="small text-secondary" data-note-created="true">
								| Créé le {{ note.createdAt|date("d/m/Y à H:i") }} par {{ note.createdBy.fullname }}
							</span>
							<span class="small text-secondary" data-note-updated="true">
								{% if note.updatedAt != note.createdAt %} 
									(modifié le {{ note.updatedAt|date("d/m/Y à H:i") }} par {{ note.updatedBy.fullname }})
								{% endif %}
							</span>
						</div>
						<div class="card-body note-content cursor-pointer" data-toggle="tooltip" 
							data-placement="bottom" title="Voir la note">
							<div class="card-text">{{ note.content|raw }}</div><span class="note-fadeout"></span>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-md-12 sr-only">
					<p>Aucune note.</p>
				</div>
			{% endfor %}
		</div>
		
		<div class="navigation">{{ knp_pagination_render(notes) }}</div>

	</div>

	{% include "app/note/_noteModal.html.twig" %}
	{% include "model/_confirmModal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("search") }}
	{{ encore_entry_script_tags("note") }}
{% endblock javascripts %}
