{% extends 'base.html.twig' %}

{% set nb_notes = notes|length %}
{% set restoration_mode = form_search.deleted.deleted.vars.checked and is_granted('ROLE_SUPER_ADMIN') %}
{% set title = 'Notes' ~ (restoration_mode ? ' (Corbeille)') %}
{% set alert_prototype = true %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container pt-3" data-view="card-table" data-is-card="{{ is_card_view }}">

        {% include 'app/support/_partials/_support_nav.html.twig' %}

        <div class="row mb-2">
            <div class="col-md-12">
                {% if is_card_view %}
                    <a href="{{ path('support_note_index_table', {id: support.id}) }}" id="view_table" class="btn btn-primary shadow me-1"
                        role="button" data-bs-toggle="tooltip" title="Passer en vue liste"><i class="far fa-list-alt"></i></a>
                {% else %}
                    <a href="{{ path('support_note_index', {id: support.id}) }}" id="card-view" class="btn btn-primary shadow me-1"
                        role="button" data-bs-toggle="tooltip" title="Passer en vue carte"><i class="fa-solid fa-grip-vertical"></i></a>
                {% endif %}
                {% if not restoration_mode %}
                    <button class="btn btn-primary shadow me-2" data-action="new_note"
                        title="Créer une nouvelle note" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <i class="fas fa-plus-square me-2"></i>Nouvelle note
                    </button>
				{% else %}
					<a href="{{ app.request.pathInfo }}" class="btn btn-primary btn-sm shadow me-2" 
                        id="return_index"><i class="fa-solid fa-arrow-rotate-left me-2"></i>Retour
					</a>
				{% endif %}
                <div class="d-inline align-middle">Résultat :
                    <span data-counter="note">{{ nb_notes }}</span> note(s)
                    {% if nb_total_notes and form_search.deleted.deleted.vars.checked == false %}
                        sur <span data-counter="note">{{ nb_total_notes }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include 'app/note/_support_note_search_form.html.twig' %}

        {% if is_card_view %}
            {% include 'app/note/_note_cards_container.html.twig' %}
        {% else %}
            {% include 'app/note/_note_table.html.twig' %}
        {% endif %}
    </div>

    {% include 'app/note/_note_form_modal.html.twig' %}
    {% include 'app/note/_note_delete_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('note') }}
{% endblock javascripts %}
