{% extends "base.html.twig" %}

{% set title = "Tableau de bord" %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block body %}

  <div class="container">

    <h1 class="h2 mb-3">{{ title }}</h1>
    <p class="small text-secondary">Dernière connexion le {{ app.user.lastLogin|date("d/m/Y à H:i") }}</p>

    {% include "model/msgFlash.html.twig" %}

    <hr>

    <div class="my-5">
      {% include "app/managing/managingServices.html.twig" %}
      {% if is_granted("ROLE_SUPER_ADMIN") %}
        {% include "app/home/indicators.html.twig" %}
      {% endif %}
        {% include "app/home/servicesIndicators.html.twig" %}
      {% if is_granted("ROLE_SUPER_ADMIN") == false %}
          {% include "app/home/listNotes.html.twig" %}
          {% include "app/home/listRdvs.html.twig" %}
      {% endif %}
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("home") }}
{% endblock javascripts %}