{% extends "base.html.twig" %}

{% block title %}Mon espace personnel | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

  <h1 class="h2 mb-3">Mon espace personnel</h1>
  <p class="small text-secondary">Dernière connexion le {{ user.lastLogin|date("d/m/Y à H:i") }}</p>

  {% include "model/msgFlash.html.twig" %}

  <hr>

  <div class="my-5">
  	  {% if is_granted("ROLE_ADMIN") %}
	      <div class="row">
          <div class="col-md-12 mb-3">
            <h2 class="h5">Suivi d'activité :</h2>
            <ul>
              <li><a class="text-{{ theme_color }} font-weight-bold" 
                href="{{ path("supports_by_user") }}">Synthèse des suivis en cours</a></li>
              <li><a class="text-{{ theme_color }} font-weight-bold" 
                href="{{ path("occupancy_services") }}">Taux d'occupation</a></li>
            </ul>
          </div>
		    </div>
      {% endif %} 
    {% if app.user.status == 1 or supports|length > 0 %}
    {% include "app/home/listSupports.html.twig" %}
    {% endif %}
    {% include "app/home/listRdvs.html.twig" %}
    {% include "app/home/listNotes.html.twig" %}
  </div>

</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("home") }}
{% endblock javascripts %}