{% extends "base.html.twig" %}

{% set support_group_accommodations = support.accommodationGroups %}
{% set SERVICE_PASH_ID = constant("App\\Entity\\Organization\\Service::SERVICE_PASH_ID") %}
{% set title = support.service.id == SERVICE_PASH_ID ? "Prises en charge hôtelières" : "Logement/hébergement" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div class="container">

		{% include "app/support/support/_navSuppport.html.twig" %}

		{% include "model/_msgFlash.html.twig" %}
		<a href="{{ path("support_accommodation_new", {'id': support.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-3">
			<span class="fas fa-plus-square mr-2"></span>Ajouter une prise en charge</a>
		{% if support_group_accommodations|length == 0 %}
			<p>Aucun hébergement.</p>
		{% else %}
			<div class="table-responsive mb-5">
				<table class="table table-bordered table-striped table-hover text-dark shadow-sm">
					<thead>
						<tr>
							<th scope="row" class="align-middle th-w-20"></th>
							<th scope="col" class="align-middle th-w-150">{% if support.service.id == SERVICE_PASH_ID %}Hôtel{% else %}Nom du groupe de places{% endif %}</th>
							<th scope="col" class="align-middle th-w-120">Dispositif</th>
							<th scope="col" class="align-middle th-date">Date de début</th>
							<th scope="col" class="align-middle th-date">Date de fin</th>
							<th scope="col" class="align-middle th-w-140">Motif de fin</th>
							<th scope="col" class="align-middle th-w-140">Nombre de personnes prises en charge</th>
							<th scope="col" class="align-middle th-w-180">Adresse</th>
							<th scope="col" class="align-middle th-w-20"></th>
						</tr>
					</thead>

					<tbody id="container-accommodationGroups" data-support="{{ support.id }}">
						{% for accommodationGroup in support_group_accommodations %}
							<tr id="accommodationGroup-{{ accommodationGroup.id }}">
								<td scope="row" class="align-middle text-center">
									<a href="{{ path('support_accommodation_edit', {'id': accommodationGroup.id}) }}" 
										class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-toggle="tooltip" data-placement="bottom" 
										title="Voir le détail de l'hébergement"><span class="fas fa-eye"></span>
									</a>
								</td>
								<td class="align-middle">
									{% if accommodationGroup.accommodation %}
										<a href="{{ path('accommodation_edit', {'id': accommodationGroup.accommodation.id}) }}"
										class="text-{{ theme_color }}">{{ accommodationGroup.accommodation.name }}</a>
									{% endif %}
								</td>
								<td class="align-middle">{{ accommodationGroup.supportGroup.device.name }}</td>
								<td class="align-middle">{{ accommodationGroup.startDate ? accommodationGroup.startDate|date("d/m/Y") }}</td>
								<td class="align-middle">{{ accommodationGroup.endDate ? accommodationGroup.endDate|date("d/m/Y") }}</td>
								<td class="align-middle">{{ accommodationGroup.endReasonToString }}
									{{ accommodationGroup.supportGroup.endStatus ? " (" ~ accommodationGroup.supportGroup.endStatusToString ~ ")" }}
								</td>
								<td class="align-middle">{{ accommodationGroup.accommodationPeople|length }}</td>
								<td class="align-middle">
									{% if accommodationGroup.accommodation %}
										{{ accommodationGroup.accommodation.address }}<br/>
										{{ accommodationGroup.accommodation.zipCode }} {{ accommodationGroup.accommodation.city }}
									{% endif %}
								</td>
								<td class="align-middle text-center">
									<a href="{{ path('support_group_people_accommodation_delete', {'id': accommodationGroup.id}) }}" 
										class="btn btn-danger btn-sm shadow my-1" data-placement="bottom" title="Supprimer cette prise en charge" 
										onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir supprimer cette prise en charge ?'))
										{return true;}else{return false;}"><span class="fas fa-trash-alt"></span>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}

	</div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
