{% extends "base.html.twig" %}

{% block title %}Synthèse des suivis en cours | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">Synthèse des suivis en cours</h1>
    <p>Nombre de suivis en cours par référent en fonction du dispositif d'accompagnement.</p>
    {% include "model/msgFlash.html.twig" %}

      <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table class="table table-sm table-bordered table-striped table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="row" class="align-middle th-w-20"></th>
                            <th class="align-middle th-w-150">Travailleur/euse social·e</th>
                            <th class="align-middle th-w-100 text-right">Total suivis en cours</th>
                            {% for device in devices %}
                                <th class="align-middle  th-w-80 text-right">{{ device.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for dataUser in dataUsers %}
                            {% if dataUser.nbSupports > 0 %}  
                                <tr>
                                    <td scope="row" class="align-middle text-center">
                                        <a href="{{ path('supports', {'status':[2], 'service':{'referents':[dataUser.user.id]} }) }}" 
                                            class="btn btn-{{ theme_color }} btn-sm shadow" 
                                            data-placement="bottom" title="Voir les suivis du travailleur social"><span class="fas fa-eye"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ dataUser.user.fullname }}</td>
                                    <td class="align-middle text-right">{{ dataUser.nbSupports }}
                                    {% if dataUser.nbSupports != dataUser.sumCoeff %}
                                            <span class="text-secondary"> ({{ dataUser.sumCoeff }})</span>
                                    {% endif %}
                                    </td>
                                    {% for device in dataUser.devices %}
                                        <td class="align-middle text-right">
                                            {% if device.nbSupports > 0 %}{{ device.nbSupports }}{% endif %}
                                            {% if device.nbSupports !=  device.sumCoeff  %}
                                                <span class="text-secondary"> ({{  device.sumCoeff }})</span>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfooter>
                        <tr class="font-weight-bold">
                            <td scope="row" colspan="2" class="align-middle text-right">Total</td>
                            <td class="align-middle text-right">{{ nbSupports }}
                                {% if nbSupports !=  sumCoeffSupports %}
                                    <span class="text-secondary"> ({{  sumCoeffSupports }})</span>
                                {% endif %}
                                {% for device in devices %}
                                    <td class="align-middle text-right">{{ device.nbSupports }}
                                    {% if device.nbSupports !=  device.sumCoeff %}
                                        <span class="text-secondary"> ({{  device.sumCoeff }})</span>
                                    {% endif %}
                                    </td>
                                {% endfor %}
                        </tr>
                        <tr class="font-weight-bold">
                            <td scope="row" colspan="2" class="align-middle text-right">Moyenne</td>
                            <td class="align-middle text-right">{{ (nbSupports / dataUsers|length)|round(1, "common") }}
                                {% if nbSupports !=  sumCoeffSupports %}
                                    <span class="text-secondary"> ({{ (sumCoeffSupports / dataUsers|length)|round(1, "common") }})</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tfooter>

                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="small text-secondary"><span class="font-weight-bold">Note de lecture : </span><!--
            -->le nombre entre parenthèse correspond à la valeur attribuée à la somme des suivis après application du coefficient. <!--
            --><br/>Exemple : 10 (15) = 10 suivis réels, soit 15 suivis après pondération (coefficient de 1,5 par suivi).</p>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("home") }}
{% endblock javascripts %}