<div id="avdl_support">
	<div class="row">
		<div class="col-md-12"><h2 class="h5 mb-3">Demande</h2></div>
	</div>
	<div class="row">
		<div class="col-md-6">{{ form_row(form.originRequest.orientationDate) }}</div>
	</div>
	<div class="row">
		<div class="col-md-6">{{ form_row(form.originRequest.organization) }}</div>
		<div class="col-md-6" data-parent-field="support_originRequest_organization" data-options="*">{{ form_row(form.originRequest.organizationComment) }}</div>
	</div>
	<div class="row">
    <div class="col-md-6" data-parent-field="support_originRequest_orientationDate">{{ form_row(form.originRequest.preAdmissionDate) }}</div>
    <div class="col-md-6" data-parent-field="support_originRequest_orientationDate">{{ form_row(form.originRequest.resulPreAdmission) }}</div>
	</div>
	<div class="row">
		<div class="col-md-12" data-parent-field="support_originRequest_organization" data-options="*">{{ form_widget(form.originRequest.comment) }}</div>
	</div>
	<hr/>
    {% include '_shared/_location_form.html.twig' with {
        'location_title': 'Adresse du suivi',
        'location_geo': support.service,
    } %}
	<hr/>
	{% if form.avdl is defined %}
		<div data-parent-field="support_device" data-options="10">
			<div class="row mb-3">
				<div class="col-md-12"><h2 class="h5 mb-3">Diagnostic</h2></div>
				<div class="col-md-6" >{{ form_row(form.avdl.diagStartDate) }}</div>
				<div class="col-md-6" data-parent-field="support_avdl_diagStartDate">{{ form_row(form.avdl.diagType) }}</div>
				<div class="col-md-6" data-parent-field="support_avdl_diagStartDate">{{ form_row(form.avdl.recommendationSupport) }}</div>
				<div class="col-md-6" data-parent-field="support_avdl_diagStartDate">{{ form_row(form.avdl.diagEndDate) }}</div>
				<div class="col-md-12" data-parent-field="support_avdl_diagStartDate">{{ form_widget(form.avdl.diagComment) }}</div>
			</div>
			<hr>
		</div>
		<div class="mb-3">
			<div class="row">
				<div class="col-md-12"><h2 class="h5 mb-3">Accompagnement</h2></div>
			</div>
			<div class="row">
				<div class="col-md-6" data-check-valid="supportStart">{{ form_row(form.avdl.supportStartDate) }}</div>
				<div class="col-md-6" data-parent-field="support_device" data-options="10">{{ form_row(form.avdl.supportType) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" data-parent-field="support_device" data-options="4">{{ form_row(form.theoreticalEndDate) }}</div>
				<div class="col-md-6" data-check-valid="supportEndDate">{{ form_row(form.avdl.supportEndDate) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" data-parent-field="support_avdl_supportEndDate" data-check-valid="supportEndDate">{{ form_row(form.endReason) }}</div>
				<div class="col-md-6" data-parent-field="support_avdl_supportEndDate" data-check-valid="supportEndDate">{{ form_row(form.endStatus) }}</div>
				<div class="col-md-12" data-parent-field="support_avdl_supportStartDate" >{{ form_widget(form.avdl.supportComment) }}</div>
			</div>
		</div>
		<div>
			<hr>
			<div class="mb-3">
				<div class="row">
					<div class="col-md-12"><h2 class="h5 mb-3">Proposition logement</h2></div>
				</div>
				<div class="row">
					<div class="col-md-6" data-check-valid="accessHousing">{{ form_row(form.avdl.propoHousingDate) }}</div>
					<div class="col-md-6" data-parent-field="support_avdl_propoHousingDate" data-check-valid="accessHousing">{{ form_row(form.avdl.accessHousingModality) }}</div>
					<div class="col-md-6" data-parent-field="support_avdl_propoHousingDate">{{ form_row(form.avdl.propoResult) }}</div>
					<div class="col-md-6" data-parent-field="support_avdl_propoResult" data-options="1">{{ form_row(form.avdl.accessHousingDate) }}</div>
				</div>
				<div data-parent-field="support_avdl_propoHousingDate">
					{% include '_shared/_location_end_form.html.twig' %}
				</div>
				<div class="row">
					<div class="col-md-12" data-parent-field="support_avdl_propoHousingDate">{{ form_widget(form.avdl.endSupportComment) }}</div>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="visually-hidden">{{ form_row(form.status) }}</div>
</div>