{% import 'macros/div_view.html.twig' as view_div %}

<div class="row">
    <div class="col-md-6 mb-1 py-2">
        <span class="py-2 font-weight-bold">Service (dispositif) : </span>
        <a href="{{ path('service_edit', {'id': support.service.id }) }}" class="text-{{ theme_color }}">
            {{ support.service.name }}</a>
        <span>{{ support.device ? ' (' ~ support.device.name ~ ')' }}</span>
    </div>
    {{ view_div.get(support.statusToString 
        ~ (support.service.coefficient == YES and support.status == status_in_progress ? ' (coeff. ' ~ support.coefficient ~ ')' )
        ~ (support.endStatus ? ' (' ~ support.endStatusToString ~ ')' ), 'Status') }}
    {{ view_div.get(support.startDate ? support.startDate|date('d/m/Y') 
        ~ (support.endDate ? ' - ' ~ support.endDate|date('d/m/Y'))
        ~ (support.startDate ? ' (' ~ support.duration|number ~ ' jours)'), 'Date de suivi') }}    
    {{ view_div.get(support.referent ? support.referent.fullname ~ (support.referent2 ? ' | ' ~ support.referent2.fullname), 'Referent') }}
</div>

{% set origin_request = support.originRequest %}
{% if origin_request %}
    <div class="row my-2">
        {{ view_div.get(origin_request.organization ? origin_request.organization.name ~ (origin_request.organizationComment ? ' (' 
            ~ origin_request.organizationComment ~ ')'), 'Organization', 'forms') }}
        {{ view_div.get(origin_request.orientationDate ? origin_request.orientationDate|date('d/m/Y'), 'avdl.orientationDate', 'forms') }}
    </div>
{% endif %}

    <div class="row my-2">
    {{ view_div.get(support.fullAddress, 'Adresse') }}
</div>

{% set avdl = support.avdl %}

{% if avdl and avdl.diagStartDate %}
    <div class="row my-2">
        {{ view_div.get(avdl.diagStartDate|date('d/m/Y') 
            ~ (avdl.diagEndDate ? ' - ' ~ avdl.diagEndDate|date('d/m/Y')), 'avdl.diag') }}
        {{ view_div.get(avdl.diagTypeToString, 'avdl.diagType') }}
        {{ view_div.get(avdl.recommendationSupportToString, 'avdl.recommendationSupport') }}
        {{ view_div.get(avdl.diagComment, 'Comment') }}
    </div>
{% endif %}

{% if avdl and avdl.supportStartDate %}
    <div class="row my-2">
        {{ view_div.get(avdl.supportStartDate|date('d/m/Y') 
            ~ (avdl.supportEndDate ? ' - ' ~ avdl.supportEndDate|date('d/m/Y')), 'avdl.support') }}
        {{ view_div.get(avdl.supportTypeToString, 'avdl.supportType') }}
        {{ view_div.get(avdl.supportComment, 'Comment') }}
    </div>
{% endif %}

{% if avdl %}
    <div class="row my-2">
        {{ view_div.get(support.endReasonToString, 'End reason') }}
        {{ view_div.get(avdl.accessHousingModalityToString, 'avdl.accessHousingModality') }}
        {{ view_div.get(avdl.propoHousingDate ? avdl.propoHousingDate|date('d/m/Y') ~
            (avdl.propoResult ? ' | Resultat : ' ~ avdl.propoResultToString ), 'avdl.propoHousingDate') }}
        {{ view_div.get(avdl.endSupportComment, 'Comment') }}
    </div>
{% endif %}