{% import "macros/viewParagraph.html.twig" as view_p %}
{% import "macros/viewTextArea.html.twig" as view_text %}

<hr/>
<h2 style=" color: {{ theme_color }}; {{ style_h2 }}">Situation administrative</h2>
{% set eval_adults_admin = eval_adults|filter(e => e.evalAdmPerson) %}
{% set nb_adults_admin = eval_adults_admin|length %}
{% for evalPerson in eval_adults_admin %}
    {% set evalAdm = evalPerson.evalAdmPerson %}
    {% if nb_adults_admin > 1 %}
        <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
    {% endif %}
    {{ view_p.get(evalAdm.nationality ? evalAdm.nationalityToString ~ (evalAdm.country ? ' (' 
        ~ evalAdm.country ~ ')'), "Nationality", "evaluation") }}
    {{ view_p.get(evalAdm.arrivalDate ? evalAdm.arrivalDate|date("d/m/Y"), "Arrival date", "evaluation") }}
    {{ view_p.get(evalAdm.paper == YES and evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString, "Paper", "evaluation") }}
    {{ view_p.get(evalAdm.asylumBackground == YES ? (evalAdm.asylumStatus ? evalAdm.asylumStatusToString : 
        evalAdm.asylumBackgroundToString), "Asylum background", "evaluation") }}
    {{ view_p.get(evalAdm.renewalPermitDate ? evalAdm.renewalPermitDate|date("d/m/Y") 
        ~ (evalAdm.nbRenewals ? " (" ~ evalAdm.nbRenewals ~ " renouvellement(s))"), "Renewal permit date", "evaluation" ) }}
    {{ view_p.get(evalAdm.endValidPermitDate ? evalAdm.endValidPermitDate|date("d/m/Y"), "End valid permit date", "evaluation") }}
    {{ view_p.get(evalAdm.workRightToString, "Work right", "evaluation") }}
    {{ view_text.get(evalAdm.commentEvalAdmPerson, null, null, type) }}
{% endfor %}

{% if eval_children|filter(e => e.evalAdmPerson)|length > 0 %}
    {% set nb_asylum_children = eval_children|filter(e => e.evalAdmPerson and e.evalAdmPerson.asylumBackground == YES)|length %}
    <p>&nbsp;</p>
    <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
        <thead>
            <tr style="background-color: #e9ecef; font-weight: bold;">
                <th>Enfants</th>
                <th>Nationalité</th>
                <th>Papier</th>
                {% if nb_asylum_children > 0 %}
                    <th>Asile</th>
                {% endif %}
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% for evalPerson in eval_children %}
                {% set evalAdm = evalPerson.evalAdmPerson %}
                {% if evalAdm %}
                    <tr>
                        <td scope="row">{{ evalPerson.supportPerson.person.fullname }}</td>
                        <td>{{ evalAdm.nationalityToString ~ (evalAdm.country ? ' (' ~ evalAdm.country ~ ')') }}</td>
                        <td>{{ evalAdm.paper == YES ? evalAdm.paperType ? evalAdm.paperTypeToString ~ (evalAdm.endValidPermitDate ? " (fin de validité : " ~ evalAdm.endValidPermitDate|date("d/m/Y") ~ ")") : evalAdm.paperToString }}</td>
                        {% if nb_asylum_children > 0 %}
                            <td>{{ evalAdm.asylumBackground == YES ? evalAdm.asylumStatus ? evalAdm.asylumStatusToString : evalAdm.asylumBackgroundToString }}</td>
                        {% endif %}
                        <td>{{ evalAdm.commentEvalAdmPerson }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}