{% import "macros/viewParagraph.html.twig" as view_p %}
{% import "macros/viewTextArea.html.twig" as view_text %}

<hr/>
<h2 style="{{ style_h2 }}">Situation sociale et de santé</h2>

{% set eval_people_social = eval_people|filter(e => e.evalSocialPerson) %}
{% set nb_people_social = eval_people_social|length %}
{% for evalPerson in eval_people_social %}
    {% set evalSocial = evalPerson.evalSocialPerson %}
    {% if evalSocial.rightSocialSecurity or evalSocial.healthProblem == YES or evalSocial.aseFollowUp == YES or evalSocial.commentEvalSocialPerson  %}
        {% if nb_people_social > 1 %}
            <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
        {% endif %}
        {{ view_p.get(evalSocial.rightSocialSecurity in [1, 3] ? evalSocial.rightSocialSecurityToString ~ " - " 
            ~ evalSocial.socialSecurityToString ~ (evalSocial.endRightsSocialSecurityDate ? " (fin de validité : " 
        ~ evalSocial.endRightsSocialSecurityDate|date("d/m/Y") ~ ")") : evalSocial.rightSocialSecurityToString , "Right social security", "evaluation") }}
        {{ view_p.get(evalSocial.aseFollowUp == YES ? evalSocial.aseFollowUpToString ~ (evalSocial.aseMeasureType ? ' (Mesure ' ~ evalSocial.aseMeasureTypeToString ~ ")"), "Ase follow up", "evaluation") }}
        {{ view_p.get(evalSocial.aseComment) }}
        {% if evalSocial.familyBreakdown == YES or evalSocial.friendshipBreakdown == YES %}
            {{ view_p.get(evalSocial.familyBreakdownToString, "Family breakdown", "evaluation") }}
            {{ view_p.get(evalSocial.friendshipBreakdownToString, "Friendship breakdown", "evaluation") }}
        {% endif %}
        {% if evalSocial.healthProblem == YES %}
            {{ view_p.get(evalSocial.healthProblemToString ~ (evalSocial.healthProblemsType ? 
            " (" ~ evalSocial.healthProblemsType|join(", ") ~ ")"), "Health problem", "evaluation") }}
        {% endif %}
        {{ view_p.get(evalSocial.medicalFollowUp == YES ? evalSocial.medicalFollowUpToString, "Medical follow up", "evaluation") }}
        {{ view_p.get(evalSocial.homeCareSupport == YES ? evalSocial.homeCareSupportToString ~ (evalSocial.homeCareSupportType ? " - " 
            ~ evalSocial.homeCareSupportTypeToString), "Home care support", "evaluation") }}
        {{ view_p.get(evalSocial.violenceVictim == YES ? evalSocial.violenceVictimToString ~ (evalSocial.domViolenceVictim == YES ? 
            " (Violence conjugale)"), "Violence victim", "evaluation") }}
        {{ view_text.get(evalSocial.commentEvalSocialPerson, null, null, type) }}
    {% endif %}
{% endfor %}

{% if evaluation.evalSocialGroup %}
    {% set evalSocial = evaluation.evalSocialGroup %}
    {{ view_p.get(evalSocial.animal == YES ? evalSocial.animalToString ~ (evalSocial.animalType ? " (" ~ evalSocial.animalType ~ ")" ), "Animal", "evaluation") }}
    {{ view_text.get(evaluation.evalSocialGroup.commentEvalSocialGroup, null, null, type) }}
{% endif %}