{% import 'macros/viewParagraph.html.twig' as view_p %}
{% import 'macros/viewTextArea.html.twig' as view_text %}

<hr/>
<h2 style="{{ style_h2 }}">Situation familiale</h2>

{% set eval_family = evaluation.evalFamilyGroup %}
{% if eval_family %}
    {{ view_p.get(YES == eval_family.famlReunification ? eval_family.famlReunificationToString ~ (eval_family.nbPeopleReunification ? ' (' 
        ~ eval_family.nbPeopleReunification ~ ' personne(s))'), 'Faml reunification', 'evaluation') }}
    {{ view_text.get(evaluation.evalFamilyGroup.commentEvalFamilyGroup, null, null, type) }}
    <p>&nbsp;</p>
{% endif %}

{% set eval_people_family = eval_people|filter(e => e.evalFamilyPerson) %}
{% set nb_adults_family = eval_people_family|length %}
{% for eval_person in eval_people_family %}
    {% set eval_family = eval_person.evalFamilyPerson %}
    {% set support_person = eval_person.supportPerson %}
    {% if nb_adults_family > 1 %}
        <p style="{{ style_h3 }}"><u>{{ eval_person.supportPerson.person.fullname }}</u> :</p>
    {% endif %}
    {% if ROLE_CHILD != eval_person.supportPerson.role %}
        {{ view_p.get(eval_family.maritalStatusToString, 'Marital status', 'evaluation') }}
        {{ view_p.get(eval_family.noConciliationOrderToString, 'No conciliation order', 'evaluation') }}
        {{ view_p.get(YES == eval_family.protectiveMeasure and eval_family.protectiveMeasureType ? 
            eval_family.protectiveMeasureTypeToString, 'Protective measure', 'evaluation') }}
    {% endif %}
    {% if YES == eval_family.unbornChild %}
        {{ view_p.get(eval_family.unbornChildToString ~ (eval_family.expDateChildbirth ? ' (' 
            ~ eval_family.expDateChildbirth|date('d/m/Y') ~ ')'), 'Unborn child', 'evaluation') }}
    {% endif %}
    {% if ROLE_CHILD == eval_person.supportPerson.role %}
        {{ view_p.get((YES == eval_family.childcareOrSchool ? eval_family.childcareSchoolTypeToString : 
            eval_family.childcareOrSchoolToString) ~ (eval_family.schoolCity or eval_family.schoolChildCarePrecision ? ' (' ~ eval_family.schoolCity 
            ~ ( eval_family.schoolChildCarePrecision ? ' - ' ~ eval_family.schoolChildCarePrecision) ~ ')'), 'Childcare or school', 'evaluation') }}
        {{ view_p.get(eval_family.childToHostToString, 'Child to host', 'evaluation') }}
        {{ view_p.get(eval_family.childDependanceToString, 'Child dependance', 'evaluation') }}
    {% endif %}
    {{ view_p.get(YES == eval_family.pmiFollowUp ? (eval_family.pmiName ? eval_family.pmiName), 'Pmi follow up', 'evaluation') }}
    {{ view_text.get(eval_family.commentEvalFamilyPerson, null, null, type) }}
{% endfor %}