<tr>
    <td>{{ payment.typeToString }}</td>
    <td class="align-middle text-center" style="text-align: center;">
        <p style="text-align: center;">
            {% if payment.startDate %}
                <small>{{ payment.startDate|date("d/m/Y") }} - {{ payment.endDate|date("d/m/Y") }}</small>
            {% endif %}
        </p>
    </td>

    <td class="align-middle text-right" style="text-align: right;">
        <p style="text-align: right;">{{ payment.toPayAmt is not null ? payment.toPayAmt|amount }}</p>
    </td>

    <td class="align-middle text-right" style="text-align: right;">
        <p style="text-align: right;">{{ payment.paidAmt is not null ? payment.paidAmt|amount }}</p>
    </td>

    <td class="align-middle text-right" style="text-align: right;">
        <p style="text-align: right;">{{ payment.stillToPayAmt is not null ? payment.stillToPayAmt|amount }}</p>
    </td>

    <td class="align-middle text-center" style="text-align: center;">
        <p style="text-align: center;">{{ payment.paymentDate ? payment.paymentDate|date("d/m/Y") }}</p>
    </td>

    <td><small>{{ payment.comment }}</small></td>
</tr>