{% import 'macros/p_view.html.twig' as p_view %}
{% import 'macros/textarea_view.html.twig' as textarea_view %}

{% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
{% set nb_people_budget = eval_people_budget|length %}

<hr/>
<h2 style="{{ style_h2 }}">Situation financière</h2>
{% if nb_people_budget > 1 %}
    <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
        <thead>
        <tr style="{{ style_thead }}">
            <th>Ménage</th>
            <th style="text-align: right;">Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ressources</td>
            <td style="text-align: right;">{{ eval_budget_group.resourcesGroupAmt|amount }}</td>
        </tr>
        {% if eval_budget_group.chargesGroupAmt %}
            <tr>
                <td>Charges</td>
                <td style="text-align: right;">{{ eval_budget_group.chargesGroupAmt|amount }}</td>
            </tr>
        {% endif %}
        {% if eval_budget_group.contributionAmt %}
            <tr>
                <td>Participation financière</td>
                <td style="text-align: right;">{{ eval_budget_group.contributionAmt|amount }}</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        {% if eval_budget_group.budgetBalanceAmt > 0 %}
            <tr style="font-weight: bold;">
                <td>Reste à vivre</td>
                <td style="text-align: right;">{{ eval_budget_group.budgetBalanceAmt|amount }}</td>
            </tr>
        {% endif %}
        {% if eval_budget_group.debtsGroupAmt > 0 %}
            <tr>
                <td>Montant total des dettes</td>
                <td style="text-align: right;">{{ eval_budget_group.debtsGroupAmt|amount }}</td>
            </tr>
        {% endif %}
        </tfoot>
    </table>
    <p>&nbsp;</p>
{% endif %}

{# {{ p_view.get(eval_budget_group.cafId ~ (eval_budget_group.cafAttachment ? ' (CAF de rattachement : ' ~ eval_budget_group.cafAttachment ~ ')'), 'Caf id', 'evaluation') }} #}

{% for eval_person in eval_people_budget %}
    {% set eval_budget_person = eval_person.evalBudgetPerson %}
    {% if eval_budget_person %}
        {% if nb_people_budget > 1 %}
            <p style="{{ style_h3 }}"><u>{{ eval_person.supportPerson.person.fullname }}</u> :</p>
        {% endif %}

        {{ eval_budget_person.resource != YES or eval_budget_person.resourcesAmt == null ? p_view.get(eval_budget_person.resourceToString, 'Ressources', 'evaluation') }}
        {# {{ eval_budget_person.charge != YES or eval_budget_person.chargesAmt == null ? p_view.get(eval_budget_person.chargeToString, 'Charges', 'evaluation') }} #}

        {% if eval_budget_person.resource == YES %}
            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                <thead>
                <tr style="{{ style_thead }}">
                    <th>Ressources</th>
                    <th style="text-align: right;">Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for eval_budget_resource in eval_budget_person.evalBudgetResources %}
                    <tr>
                        <td>{{ eval_budget_resource.type == 1000 and eval_budget_resource.comment ?
                            eval_budget_resource.comment : eval_budget_resource.typeToString }}</td>
                        <td style="text-align: right;">{{ eval_budget_resource.amount > 0 ? eval_budget_resource.amount|amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr style="font-weight: bold;">
                    <td>Total des ressources</td>
                    <td style="text-align: right;">{{ eval_budget_person.resourcesAmt|amount }}</td>
                </tr>
                {% if eval_budget_person.incomeN1Amt is not null %}
                    <tr>
                        <td>Impôts sur le revenu n-1</td>
                        <td style="text-align: right;">{{ eval_budget_person.incomeN1Amt|amount }}</td>
                    </tr>
                {% endif %}
                {% if eval_budget_person.incomeN2Amt is not null %}
                    <tr>
                        <td>Impôts sur le revenu n-2</td>
                        <td style="text-align: right;">{{ eval_budget_person.incomeN2Amt|amount }}</td>
                    </tr>
                {% endif %}
                </tfoot>
            </table>
        {% endif %}

        {{ p_view.get(eval_budget_person.resourcesComment, 'Resources comment', 'evaluation') }}

        {% if eval_budget_person.charge == YES %}
            <p>&nbsp;</p>
            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                <thead>
                <tr style="{{ style_thead }}">
                    <th>Charges</th>
                    <th style="text-align: right;">Montant</th>
                </tr>
                </thead>
                <tbody>
                {% for eval_budget_charge in eval_budget_person.evalBudgetCharges %}
                    <tr>
                        <td>{{ eval_budget_charge.type == 1000 and eval_budget_charge.comment ?
                            eval_budget_charge.comment : eval_budget_charge.typeToString }}</td>
                        <td style="text-align: right;">{{ eval_budget_charge.amount > 0 ? eval_budget_charge.amount|amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr style="font-weight: bold;">
                    <td>Total des charges</td>
                    <td style="text-align: right;">{{ eval_budget_person.chargesAmt|amount }}</td>
                </tr>
                </tfoot>
            </table>
        {% endif %}

        {% if eval_budget_person.chargeComment %}
            {{ p_view.get(eval_budget_person.chargeComment, 'Charge comment', 'evaluation') }}
        {% endif %}

        {% if eval_budget_person.debt == YES %}
            {{ p_view.get(eval_budget_person.debtToString ~ (eval_budget_person.evalBudgetDebts|length > 0 ?
                ' (' ~ eval_budget_person.evalBudgetDebtsToString|lower ~ ')'), 'Debts', 'evaluation') }}
            {{ p_view.get(eval_budget_person.debtsAmt|amount(0), 'Debts amt', 'evaluation') }}
            {{ p_view.get(eval_budget_person.debtComment, 'Debt comment', 'evaluation') }}
            {{ p_view.get(eval_budget_person.overIndebtRecord ? eval_budget_person.overIndebtRecordToString ~ (eval_budget_person.overIndebtRecordDate ?
                ' (date de dépôt : ' ~ eval_budget_person.overIndebtRecordDate|date('d/m/Y') ~ ')'), 'Over indebt record', 'evaluation') }}
            {{ p_view.get(eval_budget_person.settlementPlanToString, 'Settlement plan', 'evaluation') }}
            {{ p_view.get(eval_budget_person.moratoriumToString, 'Moratorium', 'evaluation') }}
            {{ p_view.get(eval_budget_person.endRightsDate ? eval_budget_person.endRightsDate|date('d/m/Y'), 'End rights date', 'evaluation') }}
        {% endif %}
        {{ textarea_view.get(eval_budget_person.commentEvalBudget, null, null, type) }}
    {% endif %}

{% endfor %}

{# Payments table #}
<br>
<table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
    <thead>
    <tr style="{{ style_thead }}">
        <th>
            {% if type == 'note' %}<p style="text-align: justify;">Paiements</p>{% else %}
                <span style="width: 100%;">Paiements</span>
            {% endif %}
        </th>
        <th class="text-center" style="text-align: center;">
            {% if type == 'note' %}<p style="text-align: center;">Période</p>{% else %}
                <span style="width: 100%;">Période</span>
            {% endif %}
        </th>
        <th style="text-align: right; padding-right: 2px;">
            {% if type == 'note' %}<p style="text-align: right;">Montant à régler</p>{% else %}
                <span style="width: 100%;">Montant à régler</span>
            {% endif %}
        </th>
        <th style="text-align: right; padding-right: 2px;">
            {% if type == 'note' %}<p style="text-align: right;">Montant réglé</p>{% else %}
                <span style="width: 100%;">Montant réglé</span>
            {% endif %}
        </th>
        <th style="text-align: right; padding-right: 2px;">
            {% if type == 'note' %}<p style="text-align: right;">Restant dû (différenciel)</p>{% else %}
                <span style="width: 100%;">Restant dû (différenciel)</span>
            {% endif %}
        </th>
        <th class="text-center th-date" style="text-align: center;">
            {% if type == 'note' %}<p style="text-align: center;">Date de l'opération</p>{% else %}
                <span style="width: 100%;">Date de l'opération</span>
            {% endif %}
        </th>
        <th>
            {% if type == 'note' %}<p style="text-align: justify;">Commentaire</p>{% else %}
                <span style="width: 100%;">Commentaire</span>
            {% endif %}
        </th>
    </tr>
    </thead>
    <tbody>

    {% set to_pay_amt_sum, paid_amt_sum, still_to_pay_amt_sum = 0, 0, 0 %}
    {% for payment in payments %}

        {% set to_pay_amt_sum = to_pay_amt_sum + payment.toPayAmt %}
        {% set paid_amt_sum = paid_amt_sum + payment.paidAmt %}
        {% set still_to_pay_amt_sum = still_to_pay_amt_sum + payment.stillToPayAmt %}

        {% if loop.index <= 3 %}

            {% if type == 'note' %}
                {% include 'app/evaluation/export/_evaluation_budget_payment_note.html.twig' %}
            {% else %}

                <tr>
                    <td>{{ payment.typeToString }}</td>
                    <td class="align-middle text-center" style="text-align: center;">
                        {% if payment.startDate %}
                            <small>{{ payment.startDate|date("d/m/Y") }} - {{ payment.endDate|date("d/m/Y") }}</small>
                        {% endif %}
                    </td>

                    <td class="align-middle text-right" style="text-align: right;">
                        <span style="width: 100%;">{{ payment.toPayAmt is not null ? payment.toPayAmt|amount }}</span>
                    </td>

                    <td class="align-middle text-right" style="text-align: right;">
                        <span style="width: 100%;">{{ payment.paidAmt is not null ? payment.paidAmt|amount }}</span>
                    </td>

                    <td class="align-middle text-right" style="text-align: right;">
                        <span style="width: 100%;">{{ payment.stillToPayAmt is not null ? payment.stillToPayAmt|amount }}</span>
                    </td>

                    <td class="align-middle text-center" style="text-align: center;">
                        <span style="width: 100%;">{{ payment.paymentDate ? payment.paymentDate|date("d/m/Y") }}</span>
                    </td>

                    <td><small>{{ payment.comment }}</small></td>
                </tr>
            {% endif %}
        {% endif %}

    {% endfor %}
    </tbody>
    <tfoot>
    <tr style="font-weight: bold; text-align: justify">
        <td style="text-align: justify;" colspan="2">Total</td>
        <td style="text-align: right;">
            {% if type == 'note' %}
                <p style="text-align: right;">{{ to_pay_amt_sum|amount }}</p>
            {% else %}
                <span style="width: 100%;">{{ to_pay_amt_sum|amount }}</span>
            {% endif %}</td>
        <td style="text-align: right;">
            {% if type == 'note' %}
                <p style="text-align: right;">{{ paid_amt_sum|amount }}</p>
            {% else %}
                <span style="width: 100%;">{{ paid_amt_sum|amount }}</span>
            {% endif %}</td>
        <td style="text-align: right;">
            {% if type == 'note' %}
                <p style="text-align: right;">{{ still_to_pay_amt_sum|amount }}</p>
            {% else %}
                <span style="width: 100%;">{{ still_to_pay_amt_sum|amount }}</span>
            {% endif %}</td>
        <td colspan="2"></td>
    </tr>
    </tfoot>
</table>