{% import "macros/viewParagraph.html.twig" as view_p %}
{% import "macros/viewTextArea.html.twig" as view_text %}

{% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
{% set nb_people_budget = eval_people_budget|length %}

<hr/>
<h2 style="{{ style_h2 }}">Situation financière</h2>
{% if nb_people_budget > 1 %}
    <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
        <thead>
            <tr style="{{ style_thead }}">
                <th>Ménage</th>
                <th style="text-align: right;">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ressources</td>
                <td style="text-align: right;">{{ evalBudgetGroup.resourcesGroupAmt|amount }}</td>
            </tr>
            {% if evalBudgetGroup.chargesGroupAmt %}
                <tr>
                    <td>Charges</td>
                    <td style="text-align: right;">{{ evalBudgetGroup.chargesGroupAmt|amount }}</td>
                </tr>
            {% endif %}
            {% if evalBudgetGroup.contributionAmt %}
                <tr>
                    <td>Participation financière</td>
                    <td style="text-align: right;">{{ evalBudgetGroup.contributionAmt|amount }}</td>
                </tr>
            {% endif %}
            {% if evalBudgetGroup.debtsGroupAmt and evalBudgetGroup.monthlyRepaymentAmt > 0 %}
                <tr>
                    <td>Remboursement mensuel des dettes</td>
                    <td style="text-align: right;">{{ evalBudgetGroup.monthlyRepaymentAmt|amount }}</td>
                </tr>
            {% endif %}
        </tbody>
        <tfoot>
            {% if evalBudgetGroup.budgetBalanceAmt > 0 %}
                <tr style="font-weight: bold;">
                    <td>Reste à vivre</td>
                    <td style="text-align: right;">{{ evalBudgetGroup.budgetBalanceAmt|amount }}</td>
                </tr>
            {% endif %}
            {% if evalBudgetGroup.debtsGroupAmt > 0 %}
                <tr>
                    <td>Montant total des dettes</td>
                    <td style="text-align: right;">{{ evalBudgetGroup.debtsGroupAmt|amount }}</td>
                </tr>
            {% endif %}
        </tfoot>
    </table>
    <p>&nbsp;</p>
{% endif %}

{# {{ view_p.get(evalBudgetGroup.cafId ~ (evalBudgetGroup.cafAttachment ? " (CAF de rattachement : " ~ evalBudgetGroup.cafAttachment ~ ")"), "Caf id", "evaluation") }} #}

{% for evalPerson in eval_people_budget %}
    {% set evalBudget = evalPerson.evalBudgetPerson %}
    {% if evalBudget %}	
        {% if nb_people_budget > 1 %}
            <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
        {% endif %}

        {{ evalBudget.resources != YES or null == evalBudget.resourcesAmt ? view_p.get(evalBudget.resourcesToString, "Resources", "evaluation") }}
        {# {{ evalBudget.charges != YES or null == evalBudget.chargesAmt ? view_p.get(evalBudget.chargesToString, "Charges", "evaluation") }} #}
        
        {% if evalBudget.resources == YES %}
            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                <thead>
                    <tr style="{{ style_thead }}">
                        <th>Ressources</th>
                        <th style="text-align: right;">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in constant("RESOURCES_TYPE", evalBudget) %}
                        {% if attribute(evalBudget, key) %}
                        <tr>
                            <td>{{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                attribute(evalBudget, key ~ 'Precision') : "Autre(s) ressource(s)") }}</td>
                            {% set amt = attribute(evalBudget, key ~ 'Amt') %}
                            <td style="text-align: right;">{{ amt > 0 ? amt|amount }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="font-weight: bold;">
                        <td>Total des ressources</td>
                        <td style="text-align: right;">{{ evalBudget.resourcesAmt|amount }}</td>
                    </tr>
                    {% if evalBudget.incomeN1Amt %}
                        <tr>
                            <td>Impôts sur le revenu n-1</td>
                            <td style="text-align: right;">{{ evalBudget.incomeN1Amt|amount }}</td>
                        </tr>							
                    {% endif %}
                    {% if evalBudget.incomeN2Amt %}
                        <tr>
                            <td>Impôts sur le revenu n-2</td>
                            <td style="text-align: right;">{{ evalBudget.incomeN2Amt|amount }}</td>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
        {% endif %}

        {{ view_p.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}

        {% if evalBudget.charges == YES %}
            <p>&nbsp;</p>
            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                <thead>
                    <tr style="{{ style_thead }}">
                        <th>Charges</th>
                        <th style="text-align: right;">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in constant("CHARGES_TYPE", evalBudget) %}
                        {% if attribute(evalBudget, key) %}
                        <tr>
                            <td>{{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                attribute(evalBudget, key ~ 'Precision') : "Autre(s) charge(s)") }}</td>
                            <td style="text-align: right;">{{ attribute(evalBudget, key ~ 'Amt')|amount }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="font-weight: bold;">
                        <td>Total des charges</td>
                        <td style="text-align: right;">{{ evalBudget.chargesAmt|amount }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}

        {% if evalBudget.chargeComment %}
            {{ view_p.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
        {% endif %}

        {% if evalBudget.debts %}
            {{ view_p.get(evalBudget.debtsToString ~ (evalBudget.debtsType ? 
                " (" ~ evalBudget.debtsType|join(", ")|lower ~ ")"), "Debts", "evaluation") }}
            {{ view_p.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
            {{ view_p.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")"), "Over indebt record", "evaluation") }}
            {{ view_p.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
            {{ view_p.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
            {{ view_p.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y"), "End rights date", "evaluation") }}
        {% endif %}
        {{ view_text.get(evalBudget.commentEvalBudget, null, null, type) }}
    {% endif %}

{% endfor %}