{% extends "base.html.twig" %}

{% block title %}Groupes de places | {{ title_website }}{% endblock %}

{% block body %}

<section class="mt-0 mb-4">
    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-4">Groupes de places</h1>
    </div>

    {% include "app/accommodation/searchAccommodations.html.twig" %}

    <div class="container-fluid mt-4">
        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Total : {{ accommodations.getTotalItemCount | number_format(0,'', ' ')}} groupes
                    de places.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(accommodations) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">
                            {{ knp_pagination_sortable(accommodations, "Nom du groupe de places", "a.name") }}
                        </th>
                        <th scope="col" class="align-middle th-w-100">
                            {{ knp_pagination_sortable(accommodations, "Service", "s.name") }}
                        </th>
                        <th scope="col" class="align-middle th-w-100">
                            {{ knp_pagination_sortable(accommodations, "Dispositif", "d.name") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(accommodations, "Nombre de places", "a.placesNumber") }}
                        </th>
                        <th scope="col" class="align-middle th-date">
                            {{ knp_pagination_sortable(accommodations, "Date d'ouverture", "a.openingDate") }}
                        </th>
                        <th scope="col" class="align-middle th-date">
                            {{ knp_pagination_sortable(accommodations, "Date de fermeture", "a.closingDate") }}
                        </th>
                        </th>
                        <th scope="col" class="align-middle th-w-150">
                            {{ knp_pagination_sortable(accommodations, "Adresse", "a.address") }}
                        </th>
                        <th scope="col" class="align-middle th-w-100">
                            {{ knp_pagination_sortable(accommodations, "Ville", "a.city") }}
                        </th>
                        <th scope="col" class="align-middle th-w-60">
                            {{ knp_pagination_sortable(accommodations, "Département", "a.zipcode") }}
                        </th>
                        <th scope="col" class="align-middle th-w-150">Occupation actuelle (Nb de personnes)</th>
                    </tr>
                </thead>

                <tbody>
                    {% for accommodation in accommodations %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('accommodation_edit', {'id':accommodation.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir le groupe de places"><span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ accommodation.name }}</td>
                        <td><a href="{{ path('service_edit', {'id': accommodation.service.id }) }}" class="text-{{ theme_color }}">{{ accommodation.service.name }}</a></td>
                        <td>{{ accommodation.device.name }}</td>
                        <td>{{ accommodation.placesNumber }}</td>
                        <td>{{ accommodation.openingDate | date("d/m/Y") }}</td>
                        <td>{% if accommodation.closingDate %} {{ accommodation.closingDate | date("d/m/Y") }}{% endif %}</td>
                        <td>{{ accommodation.address }}</td>
                        <td>{{ accommodation.city|capitalize }}</td>
                        <td>{{ accommodation.zipcode }}</td>
                        <td>{% set nbPeople = 0 %}
                            {% for accommodationGroup in accommodation.accommodationGroups|filter(a => a.endDate|date("Y-m-d") >= "now"|date("Y-m-d")) %} 
                                {% set nbAccommodationPeople = accommodationGroup.accommodationPeople|length %}
                                {% if not loop.first %} + {% endif %}{{ nbAccommodationPeople }}
                                {% set nbPeople = nbPeople + nbAccommodationPeople %}
                            {% endfor %}
                            {% if nbPeople == 0 %}
                                <span class="badge badge-danger" title="Ce groupe de places est innocupé.">Vacant</span>
                            {% elseif accommodation.placesNumber != nbPeople %}
                                <span class="badge badge-warning" title="Le nombre de personnes ne correspond pas au nombre de places">Diff.</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">{{ knp_pagination_render(accommodations) }}</div>

    </div>
</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("directory") }}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}