{% extends "base.html.twig" %}

{% block title %}Groupes de places{{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("multiSelect") }}
{% endblock %}

{% block body %}

    <section class="mt-0 mb-4">
        <div class="container">
            {% include "model/msgFlash.html.twig" %}
            <h1 class="h2 mb-3">Groupes de places</h1>
        </div>

        {% include "app/accommodation/searchAccommodations.html.twig" %}

        <div class="container-fluid mt-4">
            <div class="row align-items-baseline">
                <div class="col-md-4 count align-middle">
                    <p class="align-middle">Total : {{ accommodations.getTotalItemCount|number_format(0,'', ' ')}} groupes
                        de places.</p>
                </div>
                <div class="col-md-8">
                    <div class="navigation">{{ knp_pagination_render(accommodations) }}</div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-150">
                                {{ knp_pagination_sortable(accommodations, "Groupe de places", "a.name") }}
                            </th>
                            <th scope="col" class="align-middle th-w-100">
                                {{ knp_pagination_sortable(accommodations, "Service", "s.name") }}
                            </th>
                            <th scope="col" class="align-middle th-w-100">
                                {{ knp_pagination_sortable(accommodations, "Dispositif", "d.name") }}
                            </th>
                            <th scope="col" class="align-middle th-w-80">
                                {{ knp_pagination_sortable(accommodations, "Nombre de places", "a.nbPlaces") }}
                            </th>
                            <th scope="col" class="align-middle th-date">
                                {{ knp_pagination_sortable(accommodations, "Date d'ouverture", "a.startDate") }}
                            </th>
                            <th scope="col" class="align-middle th-date">
                                {{ knp_pagination_sortable(accommodations, "Date de fermeture", "a.endDate") }}
                            </th>
                            </th>
                            <th scope="col" class="align-middle th-w-150">
                                {{ knp_pagination_sortable(accommodations, "Adresse", "a.address") }}
                            </th>
                            <th scope="col" class="align-middle th-w-100">
                                {{ knp_pagination_sortable(accommodations, "Ville", "a.city") }}
                            </th>
                            <th scope="col" class="align-middle th-w-60">
                                {{ knp_pagination_sortable(accommodations, "Code postal", "a.zipcode") }}
                            </th>
                            <th scope="col" class="align-middle th-w-150">Occupation actuelle (Nb de personnes)</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th scope="col" class="align-middle th-w-60">
                                    {{ knp_pagination_sortable(accommodations, "Désactivé", "a.disabledAt") }}
                                </th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for accommodation in accommodations %}
                            <tr class="{% if accommodation.disabled %}text-secondary{% endif %}">
                                <td scope="row" class="align-middle" >
                                    <a href="{{ path('accommodation_edit', {'id':accommodation.id}) }}"
                                        class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                        title="Voir le groupe de places"><span class="fas fa-eye"></span>
                                    </a>
                                </td>
                                <td class="align-middle">{% if accommodation.disabled %}<del>{{ accommodation.name }}</del> (désactivé){% else %}{{ accommodation.name }}{% endif %}</td>
                                <td class="align-middle"><a href="{{ path('service_edit', {'id': accommodation.service.id }) }}" class="text-{{ theme_color }}">{{ accommodation.service.name }}</a></td>
                                <td class="align-middle">{{ accommodation.device ? accommodation.device.name }}</td>
                                <td class="align-middle">{{ accommodation.nbPlaces }}</td>
                                <td class="align-middle">{{ accommodation.startDate ? accommodation.startDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ accommodation.endDate ? accommodation.endDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ accommodation.address }}</td>
                                <td class="align-middle">{{ accommodation.city }}</td>
                                <td class="align-middle">{{ accommodation.zipcode }}</td>
                                <td class="align-middle">{% set nbPeople = 0 %}
                                    {% if accommodation.accommodationType != 3 %}
                                        {% for accommodationGroup in accommodation.accommodationGroups|filter(a => a.endDate|date("Y-m-d") >= "now"|date("Y-m-d")) %} 
                                            {% set nbAccommodationPeople = accommodationGroup.accommodationPeople|length %}
                                            {% if not loop.first %} + {% endif %}{{ nbAccommodationPeople }}
                                            {% set nbPeople = nbPeople + nbAccommodationPeople %}
                                        {% endfor %}
                                        {% if nbPeople == 0 %}
                                            <span class="badge badge-danger" title="Ce groupe de places est innocupé.">Vacant</span>
                                        {% elseif accommodation.nbPlaces != nbPeople %}
                                            <span class="fas fa-exclamation-triangle text-warning" title="Le nombre de personnes ne correspond pas au nombre de places"></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td class="align-middle">{{ accommodation.disabledAt ? "Oui" }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="navigation">{{ knp_pagination_render(accommodations) }}</div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("search") }}
{% endblock javascripts %}