{% extends "base.html.twig" %}

{% form_theme form_search "bootstrap_4_layout.html.twig" %}
{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block title %}
Referents | Esperer95.app
{% endblock %}

{% block body %}

<div class="container">

	{% set title = "Referents" %}
	{% include "app/support/navSuppport.html.twig" %}

	<div class="row">
		<div class="col-md-6 mb-1">
			<button id="js-new-referent" class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-toggle="modal" data-target="#modal-referent" data-placement="bottom" title="Ajouter un nouveau referent">
				<span class="fas fa-plus-square mr-2"></span>Nouveau referent</button>
			<div class="d-inline align-middle">Total :
				<span id="count-referents">{{ referents.getTotalItemCount | number_format(0,'', ' ')}}</span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="navigation">{{ knp_pagination_render(referents) }}</div>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-md-12">
			<div class="accordion" id="accordionSearch">
				<div id="form-search">
					<div role="button" class="collapsed cursor-pointer d-block d-sm-none" id="headingSearch" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
						<h2 class="h5">Recherche<span class="float-right"><span class="fa fa-chevron-down"></span></span></h2>
					</div>
					<div id="collapseSearch" class="collapse show float-right" aria-labelledby="headingSearch" data-parent="#accordionSearch">
						{{ form_start(form_search) }}
						<div class="form-inline justify-content-md-center align-items-end">
							<div class="form-group col-auto my-1 px-1">{{ form_row(form_search.name) }}</div>
							<div class="form-group col-auto my-1 px-1">{{ form_row(form_search.type) }}</div>
							<div class="form-group col-auto my-1 px-1">
								<div class="form-group">
									<button type="submit" id="search" class="btn btn-{{ theme_color }} shadow" data-placement="bottom" title="Rechercher">
										<span class="fas fa-search"></span><span class="sr-only">Rechercher</span>
									</button>
									<button type="reset" class="btn btn-secondary ml-2 shadow" data-placement="bottom" title="Effacer">
										<span class="fas fa-eraser"></span><span class="sr-only">Effacer</span>
									</button>
								</div>
							</div>
						</div>
						{{ form_end(form_search) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-striped table-hover text-dark shadow-sm">
			<thead>
				<tr>
					<th scope="row" class="align-middle th-w-20"></th>
					<th scope="col" class="align-middle th-w-150">
						{{ knp_pagination_sortable(referents, "Nom du service référent", "ref.name") }}
					</th>
					<th scope="col" class="align-middle th-w-120">
						{{ knp_pagination_sortable(referents, "Type", "ref.type") }}
					</th>
					<th scope="col" class="align-middle th-w-150">
						{{ knp_pagination_sortable(referents, "Description", "ref.socialWorker") }}
					</th>
					<th scope="col" class="align-middle th-date">
						{{ knp_pagination_sortable(referents, "Date de création", "ref.createdAt") }}
					</th>
					<th scope="col" class="align-middle th-w-20"></th>
				</tr>
			</thead>

			<tbody id="container-referents" data-support="{{ support.id }}">

				{% for referent in referents %}
					{% set path = referent.groupPeople.id ~ "/" ~ referent.createdAt | date("Y/m")  ~ "/" ~ referent.internalFileName %}
					<tr id="referent-{{ referent.id }}" class="js-referent">
						<th scope="row" class="align-middle text-center">
							<a href="{{ asset("uploads/referents/" ~ path) }}" target="_blank" class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-placement="bottom" title="Télécharger le referent">
								<span class="fas fa-file-download"></span>
							</a>
						</th>
						<td class="js-referent-name" data-toggle="modal" data-target="#modal-referent">
							{{ referent.name }}</td>
						<td class="js-referent-type" data-toggle="modal" data-target="#modal-referent" data-value="{{ referent.type }}">{{ referent.typeToString }}</td>
						<td class="js-referent-content" data-toggle="modal" data-target="#modal-referent">
							{{ referent.socialWorker }}</td>
						<td class="js-referent-createdAt" data-toggle="modal" data-target="#modal-referent">
							{{ referent.createdAt | date("d/m/Y H:i") }}</td>
						<td class="align-middle text-center">
							<button data-url="{{ path('referent_delete', {'id':referent.id}) }}" class="js-delete btn btn-danger btn-sm shadow my-1" data-placement="bottom" title="Supprimer le referent" data-toggle="modal" data-target="#modal-block">
								<span class="fas fa-trash-alt"></span>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="navigation">{{ knp_pagination_render(referents) }}</div>

	{% include "app/referent/modalReferent.html.twig" %}
	{% include "app/referent/modalDeleteReferent.html.twig" %}

</div>

{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{# {{ encore_entry_script_tags("referent") }} #}
{% endblock javascripts %}
