{% extends "app/evaluation/edit/model/_evaluationAccordion.html.twig" %}

{% import "macros/loopSupportPeople.html.twig" as utils %}

{% block card_title %}Famille{{ parent() }}{% endblock %}

{% block card_body %}

    <div class="row mb-3">
        <div class="col-md-12 accordion" id="accordion-eval_family">
            {{ utils.loopSupportPeople(accordion_id, form.evaluationPeople, theme_color) }}

            {% for key, evalPerson in form.evaluationPeople %}
                {% set supportPerson = evalPerson.vars.value.supportPerson %}
                <div id="collapse-eval_family-{{ key }}" class="collapse {% if loop.first %}show{% endif %} my-3"
                    aria-labelledby="heading-eval_family-{{ key }}" data-parent="#accordion-eval_family" 
                    data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
                {% if supportPerson.role != ROLE_CHILD %}
                    <div class="form-group row">
                        <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.maritalStatus) }}</div>
                        <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_maritalStatus">
                            {{ form_row(evalPerson.evalFamilyPerson.noConciliationOrder) }}</div>
                    </div>
                    <div class="form-group row">
                        {% if supportPerson.person.gender == GENDER_FEMALE and supportPerson.person.age < 50 %}
                            <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.unbornChild) }}</div>
                            <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_unbornChild">
                                {{ form_row(evalPerson.evalFamilyPerson.expDateChildbirth) }}</div>
                            <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_unbornChild">
                                {{ form_row(evalPerson.evalFamilyPerson.pregnancyType) }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.protectiveMeasure) }}</div>
                        <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_protectiveMeasure">
                            {{ form_row(evalPerson.evalFamilyPerson.protectiveMeasureType) }}</div>
                    </div>
                    {% endif %}
                    {% if supportPerson.role == ROLE_CHILD %}
                        <div class="form-group row">
                            <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.childcareOrSchool) }}</div>
                            <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_childcareOrSchool">{{ form_row(evalPerson.evalFamilyPerson.childcareSchoolType) }}</div>
                            <div class="col-md-6" data-parent-field="{{ key }}_evalFamilyPerson_childcareOrSchool">{{ form_row(evalPerson.evalFamilyPerson.childcareSchoolLocation) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.childToHost) }}</div>
                            <div class="col-md-6">{{ form_row(evalPerson.evalFamilyPerson.childDependance) }}</div>
                        </div>
                    {% endif %}
                    <div class="form-group row">
                        <div class="col-md-12">{{ form_label(evalPerson.evalFamilyPerson.commentEvalFamilyPerson) }}</div>
                        <div class="col-md-12">{{ form_widget(evalPerson.evalFamilyPerson.commentEvalFamilyPerson) }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr/>
    {% if typo in [4, 5, 6, 8] %}
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.evalFamilyGroup.pmiFollowUp) }}</div>
            <div class="col-md-6" data-parent-field="pmiFollowUp">{{ form_row(form.evalFamilyGroup.pmiName) }}</div>
        </div>
    {% endif %}
    <div class="form-group row">
        <div class="col-md-6" data-parent-field="0_evalAdmPerson_nationality">
            {{ form_row(form.evalFamilyGroup.childrenBehind) }}</div>
        <div class="col-md-6" data-parent-field="0_evalAdmPerson_nationality">
            {{ form_row(form.evalFamilyGroup.famlReunification) }}</div>
        <div class="col-md-6" data-parent-field="famlReunification">{{ form_row(form.evalFamilyGroup.nbPeopleReunification) }}</div>
    </div>
    {% if nb_people > 1 %}
        <div class="form-group row">
            <div class="col-md-12">{{ form_label(form.evalFamilyGroup.commentEvalFamilyGroup) }}</div>
            <div class="col-md-12">{{ form_widget(form.evalFamilyGroup.commentEvalFamilyGroup) }}</div>
        </div>
    {% endif %}
	{{ parent() }}
    
{% endblock %}