{% extends "model/_collapseCard.html.twig" %}

{% import "macros/loopSupportPeople.html.twig" as utils %}

{% block card_title %}Justice{{ badgeTitle }}{% endblock %}

{% block card_body %}

	<div class="row">
		<div class="col-md-12">
			{% for evalPerson in form.evaluationPeople|filter(a => a.vars.value.supportPerson.head) %}
				<button type="button" class="btn btn-outline-{{ theme_color }} active mb-4">{{ evalPerson.vars.value.supportPerson.person.fullname}}</button>
				<div class="form-group row">
					<div class="col-md-6">{{ form_row(evalPerson.evalJusticePerson.justiceStatus) }}</div>
					<div class="col-md-6">{{ form_row(evalPerson.evalJusticePerson.justiceAct) }}</div>
				</div>
				<div class="form-group row">
					<div class="col-md-12">
						{{ form_label(evalPerson.evalJusticePerson.commentEvalJustice) }}
						{{ form_widget(evalPerson.evalJusticePerson.commentEvalJustice) }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
