{# Resources #}
{% set ressources = constant("App\\Entity\\Evaluation\\EvalBudgetPerson::RESOURCES_TYPE") %}

<div class="col-md-6">
    <div class="row mb-3">
        <div class="col-md-12">{{ form_row(evalBudgetPerson.resources.resources) }}</div>
        <div class="col-md-12" data-parent-field="{{ prefix }}_resources_resources"
			data-options="1|3">
            <div class="row">
                <div class="col-form-label col-sm-4">Type de ressources</div>
                <div class="col-sm-8">
                    <select id="{{ key }}_{{ entity }}_resourcesType"
                        name="{{ key }}_{{ entity }}_resourcesType" class="form-control" 
                        data-type="resources" data-sp-id="{{ support_person_id }}">
                        <option class="default" value="">-- Ajouter --</option>
                        {% for ressKey, ressValue in ressources %}
                            <option value="{{ ressKey }}">{{ ressValue }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive" data-parent-field="{{ prefix }}_resources_resources" 
                data-options="1|3">
                <table class="table table-sm table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">Type de resources</th>
                            <th scope="col" class="align-middle th-w-150">Montant</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for ressKey, ressValue in ressources %}
                            <tr class="d-table-row" data-parent-select="{{ key }}_{{ entity }}_resourcesType"
                                data-value="{{ ressKey }}" data-sp-id="{{ support_person_id }}">
                                <td scope="row">{{ form_widget(attribute(evalBudgetPerson.resources, ressKey)) }}</td>
                                <td class="align-middle">{{ not loop.last ? ressValue : 
                                    form_widget(evalBudgetPerson.resources.ressourceOtherPrecision) }}
                                </td>
                                <td class="align-middle">{{ form_widget(attribute(evalBudgetPerson.resources, ressKey ~ "Amt")) }}</td>
                                <td class="align-middle">
                                    <button class="btn btn-danger" data-action="remove"><!--
                                    --><span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="font-weight-bold">
                            <td scope="row"></td>
                            <td class="align-middle">Total des resources</td>
                            <td class="align-middle">
                                <div data-parent-field="{{ prefix }}_resources_resources" data-options="1|3">
                                    {{ form_widget(evalBudgetPerson.resources.resourcesAmt) }}</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>