{% set eval_budget_debt_prototype %}
    <td class="align-middle" scope="row" data-type="">
        {{ form_widget(form_eval_budget_person.evalBudgetDebts.vars.prototype.type)|e }}</td>
    <td class="align-middle" data-name="">
        {{ form_widget(form_eval_budget_person.evalBudgetDebts.vars.prototype.comment)|e }}</td>
    <td class="align-middle" data-amount="">
        {{ form_widget(form_eval_budget_person.evalBudgetDebts.vars.prototype.amount, {attr: {class: 'text-end'}})|e }}</td>
    <td class="align-middle">
        <button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
    </td>
{% endset %}

<div class="col-md-6">
    <div class="row mb-3">
        <div class="col-md-12">
            {{ form_row(form_eval_budget_person.debt, {
                attr: {'data-important': 'true', 'data-twin-field': 'debt'}
            }) }}
        </div>
        <div class="col-md-12" data-parent-field="{{ prefix_id }}_debt" data-options="1|3">
            {{ form_row(form_eval_budget_person.debtType) }}
        </div>
        <div class="col-md-12 mt-3" data-parent-field="{{ prefix_id }}_debt" data-options="1|3">
            <div class="table-responsive">
                <table class="table table-sm table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">Type de dettes</th>
                            <th scope="col" class="align-middle th-w-150">Montant</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
					<tbody id="{{ prefix_id }}_debtType_list" 
                        data-prototype='{{ eval_budget_debt_prototype }}' data-container-tag="tr"
                        data-items-counter="{{ form_eval_budget_person.evalBudgetDebts|length }}">
                        {% for form_eval_debt in form_eval_budget_person.evalBudgetDebts %}
                            {% set debt = form_eval_debt.vars.value %}
                            <tr data-parent-select="{{ prefix_id }}_debtType"
                                data-value="{{ debt.type }}">
                                <td class="align-middle" scope="row">{{ form_widget(form_eval_debt.type) }}</td>
                                <td class="align-middle">{{ debt.type == 1000 ? form_widget(form_eval_debt.comment) : 
                                    debt.typeToString }}</td>
                                <td class="align-middle">{{ form_widget(form_eval_debt.amount, {attr: {class: 'text-end'}}) }}</td>
                                <td class="align-middle">
                                    <button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="fw-bold">
                            <td scope="row"></td>
                            <td class="align-middle">Total des dettes</td>
                            <td class="align-middle">
                                <div data-parent-field="{{ prefix_id }}_debt" data-options="1|3">
                                    {{ form_widget(form_eval_budget_person.debtsAmt, {
                                        attr: {
                                            'class': 'text-end', 
                                            'data-amount': 'debtsAmt',
                                            'data-twin-field': 'true',
                                            'placeholder': 'Amount',
                                        }
                                    }) }}
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>