{% extends 'app/evaluation/edit/model/_evaluation_accordion.html.twig' %}

{% import 'macros/support_people_looper.html.twig' as support_people_looper %}

{% block card_title %}Emploi{{ parent() }}{% endblock %}

{% block card_body %}

    <div class="row">
        <div class="col-md-12 accordion" id="accordion_evalProf">
			{{ support_people_looper.loop(accordion_id, people_over_16, support, theme_color) }}

            {% for key, eval_person in people_over_16 %}
            	{% set prefix_id= 'evaluation_evaluationPeople_' ~ key ~ '_evalProfPerson' %}
                <div id="collapse_{{ prefix_id }}" class="collapse {% if loop.first %}show{% endif %} my-3"
                    aria-labelledby="heading_{{ prefix_id }}" data-bs-parent="#accordion_evalProf">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(eval_person.evalProfPerson.profStatus, {
                                attr: {'data-important': 'true', 'data-twin-field': 'true'}
                            }) }}
                        </div>
                        <div class="col-md-6" data-parent-field="{{ prefix_id }}_profStatus" 
                            data-options="2|3|8|97">
                            {{ form_row(eval_person.evalProfPerson.jobCenterId) }}</div>
                    </div>
                    <div class="row mb-3" data-parent-field="{{ prefix_id }}_profStatus" 
                        data-options="3|5|8">   
                        <div class="col-md-6" data-parent-field="{{ prefix_id }}_profStatus" data-options="3|5|8">
                            {{ form_row(eval_person.evalProfPerson.contractType, {
                                attr: {'data-important': 'true', 'data-twin-field': 'true'}
                            }) }}
                        </div>
                        <div class="col-md-6" data-parent-field="{{ prefix_id }}_profStatus" data-options="3|5|8">
                            {{ form_row(eval_person.evalProfPerson.workingTime, {
                                attr: {'data-important': 'true'}
                            }) }}
                        </div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.contractStartDate) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.contractEndDate) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.nbWorkingHours) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.workingHours) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.jobType) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.workPlace) }}</div>
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.employerName) }}</div>
                    </div>
                    <div class="row mb-3" data-parent-field="{{ prefix_id }}_profStatus" data-options="1|2|3|5|6|8|97">
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.transportMeansType) }}</div>
                        <div class="col-md-6" data-parent-field="{{ prefix_id }}_transportMeansType" data-options="*">
                            {{ form_row(eval_person.evalProfPerson.transportMeans) }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6" title="Reconnaissance de la qualité de travailleur handicapé"
                            data-parent-field="{{ prefix_id }}_profStatus" data-options="1|2|3|4|8|9|97">
                            {{ form_row(eval_person.evalProfPerson.rqth, {
                                attr: {'data-important': 'true'}
                            }) }}
                        </div>
                        <div class="col-md-6" data-parent-field="{{ prefix_id }}_rqth" data-options="1">
                            {{ form_row(eval_person.evalProfPerson.endRqthDate, {
                                attr: {'data-important': 'true'}
                            }) }}
                        </div>
                    </div>
                     <div class="row mb-3">
                        <div class="col-md-6">{{ form_row(eval_person.evalProfPerson.schoolLevel) }}</div>
                        <div class="col-md-6"data-parent-field="{{ prefix_id }}_profStatus" data-options="1|2|3|4|8|9|97">
                            {{ form_row(eval_person.evalProfPerson.profExperience) }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">{{ form_widget(eval_person.evalProfPerson.commentEvalProf) }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
	{{ parent() }}
    
{% endblock %}