{% extends 'app/evaluation/edit/model/_evaluation_accordion.html.twig' %}

{% set prefix_id = 'evaluation_evalHousingGroup' %}

{% block card_title %}Logement - Hébergement{{ parent() }}{% endblock %}

{% block card_body %}

	<div>
		{% if support.service.place != YES and false == SERVICE_TYPE_HOTEL %}
		{% set housing_status_options = '200|201|202|203|204|205|206|207|300|301|302|303|304' %}
			<div class="mb-3">
				<div class="row">
					<div class="col-md-6">
						{{ form_row(form.evalHousingGroup.housingStatus, {
							attr: {'data-important': 'true', 'data-twin-field': 'true'}
						}) }}
					</div>
					<div class="col-md-6" data-parent-field="{{ prefix_id }}_housingStatus" 
					data-options="{{ housing_status_options }}">
						{{ form_row(form.evalHousingGroup.housingArrivalDate) }}</div>
				</div>
				<div class="row" data-parent-field="{{ prefix_id }}_housingStatus" 
					data-options="{{ housing_status_options }}">
					<div class="col-md-6">{{ form_row(form.evalHousingGroup.expulsionInProgress) }}</div>
					<div class="col-md-6"  data-parent-field="{{ prefix_id }}_expulsionInProgress" 
						data-options="1">{{ form_row(form.evalHousingGroup.publicForce) }}</div>
				</div>
				<div class="row" data-parent-field="{{ prefix_id }}_expulsionInProgress" data-options="1">
					<div class="col-md-6">{{ form_row(form.evalHousingGroup.publicForceDate) }}</div>
					<div class="col-md-6">{{ form_row(form.evalHousingGroup.expulsionComment) }}</div>
				</div>
			</div>
			<hr class="my-4"/>
		{% endif %}
		<div class="mb-3">
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.evalHousingGroup.siaoRequest, {
						attr: {'data-important': 'true', 'data-twin-field': 'true'}
					}) }}
				</div>
			</div>
			<div class="row" data-parent-field="{{ prefix_id }}_siaoRequest" data-options="1">
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.siaoRequestDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.siaoUpdatedRequestDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.siaoRequestDept) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.siaoRecommendation) }}</div>
			</div>
		</div>
		<hr class="my-4"/>
		<div class="mb-3">
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.evalHousingGroup.socialHousingRequest, {
						attr: {'data-important': 'true', 'data-twin-field': 'true'}
					}) }}
				</div>
			</div>
			<div class="row" data-parent-field="{{ prefix_id }}_socialHousingRequest" data-options="1">
				<div class="col-md-6" >{{ form_row(form.evalHousingGroup.socialHousingRequestId) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.socialHousingRequestDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.socialHousingUpdatedRequestDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.housingWishes) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.citiesWishes) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.specificities) }}</div>
			</div>
		</div>
		<hr class="my-4"/>
		<div class="mb-3">
			<div class="row" >
				<div class="col-md-6">
					{{ form_row(form.evalHousingGroup.syplo, {
						attr: {'data-important': 'true'}
					}) }}
				</div>
			</div>
			<div class="row" data-parent-field="{{ prefix_id }}_syplo" data-options="1">
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.syploId) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.syploDate) }}</div>
			</div>
			<hr class="my-4"/>
		</div>
		<div class="mb-3">
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.evalHousingGroup.daloAction, {
						attr: {'data-important': 'true'}
					}) }}
				</div>
			</div>
			<div class="row" data-parent-field="{{ prefix_id }}_daloAction" data-options="1">
				<div class="col-md-6" >{{ form_row(form.evalHousingGroup.daloType) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.daloRecordDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.daloId) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.daloDecisionDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.daloTribunalAction) }}</div>
				<div class="col-md-6" data-parent-field="{{ prefix_id }}_daloTribunalAction" data-options="1">
					{{ form_row(form.evalHousingGroup.daloTribunalActionDate) }}</div>
			</div>
		</div>
		{# <div class="row mb-3">
			<div class="col-md-6">{{ form_row(form.evalHousingGroup.collectiveAgreementHousing) }}</div>
			<div class="col-md-6" data-parent-field="{{ prefix_id }}_collectiveAgreementHousing" data-options="1">
				{{ form_row(form.evalHousingGroup.collectiveAgreementHousingDate) }}</div>
		</div> #}
		<hr class="my-4"/>
		<div class="mb-3">
			<div class="row">
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.hsgActionEligibility) }}</div>
			</div>
			<div class="row" data-parent-field="{{ prefix_id }}_hsgActionEligibility" data-options="1">
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.hsgActionRecord) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.hsgActionDate) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.hsgActionDept) }}</div>
				<div class="col-md-6">{{ form_row(form.evalHousingGroup.hsgActionRecordId) }}</div>
			</div>
		</div>
		<hr class="my-4"/>
		<div class="row mb-3">
			<div class="col-md-6">{{ form_row(form.evalHousingGroup.housingExperience) }}</div>
			<div class="col-md-6" data-parent-field="{{ prefix_id }}_housingExperience" data-options="1">
				{{ form_row(form.evalHousingGroup.housingExpeComment) }}</div>
		</div>

		{% if support.service.place != YES and false == SERVICE_TYPE_HOTEL %}
			{% set housing_helps = constant('App\\Entity\\Evaluation\\EvalHousingGroup::HOUSING_HELPS') %}
			<div class="row mb-3" data-parent-field="{{ prefix_id }}_housingStatus" 
				data-options="{{ housing_status_options }}">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">{{ form_row(form.evalHousingGroup._hsgHelps) }}</div>
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-sm table-hover text-dark">
									<tbody class="table-group-divider">
										{% for hsgHelpKey, hsgHelpValue in housing_helps %}
											<tr data-parent-select="{{ prefix_id }}__hsgHelps" data-value="{{ hsgHelpKey }}">
												<td scope="row">{{ form_widget(attribute(form.evalHousingGroup, hsgHelpKey)) }}</td>
												<td class="align-middle">{{ hsgHelpValue }}</td>
												<td class="align-middle text-end">
													<button class="btn btn-danger" data-action="remove">
														<span class="fas fa-trash-alt"></span>
													</button>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<hr class="my-4"/>
		<div class="mb-4">
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.evalHousingGroup.domiciliation, {
						attr: {'data-important': 'true'}
					}) }}
				</div>
			</div>
			<div data-parent-field="{{ prefix_id }}_domiciliation" data-options="1">
				<div class="row">
					<div class="col-md-6"  data-parent-field="{{ prefix_id }}_domiciliation" data-options="1">
						{{ form_row(form.evalHousingGroup.domiciliationType, {
							attr: {'data-important': 'true'}
						}) }}
					</div>
					<div class="col-md-6">{{ form_row(form.evalHousingGroup.domiciliationComment) }}</div>
					<div class="col-md-6" >{{ form_row(form.evalHousingGroup.startDomiciliationDate) }}</div>
					<div class="col-md-6">{{ form_row(form.evalHousingGroup.endDomiciliationDate) }}</div>
				</div>
				<div class="row" data-location-search="address" data-location-lat="{{ support.service.lat }}"
					data-location-lon="{{ support.service.lon }}"
				>
					<div class="col-md-6 position-relative">
						{{ form_row(form.evalHousingGroup._domiciliationSearch, {
							attr: {'data-location-type': 'search'}}) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.evalHousingGroup.domiciliationAddress, {
							attr: {'data-location-type': 'address'}}) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.evalHousingGroup.domiciliationCity, {
							attr: {'data-location-type': 'city'}}) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.evalHousingGroup.domiciliationZipcode, {
							attr: {'data-location-type': 'zipcode'}}) }}
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4"/>
		<div class="row mb-3">
			<div class="col-md-12">
				{{ form_widget(form.evalHousingGroup.commentEvalHousing) }}
			</div>
		</div>
	</div>
	{{ parent() }}
	
{% endblock %}
