{% extends 'app/evaluation/edit/model/_evaluation_accordion.html.twig' %}

{% import 'macros/support_people_looper.html.twig' as support_people_looper %}

{% block card_title %}<span class="{{ edit_mode ? 'text-secondary' }}">Situation à l'entrée</span>{{ parent() }}{% endblock %}

{% block card_body %}

	<p class="mb-4 p-2 border border-warning"><span class="fas fa-exclamation-triangle text-warning me-1"></span><!--
		-->Attention, cet encart <b>ne doit être compléter qu'au début du suivi</b>. <!--
		-->Il ne doit pas être mise à jour par la suite (sauf information manquante ou erronée).</p>

	<div>
	    <div class="row mb-3">
			<div class="col-md-6"> {{ form_row(form.evalSocialGroup.reasonRequest) }}</div>
			<div class="col-md-6"> {{ form_row(form.evalSocialGroup.wanderingTime) }}</div>
    	</div>
		<div class="row mb-3">
			<div class="col-md-6">
				{{ form_row(form.evalInitGroup.housingStatus, {
					attr: {'data-important': 'true', 'data-twin-field': 'true'}
				}) }}
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-6">
				{{ form_row(form.evalInitGroup.siaoRequest, {
					attr: {'data-important': 'true', 'data-twin-field': 'true'}
				}) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.evalInitGroup.socialHousingRequest, {
					attr: {'data-important': 'true', 'data-twin-field': 'true'}
				}) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 accordion" id="accordion_eval_init">
			{{ support_people_looper.loop(accordion_id, evaluation_people, support, theme_color) }}

			{% for key, form_eval_person in evaluation_people %}
				{% set form_eval_init_person = form_eval_person.evalInitPerson %}
				{% set support_person_id = form_eval_person.vars.value.supportPerson.id %}
				{% set entity = 'evalInitPerson' %}
				{% set prefix_id = 'evaluation_evaluationPeople_' ~ key ~ '_evalInitPerson' %}

				<div id="collapse_{{ prefix_id }}" class="collapse {% if loop.first %}show{% endif %} my-3"
					aria-labelledby="heading_{{ prefix_id }}" data-bs-parent="#accordion_eval_init"
					data-sp-id="{{ support_person_id }}">
					<div class="row mb-3">
						<div class="col-md-6">
							{{ form_row(form_eval_init_person.paper, {
								attr: {'data-important': 'true', 'data-twin-field': 'true'}
							}) }}
						</div>
						<div class="col-md-6" data-parent-field="{{ prefix_id }}_paper" data-options="1|3">
							{{ form_row(form_eval_init_person.paperType, {
								attr: {'data-important': 'true', 'data-twin-field': 'true'}
							}) }}
						</div>
					</div>			
					{% if form_eval_person.vars.value.supportPerson.person.age > 16 %}
						<div class="row">
							<div class="col-md-6">
								{{ form_row(form_eval_init_person.rightSocialSecurity, {
									attr: {'data-important': 'true', 'data-twin-field': 'true'}
								}) }}
							</div>
							<div class="col-md-6" data-parent-field="{{ prefix_id }}_rightSocialSecurity" data-options="1|3">
								{{ form_row(form_eval_init_person.socialSecurity, {
									attr: {'data-important': 'true', 'data-twin-field': 'true'}
								}) }}
							</div>
						</div>		
						<div class="row mb-3">
							<div class="col-md-6">{{ form_row(form_eval_init_person.familyBreakdown) }}</div>
							<div class="col-md-6">{{ form_row(form_eval_init_person.friendshipBreakdown) }}</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								{{ form_row(form_eval_init_person.profStatus, {
									attr: {'data-important': 'true', 'data-twin-field': 'true'}
								}) }}
							</div>
							<div class="col-md-6" data-parent-field="{{ prefix_id }}_profStatus" data-options="3|5|8">
								{{ form_row(form_eval_init_person.contractType, {
									attr: {'data-important': 'true', 'data-twin-field': 'true'}
								}) }}
							</div>
						</div>
						<div class="row mb-3">
							{% include 'app/evaluation/edit/_eval_budget_resources.html.twig' with {'form_eval_budget_person': form_eval_init_person} %}
							<div class="col-md-6">
								<div class="row mb-3">
									<div class="col-md-12">{{ form_row(form_eval_init_person.debt) }}</div>
									<div class="col-md-12" data-parent-field="{{ prefix_id }}_debt"
										data-options="1">{{ form_row(form_eval_init_person.debtsAmt, {attr: {class: 'text-end'}}) }}</div>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="row mb-3">
                        {{ form_label(form_eval_init_person.comment) }}
                        <div class="col-md-12">
                            {{ form_widget(form_eval_init_person.comment) }}
                        </div>
                    </div>
				</div>
			{% endfor %}
		</div>
	</div>
	{{ parent() }}
	
{% endblock %}