{# Charges #}
{% set charges = constant("App\\Entity\\Evaluation\\EvalBudgetPerson::CHARGES_TYPE") %}

<div class="col-md-6">
    <div class="form-group row">
        <div class="col-md-12">{{ form_row(evalBudgetPerson.charges) }}</div>
        <div class="col-md-12" data-parent-field="{{ key }}_{{ entity }}_charges">
            <div class="row">
                <div class="col-form-label col-sm-4">Type de charges</div>
                <div class="col-sm-8">
                    <select id="js-{{ key }}_{{ entity }}_charges_type"
                        name="js-{{ key }}_{{ entity }}_charges_type" class="form-control"
                        data-id="chargesType" data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
                        <option class="default" value="">-- Ajouter --</option>
                        {% for chargeKey, chargeValue in charges %}
                            <option value="{{ chargeKey }}">{{ chargeValue }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive" data-parent-field="{{ key }}_{{ entity }}_charges">
                <table class="table table-sm table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">Type de charges</th>
                            <th scope="col" class="align-middle th-w-150">Montant</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chargeKey, chargeValue in charges %}
                        <tr id="js-{{ key }}_{{ entity }}_charges_type-{{ chargeKey }}" class="js-{{ key }}_{{ entity }}_charges_type d-table-row">
                            <td scope="row"><div class="sr-only">{{ form_widget(attribute(evalBudgetPerson, chargeKey)) }}</div></td>
                            <td class="align-middle">{% if not loop.last %}{{ chargeValue }}<!--
                            -->{% else %}{{ form_widget(evalBudgetPerson.chargeOtherPrecision) }}{% endif %}</td>
                            <td>{{ form_widget(attribute(evalBudgetPerson, chargeKey ~ "Amt")) }}</td>
                            <td class="align-middle"><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr id="js-{{ key }}_{{ entity }}_chargesAmt" class="font-weight-bold">
                            <td scope="row"></td>
                            <td class="align-middle">Total des charges</td>
                            <td class="align-middle">{{ form_widget(evalBudgetPerson.chargesAmt) }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>