{% extends "base.html.twig" %}

{% block title %}Évaluation sociale{% endblock %}

{% block body %}

	{% set title = "Évaluation sociale" %}
	{% set evaluationGroup = form.vars.value %}
	{% set EDIT_MODE = evaluationGroup.updatedAt != evaluationGroup.createdAt %}
	{% set ROLE_CHILD = constant("App\\Entity\\People\\RolePerson::ROLE_CHILD") %}
	{% set GENDER_FEMALE = constant("App\\Entity\\People\\Person::GENDER_FEMALE") %}
	{% set evaluationPeople = form.evaluationPeople %}
	{% set nb_people = evaluationPeople|length %}
	{% set people_adults = evaluationPeople|filter(e => e.vars.value.supportPerson.role != ROLE_CHILD) %}
	{% set people_over_16 = evaluationPeople|filter(e => e.vars.value.supportPerson.person.age >= 16) %}
	{% set nb_children = nb_people - people_adults|length %}

	{% set SERVICE_TYPE_AVDL = support.service.type == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_AVDL") %}
	{% set SERVICE_TYPE_HOTEL = support.service.type == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_HOTEL") %}
	
	<div class="container">

		{% include "app/support/_partials/_nav_support.html.twig" %}

		{{ form_start(form) }}

		{% include "model/_msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<div class="row mb-3 align-items-center">
			<div class="col-md-6 my-2 small text-secondary" data-edit-mode="{{ EDIT_MODE ? 'true' : 'false' }}">
				Créée le {{ evaluationGroup.createdAt|date("d/m/Y à H:i") }}
				<span id="evaluation-updateAt">
					{% if evaluationGroup.updatedAt != evaluationGroup.createdAt %}
						(modifiée le {{ evaluationGroup.updatedAt|date("d/m/Y à H:i") }}
						{% if evaluationGroup.updatedBy %} par {{ evaluationGroup.updatedBy.fullname }}{% endif %})
					{% endif %}
				</span>
			</div>
			<div class="col-md-6">
				{% include "app/evaluation/_export_evaluation.html.twig" %}
			</div>
		</div>
		<div class="mb-4">
			{% include "app/evaluation/edit/_initEvaluation.html.twig" with {accordion_id: "initEval"} %}
			{% include "app/evaluation/edit/_evaluationBackground.html.twig" with {accordion_id: "evalBackground"} %}
			{% if support.service.justice == YES %}
				{% include "app/evaluation/edit/_evaluationJustice.html.twig" with {accordion_id: "evalJustice"} %}
			{% endif %}
			{% include "app/evaluation/edit/_evaluationAdm.html.twig" with {accordion_id: "evalAdm"} %}
			{% include "app/evaluation/edit/_evaluationFamily.html.twig" with {accordion_id: "evalFamily"} %}
			{% include "app/evaluation/edit/_evaluationSocial.html.twig" with {accordion_id: "evalSocial"} %}
			{% include "app/evaluation/edit/_evaluationProf.html.twig" with {accordion_id: "evalProf"} %}
			{% include "app/evaluation/edit/_evaluationBudget.html.twig" with {accordion_id: "evalBudget"} %}
			{% include "app/evaluation/edit/_evaluationHousing.html.twig" with {accordion_id: "evalHousing"} %}
			{% if SERVICE_TYPE_HOTEL %}
				{% include "app/evaluation/edit/_evaluationHotelLife.html.twig" with {accordion_id: "evalHotelLife"} %}
			{% endif %}
			{% include "app/evaluation/edit/_evaluationConclusion.html.twig" with {accordion_id: "evalConclusion"} %}
		</div>

		<div class="row mb-3">
			<div class="col-md-12">
				<div class="float-left d-flex">
					{% if is_granted("ROLE_ADMIN") %}
						{% set textAlert = "'Êtes-vous vraiment sûr de vouloir supprimer cette évaluation sociale ?'" %}
						<a id="modal-btn-delete" class="mr-3 btn btn-danger d-block" href="{{ path('evaluation_delete', {'id': evaluationGroup.id}) }}" 
							title="Supprimer l'évaluation sociale" data-toggle="tooltip" data-placement="bottom" 
							onclick="if(window.confirm({{ textAlert }})){return true;}else{return false;}">
							<i class="fas fa-trash-alt mr-2"></i>Supprimer</a>
					{% endif %}
					{% set textAlert = "'Attention, cela va écraser les données de la présente évaluation sociale." ~ 
						" Êtes-vous vraiment sûr de vouloir récupérer l`évaluation sociale du SI-SIAO ?'" %}
					<a class="btn btn-{{ theme_color }} d-block mr-3" href="{{ path('api_sisiao_support_import_evaluation', {'id': support.id}) }}" 
						title="Importer l'évaluation sociale du SI-SIAO" data-toggle="tooltip" data-placement="bottom" 
						onclick="if(window.confirm({{ textAlert }})){return true;}else{return false;}"><i class="fas fa-cloud-download-alt mr-2"></i>
						<span class="d-none d-sm-inline">Importer SI-SIAO</span></a>
				</div>
				<div class="mb-4 float-right">
					<button type="submit" name="send" class="btn btn-{{ theme_color }} shadow" 
						data-url="{{ path('support_evaluation_edit', {'id': support.id}) }}">
						<i class="fas fa-save mr-2"></i>Enregistrer</button>
				</div>
			</div>
		</div>
		{{ form_row(form._token) }}
		{{ form_end(form, {"render_rest": false}) }}
	</div>

	{% include "app/payment/_contributionCalculModal.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("evaluation") }}
{% endblock javascripts %}
