{% extends "base.html.twig" %}

{% block title %}Évaluation sociale{% endblock %}

{% block body %}

	{% set title = "Évaluation sociale" %}
	{% set evaluationGroup = form.vars.value %}
	{% set EDIT_MODE = form.vars.value.evalBudgetGroup != null %}
	{% set ROLE_CHILD = constant("App\\Entity\\People\\RolePerson::ROLE_CHILD") %}
	{% set GENDER_FEMALE = constant("App\\Entity\\People\\Person::GENDER_FEMALE") %}
	{% set evaluationPeople = form.evaluationPeople %}
	{% set nb_people = evaluationPeople|length %}
	{% set people_adults = evaluationPeople|filter(e => e.vars.value.supportPerson.role != ROLE_CHILD) %}
	{% set people_over_16 = evaluationPeople|filter(e => e.vars.value.supportPerson.person.age >= 16) %}
	{% set nb_children = nb_people - people_adults|length %}

	{% set SERVICE_TYPE_AVDL = support.service.type == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_AVDL") %}
	{% set SERVICE_TYPE_HOTEL = support.service.type == constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_HOTEL") %}
	
	<div class="container">

		{% include "app/support/_shared/_navSuppport.html.twig" %}

		{{ form_start(form) }}

		{% include "model/_msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<div class="row my-3 align-items-center">
			<div class="col-md-12 my-1 small text-secondary">Évaluation créée le {{ evaluationGroup.createdAt|date("d/m/Y") }}
				{% if evaluationGroup.updatedAt %} (modifiée le {{ evaluationGroup.updatedAt|date("d/m/Y à H:i") }}){% endif %}
			</div>
		</div>

		<div class="mb-4" data-edit-mode="{% if EDIT_MODE %}true{% else %}false{% endif %}">
			{% include "app/evaluation/edit/_initEvaluation.html.twig" with {accordion_id: "init_eval"} %}
			{% include "app/evaluation/edit/_evaluationBackground.html.twig" with {accordion_id: "eval_background"} %}
			{% if support.service.justice == YES %}
				{% include "app/evaluation/edit/_evaluationJustice.html.twig" with {accordion_id: "eval_justice"}  %}
			{% endif %}
			{% include "app/evaluation/edit/_evaluationAdm.html.twig" with {accordion_id: "eval_adm"} %}
			{% include "app/evaluation/edit/_evaluationFamily.html.twig" with {accordion_id: "eval_family"} %}
			{% include "app/evaluation/edit/_evaluationSocial.html.twig" with {accordion_id: "eval_social"} %}
			{% include "app/evaluation/edit/_evaluationProf.html.twig" with {accordion_id: "eval_prof"} %}
			{% include "app/evaluation/edit/_evaluationBudget.html.twig" with {accordion_id: "eval_budget"} %}
			{% include "app/evaluation/edit/_evaluationHousing.html.twig" with {accordion_id: "eval_housing"} %}
			{% if SERVICE_TYPE_HOTEL %}
				{% include "app/evaluation/edit/_evaluationHotelLife.html.twig" with {accordion_id: "eval_hotel_life"} %}
			{% endif %}
			{% include "app/evaluation/edit/_evaluationConclusion.html.twig" with {accordion_id: "eval_conclusion"} %}
		</div>

		<div class="form-group row">
			<div class="col-md-12">
				<div class="mb-4 float-right">
					<button type="submit" name="send" data-url="{{ path('support_evaluation_edit', {'id': support.id}) }}" 
						class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>{% if EDIT_MODE %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>
		{{ form_row(form._token) }}
		{{ form_end(form, {"render_rest": false}) }}
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("evaluation") }}
{% endblock javascripts %}
