<section class="mb-3" id="nav">

    <h1 class="h2 mb-3">Groupe<span class="fas fa-angle-right fa-xs mx-1"></span>{{ title }}</h1>

    {% include 'model/_flash_message.html.twig' %}
    <div id="js-msg-flash-content"></div>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="link-primary" href="{{ path('people_group_show', {'id': people_group.id}) }}">
                    <span class="fas fa-users me-2"></span>Fiche groupe
                    <span class="small">{{ people_group.familyTypologyToString }}</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav> 
	<div id="js-people">
		{% for rolePerson in people_group.rolePeople %}
            {% set btn_outline = person is not defined or person.id != rolePerson.person.id ? 'outline-' %}
			<a href="{{ path('group_person_show', {'id': people_group.id, 'person_id': rolePerson.person.id, 'slug': rolePerson.person.slug}) }}" 
				class="btn btn-{{ btn_outline }}primary btn-sm rounded-pill mb-2">{{ rolePerson.person.fullname }}</a>
		{% endfor %}
	</div>
</section>