{% extends 'base.html.twig' %}

{% block title %}Taux d'occupation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h2 mb-3">Taux d'occupation<span class="fas fa-angle-right fa-xs mx-1"></span><!--
        -->{{ service ? service.name : ' Groupes de places' }}</h1>
    </div>

    {% include 'app/occupancy/_search_occupancy.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path('occupancy_services', {'year': search.year, 'date': {'start': search.start|date('Y-m-d'), 'end': search.end|date('Y-m-d')}, 
                    'pole': search.pole ? search.pole.id}) }}" class="link-primary"><span class="fas fa-undo me-2"></span>
                    {% if service %}Retour {% else %}Accès{% endif %} aux taux d'ocupation par service.</a>
                </p>
                {% set interval = date(search.start).diff(date(search.end)) %}
                <p>Période du {{ search.start|date('d/m/Y') }} au {{ search.end|date('d/m/Y') }},<!--
                --> soit {{ interval.days }} nuit{{ interval.days > 1 ? 's' }}.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive-sm">
                    <table class="table table-sm table-bordered table-striped table-hover text-dark shadow">
                        <thead>
                            <tr>
                                <th scope="row" class="align-middle th-w-20"></th>
                                <th class="align-middle th-w-150">Groupe de places</th>
                                <th class="align-middle th-w-150">Service (Dispositif)</th>
                                <th class="align-middle th-w-150">Adresse</th>
                                <th class="align-middle th-w-100 text-end">Nombre de places</th>
                                <th class="align-middle th-w-100 text-end">Nb de nuitées théoriques</th>
                                <th class="align-middle th-w-100 text-end">Nb de nuitées réalisées</th>
                                <th class="align-middle th-w-100 text-end">Nb moyen de places/nuit</th>
                                <th class="align-middle th-w-100 text-end">Nb moyen de personnes/nuit</th>
                                <th class="align-middle th-w-100 text-end">Taux d'occupation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for placeId, place in datas.places %}
                                <tr>
                                    <td scope="row" class="align-middle text-center">
                                        <a href="{{ path('place_edit', {'id': placeId, 'year': search.year}) }}#place_groups" 
                                            class="btn btn-primary btn-sm shadow" data-bs-placement="bottom" 
                                            title="Voir le groupe de places"><span class="fas fa-eye fa-sm"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ place.place.name }}</td>
                                    <td class="align-middle">{{ place.place.service.name }} ({{ place.place.device.name }})</td>
                                    <td class="align-middle">{{ place.place.address }}, {{ place.place.city }}</td>
                                    <td class="align-middle text-end">{{ place.sumPlaces }}</td>
                                    <td class="align-middle text-end">{{ place.capacityDays|number }}</td>
                                    <td class="align-middle text-end">{{ place.occupancyDays|number }}</td>
                                    <td class="align-middle text-end">{{ place.averageCapacity|round(2) }}</td>
                                    <td class="align-middle text-end">{{ place.averageOccupancy|round(2) }}</td>
                                    {% set ocupancy_rate = ratio(place.occupancyDays, place.capacityDays) %}
                                    <td class="align-middle bg-{{ color(ocupancy_rate) }} bg-opacity-25 text-end">
                                        <span class="fw-bold fst-italic">{{ ocupancy_rate|percent }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold">
                                <td class="align-middle text-center" scope="row">Total</td>
                                <td class="align-middle py-2" colspan="3">{{ datas.places|length }}</td>
                                <td class="align-middle text-end">{{ datas.sumPlaces|number }}</td>
                                <td class="align-middle text-end">{{ datas.capacityDays|number }}</td>
                                <td class="align-middle text-end">{{ datas.occupancyDays|number }}</td>
                                <td class="align-middle text-end">{{ datas.averageCapacity|round(2) }}</td>
                                <td class="align-middle text-end">{{ datas.averageOccupancy|round(2) }}</td>
                                {% set ocupancy_rate = ratio(datas.occupancyDays, datas.capacityDays) %}
                                    <td class="align-middle bg-{{ color(ocupancy_rate) }} bg-opacity-25 text-end">
                                        <span class="fw-bold fst-italic">{{ ocupancy_rate|percent }}</span>
                                    </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('occupancy') }}
{% endblock javascripts %}