{% extends 'base.html.twig' %}

{% block title %}Taux d'occupation{% endblock %}

{% block body %}
    <div class="container">
        {% include 'model/_flash_message.html.twig' %}
        <h1 class="h2 mb-3">Taux d'occupation<span class="fas fa-angle-right fa-xs mx-1"></span>Dispositifs</h1>
    </div>

    {% include 'app/occupancy/_search_occupancy.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path('occupancy_services', {'year': search.year, 'date': {'start': search.start|date('Y-m-d'), 
                    'end': search.end|date('Y-m-d')}, 'pole': search.pole ? search.pole.id}) }}" class="text-{{ theme_color }}">
                    <span class="fas fa-undo me-2"></span>Accès aux taux d'ocupation par service.</a>
                </p>
                {% set interval = date(search.start).diff(date(search.end)) %}
                <p>Période du {{ search.start|date('d/m/Y') }} au {{ search.end|date('d/m/Y') }},<!--
                --> soit {{ interval.days }} nuit{{ interval.days > 1 ? 's' }}.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive-sm">
                    <table class="table table-sm table-bordered table-striped table-hover text-dark shadow">
                        <thead>
                            <tr>
                                <th scope="row" class="align-middle th-w-20"></th>
                                <th class="align-middle th-w-150">Dispositif</th>
                                <th class="align-middle th-w-100 text-end">Nombre de groupes de places</th>
                                <th class="align-middle th-w-100 text-end">Nombre de places</th>
                                <th class="align-middle th-w-100 text-end">Nb de nuitées théoriques</th>
                                <th class="align-middle th-w-100 text-end">Nb de nuitées réalisées</th>
                                <th class="align-middle th-w-100 text-end">Nb moyen de places/nuit</th>
                                <th class="align-middle th-w-100 text-end">Nb moyen de personnes/nuit</th>
                                <th class="align-middle th-w-100 text-end">Taux d'occupation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deviceId, device in datas.devices %}
                                <tr>
                                    <td scope="row" class="align-middle text-center">
                                        <a href="{{ path('occupancy_device_services', {'id': deviceId, 'year': search.year, 
                                            'date': {'start': search.start|date('Y-m-d'), 'end': search.end|date('Y-m-d') }}) }}" 
                                            class="btn btn-{{ theme_color }} btn-sm shadow" data-bs-placement="bottom" 
                                            title="Voir le détail des groupes de places du device"><span class="fas fa-eye fa-sm"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ device.name }}</td>
                                    <td class="align-middle text-end">{{ device.nbPlaces }}</td>
                                    <td class="align-middle text-end">{{ device.sumPlaces }}</td>
                                    <td class="align-middle text-end">{{ device.capacityDays|number }}</td>
                                    <td class="align-middle text-end">{{ device.occupancyDays|number }}</td>
                                    <td class="align-middle text-end">{{ device.averageCapacity|round(2) }}</td>
                                    <td class="align-middle text-end">{{ device.averageOccupancy|round(2) }}</td>
                                    {% set ocupancy_rate = ratio(device.occupancyDays, device.capacityDays) %}
                                    <td class="align-middle alert-{{ color(ocupancy_rate) }} text-end">
                                        <span class="fw-bold font-italic">{{ ocupancy_rate|percent }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="fw-bold">
                                <td class="align-middle text-center" scope="row">Total</td>
                                <td class="align-middle">{{ datas.devices|length }}</td>
                                <td class="align-middle text-end">{{ datas.nbPlaces|number }}</td>
                                <td class="align-middle text-end">{{ datas.sumPlaces|number }}</td>
                                <td class="align-middle text-end">{{ datas.capacityDays|number }}</td>
                                <td class="align-middle text-end">{{ datas.occupancyDays|number }}</td>
                                <td class="align-middle text-end">{{ datas.averageCapacity|round(2) }}</td>
                                <td class="align-middle text-end">{{ datas.averageOccupancy|round(2) }}</td>
                                {% set ocupancy_rate = ratio(datas.occupancyDays, datas.capacityDays) %}
                                <td class="align-middle alert-{{ color(ocupancy_rate) }} text-end">
                                    <span class="fw-bold font-italic">{{ ocupancy_rate|percent }}</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
    {{ encore_entry_script_tags('occupancy') }}
{% endblock javascripts %}