{% extends 'base.html.twig' %}

{% set organization = form.vars.value %}
{% set edit_mode = organization.id != null %}
{% set title = edit_mode ? 'Organisme ' ~ organization.name : 'Nouvel organisme' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">{{ title }}</h1>
        {% if edit_mode %}
        <div class="small text-secondary">
            <p> Créé le {{ organization.createdAt|date('d/m/Y à H:i') }}
                {{ organization.createdBy ? ' par ' ~ organization.createdBy.fullname }}
                (modifié le {{ organization.updatedAt|date('d/m/Y à H:i') }}
                {{ organization.createdBy ? ' par ' ~ organization.updatedBy.fullname }})
            </p>
        </div>
        {% else %}
        <div class="mb-4"></div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link-primary"
                    href="{{ path('organization_index') }}">Liste des organismes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Fiche organisme</li>
            </ol>
        </nav>

        <hr>

        <section>
            {{ form_start(form) }}

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-12">{{ form_widget(form.comment) }}</div>
            </div>

            {{ form_row(form._token) }}
            <div class="row mb-3">
                <div class="col-md-12"> 
                    <div class="mb-4 float-end">
                        <button type="submit" id="send" name="send" class="btn btn-primary shadow"><span class="fas fa-save me-2"></span>{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </section>

    </div>
    
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('directory') }}
{% endblock javascripts %}