{% extends 'base.html.twig' %}

{% block title %}Organismes{% endblock %}

{% block body %}
    <section class="mt-0 mb-4">
        <div class="container">
            {% include 'model/_flash_message.html.twig' %}
            <h1 class="h2 mb-3">Organismes</h1>

            <div class="row align-items-baseline">
                <div class="col-md-4 count align-middle">
                    <p class="align-middle">{{ organizations.getTotalItemCount|number }}<!--
                    --> organismes.</p>
                </div>
                <div class="col-md-8">
                    <div class="navigation">{{ knp_pagination_render(organizations) }}</div>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_organization_new') }}" class="btn btn-primary btn-sm mb-3 shadow js-create-organization">
                <span class="fas fa-plus-square me-2"></span>Ajouter un nouvel organisme</a>
            {% endif %}

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-120">
                                {{ knp_pagination_sortable(organizations, 'Nom organisme', 'o.name') }}
                            </th>
                            <th scope="col" class="align-middle th-w-150">Description</th>
                            <th scope="col" class="align-middle th-w-80">
                                {{ knp_pagination_sortable(organizations, 'Date de création', 'o.createdAt') }}
                            </th>
                            <th scope="col" class="align-middle th-w-80">Crée par</th>
                            <th scope="col" class="align-middle th-w-80">
                                {{ knp_pagination_sortable(organizations, 'Date de mise à jour', 'o.updatedAt') }}
                            </th>
                            <th scope="col" class="align-middle th-w-80">Modifié par</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for organization in organizations %}
                            <tr>
                                <td scope="row" class="align-middle text-center">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('admin_organization_edit', {'id': organization.id}) }}"
                                            class="btn btn-primary btn-sm shadow" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom" title="Voir la fiche de l'organisme">
                                            <span class="fas fa-eye"></span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="align-middle">{{ organization.name }}</td>
                                <td class="align-middle">{{ organization.comment }}</td>
                                <td class="align-middle">{{ organization.createdAt|date('d/m/Y') }}</td>
                                <td class="align-middle">{{ organization.createdBy ? organization.createdBy.fullname }}</td>
                                <td class="align-middle">{{ organization.updatedAt|date('d/m/Y') }}</td>
                                <td class="align-middle">{{ organization.updatedBy ? organization.updatedBy.fullname }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">{{ knp_pagination_render(organizations) }}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_organization_new') }}" class="btn btn-primary btn-sm mb-2 shadow js-create-organization">
                    <span class="fas fa-plus-square me-2"></span>Ajouter un nouvel organisme</a>
            {% endif %}
    </section>
{% endblock %}