{% extends 'base.html.twig' %}

{% set title = 'Modèle d\'export' %}

{% set block_save %}
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="float-end">
                <button type="submit" class="btn btn-primary shadow">{{ button_label|default('Enregistrer') }}</button>
            </div>
        </div>
    </div>
{% endset %}


{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">{{ title }}</h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-primary" href="{{ path('admin') }}">Administration</a></li>
                <li class="breadcrumb-item"><a class="text-primary" href="{{ path('export_model_index') }}">Mes modèles d'export</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
            </ol>
        </nav>

        <section>  
            {{ form_start(form) }}
            {{ block_save }}
            <div class="row mb-4">
                <div class="col-md-6">{{ form_row(form.title) }}</div>
                <div class="col-md-6">{{ form_row(form.comment) }}</div>
                <div class="col-md-6">{{ form_row(form.share) }}</div>
            </div>
            <div class="row mb-4">
                {% for item in export_model.content %}
                    <div class="col-md-6">
                        {{ form_row(form[item.id]) }}
                    </div>
                {% endfor %}
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form) }}
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="float-start">
                        <form method="post" action="{{ path('export_model_delete', {id: export_model.id}) }}" 
                            onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce modèle d\'export ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ export_model.id) }}">
                            <button class="btn btn-danger shadow" title="Supprimer le modèle" 
                                data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <span class="fas fa-trash-alt me-1"></span>Supprimer
                            </button>
                        </form>
                    </div>
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary shadow">{{ button_label|default('Enregistrer') }}</button>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('export-model') }}
{% endblock javascripts %}