{% extends 'base.html.twig' %}

{% set title = 'Indicateurs quotidiens d\'activité' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h2 m-3">{{ title }}</h1>
        <div class="navigation">{{ knp_pagination_render(indicators) }}</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                        <thead>
                            <tr>
                                {% set items = {
                                    'Date': 'i.date',
                                    'Nb de personnes créées': 'i.nbCreatedPeople',
                                    'Nb de groupes créés': 'i.nbCreatedGroups',
                                    'Nb de suivis créés': 'i.nbCreatedSupportsGroup',
                                    'Nb de suivis mis à jour': 'i.nbUpdatedSupportsGroup',
                                    'Nb d\'évaluations créés': 'i.nbCreatedEvaluations',
                                    'Nb de notes créées': 'i.nbNCreatedotes',
                                    'Nb de notes mises à jour': 'i.nbUpdatedNotes',
                                    'Nb de RDVs créés': 'i.nbCreatedRdvs',
                                    'Nb de documents créés': 'i.nbCreatedDocuments',
                                    'Nb de paiements créés': 'i.nbCreatedPayments',
                                    'Nb de connexions': 'i.nbConnections',
                                } %}
                                {% for key, item in items %}
                                    <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(indicators, key, item ) }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for indicator in indicators %}
                                <tr>
                                    <td class="align-midle">{{ indicator.date|date('d/m/Y') }}</td>
                                    {% set items = [
                                        indicator.nbCreatedPeople, 
                                        indicator.nbCreatedGroups, 
                                        indicator.nbCreatedSupportsGroup, 
                                        indicator.nbUpdatedSupportsGroup, 
                                        indicator.nbCreatedEvaluations, 
                                        indicator.nbCreatedNotes, 
                                        indicator.nbUpdatedNotes, 
                                        indicator.nbCreatedRdvs, 
                                        indicator.nbCreatedDocuments, 
                                        indicator.nbCreatedPayments,
                                        indicator.nbConnections,
                                    ] %}
                                    {% for item in items %}
                                        <td class="align-midle text-end">{{ item|number }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="navigation">{{ knp_pagination_render(indicators) }}</div>
    </div>
{% endblock %}
