{% extends 'model/_accordion.html.twig' %}

{% block card_title %}Services prescripteurs{% endblock %}

{% block card_body %}
	<div class="row">
		<div class="col-md-6">
			<div class="table-responsive table-sm">
				<table id="function-table" class="table">
					<thead>
						<tr>
							<th scope="col" class="align-middle th-w-150">Dispositif</th>
							<th scope="col" class="align-middle th-w-20"></th>
						</tr>
					</thead>
				
					{% set organization_prototype %}
						<td class="align-middle">{{ form_widget(form.organizations.vars.prototype.organization|e) }}</td>
						<td class="align-middle">
							<button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
						</td>
					{% endset %}

					<tbody id="organizations-fields-list" data-prototype="{{ organization_prototype|e|spaceless }}" 
                		data-container-tag="tr" data-widget-counter="{{ form.organizations|length }}">
						{% for organization in form.organizations %}
							<tr id="{{ organization.vars.id }}">
								<td>{{ form_widget(organization.name) }}</td>
								<td class="align-middle">
									<button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="my-2">
		<button type="button" class="btn btn-{{ theme_color }}" data-add-widget="organization"
			data-list-selector="#organizations-fields-list"><i class="fas fa-plus-square mr-2"></i>Ajouter un prescripteur</button>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="float-right mb-2">
				<button type="submit" class="btn btn-{{ theme_color }} shadow"><i class="fas fa-save mr-2"></i>Enregistrer</button>
			</div>
		</div>
	</div>
{% endblock %}
