{% extends 'model/_accordion.html.twig' %}

{% block card_title %}Dispositifs{% endblock %}

{% block card_body %}

	<div class="row">
		<div class="col-md-6">
			<div class="table-responsive table-sm">
				<table id="function-table" class="table">
					<thead>
						<tr>
							<th scope="col" class="align-middle th-w-150">Dispositif</th>
							<th scope="col" class="align-middle th-w-20"></th>
						</tr>
					</thead>

					{% set service_device_prototype %}
						<td class="align-middle">{{ form_widget(form.serviceDevices.vars.prototype.device) }}</td>
						<td class="align-middle">
							<button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
						</td>
					{% endset %}

					<tbody id="serviceDevices-fields-list" data-prototype="{{ service_device_prototype|e|spaceless }}" 
						data-container-tag="tr" data-widget-counter="{{ form.serviceDevices|length }}">
						{% for serviceDevice in form.serviceDevices %}
							<tr id="{{ serviceDevice.vars.id }}">
								<td>{{ form_widget(serviceDevice.device) }}</td>
								<td class="align-middle">
									<button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	{% if is_granted_edit_service %}
		<div class="my-2">
			<button type="button" class="btn btn-primary" data-add-widget="device"
				data-list-selector="#serviceDevices-fields-list"><i class="fas fa-plus-square me-2"></i>Ajouter un dispositif</button>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="float-end mb-2">
					<button type="submit" class="btn btn-primary shadow"><i class="fas fa-save me-2"></i>Enregistrer</button>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
