{% extends 'model/_accordion.html.twig' %}

{% block card_title %}Sous-services{% endblock %}

{% block card_body %}

	{% if sub_services|length > 0 %}
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-hover text-dark shadow-sm">
				<thead>
					<tr>
						<th scope="col" class="align-middle th-w-20"></th>
						<th scope="col" class="align-middle th-w-140">{{ 'Name'|trans([], 'forms') }}</th>
						<th scope="col" class="align-middle th-w-140">{{ 'sub_service.chief'|trans([], 'forms') }}</th>
						<th scope="col" class="align-middle th-w-140">{{ 'Phone'|trans([], 'forms') }}</th>
						<th scope="col" class="align-middle th-w-140">{{ 'Email'|trans([], 'forms') }}</th>
						<th scope="col" class="align-middle th-w-20"></th>
					</tr>
				</thead>
				<tbody>
					{% for sub_service in sub_services %}
						<tr class="{% if sub_service.disabled %}text-secondary{% endif %}">
							<td class="align-middle text-center" scope="row">
								{% if is_granted_edit_service %}
									<a href="{{ path('sub_service_edit', {'id':sub_service.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow" 
										data-toggle="tooltip" data-placement="bottom" title="Voir la fiche du sous-service"><span class="fas fa-eye"></span>
									</a>                    
                                {% else %}
                                    <span class="btn btn-secondary btn-sm shadow cursor-default" data-toggle="tooltip" data-placement="bottom" 
                                        title="Vous n'avez pas les droits pour accéder à la fiche"><span class="fas fa-ban"></span></span>                           
                                {% endif %}
							</td>
                            <td class="align-middle {% if sub_service.disabled %}delete{% endif %}">{{ sub_service.name }}{% if sub_service.disabled %} (désactivé){% endif %}</td>
							<td class="align-middle">{{ sub_service.chief ? sub_service.chief.fullname }}</td>
							<td class="align-middle">{{ sub_service.phone1}}</td>
							<td class="align-middle">{{ sub_service.email }}</td>
							<td class="align-middle text-center">
								{% if is_granted('DISABLE', service) %}
									<a id="modal-btn-disable" class="me-3 btn btn-danger" href="{{ path('sub_service_disable', {'id':sub_service.id}) }}"
										title="Supprimer le sous-service" data-toggle="tooltip" data-placement="bottom"
										onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir supprimer ce sous-service ?')){return true;}else{return false;}">
										<span class="fas fa-trash-alt"></span>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p>Aucun sous-service.<p>
	{% endif %}
	{% if is_granted_edit_service %}
		<div class="row">
			<div class="col-md-12">
				<a href="{{ path('sub_service_new', {'id':service.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow"><span
					class="fas fa-plus-square pe-2"></span>Créer un sous-service</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
