{% extends 'model/_accordion.html.twig' %}

{% block card_title %}Paramètres{% endblock %}

{% block card_body %}

    <div class="row">
        <div class="col-md-12"><h2 class="h6 mb-3">Archivage et suppression de données</h2></div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">{{ form_row(form.setting.softDeletionDelay) }}</div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-md-12"><h2 class="h6 mb-3">Rappels</h2></div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-6 form-check">
                {{ form_row(form.setting.weeklyAlert) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-check">
                {{ form_row(form.setting.dailyAlert) }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <h3 class="h6 mb-3">Nombre de mois avant l'envoi d'un rappel par email :</h3>
        </div>
        <div class="col-md-6">{{ form_row(form.setting.endValidPermitDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.endRightsSocialSecurityDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.endRqthDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.endRightsDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.siaoUpdatedRequestDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.socialHousingUpdatedRequestDateDelay) }}</div>                
        <div class="col-md-6">{{ form_row(form.setting.endDomiciliationDateDelay) }}</div>                
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="float-end mb-2">
                <button type="submit" class="btn btn-primary shadow"><i class="fas fa-save me-2"></i>Enregistrer</button>
            </div>
        </div>
    </div>
{% endblock %}