{% extends 'model/_search.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.name) }}</div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.pole) }}</div>
    <div class="col-auto my-1 px-1 d-inline-flex">
        <div class="input-group">
            <span class="input-group-text d-none d-sm-block" title="Téléphone" data-bs-toggle="tooltip"
                data-bs-placement="bottom" ><i class=" fas fa-phone text-black-50"></i>
            </span>
            {{ form_label(form.phone, null, {label_attr: {class: 'visually-hidden'}}) }}
            {{ form_widget(form.phone) }}
        </div>
    </div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.city) }}</div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-auto my-1 px-1">{{ form_widget(form.disabled) }}</div>
    {% endif %}
{% endblock %}