{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

        <section class="mt-0 mb-4">

            <div class="container">
                {% include 'model/_flash_message.html.twig' %}
                <h1 class="h2 mb-3">Services</h1>
            </div>

            {% include 'app/organization/service/_service_search_form.html.twig' %}

            {% if services %}

            <div class="container">
                <div class="row align-items-baseline">
                    <div class="col-md-4 count align-middle">
                        <p class="align-middle">Résultat : {{ services.getTotalItemCount|number }} <!--
                        -->service{% if services.getTotalItemCount > 1 %}s{% endif %}.</p>
                    </div>
                    <div class="col-md-8">
                        <div class="navigation">{{ knp_pagination_render(services) }}</div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle th-w-20"></th>
                                <th scope="col" class="align-middle th-w-120">
                                    {{ knp_pagination_sortable(services, 'Service', 's.name') }}
                                </th>
                                <th scope="col" class="align-middle th-w-120">
                                    {{ knp_pagination_sortable(services, 'Pôle', 's.name') }}
                                </th>
                                <th scope="col" class="align-middle th-w-120">Téléphone</th>
                                <th scope="col" class="align-middle th-w-150">Email</th>
                                <th scope="col" class="align-middle th-w-120">Adresse</th>
                                <th scope="col" class="align-middle th-w-120">
                                    {{ knp_pagination_sortable(services, 'Ville', 's.city') }}
                                </th>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <th scope="col" class="align-middle th-w-60">
                                        {{ knp_pagination_sortable(services, 'Désactivé', 's.disabledAt') }}
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr class="{% if service.disabled %}text-secondary{% endif %}">
                                    <td scope="row" class="align-middle text-center">
                                        {% if is_granted('VIEW', service) %}
                                            <a href="{{ path('service_edit', {'id':service.id}) }}" class="btn btn-primary  btn-sm shadow" 
                                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Voir la fiche du service"><span class="fas fa-eye"></span>
                                            </a>
                                        {% else %}
                                            <span class="btn btn-secondary btn-sm shadow cursor-default" data-bs-toggle="tooltip" data-bs-placement="bottom" 
                                                title="Vous n'avez pas les droits pour accéder à la fiche"><span class="fas fa-ban"></span></span>                           
                                        {% endif %}
                                    </td>
                                    <td class="align-middle {% if service.disabled %}delete{% endif %}">{{ service.name }}{% if service.disabled %} (désactivé){% endif %}</td>
                                    <td class="align-middle">
                                        {% if service.pole %}
                                            <a href="{{ path('pole_edit', {'id':service.pole.id}) }}" class="link-primary">{{ service.pole.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ service.phone1}}</td>
                                    <td class="align-middle">{{ service.email }}</td>
                                    <td class="align-middle">{{ service.address }}</td>
                                    <td class="align-middle">{{ service.city }}</td>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <td class="align-middle">{{ service.disabledAt ? 'Oui' }}</td>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(services) }}
                </div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('service_new') }}" class="btn btn-primary btn-sm shadow"><!--
                        --><span class="fas fa-plus-square me-2"></span>Créer un nouveau service</a>
                    </div>
                </div>
                {% endif %}
            </div>

            {% endif %}

        </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock javascripts %}