{% extends "base.html.twig" %}

{% set SERVICE_TYPE_HOTEL = constant("App\\Entity\\Organization\\Service::SERVICE_TYPE_HOTEL") %}

{% set service = form.vars.value %}
{% set disabled = service.isDisabled %}
{% set EDIT_MODE = service.id != null %}
{% set title = EDIT_MODE ? service.name ~ (disabled ? ' (désactivé)') : 'Nouveau service' %}
{% set is_granted_edit_service = is_granted("EDIT", service) %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">

        {{ form_start(form) }}

        <section>
            <h1 class="h2 mb-3">{{ title }}</h1>
            {% if EDIT_MODE %}
                <div class="small text-secondary">
                    <p> Créé le {{ service.createdAt|date("d/m/Y à H:i") }}{{ service.createdBy ? " par " ~ service.createdBy.fullname }}
                        {% if service.updatedAt %}(modifié le {{ service.updatedAt|date("d/m/Y à H:i") }}{{ service.updatedBy ? " par " ~ service.updatedBy.fullname }}{% endif %})
                    </p>
                </div>
            {% else %}
                <div class="mb-4"></div>
            {% endif %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-{{ theme_color }}" href="{{ path('services') }}">Liste des services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fiche service</li>
                </ol>
            </nav>

            {% include "model/_msgFlash.html.twig" %}
            <div id="js-msg-flash-content"></div>

            <hr>

            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.pole) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.phone1) }}</div>
                <div class="col-md-6">{{ form_row(form.email) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.chief) }}</div>
            </div>
            <div class="form-group row" id="service_location">
                <div class="col-md-6">{{ form_row(form.location.search) }}</div>
                <div class="col-md-6">{{ form_row(form.location.address) }}</div>
                <div class="col-md-6">{{ form_row(form.location.city) }}</div>
                <div class="col-md-6">{{ form_row(form.location.zipcode) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.finessId) }}</div>
                <div class="col-md-6">{{ form_row(form.siretId) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.startDate) }}</div>
                <div class="col-md-6">{{ form_row(form.endDate) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12"><h2 class="h4 mb-3">Type d'activités :</h2></div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.type) }}</div>
                <div class="col-md-6">{{ form_row(form.place) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.preAdmission) }}</div>
                <div class="col-md-6">{{ form_row(form.justice) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.contribution) }}</div>
                <div class="col-md-6" data-parent-field="service_contribution" data-options="1">{{ form_row(form.contributionType) }}</div>
                <div class="col-md-6" data-parent-field="service_contributionType" data-options="3|4">{{ form_row(form.contributionRate) }}</div>
                <div class="col-md-6" data-parent-field="service_contributionType" data-options="1|3|4">{{ form_row(form.minRestToLive) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.coefficient) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">{{ form_widget(form.comment) }}</div>
            </div>
            {% if is_granted_edit_service %}
                <div class="form-group row">
                    <div class="col-md-12">
                        {% if EDIT_MODE and is_granted("DISABLE", service) %}
                            <div class="float-left d-flex">
                                <a class="mr-3 btn btn-{{ disabled ? 'success' : 'danger' }} d-block" href="{{ path('service_disable', {'id':form.vars.value.id}) }}"
                                    title="{{ disabled ? 'Réactiver' : 'Désactiver' }} le service" data-toggle="tooltip" data-placement="bottom"
                                    {% if disabled == false %}onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir désactiver ce service ?')){return true;}else{return false;}"{% endif %}>
                                    {% if disabled %}Réactiver{% else %}Désactiver{% endif %}</a>
                            </div>
                        {% endif %}
                        <div class="float-right">
                            <button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow">{% if EDIT_MODE %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>

        {% if EDIT_MODE %}
            {% include "app/organization/service/_serviceSubServices.html.twig" with {accordion_id: "sub_services"} %}
        {% endif %}

        {% include "app/organization/service/_serviceDevices.html.twig" with {accordion_id: "devices"} %}


        {% if is_granted_edit_service %}
            {% if form.organizations is defined and is_granted("ROLE_SUPER_ADMIN") %}
                {% include "app/organization/service/_serviceOrganizations.html.twig" with {accordion_id: "organizations"} %}
            {% endif %}
        {% endif %}

        {% if EDIT_MODE %}
            {% include "app/organization/service/_servicePlaces.html.twig" with {accordion_id: "places"} %}
            {% include "app/organization/service/_serviceUsers.html.twig" with {accordion_id: "users"} %}
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            {% include "app/organization/service/_serviceSettings.html.twig" with {accordion_id: "settings"} %}
        {% endif %}

        {{ form_row(form._token) }}
        {{ form_end(form, {"render_rest": false}) }}


        {% if is_granted_edit_service %}
            {% if form.organizations is defined and is_granted("ROLE_SUPER_ADMIN") %}
                {% include "app/organization/service/_serviceOrganizations.html.twig" with {accordion_id: "organizations"} %}
            {% endif %}
        {% endif %}

        {% if EDIT_MODE %}
            {% include "app/organization/service/_service_tags.html.twig" with {accordion_id: "tags"} %}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("service") }}
{% endblock javascripts %}
