{% set service = support.service %}
{% set device = support.device %}
{% set rent_contribution = constant('RENT_CONTRIBUTION', service) == service.contributionType %}

{% set contribution_rate_description %}
    - Le taux de participation appliqué sur le montant total des ressources prises en compte, déduction faite des charges.</br>
    - Le pourcentage est unique quelle que soit la composition du ménage : {{ payment.contributionRate * 100 }} % des ressources.</br>
{% endset %}

{% set uc_description %}
    Le nombre d'unité de consommation (UC) dans le ménage est calculé sur la base de l’échelle de l'OCDE :</br>
    - 1 UC pour le premier adulte du ménage,</br>
    - 0,5 UC pour les autres personnes de 14 ans ou plus,</br>
    - 0,3 UC pour les enfants de moins de 14 ans.</br>
    (Source INSEE)
{% endset %}

{% set resources_description %}
    - Les ressources prises en compte pour le calcul de la participation financière (PAF) sont toutes les ressources pérennes :</br>
    salaires, prestations sociales (y compris liées au handicap), bourses scolaires, etc.</br>
    - La PAF ne prend pas en compte des ressources temporaires (primes ponctuelles, rappels de prestations sociales, etc.).</br>
    <b>- Les 'Ressources autres' ne sont pas comptabilisées.</b>
{% endset %}

{% set charges_description %}
    - Les charges prises en compte en déduction des ressources sont les suivantes : assurance(s), eau, électricité, gaz, 
    garde d'enfant(s), impôts, mutuelle, pension alimentaire, téléphone, transports.</br>
    - Les remboursements de dettes mensuelles sont également incluses dans les charges.</br>
    - Les charges relatives à l’alimentation et à l’envoi d’argent au pays ne sont prises en comptes dans le calcul.</br>
    <b>- Les 'Charges autres' ne sont pas comptabilisées.</b>
{% endset %}

{% set budget_balance_description %}
    Le reste à vivre mensuel correspond au montant total des ressources mensuelles prises en compte, 
    déduction faite des charges fixes mensuelles.
{% endset %}

{% set rest_to_live_description %}
    Le reste à vivre journalier unitaire correspond au reste à vivre mensuel (ressources - charges fixes) par jour et par personne,
    après application de la participation financière calculée (en prenant compte des unités de consommation).
{% endset %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped mb-4">
            <tbody>
                <tr title="Calcul des ressources" data-content="{{ resources_description }}" data-toggle="popover" 
                    data-trigger="hover" data-placement="bottom" data-html="true">
                    <td class="align-middle">Montant total des ressources mensuelles</td>
                    <td class="align-middle text-right">{{ payment.resourcesAmt|amount(0) }}</td>
                </tr>
                <tr title="Calcul des charges" data-content="{{ charges_description }}" data-toggle="popover" 
                    data-trigger="hover" data-placement="bottom" data-html="true">
                    <td class="align-middle">Montant total des charges fixes mensuelles</td>
                    <td class="align-middle text-right">{{ payment.chargesAmt|amount(0) }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="font-weight-bold alert-secondary" title="Total reste à vivre mensuel" data-toggle="popover" 
                    data-content="{{ budget_balance_description }}" data-trigger="hover" data-placement="bottom" data-html="true">
                    <td class="align-middle">Total reste à vivre mensuel</td>
                    <td class="align-middle text-right">{{ (payment.resourcesAmt - payment.chargesAmt)|amount(0) }}</td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-bordered table-striped">
            <tbody>
                {% if rent_contribution %}
                    <tr title="Montant du loyer" 
                        data-content="Le loyer correspond au montant indiqué dans la fiche descriptive du logement." 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Montant du loyer</td>
                        <td class="align-middle text-right">{{ payment.rentAmt|amount(2) }}</td>
                    </tr>
                    <tr title="Montant APL" data-content="Le montant des APL est à saisir dans le formulaire. <br/>
                        Les APL sont en déduction du montant du loyer." 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Montant APL</td>
                        <td class="align-middle text-right">{{ payment.aplAmt|amount(2) }}</td>
                    </tr>
                {% else %}
                    <tr title="Taux de participation financière" data-content="{{ contribution_rate_description }}" 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Taux de participation financière</td>
                        <td class="align-middle">{{ (payment.contributionRate * 100)|percent(0) }}</td>
                    </tr>
                {% endif %}
                {% if constant('SERVICE_TYPE_HOTEL', service) != service.type %}
                    <tr title="Prorata présence" data-content="Le prorata correspond au rapport entre 
                        le nombre de jours de présence et le nombre de jours dans le mois." 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Prorata présence</td>
                        <td class="align-middle">{{ (payment.ratioNbDays * 100)|percent }}</td>
                    </tr>
                {% endif %}
                {% if false == rent_contribution %}
                    <tr title="Calcul des unité de consommation" data-content="{{ uc_description }}" 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Nombre d'unités de consommation</td>
                        <td class="align-middle">{{ payment.nbConsumUnits }}</td>
                    </tr>
                    <tr title="Reste à vivre journalier unitaire" data-content="{{ rest_to_live_description }}" 
                        data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true">
                        <td class="align-middle">Reste à vivre journalier unitaire</td>
                        <td class="align-middle text-right">{{ payment.restToLive|amount }}</td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
                {% if false == rent_contribution %}
                    <tr>
                        {% set min_rest_to_live = service.minRestToLive ?? 
                            constant('App\\Service\\Payment\\ContributionCalculator::MIN_REST_TO_LIVE') %}
                        {% if payment.restToLive < min_rest_to_live %}
                            <td class="align-middle alert-danger" colspan="2">
                                Reste à vivre journalier inférieur à {{ min_rest_to_live }} euros par jour et par personne</td>
                        {% elseif payment.noContrib == true %}
                            <td class="align-middle alert-warning" colspan="2">PAF à 0 € fixée par l'intervernant·e social·e</td>
                        {% else %}
                            <td class="align-middle alert-success" colspan="2">
                                Reste à vivre supérieur à {{ min_rest_to_live }} euros par jour et par personne</td>
                        {% endif %}
                    </tr>
                {% endif %} 
                <tr class="font-weight-bold alert-secondary">
                    <td class="align-middle">
                        {% if rent_contribution %}Montant du loyer {% else %} Montant de la participation financière {% endif %}à payer
                    </td>
                    <td class="align-middle text-right">{{ payment.toPayAmt|amount(2) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>