{% set payment_index = support is not defined %}

<div class="table-responsive">
    <table id="table_payments" class="table table-striped table-bordered table-hover text-dark">
        <thead>
            {% if not payment_index %}
                <tr class="fw-bold">
                    <td colspan="3" class="align-middle text-end">Total</td>
                    <td class="align-middle text-end" data-sum="sumToPayAmt"></td>
                    <td class="align-middle text-end" data-sum="sumPaidAmt"></td>
                    <td class="align-middle text-end" data-sum="sumStillToPayAmt"></td>
                    <td colspan="7" class="align-middle text-center"></td>
                </tr>
            {% endif %}
            <tr>
                <th scope="col" class="align-middle th-w-20"></th>
                {% if payment_index %}
                    <th scope="col" class="align-middle th-w-100">
                        {{ knp_pagination_sortable(payments, 'Suivi', 'person.lastname') }}
                    </th>
                {% endif %}
                <th scope="col" class="align-middle th-w-100">
                    {{ knp_pagination_sortable(payments, 'payment.type'|trans({}, 'forms'), 'p.type') }}
                </th>
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(payments, 'Période de la PF', 'p.startDate') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(payments, 'Montant à régler', 'p.toPayAmt') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(payments, 'Montant réglé', 'p.paidAmt') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(payments, 'Restant dû (différentiel)', 'p.stillToPayAmt') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(payments, 'Date de l\'opération', 'p.paymentDate') }}
                </th>
                <th scope="col" class="align-middle th-w-80">
                    {{ knp_pagination_sortable(payments, 'Mode de règlement', 'p.paymentType') }}
                </th>
                <th scope="col" class="align-middle th-w-120">
                    {{ knp_pagination_sortable(payments, 'Commentaire', 'p.comment') }}
                </th>
                {% if payment_index %}
                    <th scope="col" class="align-middle th-w-100">
                        {{ knp_pagination_sortable(payments, 'Service (Dispositif)', 's.name') }}
                    </th>
                {% endif %}

                {% if restoration_mode is defined and restoration_mode == true %}
                    <th scope="col" class="align-middle th-w-100">
                        {{ knp_pagination_sortable(payments, 'Supprimé le', 'p.deletedAt') }}
                    </th>
                {% else %}
                    <th scope="col" class="align-middle th-w-80">
                        {{ knp_pagination_sortable(payments, 'Créé le', 'p.createdAt') }}
                    </th>
                {% endif %}
                {% if not payment_index %}
                    <th scope="col" class="align-middle th-w-20">
                        {{ knp_pagination_sortable(payments, 'PDF', 'p.pdfGenerateAt') }}
                    </th>
                    <th scope="col" class="align-middle th-w-20">
                        {{ knp_pagination_sortable(payments, 'Mail', 'p.mailSentAt') }}
                    </th>
                    <th scope="col" class="align-middle th-w-20"></th>
                {% else %}
                    <th scope="col" class="align-middle th-w-100">
                        {{ knp_pagination_sortable(payments, 'Créé par', 'u.lastname') }}
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="container_payments" class="table-group-divider" 
            {% if not payment_index %}
                data-prototype="{{ include('app/payment/_payment_tr_component.html.twig', {payment: form.vars.value})|spaceless|e }}"
                data-container-tag="tr"
                data-path-create="{{ path('payment_create', {id: support.id}) }}"
                data-path-show="{{ path('payment_show', {id: '__id__'}) }}"
                data-path-edit="{{ path('payment_edit', {id: '__id__'}) }}"
                data-path-delete="{{ path('payment_delete', {id: '__id__'}) }}"
                data-path-restore="{{ path('payment_restore', {id: '__id__'}) }}"
                data-path-export-pdf="{{ path('payment_export_pdf', {id: '__id__'}) }}"
                data-path-send-email="{{ path('payment_send_pdf', {id: '__id__'}) }}"
            {% endif %}
        >
            {% set to_pay_amt = 0 %}
            {% set paid_amt = 0 %}
            {% for payment in payments %}
                {{ include('app/payment/_payment_tr_component.html.twig') }}
                {% set to_pay_amt = to_pay_amt + payment.toPayAmt %}
                {% set paid_amt = paid_amt + payment.paidAmt %}
            {% endfor %}
        </tbody>
        {% if payment_index %}
            <tfoot class="table-group-divider">
                <tr class="fw-bold">
                    <td colspan="4" class="align-middle text-end">Sous-total (page)</td>
                    <td class="align-middle text-end">{{ to_pay_amt|amount }}</td>
                    <td class="align-middle text-end">{{ paid_amt|amount }}</td>
                    <td class="align-middle text-end">{{ (to_pay_amt - paid_amt)|amount }}</td>
                    <td colspan="6" class="align-middle text-center"></td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
</div>

<div class="navigation">{{ knp_pagination_render(payments) }}</div>