{% extends "model/_search.html.twig" %}

{% block search_form %}

    <div class="form-group col-auto my-1 px-1">{{ form_row(form.fullname) }}</div>
    {% include "_shared/_serviceDeviceReferentSearch.html.twig" %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.type) }}</div>
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.dateType) }}</div>
    <div class="form-group col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de début"><span class="my-2 px-1">Entre</span>{{ form_widget(form.date.start) }}
    </div>
        <div class="form-group col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de fin"><span class="my-2 pr-2">et</span>{{ form_widget(form.date.end) }}
    </div>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div class="form-group col-auto my-1 px-1">{{ form_widget(form.id) }}</div>
    {% endif %}    
{% endblock %}

{% block search_form_buttons %}
    {{ parent() }}
    {% if app.session.get("userServices")|length > 1 or false == app.session.get("haveServiceHotel") %}       
        <button id="export-accounting-btn" name="export-accounting" value="true" class="btn btn-success ml-2 shadow" 
            data-toggle="tooltip" data-placement="bottom" title="Exporter sur Excel les données pour la comptabilité"><span
                class="fas fa-file-excel mr-2"></span>Compta</button>
    {% endif %}
    {% if is_granted("ROLE_SUPER_ADMIN") or YES == app.session.get("haveServiceHotel") %}       
        <button id="export-delta-btn" name="export-delta" value="true" class="btn btn-success ml-2 shadow" 
            data-toggle="tooltip" data-placement="bottom" title="Exporter sur Excel les données destinées à DELTA"><span
                class="fas fa-file-excel mr-2"></span>DELTA</button>
    {% endif %}
{% endblock %}