{% extends "model/_support_search_form.html.twig" %}

{% block search_form %}    
    <div class="col-auto my-1 px-1">{{ form_row(form_search.type) }}</div>
    <div class="col-auto my-1 px-1">{{ form_row(form_search.dateType) }}</div>
    <div class="col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de début"><span class="my-2 px-1">Entre</span>{{ form_widget(form_search.date.start) }}
    </div>
    <div class="col-auto my-1 px-1 d-inline-flex" data-toggle="tooltip" data-placement="bottom"
        title="Date de fin"><span class="my-2 pr-2">et</span>{{ form_widget(form_search.date.end) }}
    </div>
    <div class="col-auto my-auto">
        <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} pl-0">
            {{ form_widget(form_search.deleted.deleted) }}
        </div>
    </div>
{% endblock %}