{% extends "base.html.twig" %}

{% block title %}Paiements{% endblock %}

{% block body %}

	<div class="container">

		{% set title = "Paiements" %}
		{% include "app/support/_partials/_support_nav.html.twig" %}

		<div class="row">
			<div class="d-flex col-md-6 mb-1 align-items-center">
				<button class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-action="new_payment"
					data-url="{{ path('payment_new', {'id': support.id}) }}"
					data-toggle="tooltip" data-placement="bottom" title="Créer un nouvel enregistrement">
					<span class="fas fa-plus-square mr-2"></span>Nouveau</button>
				<div class="d-inline align-middle">Total : <!--
				--><span id="count-payments">{{ payments.getTotalItemCount|number }}</span><!--
				-->{% if nbTotalPayments %} sur <span id="nb-total-payments">{{ nbTotalPayments }}</span>{% endif %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="navigation">{{ knp_pagination_render(payments) }}</div>
			</div>
		</div>

		{% include "app/payment/_searchSupportPayments.html.twig" %}

		<div class="row mb-4">
			<div class="col-md-12">
				<div class="table-responsive">
					<table id="table-payments" class="table table-striped table-bordered table-hover text-dark">
						<thead>
							<tr class="font-weight-bold">
								<td scope="row" colspan="3" class="align-middle text-right">Total</td>
								<td class="align-middle text-right" data-payment="sumToPayAmt"></td>
								<td class="align-middle text-right" data-payment="sumPaidAmt"></td>
								<td class="align-middle text-right" data-payment="sumStillToPayAmt"></td>
								<td scope="row" colspan="7" class="align-middle text-center"></td>
							</tr>
							<tr>
								<th scope="col" class="align-middle th-w-20"></th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "payment.type"|trans({}, "forms"), "p.type") }}</th>
								<th scope="col" class="align-middle th-w-120">
									{{ knp_pagination_sortable(payments, "Période de la PF", "p.startDate") }}</th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "Montant à régler", "p.toPayAmt") }}</th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "Montant réglé", "p.paidAmt") }}</th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "Restant dû (différentiel)", "p.stillToPayAmt") }}</th>
								<th scope="col" class="align-middle th-date">
									{{ knp_pagination_sortable(payments, "Date de l\'opération", "p.paymentDate") }}</th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "Mode de règlement", "p.paymentType") }}</th>
								<th scope="col" class="align-middle th-w-140">
									{{ knp_pagination_sortable(payments, "Commentaire", "p.comment") }}</th>
								<th scope="col" class="align-middle th-w-100">
									{{ knp_pagination_sortable(payments, "Date de création", "p.createdAt") }}</th>
								<th scope="col" class="align-middle th-w-20">
									{{ knp_pagination_sortable(payments, "PDF", "p.pdfGenerateAt") }}</th>
								<th scope="col" class="align-middle th-w-20">
									{{ knp_pagination_sortable(payments, "Mail", "p.mailSentAt") }}</th>
								<th scope="col" class="align-middle th-w-20"></th>
							</tr>
						</thead>
						<tbody id="container-payments">
							{% for payment in payments %}
								<tr id="payment-{{ payment.id }}" class="payment">
									<td scope="row" class="align-middle text-center">
										<button class="btn btn-{{ theme_color }} btn-sm shadow" data-action="get"
											data-url="{{ path('payment_get', {'id': payment.id}) }}" 
											data-id="{{ payment.id }}" data-toggle="tooltip" data-placement="bottom" 
											title="Voir l'enregistrement"><span class="fas fa-eye"></span>
										</button>
									</td>
									<td class="align-middle" data-payment="type">{{ payment.typeToString }}
										<span class="text-secondary">
											{{ payment.type == constant("RENT", payment) ? "(" ~ payment.rentAmt|amount ~ ")" }}<br/>
											{{ payment.type == constant("DEPOSIT_REFUNT", payment) ? "(" ~ payment.returnAmt|amount ~ ")" }}
										</span>								
									</td>
									<td class="align-middle text-center" data-payment="startDate">
										{% if payment.startDate %}
											{% set nbDays = payment.nbDays %}
											{{ payment.startDate|date("d/m/Y") }} - {{ payment.endDate|date("d/m/Y") }}
											<span class="small secondary">({{ nbDays }}&nbsp;jour{{ nbDays > 1 ? "s"}})</span>
										{% endif %}
									</td>
									<td class="align-middle text-right" data-payment="toPayAmt"><!--
										-->{{ payment.toPayAmt is not null ? payment.toPayAmt|amount }}</td>
									<td class="align-middle text-right" data-payment="paidAmt"><!--
										-->{{ payment.paidAmt is not null ? payment.paidAmt|amount }}</td>
									<td class="align-middle text-right" data-payment="stillToPayAmt"><!--
										-->{{ payment.stillToPayAmt ? payment.stillToPayAmt|amount }}</td>
									<td class="align-middle text-center" data-payment="paymentDate"><!--
										-->{{ payment.paymentDate ? payment.paymentDate|date("d/m/Y") }}
									<td class="align-middle" data-payment="paymentType">{{ payment.paymentTypeToString }}</td>
									<td class="align-middle small" data-payment="comment">
										{{ payment.noContrib ? "PAF à zéro (" ~ payment.noContribReasonToString ~ ")" }}
										{{ (payment.comment ~ "\n" ~ payment.commentExport)|u.truncate(50, " [...]", false) }}</td>
									<td class="align-middle" data-payment="createdAt">{{ payment.createdAt|date("d/m/Y") }}</td>
									<td class="align-middle text-center" data-payment="pdfGenerate">
										<a href="{{ path('payment_export_pdf', {'id': payment.id}) }}" 
										data-toggle="tooltip" data-placement="bottom" title="{{ payment.pdfGenerate ? 
										'PDF généré le ' ~ payment.pdfGenerateAt|date('d/m/Y à H:i') : 'Générer un PDF' }}"><i 
										class="fas fa-file-pdf{{ payment.pdfGenerate ? ' text-success' : ' text-secondary' }} fa-lg"></i></a>
									</td>
									<td class="align-middle text-center" data-payment="mailSent">
										<span data-url="{{ path('payment_send_pdf', {'id': payment.id}) }}" 
										data-toggle="tooltip" data-placement="bottom" title="{{ payment.mailSent ? 
										'Mail envoyé le ' ~ payment.mailSentAt|date('d/m/Y à H:i') }}"><i 
										class="fas fa-envelope{{ payment.mailSent ? '-open text-success' : ' text-secondary' }} fa-lg"></i></span>
									</td>
									<td class="align-middle text-center">
										<button class="btn btn-danger btn-sm shadow my-1" data-action="delete" 
											data-url="{{ path('payment_delete', {'id':payment.id}) }}" 
											title="Supprimer" data-toggle="modal" data-target="#modal-block">
											<span class="fas fa-trash-alt"></span>
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="navigation">{{ knp_pagination_render(payments) }}</div>
			</div>
		</div>

	</div>

	{% include "app/payment/_paymentModal.html.twig" %}
	{% include "app/payment/_contributionCalculModal.html.twig" %}
	{% include "app/payment/_deletePaymentModal.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("search") }}
	{{ encore_entry_script_tags("payment") }}
{% endblock javascripts %}