{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Note | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Edition d'une note sociale{% else %}Nouvelle note sociale{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Dernière connexion le {{ form.vars.value.lastLogin | date("d/m/Y à H:i") }}</p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    <div class="my-3">
        <div>
            <a href="{{ path('support_edit', {'id':support.id}) }}" class="btn btn-{{ theme_color }} btn-sm mb-2">
                <span class="fas fa-users mr-1"></span>Fiche suivi</a>
        </div>
        <hr>

        <section>

            {% include "model/msgFlash.html.twig" %}
            <div id="js-msg-flash-content"></div>

            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-12">{{ form_widget(form.title) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.status) }}</div>
                <div class="col-md-6">{{ form_row(form.type) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">{{ form_widget(form.content) }}</div>
            </div>
            {{ form_row(form._token) }}
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="mb-4 float-right">
                        <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"
                            value="Enregistrer">
                    </div>
                </div>
            </div>

            {{ form_end(form, {"render_rest": false}) }}
        </section>

        <hr>


    </div>
    {% endblock %}

    {% block javascripts %}
    {% endblock javascripts %}