{% extends "base.html.twig" %}

{% form_theme form_search "bootstrap_4_layout.html.twig" %}
{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block title %}Notes sociales | Esperer95-app {% endblock %}

{% block body %}

<div class="container">
    <section class="my-0">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-4">Notes sociales</h1>
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-{{ theme_color }}"
                            href="{{ path('group_people_show', {'id': support.groupPeople.id}) }}"><span
                                class="fas fa-users mr-2"></span>Fiche groupe <span
                                class="small">{{ support.groupPeople.getFamilyTypologyType }}</span></a></li>
                    <li class="breadcrumb-item"><a class="text-{{ theme_color }}"
                            href="{{ path('support_edit', {'id':support.id }) }}">Suivi social</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notes sociales</li>
                </ol>
            </nav>
            {% for supportPerson in support.supportPerson %}
            <span
                class="btn btn-outline-{{ theme_color }} btn-sm mb-2 shadow-sm">{{ supportPerson.person.fullname }}</span>
            {% endfor %}
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6 mb-1">
                <button id="js-new-note" class="btn btn-{{ theme_color }} btn-sm shadow mr-2" data-toggle="modal"
                    data-target="#modal-block" data-placement="bottom" title="Créer une nouvelle note"><span
                        class="fas fa-plus-square mr-2"></span>Nouvelle note</button>
                <div class="d-inline align-middle">Résultat :
                    <span id="count-notes">{{ notes.getTotalItemCount | number_format(0,'', ' ')}}</span>
                    note{% if notes.getTotalItemCount > 1 %}s{% endif %}.
                </div>
            </div>
            <div class="col-md-6">
                <div class="navigation">{{ knp_pagination_render(notes) }}</div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-md-12">
                <div class="accordion" id="accordionSearch">
                    <div id="form-search">
                        <div class="collapsed cursor-pointer d-block d-sm-none" id="headingSearch"
                            data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true"
                            aria-controls="collapseSearch">
                            <h2 class="h5">Recherche<div class="float-right">
                                    <span class="fa fa-chevron-down"></span></div>
                            </h2>
                        </div>
                        <div id="collapseSearch" class="collapse show float-right" aria-labelledby="headingSearch"
                            data-parent="#accordionSearch">
                            {{ form_start(form_search) }}
                            <div class="form-inline justify-content-md-center align-items-end">
                                {% if notes.getTotalItemCount %}
                                <div class="form-group col-auto my-1 px-1">
                                    <button class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                                        {{ knp_pagination_sortable(notes, "Titre", "n.title") }}
                                    </button>
                                    <button class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                                        {{ knp_pagination_sortable(notes, "Date de création", "n.createdAt") }}
                                    </button>
                                    <button class="btn btn-outline-secondary btn-sm m-1 px-2 shadow-sm">
                                        {{ knp_pagination_sortable(notes, "Date de mise à jour", "n.updatedAt") }}
                                    </button>
                                </div>
                                {% endif %}
                                <div class="form-group col-auto my-1 px-1">{{ form_row(form_search.content) }}</div>
                                <div class="form-group col-auto my-1 px-1">{{ form_row(form_search.status) }}</div>
                                <div class="form-group col-auto my-1 px-1">{{ form_row(form_search.type) }}</div>
                                <div class="form-group col-auto my-1 px-1">
                                    <div class="form-group">
                                        <button type="submit" id="search" class="btn btn-{{ theme_color }} shadow"><i
                                                class="fas fa-search"></i></button>
                                        <button id="js-btn-clear" class="btn btn-secondary ml-2 shadow"><i
                                                class="fas fa-eraser"></i></button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form_search, {"render_rest": false}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="container-notes" class="row">
            {% for note in notes %}
            <div id="note-{{ note.id }}" class="col-sm-12 col-lg-6 mb-4 js-note">
                <div class="card h-100 shadow cursor-pointer" data-toggle="modal" data-target="#modal-block"
                    data-placement="bottom" title="Voir la note">
                    <div class="card-header">
                        <h3 class="card-title h5 text-{{ theme_color }}">{{ note.title }}</h3>
                        <span class="js-note-type" data-value={{ note.type }}>
                            {{ note.typeList }} </span>
                        <span class="js-note-status" data-value={{ note.status }}>
                            ({{ note.statusList }})</span>
                        <span class="small text-secondary js-note-created"> | Créé le
                            {{note.createdAt | date("d/m/Y à H:i") }} par
                            {{ note.createdBy.fullname }}
                        </span>
                        <span class="small text-secondary js-note-updated">
                            {% if note.updatedAt != note.createdAt %}
                            (modifié le {{ note.updatedAt | date("d/m/Y à H:i") }}
                            par {{ note.updatedBy.fullname }})
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body note-content">
                        <div class="card-text">{{ note.content | raw }}</div>
                        <span class="note-fadeout"></span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(notes) }}
        </div>
    </section>
</div>

{% include "note/modalNote.html.twig" %}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{{ encore_entry_script_tags("note") }}
{% endblock javascripts %}