{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

<div id="modal-block" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalNote" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                {{ form_start(form) }}
                <div class="form-group row">
                    <div class="col-12">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">{{ form_widget(form.content) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.type) }}</div>
                    <div class="col-md-6">{{ form_row(form.status) }}</div>
                </div>
                {{ form_row(form._token) }}
            </div>
            <div class="modal-footer d-block">
                <div class="float-left d-flex">
                    <a href="{{ path("note_delete", {'id':0 }) }}" id="modal-btn-delete"
                        class="mr-3 btn btn-danger d-none" data-placement="bottom" title="Supprimer la note"
                        onclick="if(window.confirm('Voulez-vous vraiment supprimer cette note ?', 'Demande de confirmation')){return true;}else{return false;}">Supprimer</a>
                    <div id="js-auto-save" class="text-secondary py-1 d-none">
                        <span class="fas fa-sync-alt mr-2"></span>Sauvegarde auto.
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>