<div id="modal-block" class="modal modal-fullscreen fade" tabindex="-1" role="dialog" aria-labelledby="modalNote" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
                {{ form_start(form) }}
                <div class="form-group row">
                    <div class="col-12">{{ form_widget(form.title) }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div id="toolbar-container" class="shadow-sm"></div>
                        <div id="editor" class="editor-fullscreen bg-white border shadow-sm"></div>
                        {{ form_widget(form.content) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2 d-none d-sm-block">
                        {{ form_label(form.type) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        {{ form_widget(form.type) }}
                    </div>
                    <div class="col-sm-2 d-none d-sm-block">
                        {{ form_label(form.status) }}
                    </div>
                    <div class="col-6 col-sm-4">
                        {{ form_widget(form.status) }}
                    </div>
                </div>
                {{ form_row(form._token) }}
            </div>
            <div class="modal-footer d-block">
                <div class="float-left d-flex">
                    <button id="modal-btn-delete"
                        class="mr-3 btn btn-danger d-none" data-placement="bottom" title="Supprimer la note"><span class="fas fa-trash-alt"></span></button>
                    <div id="js-auto-save" class="text-secondary py-1 d-none">
                        <span class="fas fa-sync-alt mr-2"></span>Sauvegarde auto.
                    </div>
                </div>
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                    <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>