{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% if edit_mode %}
{% set support = form.vars.value.supportGroup %}
{% endif %}



{% block title %}Édition d'une note sociale | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}Édition d'une note sociale{% else %}Nouvelle note sociale{% endif %}</h1>

    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-{{ theme_color }}" 
                    href="{{ path('group_people_show', {'id': support.groupPeople.id}) }}"><span 
                    class="fas fa-users mr-2"></span>Fiche groupe <span 
                    class="small">{{ support.groupPeople.getFamilyTypologyType }}</span></a></li>
                <li class="breadcrumb-item"><a class="text-{{ theme_color }}" 
                    href="{{ path('support_edit', {'id':support.id }) }}">Fiche de suivi</a></li> 
                <li class="breadcrumb-item"><a class="text-{{ theme_color }}" 
                    href="{{ path('note_list', {'id':support.id }) }}">Notes sociales</a></li> 
                <li class="breadcrumb-item active" aria-current="page">Édition</li>
            </ol>
        </nav>
        {% for supportPerson in support.supportPerson %}
        <span class="btn btn-outline-{{ theme_color }} btn-sm mb-2">{{ supportPerson.person.fullname }}</span>
        {% endfor %}
    </div>

        <hr>

        <section>

            {% include "model/msgFlash.html.twig" %}
            <div id="js-msg-flash-content"></div>

            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-md-12">{{ form_widget(form.title) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(form.status) }}</div>
                <div class="col-md-6">{{ form_row(form.type) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">{{ form_widget(form.content) }}</div>
            </div>
            {{ form_row(form._token) }}
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="mb-4 float-right">
                        <input type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"
                            value="{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}">
                    </div>
                </div>
            </div>

            {{ form_end(form, {"render_rest": false}) }}
        </section>

        <hr>


    </div>
    {% endblock %}

    {% block javascripts %}
    {% endblock javascripts %}