{% set contribution = form.vars.value %}

<div id="modal-contribution" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalContributionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="mb-0">Paiement</h2>
                <div class="small text-secondary">
                    <p class="mb-0 ml-3 text-right" id="js-info-contrib">
                    </p>
                </div>
            </div>
            {{ form_start(form) }}
            <div class="modal-body form-group pb-0">
                <div class="row">
                    <div class="col-lg-6">{{ form_row(form.type) }}</div>
                </div>
                <div class="row js-contrib js-contribution d-none">
                    <div class="col-lg-6">{{ form_row(form.startDate) }}</div>
                    <div class="col-lg-6">{{ form_row(form.endDate) }}</div>
                </div>
                <hr class="mt-0">
                <div class="row js-contrib js-contribution d-none">
                    <div class="col-lg-4">{{ form_row(form.resourcesAmt) }}</div>
				    <div class="col-md-4 col-lg-2 mb-3">
					    <button id="btn-update-contribution" class="btn btn-secondary" title="Calculer le montant à régler">
                            <span class="fas fa-sync mr-2"></span>Calculer</button>
				    </div>
                    <div class="col-sm-8 col-lg-6 mb-3">
                        <span id="calculationMethod" class="small text-secondary"></span>
                    </div>
                </div>
                <div class="row js-contrib js-rent d-none">
                    <div class="col-lg-4">{{ form_row(form.rentAmt) }}</div>
                    <div class="col-lg-4">{{ form_row(form.aplAmt) }}</div>
                </div>
                <div class="row js-contrib js-toPayAmt d-none">
                    <div class="col-lg-4">{{ form_row(form.toPayAmt) }}</div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-4 js-contrib js-returnAmt d-none">{{ form_row(form.returnAmt) }}</div>
                        <div class="col-lg-4 js-contrib js-payment js-paidAmt d-none">{{ form_row(form.paidAmt) }}</div>
                        <div class="col-lg-4 js-contrib js-payment js-paymentDate d-none">{{ form_row(form.paymentDate) }}</div>
                        <div class="col-lg-4 js-contrib js-payment js-paymentType d-none">{{ form_row(form.paymentType) }}</div>
                    </div>
                    <div class="row js-contrib js-stillToPayAmt d-none">
                        <div class="col-lg-4">{{ form_row(form.stillToPayAmt) }}</div>
                    </div>
                </div>
                <div class="row js-contrib js-comment d-none">
                    <div class="col-lg-12">{{ form_widget(form.comment) }}</div>
                </div>
            </div>
            <div class="modal-footer d-block">
                {# <div class="form-inline">
                    <div id="js-contribution-action" class="d-flex mb-3">
                        {{ form_widget(form.action) }}
                        <button type="button" id="js-btn-action" class="btn btn-{{ theme_color }} ml-2">OK</button>
                    </div>
                </div> #}
                <div class="d-flex justify-content-between">
                    <div class="d-flex float-left">
                        <button id="modal-btn-delete" class="mr-3 btn btn-danger d-block" 
                            data-url="{{ path('contribution_delete', {'id': '__id__'}) }}"
                            data-placement="bottom" title="Supprimer"><span class="fas fa-trash-alt"></span><span 
                            class="d-none d-md-inline ml-2">Supprimer</span></button>
                        <div id="js-block-export" class="d-none">
                            <button id="js-btn-pdf" class="btn btn-{{ theme_color }} mr-1 mr-md-2 shadow"
                                data-url="{{ path('contribution_export_pdf', {'id': '__id__'}) }}"
                                data-toggle="tooltip" data-placement="bottom" title="Générer le reçu en PDF">
                                <span class="fas fa-file-pdf bg-secondary fa-lg"></span><span class="d-none d-sm-inline ml-2">PDF</span></button>
                            <button id="js-btn-mail" class="btn btn-{{ theme_color }} shadow"
                                data-url="{{ path('contribution_send_pdf', {'id': '__id__'}) }}"
                                data-toggle="tooltip" data-placement="bottom" title="Envoyer un email avec le reçu en PDF">
                                <span class="fas fa-envelope bg-secondary fa-lg"></span><span class="d-none d-sm-inline ml-2">Email</span></button>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="button" id="js-btn-cancel" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" id="js-btn-save" class="btn btn-{{ theme_color }} shadow"
                            data-url="{{ path('contribution_edit', {'id': '__id__'}) }}"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                    </div>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>