{% import "macros/viewParagraph.html.twig" as view_p %}

{% set theme_color = app.request.hasPreviousSession and app.session.get("theme_color") ? app.session.get("theme_color") : "#555c64;" %}
{% set person = (support.supportPeople|filter(s => s.head == true)|first).person %}
{% set service = support.service %}
{% set subService = support.subService %}
{% set contribution_type %}{% apply spaceless %}
    {% if contribution.type == 1 %}
        à la participation à l'hébergement
    {% elseif contribution.type == 2 %}
        au loyer
    {% elseif contribution.type == 10 %}
        à la  caution
    {% elseif contribution.type in [30, 31, 32] %}
        à une dette
    {% endif %}
{% endapply %}{% endset %}

<html lang="fr">
    <head>
        <title>{{ title }} | {{ person.fullname }}</title>
        <meta charset="utf-8" />
        {% block stylesheets %}
            <style type="text/css">
                body {
                    font-family: sans-serif;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #343a40;
                }
                h1 { 
                    margin-bottom: 40px;
                    padding: 6px;
                    background-color: #e9ecef;
                    text-align: center;
                    font-size: 1.5rem;
                }
                p {
                    margin: 0 0 6px 0; 
                }
                .pos-absolute {position: absolute;}
                .pos-fixed {position: fixed;}
                .text-center {text-align: center;}
                .text-right {text-align: right;}
                .text-justify {text-align: justify;}
            </style>        
        {% endblock %}
    </head>

    <body>
        <img src="{{ logo_path }}" width="200"/>

        <h1>{{ title }}</h1>

        <main>
            <p class="text-right">{{ service.city ? service.city : "Pontoise" }}, le {{ "now"|date("d/m/Y") }}</p>

            <br/>

            <p class="text-right">A l'intention  de <b>{{ person.gender == 1 ? "Madame" : (person.gender == 2 ? "Monsieur") }} {{ person.fullname }}</b></p>

            <br/>

            <p>N° de dossier : {{ support.id }}</p>
            <p>N° de {{ title|lower }} : {{ contribution.createdAt|date("Ymd_") }}{{ contribution.id }}</p>
            <p>Service : {{ service.name }}</p>
            <p>{{ service.phone1 ? "Téléphone : " ~ (subService and subService.email ? subService.phone1 : service.phone1) }}</p>
            <p>{{ service.email ? "Email : " ~ (subService and subService.email ? subService.email : service.email) }}</p>

            <br/>
            <p><b>Objet :
                {% if contribution.paidAmt > 0 %}Paiement{% elseif contribution.toPayAmt > 0 %}Avis d'échéance{% endif %}  relatif {{ contribution_type }}
            </b></p>

            <br/>

            <p class="text-justify">
                {% if  contribution.toPayAmt > 0 and contribution.paymentDate == null %}
                    Nous vous informons que dans le cadre de votre prise en charge, vous devez vous acquitter d'un montant de 
                    <b>{{ contribution.toPayAmt|format_currency("EUROS") }}</b>
                {% else %}
                    Nous vous confirmons la réception de votre règlement de <b>{{ contribution.paidAmt|format_currency("EUROS") }} 
                    ({{ paidAmtToString }} euro{{ contribution.paidAmt > 1 ? "s" }})</b>,
                    {% if  contribution.toPayAmt and contribution.toPayAmt != contribution.paidAmt %}
                        pour un montant dû de {{ contribution.toPayAmt|format_currency("EUROS") }}, 
                    {% endif %}
                {% endif %}
                relatif {{ contribution_type }}{# 
                #}{% if support.city and contribution.type in [1, 2, 10] %}
                    au {{ support.address ~ " à " ~ support.city }} ({{ service.name }}),
                    {% if contribution.type in [1, 2] %}
                        pour la période du <b>{{ contribution.startDate|date("d/m/Y") }}</b> au <b>{{ contribution.endDate|date("d/m/Y") }}</b> 
                        (soit {{ contribution.nbDays }} jours){# 
                     #}{% endif %}{# 
                #}{% endif %}{# 
             #}.</p>
            <br/>

            {% if contribution.type in [1, 2] %}
                <p class="text-justify">Le montant de {{ contribution.toPayAmt|format_currency("EUROS") }} correspond à 
                    {% if service.contributionType == 1 %}
                        un pourcentage des ressources en référence au règlement de fonctionnement du service et en conformité avec les dispositions réglementaires en vigueur.
                    {% elseif service.contributionType == 2 %}
                        {{ contribution.nbDays }} jours à {{ (contribution.toPayAmt / contribution.nbDays)|format_currency("EUROS") }} en référence à un barème forfaire.</p>
                    {% endif %}
                </p>
                <br/>
            {% endif %}

            {% if contribution.paymentDate %}
                <p>Montant réglé : {{ contribution.paidAmt|format_currency("EUROS") }}</p>
                <p>Date de règlement : {{ contribution.paymentDate ? contribution.paymentDate|date("d/m/Y") }}</p>
                <p>Mode de règlement : {{ contribution.paymentTypeToString }}</p>
                {% if contribution.stillToPayAmt > 0 %}  
                    <p>Montant restant à payer : {{ contribution.stillToPayAmt|format_currency("EUROS") }}</p>
                {% endif %}
            {% else %}
                <p>Montant à payer : {{ contribution.toPayAmt|format_currency("EUROS") }}</p>
            {% endif %}

            <br/>
            <br/>

            <p class="pos-absolute" style="right: 8px;">
                {{ app.user.firstname }} {{ app.user.lastname }}<br/>
                Service {{ service.name }}<br/>
                Association ESPERER 95<br/>
            </p>
        </main>
    </body>
</html>