{% extends 'base.html.twig' %}

{% set place = form.vars.value %}
{% set edit_mode = place.id != null %}
{% set disabled = place.isDisabled %}
{% set title = edit_mode ? place.name ~ (disabled ? ' (désactivé)') : 'Nouveau groupe de places' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="h2 mb-3">{{ place.service.name }}<span class="fas fa-angle-right fa-xs mx-1"></span>{{ title }}</h1>
        {% if edit_mode %}
            <div class="small text-secondary">
                <p> Créé le {{ place.createdAt|date('d/m/Y à H:i') }}
                    {% if place.createdBy %}par {{ place.createdBy.fullname }}{% endif %}
                    {% if place.updatedAt %}(modifié le {{ place.updatedAt|date('d/m/Y à H:i') }}){% endif %}
                </p>
            </div>
        {% else %}
            <div class="mb-4"></div>
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-primary" href="{{ path('service_index') }}">Liste des
                        services</a></li>
                <li class="breadcrumb-item"><a class="text-primary"
                        href="{{ path('service_edit', {'id': place.service.id}) }}">{{ place.service.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Groupe de places</li>
            </ol>
        </nav>

        <hr>

        <section>
            {{ form_start(form) }}

            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.name) }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.service) }}</div>
                <div class="col-md-6">{{ form_row(form.subService) }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.device) }}</div>
                <div class="col-md-6">{{ form_row(form.nbPlaces) }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.startDate) }}</div>
                <div class="col-md-6">{{ form_row(form.endDate) }}</div>
            </div>
            <div class="row mb-3" id="place_location">
                <div class="col-md-6">{{ form_row(form.location._search) }}</div>
                <div class="col-md-6">{{ form_row(form.location.address) }}</div>
                <div class="col-md-6">{{ form_row(form.location.city) }}</div>
                <div class="col-md-6">{{ form_row(form.location.zipcode) }}</div>
                <div class="col-md-6">{{ form_row(form.location.commentLocation) }}</div>
                {{ form_row(form.location.locationId) }}
                {{ form_row(form.location.lat) }}
                {{ form_row(form.location.lon) }}
            </div>
            <div class="row mb-3">
                <div class="col-md-6">{{ form_row(form.placeType) }}</div>
                <div class="col-md-6">{{ form_row(form.configuration) }}</div>
                <div class="col-md-6">{{ form_row(form.individualCollective) }}</div>
                <div class="col-md-6">{{ form_row(form.area) }}</div>
                <div class="col-md-6">{{ form_row(form.lessor) }}</div>
            </div>
            {% if place.service.contributionType in [2, 3] %}
                <div class="row mb-3">
                    <div class="col-md-6">{{ form_row(form.rentAmt, {attr: {class: 'text-end'}}) }}</div>
                </div>
            {% endif %}
            <div class="row mb-3">
                <div class="col-md-12">{{ form_widget(form.comment) }}</div>
            </div>

            {% if is_granted('EDIT', place.service) %}
                <div class="row mb-3">
                    <div class="col-md-12">
                        {% if edit_mode and is_granted('DELETE', place) %}
                            <div class="float-start d-flex">
                                {% set alert_text = '"Êtes-vous vraiment sûr de vouloir supprimer ce groupe de places ?"' %}
                                <a id="modal-btn-delete" class="me-3 btn btn-danger d-block" 
                                    href="{{ path('place_delete', {'id': place.id}) }}"
                                   title="Supprimer le groupe de places" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    onclick="if(window.confirm({{ alert_text }})){return true;}else{return false;}">
                                        <span class="fas fa-trash-alt me-2"></span>Supprimer</a>
                                {% set alert_text = '"Êtes-vous vraiment sûr de vouloir désactiver ce groupe de places ?"' %}
                                <a class="me-3 btn btn-{{ disabled ? 'success' : 'warning' }} d-block" 
                                    href="{{ path('place_disable', {'id': form.vars.value.id}) }}"
                                    title="{{ disabled ? 'Réactiver' : 'Désactiver' }} le groupe de place" 
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    {% if disabled == false %}onclick="if(window.confirm('{{ alert_text }}')){return true;}else{return false;}"{% endif %}>
                                    {% if disabled %}Réactiver{% else %}Désactiver{% endif %}</a>
                            </div>
                        {% endif %}
                        <div class="mb-4 float-end">
                            <button type="submit" id="send" name="send" class="btn btn-primary shadow">
                                <span class="fas fa-save me-2"></span>Enregistrer</button>
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

        </section>

        {% if place.id %}
            <hr>
            <section id="place_groups">
                <h2 class="h4 my-4">Prises en charge</h2>
                <p class="text-secondary">Affiche les 10 dernières prises en charge.</p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle th-w-20"></th>
                                <th scope="col" class="align-middle th-w-150">Nom et prénom</th>
                                <th scope="col" class="align-middle th-w-100">Typologie familiale</th>
                                <th scope="col" class="align-middle th-w-100">Nb de personnes prises en charge</th>
                                <th scope="col" class="align-middle th-date">Date d'entrée</th>
                                <th scope="col" class="align-middle th-date">Date de sortie</th>
                                <th scope="col" class="align-middle th-w-100">Motif de fin</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for place_group in places_group %}
                                {% set person = place_group.supportGroup.header %}
                                <tr>
                                    <td class="align-middle text-center" scope="row">
                                        <a href="{{ path('support_place_edit', {'id': place_group.id}) }}" 
                                            class="btn btn-primary btn-sm shadow"  
                                            title="Voir le détail de la prise en charge" data-bs-toggle="tooltip" 
                                            data-bs-placement="bottom"><span class="fas fa-eye"></span>
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ person ? person.fullname }}</td>
                                    <td class="align-middle">{{ place_group.peopleGroup.familyTypologyToString }}</td>
                                    <td class="align-middle">{{ place_group.placePeople ? place_group.placePeople|length }}</td>
                                    <td class="align-middle">{{ place_group.startDate ? place_group.startDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ place_group.endDate ? place_group.endDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ place_group.endReasonToString }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </section>
        {% endif %}

    </div>

    {% include 'app/organization/place/_place_delete_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('place') }}
{% endblock javascripts %}