{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% set service = form.vars.value %}

{% block title %}{% if edit_mode %}{{ service.name }}{% else %}Nouveau service{% endif %} | Esperer95.app{% endblock %}

{% block body %}

<div class="container">

    {{ form_start(form) }}
    
    <section>

    <h1 class="h2 mb-3">{% if edit_mode %}{{ service.name }}{% else %}Nouveau service{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Créé le {{service.createdAt | date("d/m/Y à H:i") }}
            {% if service.createdBy %} par {{ service.createdBy.fullname }}{% endif %}
            {% if service.updatedAt %}(modifié le
            {{ service.updatedAt | date("d/m/Y à H:i") }}{% if service.updatedBy %} par
            {{ service.updatedBy.fullname }}{% endif %}){% endif %}
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-{{ theme_color }}" href="{{ path('services') }}">Liste des services</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche service</li>
        </ol>
    </nav>
    <hr>

    {% include "model/msgFlash.html.twig" %}
    <div id="js-msg-flash-content"></div>


        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.name) }}</div>
            <div class="col-md-6">{{ form_row(form.pole) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
            <div class="col-md-6">{{ form_row(form.email) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.chief) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.address) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
            <div class="col-md-6">{{ form_row(form.zipCode) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.finessId) }}</div>
            <div class="col-md-6">{{ form_row(form.siretId) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.openingDate) }}</div>
            <div class="col-md-6">{{ form_row(form.closingDate) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form.supportAccess) }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <p>Types d'activité :</p>
                <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} pl-2 py-2 text-dark">
                    {{ form_row(form.preAdmission) }}
                    {{ form_row(form.accommodation) }}
                    {{ form_row(form.justice) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">{{ form_widget(form.comment) }}</div>
        </div>
        {% if is_granted("EDIT", service) %}
        <div class="form-group row">
            <div class="col-md-12">
                <div class="mb-4 float-right">
                	<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow">{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
                </div>
            </div>
        </div>
        {% endif %}
    </section>


    {% if is_granted("EDIT", service) %}
    <hr>
    <section>

        <h2 class="h4 mb-4">Dispositif(s) rattaché(s)</h2>
        <div class="row">
            <div class="col-md-6">
                <div id="serviceDevices-fields-list"
                    data-prototype="{{ form_widget(form.serviceDevices.vars.prototype)|e }}"
                    data-widget-tags="{{ '<div class="form-inline"></div>'|e }}"
                    data-widget-counter="{{ form.serviceDevices|length }}">
                    {% if form.serviceDevices|length > 0 %}
                    <div class="table-responsive table-sm">
                        <table id="function-table" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle th-w-150">Dispositif</th>
                                    <th scope="col" class="align-middle th-w-20"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for serviceDevice in form.serviceDevices %}
                                <tr id="{{ serviceDevice.vars.id }}">
                                    <td>{{ form_widget(serviceDevice.device) }}</td>
                                    <td class="align-middle">
                                        <button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="my-2">
            <button type="button" class="add-another-collection-widget btn btn-{{ theme_color }}"
                data-list-selector="#serviceDevices-fields-list"><span class="fas fa-plus-square mr-2"></span>Ajouter un
                service</button>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="float-right mb-2">
                    <button type="submit" class="btn btn-{{ theme_color }}">Enregistrer</button>
                </div>
            </div>
        </div>
        
    </section>
    {% endif %}

    {{ form_row(form._token) }}
    {{ form_end(form, {"render_rest": false}) }}

    {% if edit_mode %}

    <hr>

    {% if service.accommodation %}
    <section>
        <h2 class="h4 my-4">Groupes de places rattachés</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Nom du groupe de places</th>
                        <th scope="col" class="align-middle th-w-100">Dispositif</th>
                        <th scope="col" class="align-middle th-w-80">Nombre de places</th>
                        <th scope="col" class="align-middle th-date">Date d'ouverture</th>
                        <th scope="col" class="align-middle th-date">Date de fermeture</th>
                        <th scope="col" class="align-middle th-w-100">Ville</th>
                        <th scope="col" class="align-middle th-w-60">Département</th>
                        <th scope="col" class="align-middle th-w-150">Adresse</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accommodation in accommodations %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('accommodation_edit', {'id':accommodation.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir le groupe de places">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td>{{ accommodation.name }}</td>
                        <td>{{ accommodation.device.name }}</td>
                        <td>{{ accommodation.placesNumber }}</td>
                        <td>{{ accommodation.openingDate | date("d/m/Y") }}</td>
                        <td>{% if accommodation.closingDate %}{{ accommodation.closingDate | date("d/m/Y") }}{% endif %}
                        </td>
                        <td>{{ accommodation.city }}</td>
                        <td>{{ accommodation.department }}</td>
                        <td>{{ accommodation.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_granted("EDIT", service) %}
        <div class="row my-3">
            <div class="col-md-12">
                <a href="{{ path('service_accommodation_new', {'id':service.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow">
                <span class="fas fa-plus-square pr-2"></span>Créer un nouveau groupe de places</a>
            </div>
        </div>
        {% endif %}
    </section>
    <hr>
    {% endif %}

    <section>
        <h2 class="h4 my-4">Utilisateurs rattachés</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-150">Prénom</th>
                        <th scope="col" class="align-middle th-w-140">Nom</th>
                        <th scope="col" class="align-middle th-w-140">Fonction</th>
                        <th scope="col" class="align-middle th-w-140">Téléphone</th>
                        <th scope="col" class="align-middle th-w-140">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">
                            {% if is_granted("EDIT", user) %}
                            <a href="{{ path('security_user', {'id':user.id}) }}" class="btn btn-{{ theme_color }} btn-sm shadow" 
                                data-placement="bottom" title="Voir la fiche du service"><span class="fas fa-eye"></span>
                            </a>
                            {% else %}
                            <span class="btn btn-{{ theme_color }} btn-sm shadow cursor-default"><span class="fas fa-ban"></span></span>                           
                            {% endif %}
                        </th>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{% if user.status %}{{ user.statusToString }}{% endif %}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if is_granted("EDIT", service) %}
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('security_registration') }}" class="btn btn-{{ theme_color }} btn-sm shadow"><span
                        class="fas fa-plus-square pr-2"></span>Créer un nouvel utilisateur</a>
            </div>
        </div>
        {% endif %}


        {% endif %}

    </section>

</div>


{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("service") }}
{% endblock javascripts %}