{% extends 'emails/baseEmail.html.twig' %}

{% block greeting %}
    <p class="mb-4">Bonjour {{ user.firstname }}, </p>
{% endblock %}

{% block body %}   
    {% if notif_type == 'daily-alerts' %}
        <p>Voici vos <b>rappels</b> du jour :</p>
    {% elseif notif_type == 'weekly-alerts' %}
        <p>Voici vos <b>rappels</b> de la semaine :</p>
    {% else %}
        <p>Vous avez <b>{{ nb_user_alerts }} rappel{{ nb_user_alerts > 1 ? 's' }}</b> :</p>
    {% endif %}

    {% for alerts_group in alerts_groups %}
        {% set nb_alerts = alerts_group.alerts|length %}
        <b>{{ alerts_group.name }}</b>, {{ nb_alerts }} tâche{{ nb_alerts > 1 ? 's' }} :
        <ul>
            {% for alert in alerts_group.alerts %}
                {% set task = alert.task %}
                <li>
                    <a href="{% if task.supportGroup %}{#
                            #}{{ url('support_task_index', {'id': task.supportGroup.id, 'task_id': task.id}) }}{#
                        #}{% else %}{#
                            #}{{ url('task_index', {'task_id': task.id}) }}{#
                        #}{% endif %}" class="dropdown-item" >"{{ task.title }}"
                    </a> à faire avant le {{ task.endToString }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% if notif_type in ['daily-alerts', 'weekly-alerts'] %}
        <br/>
        <p class="text-secondary">Si vous souhaitez désactiver ces emails automatiques, allez dans la section "Paramètres" 
            de votre page utilisateur en cliquant <a href="{{ url('my_profile') }}">ici</a> 
            ou sur notre nom en haut à droite de l'application.
        </p>
    {% endif %}
{% endblock %}