{% extends "emails/baseEmail.html.twig" %}

{% block hello %}
    <p class="mb-4">Bonjour {{ user.firstname }}, </p>
{% endblock %}

{% block body %}

    <p>Un compte utilisateur a été créé pour vous sur l'application {% if app_version != "prod" %}de <b><u>TEST</u></b> {% endif %} : 
        <b><a href="{{ app.request.server.get('SYMFONY_DEFAULT_ROUTE_URL') }}">{{ app.request.server.get('SYMFONY_DEFAULT_ROUTE_URL') }}</a></b>
    </p>

    {% if app_version == "test" %}
        <p>Attention, il s'agit de la version test de l'application. 
            Les données enregistrées ici ne le seront pas dans la base de données réelle.<p>
    {% endif %}

    <p>Votre login : <b>{{ user.username }}</b><p>
    <p>Votre email : <b>{{ user.email }}</b><p>

    <p>Veuillez cliquer sur <a href="{{ url('security_create_password', {'token':user.token}) }}">ce lien</a> 
    pour définir votre mot de passe.</p>
    <br/>
    <p>Ce lien est valide 24 heures.</p>

{% endblock %}