{% extends 'emails/base_email.html.twig' %}

{% set role_child = constant('App\\Entity\\People\\RolePerson::ROLE_CHILD') %}

{% block greeting %}
    <p class="mb-4">
        {% for support_person in support.supportPeople|filter(s => s.role != role_child)|sort ((a, b) => b.head <=> a.head) %}
            <b>{{ support_person.person.civilityToString }} {{ support_person.person.fullname }}</b>, <br/>
        {% endfor %}
        Bonjour, 
{% endblock %}
{% block body %}
    <p>Je vous prie de trouver en pièce-jointe <b>le reçu du paiement</b> concernant 
        {% if payment.type == 1 %}
            la participation à l'hébergement
        {% elseif payment.type == 2 %}
            le loyer
        {% elseif payment.type == 10 %}
           la caution
        {% elseif payment.type in [30, 31, 32] %}
            le remboursement
        {% endif %}
        d'un montant de <b>{{ payment.paidAmt|amount }}</b>{#
        #}{% if payment.type in [1, 2] %}{#
            #} pour la période du <b>{{ payment.startDate|date('d/m/Y') }}</b> au <b>{{ payment.endDate|date('d/m/Y') }}</b> 
            (soit {{ payment.nbDays }} jour{{ payment.nbDays > 1 ? 's' }}){#
        #}{% endif %}.
    </p>
    <br/>
    <p>Cordialement,<br/>
{% endblock %}
{% block footer %}
        <br/>
        {{ app.user.firstname }} {{ app.user.lastname }}<br/>
        Service {{ support.service.name }}<br/>
        {{ support.service.pole.organization.name }}<br/>
        <i>{{ support.subService ? support.subService.phone1 : support.service.phone1 }}</i><br/>
        <i>{{ support.subService ? support.subService.email : support.service.email }}</i><br/><br/>
        {% set logoPath = support.service.pole.logoPath ? support.service.pole.logoPath ? 'images/logo_assia_mail.png'  %}
        <img class="mb-2" src="{{ email.image('@' ~ logoPath) }}" width="120" alt="{{ support.service.pole.organization.name }}">
    </p>
{% endblock %}