{% extends "emails/baseEmail.html.twig" %}
{% block greeting %}
    <p class="mb-4">Bonjour, </p>
{% endblock %}
{% block body %}
    <p class="p-2 font-weight-bold alert-danger">Error {% if exception.statusCode is defined %}<!--
        -->{{ exception.statusCode }}{% else %}{{ exception.code }}{% endif %} : {{ exception.message }}</p>
    <p>Datetime : {{ "now"|date("d/m/Y H:i") }}</p>
    <p>User : {% if app.user %}{{ app.user.fullname }}{% endif %}</p>
    <p>Url : {% if app.request  %}{{ app.request.requestUri }}{% endif %}</p>
    <p>File : {{ exception.file }}</p>
    <p>Line : {{ exception.line }}</p>
    <p class="small text-secondary">{{ exception }}</p>
{% endblock %}
