{% extends 'emails/baseEmail.html.twig' %}

{% set with_support = rdv.supportGroup is not null %}

{% block greeting %}
    <p class="mb-4">Bonjour {{ user.firstname }}, </p>
{% endblock %}

{% block body %}
    <p>
        Vous avez rendez-vous le <b>{{ rdv.start|date('d/m/Y \\à\\ H:i') }}</b>
        {% if with_support %}
            avec <b>{{ rdv.supportGroup.header.fullname }}</b>
        {% endif %}
    </p>
    <p>Intitulé du rendez-vous :
        <a href="{{ with_support ? path('support_calendar', {'id': rdv.supportGroup.id, 'rdv_id': rdv.id}) : path('calendar', {'rdv_id': rdv.id}) }}">
            "{{ rdv.title }}"</a> <small>(Cliquez sur le lien pour accéder au rendez-vous.)</small></p>

    {% if rdv.location is not null %}
        <p>Lieu : {{ rdv.location }}</p>
    {% endif %}

    {% if rdv.content %}
        <p>Note : {{ rdv.content }}</p>
    {% endif %}
{% endblock %}