{% extends "emails/baseEmail.html.twig" %}

{% block greeting %}
    <p class="mb-4">Bonjour {{ person.gender == 1 ? "Madame" : (person.gender == 2 ? "Monsieur") }} {{ person.fullname }}, </p>
{% endblock %}
{% block body %}
    <p>Je vous prie de trouver en pièce-jointe <b>le reçu du paiement</b> concernant 
        {% if contribution.type == 1 %}
            la participation à l'hébergement
        {% elseif contribution.type == 2 %}
            le loyer
        {% elseif contribution.type == 10 %}
           la caution
        {% elseif contribution.type in [30, 31, 32] %}
            le remboursement de dette
        {% endif %}
        d'un montant de <b>{{ contribution.paidAmt|format_currency("EUROS") }}</b>{#
        #}{% if contribution.type in [1, 2] %}{#
            #}, pour la période du <b>{{ contribution.startDate|date("d/m/Y") }}</b> au <b>{{ contribution.endDate|date("d/m/Y") }}</b> 
            (soit {{ contribution.nbDays }} jours){#
        #}{% endif %}.
    </p>
    <br/>
    <p>Cordialement,<br/>
{% endblock %}
{% block footer %}
        <br/>
        {{ app.user.firstname }} {{ app.user.lastname }}<br/>
        Service {{ support.service.name }}<br/>
        Association ESPERER 95<br/>
        <i>{{ support.subService ? support.subService.phone1 : support.service.phone1 }}</i><br/>
        <i>{{ support.subService ? support.subService.email : support.service.email }}</i><br/><br/>
        <img class="mb-2" src="{{ email.image('@images/logo_e95_mail.png') }}" alt="Esperer 95">
    </p>
{% endblock %}