{% extends "emails/baseEmail.html.twig" %}

{% set ROLE_CHILD = constant("App\\Entity\\People\\RolePerson::ROLE_CHILD") %}

{% block greeting %}
    <p class="mb-4">
        {% for supportPerson in support.supportPeople|filter(s => s.role != ROLE_CHILD)|sort ((a, b) => b.head <=> a.head) %}
            <b>{{ supportPerson.person.civilityToString }} {{ supportPerson.person.fullname }}</b>, <br/>
        {% endfor %}
        Bonjour, 
{% endblock %}
{% block body %}
    <p>Je vous prie de trouver en pièce-jointe <b>le reçu du paiement</b> concernant 
        {% if payment.type == 1 %}
            la participation à l'hébergement
        {% elseif payment.type == 2 %}
            le loyer
        {% elseif payment.type == 10 %}
           la caution
        {% elseif payment.type in [30, 31, 32] %}
            le remboursement de dette
        {% endif %}
        d'un montant de <b>{{ payment.paidAmt|amount }}</b>{#
        #}{% if payment.type in [1, 2] %}{#
            #} pour la période du <b>{{ payment.startDate|date("d/m/Y") }}</b> au <b>{{ payment.endDate|date("d/m/Y") }}</b> 
            (soit {{ payment.nbDays }} jour{{ payment.nbDays > 1 ? "s" }}){#
        #}{% endif %}.
    </p>
    <br/>
    <p>Cordialement,<br/>
{% endblock %}
{% block footer %}
        <br/>
        {{ app.user.firstname }} {{ app.user.lastname }}<br/>
        Service {{ support.service.name }}<br/>
        Association ESPERER 95<br/>
        <i>{{ support.subService ? support.subService.phone1 : support.service.phone1 }}</i><br/>
        <i>{{ support.subService ? support.subService.email : support.service.email }}</i><br/><br/>
        <img class="mb-2" src="{{ email.image('@images/logo_e95_mail.png') }}" alt="Esperer 95">
    </p>
{% endblock %}