{% import "macros/viewDiv.html.twig" as view_div %}

{% set ROLE_CHILD = constant("App\\Entity\\People\\RolePerson::ROLE_CHILD") %}
{% set IN_PROGRESS = constant("App\\Form\\Utils\\Choices::IN_PROGRESS") %}

{% set eval_people = evaluation.evaluationPeople %}
{% set eval_adults = evaluation.evaluationPeople|filter(e => e.supportPerson.role != ROLE_CHILD) %}
{% set eval_children = eval_people|filter(e => e.supportPerson.role == ROLE_CHILD) %}
{% set people_over_18 = eval_people|filter(e => e.supportPerson.person.age >= 18) %}
{% set nb_people = support.supportPeople|length %}

{% apply spaceless %}

    <div class="row mb-2">
        {{ view_div.get(support.peopleGroup.familyTypologyToString ~ (nb_people > 1 ? ", " ~ nb_people ~ " personnes"), "Family typology") }}
    </div>

    <div class="row mb-2">
        <div class="col-12 col-lg-10">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nom et prénom</th>
                            <th>Date de naissance</th>
                            <th class="d-none d-sm-table-cell">Âge</th>
                            <th>Sexe</th>
                            <th>Rôle</th>
                            <th>Téléphone</th>
                            <th class="d-none d-sm-table-cell">Adresse email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supportPerson in support.supportPeople %}
                            <tr>
                                <td scope="row" class="align-middle">
                                    {{ supportPerson.person.fullname }}
                                    {{ supportPerson.person.usename ? " (" ~ supportPerson.person.usename ~ ")" }}
                                </td>
                                <td class="align-middle">{{ supportPerson.person.birthdate|date("d/m/Y") }}</td>
                                <td class="align-middle d-none d-sm-table-cell">{{ supportPerson.person.age }} an<!--
                                    -->{{ supportPerson.person.age > 1 ? "s" }}</td>
                                <td class="align-middle">{{ supportPerson.person.genderToString }}</td>
                                <td class="align-middle">{{ supportPerson.roleToString }}</td>
                                <td class="align-middle">{{ supportPerson.person.phone1 }}</td>
                                <td class="align-middle d-none d-sm-table-cell">{{ supportPerson.person.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# Justice #}
    {% if support.service.justice == YES %}
        <hr/>
        <section>
            <div class="d-flex mb-3">
                <h2 class="h4">Justice</h2>
                    <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                        class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
                    </span>
            </div>

            {% set eval_people_justice = eval_people|filter(e => e.evalJusticePerson) %}
            {% for evalPerson in eval_people_justice %}
                {% set evalJustice = evalPerson.evalJusticePerson %}
                <div class="my-3">
                    {% if nb_people > 1 %}
                        <div class="row mb-2">
                            <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                        </div>
                    {% endif %}
                    <div class="row">
                        {{ view_div.get(evalJustice.justiceStatusToString, "Justice status", "evaluation") }}
                        {{ view_div.get(evalJustice.justiceActToString, "Justice act", "evaluation") }}
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12 justify">{{ evalJustice.commentEvalJustice|nl2br }}</div>
                    </div>
                </div>
            {% endfor %}
            
        </section>
    {% endif %}

    <hr/>

    {# Identité - Papier #}
    <section>
        <div class="d-flex mb-3">
            <h2 class="h4">Identité - Papier</h2>
            <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
            </span>
        </div>
        {% set eval_adults_admin = eval_adults|filter(e => e.evalAdmPerson) %}
        {% set nb_adults_admin = eval_adults_admin|length %}
        {% for evalPerson in eval_adults_admin %}
            {% set evalAdm = evalPerson.evalAdmPerson %}
            <div class="my-3">
                {% if nb_adults_admin > 1 %}
                    <div class="row mb-2">
                        <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                    </div>
                {% endif %}
                <div class="row">
                    {{ view_div.get(evalAdm.nationality ? evalAdm.nationalityToString ~ (evalAdm.country ? ' (' 
                        ~ evalAdm.country ~ ')' : "") : "", "Nationality", "evaluation") }}
                    {{ view_div.get(evalAdm.arrivalDate ? evalAdm.arrivalDate|date("d/m/Y"), "Arrival date", "evaluation") }}
                    {{ view_div.get(evalAdm.paper == YES and evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString, "Paper", "evaluation") }}
                    {{ view_div.get(evalAdm.asylumBackground == YES ? (evalAdm.asylumStatus ? evalAdm.asylumStatusToString : 
                        evalAdm.asylumBackgroundToString), "Asylum background", "evaluation") }}
                    {{ view_div.get(evalAdm.renewalPermitDate ? evalAdm.renewalPermitDate|date("d/m/Y") 
                        ~ (evalAdm.nbRenewals ? " (" ~ evalAdm.nbRenewals ~ " renouvellement(s))") : "", "Renewal permit date", "evaluation") }}
                    {{ view_div.get(evalAdm.endValidPermitDate ? evalAdm.endValidPermitDate|date("d/m/Y") : "", "End valid permit date", "evaluation") }}
                    {{ view_div.get(evalAdm.workRightToString, "Work right", "evaluation") }}
                </div>
                <div class="row my-2">
                    <div class="col-md-12 justify">{{ evalAdm.commentEvalAdmPerson|nl2br }}</div>
                </div>
            </div>
        {% endfor %}

        {% if eval_children|filter(e => e.evalAdmPerson)|length > 0 %} {# si typologie familiale avec enfants #}
            <div class="row my-3">
                <div class="col-md-6 table-responsive">
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Enfants</th>
                                <th>Nationalité</th>
                                <th>Papier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evalPerson in eval_children %}
                                {% set evalAdm = evalPerson.evalAdmPerson %}
                                {% if evalAdm %}
                                    <tr>
                                        <td scope="row">{{ evalPerson.supportPerson.person.fullname }}</td>
                                        <td>{{ evalAdm.nationalityToString }}</td>
                                        <td>{{ evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </section>

    <hr/>

    {# Famille #}
    <section>
        <div class="d-flex mb-3">
            <h2 class="h4">Famille</h2>
            <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
            </span>
        </div>

        {% set eval_adults_family = eval_adults|filter(e => e.evalFamilyPerson) %}
        {% set nb_adults_family = eval_adults_family|length %}
        {% for evalPerson in eval_adults_family %}
            {% set evalFamily = evalPerson.evalFamilyPerson %}
                {% if nb_adults_family > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12 font-weight-bold">{{ evalPerson.supportPerson.person.fullname }}</div>
                </div>
                {% endif %}
            <div class="my-3">
                <div class="row mb-2">
                    {{ view_div.get(evalFamily.maritalStatusToString, "Marital status", "evaluation") }}
                    {{ view_div.get(evalFamily.noConciliationOrderToString, "No conciliation order", "evaluation") }}
                    {{ view_div.get(evalFamily.protectiveMeasure == YES and evalFamily.protectiveMeasureType ? 
                        evalFamily.protectiveMeasureTypeToString : "", "Protective measure", "evaluation") }}
                    {{ view_div.get(evalFamily.unbornChild == YES ? evalFamily.unbornChildToString ~ (evalFamily.expDateChildbirth ? " (" 
                        ~ evalFamily.expDateChildbirth|date("d/m/Y") ~ ")" : "") : "", "Unborn child", "evaluation") }}
                </div>
                <div class="row my-2">
                    <div class="col-md-12 justify">{{ evalFamily.commentEvalFamilyPerson|nl2br }}</div>
                </div>
            </div>
        {% endfor %}

        {% set eval_children_family = eval_children|filter(e => e.evalFamilyPerson) %}
        {% if eval_children_family|length > 0 %}
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Enfant(s)</th>
                                    <th>Garde ou scolarité</th>
                                    <th>Lieu de garde/scolarité</th>
                                    <th>Hébergement</th>
                                    <th>À charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evalPerson in eval_children_family %}
                                    {% set evalFamilyPerson = evalPerson.evalFamilyPerson %}
                                    <tr>
                                        <td scope="row">{{ evalPerson.supportPerson.person.fullname }}</td>
                                        <td>{{ evalFamilyPerson.childcareSchoolToString }}</td>
                                        <td>{{ evalFamilyPerson.childcareSchoolLocation }}</td>
                                        <td>{{ evalFamilyPerson.childToHostToString }}</td>
                                        <td>{{ evalFamilyPerson.childDependanceToString }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        {% set evalFamily = evaluation.evalFamilyGroup %}
        {% if evalFamily %}
            <div class="row mb-2">
                {{ view_div.get(evalFamily.cafId, "Caf id", "evaluation") }}
                {{ view_div.get(evalFamily.nbDependentChildren, "Nb dependent children", "evaluation") }}
                {{ view_div.get(evalFamily.famlReunification == YES ? evalFamily.famlReunificationToString ~ (evalFamily.nbPeopleReunification ? " (" 
                    ~ evalFamily.nbPeopleReunification ~ " personne(s))" : "") : "", "Faml reunification", "evaluation") }}
            </div>
            <div class="row my-3">
                <div class="col-md-12 justify">{{ evaluation.evalFamilyGroup.commentEvalFamilyGroup|nl2br }}</div>
            </div>
        {% endif %}

    </section>

    {# Budget #}
    {% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
    {% set nb_people_budget = eval_people_budget|length %}
    {% set evalBudgetGroup = evaluation.evalBudgetGroup %}
    {% if evalBudgetGroup %}
        <hr/>
        <section>
            <div class="d-flex mb-3">
                <h2 class="h4">Budget</h2>
                <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                    class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
                </span>
            </div>
            {% if nb_people_budget > 1 %}           
                <div class="row mb-1">
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th class="text-right">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Ressources</td>
                                    <td class="text-right">{{ evalBudgetGroup.resourcesGroupAmt|format_currency("EUR") }}</td>
                                </tr>
                                {% if evalBudgetGroup.chargesGroupAmt %}
                                    <tr>
                                        <td scope="row">Charges</td>
                                        <td class="text-right">{{ evalBudgetGroup.chargesGroupAmt|format_currency("EUR") }}</td>
                                    </tr>
                                {% endif %}
                                {% if evalBudgetGroup.contributionAmt %}
                                    <tr>
                                        <td scope="row">Participation financière</td>
                                        <td class="text-right">{{ evalBudgetGroup.contributionAmt|format_currency("EUR") }}</td>
                                    </tr>
                                {% endif %}
                                {% if evalBudgetGroup.debtsGroupAmt and evalBudgetGroup.monthlyRepaymentAmt > 0 %}
                                    <tr>
                                        <td scope="row">Remboursement mensuel des dettes</td>
                                        <td class="text-right">{{ evalBudgetGroup.monthlyRepaymentAmt|format_currency("EUR") }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Reste à vivre</td>
                                    <td class="text-right">{{ evalBudgetGroup.budgetBalanceAmt|format_currency("EUR") }}</td>
                                </tr>
                                {% if evalBudgetGroup.debtsGroupAmt %}
                                    <tr>
                                        <td scope="row">Montant total des dettes</td>
                                        <td class="text-right">{{ evalBudgetGroup.debtsGroupAmt|format_currency("EUR") }}</td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            {% endif %}

            {% for evalPerson in eval_people_budget %}
                {% set evalBudget = evalPerson.evalBudgetPerson %}
                <div class="my-3">
                    {% if nb_people_budget > 1 %}
                        <div class="row mb-2">
                            <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                        </div>
                    {% endif %}
                    <div class="row">
                            {{ evalBudget.resources == YES and evalBudget.resourcesAmt > 0 ? '' : 
                                view_div.get(evalBudget.resourcesToString, "Resources", "evaluation") }}
                            {# {{ evalBudget.charges == YES and evalBudget.chargesAmt > 0 ? '' : 
                                view_div.get(evalBudget.chargesToString, "Charges", "evaluation") }} #}
                    </div>
                    <div class="row">
                        {% if evalBudget.resources == YES %}
                            <div class="col-md-6">
                                <table class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ressources</th>
                                            <th class="text-right">Montant</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in evalBudget.resourcesType %}
                                            {% if attribute(evalBudget, key) %}
                                            <tr>
                                                <td scope="row">{% if not loop.last %}{{ value }}{% else %}
                                                    {{ attribute(evalBudget, key ~ 'Precision') ? attribute(evalBudget, key ~ 'Precision') : 
                                                        "Autre(s) ressource(s)" }}{% endif %}</td>
                                                    {% set amt = attribute(evalBudget, key ~ 'Amt') %}
                                                <td class="text-right">{{ amt > 0 ? amt|format_currency("EUR") }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr class="font-weight-bold">
                                            <td scope="row">Total des ressources</td>
                                            <td class="text-right">{{ evalBudget.resourcesAmt|format_currency("EUR") }}</td>
                                        </tr>
                                        {% if evalBudget.incomeN1Amt %}
                                        <tr>
                                            <td scope="row">Impôts sur le revenu n-1</td>
                                            <td class="text-right">{{ evalBudget.incomeN1Amt|format_currency("EUR") }}</td>
                                        </tr>							
                                        {% endif %}
                                        {% if evalBudget.incomeN2Amt %}
                                        <tr>
                                            <td scope="row">Impôts sur le revenu n-2</td>
                                            <td class="text-right">{{ evalBudget.incomeN2Amt|format_currency("EUR") }}</td>
                                        </tr>
                                        {% endif %}
                                    </tfoot>
                                </table>
                            </div>
                        {% endif %}

                        {% if evalBudget.charges == YES %}
                            <div class="col-md-6">
                                <table class="table table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Charges</th>
                                            <td class="text-right font-weight-bold">Montant</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in evalBudget.chargesType %}
                                            {% if attribute(evalBudget, key) %}
                                            <tr>
                                                <td scope="row">{% if not loop.last %}{{ value }}{% else %}
                                                    {{ attribute(evalBudget, key ~ 'Precision') ? attribute(evalBudget, key ~ 'Precision') : 
                                                        "Autre(s) charge(s)" }}{% endif %}</td>
                                                <td class="text-right">{{ attribute(evalBudget, key ~ 'Amt')|format_currency("EUR") }}</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr class="font-weight-bold">
                                            <td scope="row">Total des charges</td>
                                            <td class="text-right">{{ evalBudget.chargesAmt|format_currency("EUR") }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        {% endif %}

                    </div>
                    <div class="row">
                        {{ view_div.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
                    </div>
                    <div class="row">
                        {{ view_div.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}
                    </div>
                    <div class="row">
                        {{ view_div.get(evalBudget.incomeTaxToString, "Income tax", "evaluation") }}
                    </div>
                    {% if evalBudget.debts %}
                        <div class="row mb-2">
                            {{ view_div.get(evalBudget.debtsToString, "Debts", "evaluation") }}
                            {% if evalBudget.debts == YES %}
                                <div class="col-md-6">
                                    <ul class="mb-0">
                                        {% for key, value in evalBudget.debtsType %}
                                            {% if attribute(evalBudget, key) %}
                                                <li>{{ value }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row mb-2">
                            {{ view_div.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
                            {{ view_div.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                                " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")" : "") : "", "Over indebt record", "evaluation") }}
                            {{ view_div.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
                            {{ view_div.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
                            {{ view_div.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y") : "", "End rights date", "evaluation") }}
                        </div>
                    {% endif %}
                    {% if evalBudget.commentEvalBudget %}
                        <div class="row my-3">
                            <div class="col-md-12 justify">{{ evalBudget.commentEvalBudget|nl2br }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <hr/>

    {# Emploi #}
    <section>
        <div class="d-flex mb-3">
            <h2 class="h4">Emploi</h2>
            <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
            </span>
        </div>

        {% set eval_adults_prof = eval_adults|filter(e => e.evalProfPerson) %}
        {% set nb_adults_prof = eval_adults_prof|length %}
        {% for evalPerson in eval_adults_prof %}
            {% set evalProf = evalPerson.evalProfPerson %}
            <div class="my-3">
                {% if nb_adults_prof > 1 %}
                    <div class="row mb-2">
                        <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    {{ view_div.get(evalProf.schoolLevelToString, "School level", "evaluation") }}
                    {{ view_div.get(evalProf.profExperienceToString, "Prof experience", "evaluation") }}
                    {{ view_div.get(evalProf.profStatus ? evalProf.profStatusToString ~ (evalProf.contractType ? " (" 
                        ~ evalProf.contractTypeToString ~ ")" : "") : "", "Prof status", "evaluation") }}
                    {{ view_div.get(evalProf.jobCenterId, "Job center id", "evaluation") }}
                    {{ view_div.get(evalProf.jobType, "Job type", "evaluation") }}
                    {{ view_div.get(evalProf.contractEndDate ? evalProf.contractEndDate|date("d/m/Y"), "Contract end date", "evaluation") }}
                    {{ view_div.get(evalProf.workingHours ? evalProf.workingHours ~ (evalProf.nbWorkingHours ? " (nb d'heures : " 
                        ~ evalProf.nbWorkingHours ~ ")" : "") : "", "Working hours", "evaluation") }}
                    {{ view_div.get(evalProf.employerName ? evalProf.employerName ~ (evalProf.workPlace ? " | " 
                        ~ evalProf.workPlace : "") : "", "Employer name", "evaluation") }}
                    {{ view_div.get(evalProf.transportMeansType ? evalProf.transportMeansTypeToString ~ (evalProf.transportMeans ? " (" 
                        ~ evalProf.transportMeans ~ ")" : ""): "", "Transport means type", "evaluation") }}
                    {{ view_div.get(evalProf.rqth in [YES, IN_PROGRESS] ? evalProf.rqthToString ~ (evalProf.endRqthDate ? " (fin de validité : " 
                        ~ evalProf.endRqthDate|date("d/m/Y") ~ ")" : ""): "", "Rqth", "evaluation") }}
                </div>
                <div class="row my-2">
                    <div class="col-md-12 justify">{{ evalProf.commentEvalProf|nl2br }}</div>
                </div>
            </div>
        {% endfor %}
    </section>

    <hr/>

    {# Social #}
    <section>
        <div class="d-flex mb-3">
            <h2 class="h4">Social</h2>
            <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
            </span>
        </div>

        {% set eval_people_social = eval_people|filter(e => e.evalSocialPerson) %}
        {% set nb_people_social = eval_people_social|length %}
        {% for evalPerson in eval_people_social %}
            {% set evalSocial = evalPerson.evalSocialPerson %}
            {% if evalSocial.rightSocialSecurity or evalSocial.healthProblem == YES or evalSocial.commentEvalSocialPerson  %}
                <div class="my-3">
                    {% if nb_people_social > 1 %}
                        <div class="row mb-2">
                            <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                        </div>
                    {% endif %}
                    <div class="row mb-2">
                        {{ view_div.get(evalSocial.rightSocialSecurity in [1, 3] ? evalSocial.rightSocialSecurityToString ~ " - " 
                            ~ evalSocial.socialSecurityToString : evalSocial.rightSocialSecurityToString, "Right social security", "evaluation") }}
                        {{ view_div.get(evalSocial.socialSecurityOffice, "Social security office", "evaluation") }}
                        {{ view_div.get(evalSocial.childWelfareBackground == YES ? evalSocial.childWelfareBackgroundToString, "Child welfare background", "evaluation") }}
                    </div>
                    {% if evalSocial.familyBreakdown == YES or evalSocial.friendshipBreakdown == YES %}
                        <div class="row mb-2">
                            {{ view_div.get(evalSocial.familyBreakdownToString, "Family breakdown", "evaluation") }}
                            {{ view_div.get(evalSocial.friendshipBreakdownToString, "Friendship breakdown", "evaluation") }}
                        </div>
                    {% endif %}
                    {% if evalSocial.healthProblem == YES %}
                        <div class="row mb-2">
                            {{ view_div.get(evalSocial.healthProblemToString, "Health problem", "evaluation") }}
                            <div class="col-md-6">
                                <ul class="mb-0">
                                    {% for key, value in evalSocial.healthProblemsType %}
                                        {% if attribute(evalSocial, key) %}
                                            <li>{{ value }}</li>
                                        {% endif %}
                                    {% endfor %}									 
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row mb-2">
                        {{ view_div.get(evalSocial.careSupport == YES ? evalSocial.careSupportToString ~ (evalSocial.careSupportType ? " - " 
                            ~ evalSocial.careSupportTypeToString : ""), "Care support", "evaluation") }}
                        {{ view_div.get(evalSocial.violenceVictim == YES ? evalSocial.violenceVictimToString ~ (evalSocial.domViolenceVictim == YES ? 
                            " (Violence conjugale)" : ""), "Violence victim", "evaluation") }}
                    </div>
                    {% if evalSocial.commentEvalSocialPerson %}
                        <div class="row mb-2">
                            <div class="col-md-12 justify">{{ evalSocial.commentEvalSocialPerson|nl2br }}</div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        {% if evaluation.evalSocialGroup %}
            {% set evalSocial = evaluation.evalSocialGroup %}
            <div class="row mb-2">
                {{ view_div.get(evalSocial.reasonRequestToString, "Reason request", "evaluation") }}
                {{ view_div.get(evalSocial.wanderingTimeToString, "Wandering time", "evaluation") }}
                {{ view_div.get(evalSocial.animal == YES ? evalSocial.animalToString ~ (evalSocial.animalType ? " (" ~ evalSocial.animalType ~ ")" : "" ), "Animal", "evaluation") }}
            </div>
            <div class="row mb-2">
                <div class="col-md-12 justify">{{ evaluation.evalSocialGroup.commentEvalSocialGroup|nl2br }}</div>
            </div>
        {% endif %}
    </section>

    {# Logement - Hébergement #}
    {% set evalHousing = evaluation.evalHousingGroup %}
    {% if evalHousing %}
        <hr/>
        <section class="mb-5">
            <div class="d-flex mb-3">
                <h2 class="h4">Logement - Hébergement</h2>
                <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                    class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
                </span>
            </div>
            <div class="row mb-3">
                {{ view_div.get(evalHousing.housingStatusToString, "Housing status", "evaluation") }}
            </div>
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.siaoRequestToString, "Siao request", "evaluation") }}
                    {% if evalHousing.siaoRequest == YES %}
                        {{ view_div.get(evalHousing.siaoRequestDate ? evalHousing.siaoRequestDate|date("d/m/Y") 
                            ~ (evalHousing.siaoUpdatedRequestDate ? " (actualisation : " ~ evalHousing.siaoUpdatedRequestDate|date("d/m/Y") 
                            ~ ")" : "") : "", "Siao request date", "evaluation") }}
                        {{ view_div.get(evalHousing.siaoRequestDeptToString, "Siao request dept", "evaluation") }}
                        {{ view_div.get(evalHousing.siaoRecommendationToString, "Siao recommendation", "evaluation") }}
                    {% endif %}
                </div>
            {% if evalHousing.socialHousingRequest %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.socialHousingRequestToString ~ (evalHousing.socialHousingRequestId ? " (NUR : " 
                        ~ evalHousing.socialHousingRequestId ~ ")" : ""), "Social housing request", "evaluation") }}
                    {{ view_div.get(evalHousing.socialHousingRequestDate ? evalHousing.socialHousingRequestDate|date("d/m/Y") 
                        ~ (evalHousing.socialHousingUpdatedRequestDate ? " (actualisation : " ~ evalHousing.socialHousingUpdatedRequestDate|date("d/m/Y") 
                        ~ ")" : "") : "", "Date demande de logement social", "evaluation") }}
                    {{ view_div.get(evalHousing.housingWishes, "Housing wishes", "evaluation") }}
                    {{ view_div.get(evalHousing.citiesWishes, "Cities wishes", "evaluation") }}
                    {{ view_div.get(evalHousing.specificities, "Specificities", "evaluation") }}
                </div>
            {% endif %}
            {% if evalHousing.syplo in [YES, IN_PROGRESS] %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.syploToString ~ (evalHousing.syploDate ? " (" 
                        ~ evalHousing.syploDate|date("d/m/Y") ~ ")" : ""), "Syplo", "evaluation") }}
                    {{ view_div.get(evalHousing.syploId, "Syplo id", "evaluation") }}
                </div>
            {% endif %}
            {% if evalHousing.daloAction in [YES, IN_PROGRESS] %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.daloActionToString ~ (evalHousing.daloDecisionDate ? " (" 
                        ~ evalHousing.daloDecisionDate|date("d/m/Y") ~ ")"), "Dalo action", "evaluation") }}
                    {{ view_div.get(evalHousing.daloTypeToString, "Dalo type", "evaluation") }}
                    {{ view_div.get(evalHousing.daloId, "Dalo id", "evaluation") }}
                    {{ view_div.get(evalHousing.daloRecordDate ? evalHousing.daloRecordDate|date("d/m/Y"), "Dalo record date", "evaluation") }}
                    {{ view_div.get(evalHousing.daloTribunalActionToString ~ (evalHousing.daloTribunalActionDate ? 
                        " (le " ~ evalHousing.daloTribunalActionDate|date("d/m/Y") ~ ")"), "Dalo tribunal action", "evaluation") }}
                </div>
            {% endif %}
            {#{% if evalHousing.collectiveAgreementHousing %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.collectiveAgreementHousingToString ~ (evalHousing.collectiveAgreementHousingDate ? 
                        " (le " ~ evalHousing.collectiveAgreementHousingDate|date("d/m/Y") ~ ")"), "Collective agreement housing", "evaluation") }}
                </div>
            {% endif %} #}
            {% if evalHousing.hsgActionEligibility in [YES, IN_PROGRESS] %}					
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.hsgActionEligibilityToString, "Hsg action eligibility", "evaluation") }}
                    {{ view_div.get(evalHousing.hsgActionRecordToString ~ (evalHousing.hsgActionDate ? 
                        " (le " ~ evalHousing.hsgActionDate|date("d/m/Y") ~ ")"), "Hsg action record", "evaluation") }}
                    {{ view_div.get(evalHousing.hsgActionRecordId, "Hsg action record id", "evaluation") }}
                    {{ view_div.get(evalHousing.hsgActionDept, "Hsg action dept", "evaluation") }}
                </div>
            {% endif %}
            {% if evalHousing.expulsionInProgress == YES %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.expulsionInProgressToString, "Expulsion in progress", "evaluation") }}
                    {{ view_div.get(evalHousing.publicForceToString ~ (evalHousing.publicForceDate ? 
                        " (le " ~ evalHousing.publicForceDate|date("d/m/Y") ~ ")"), "Public force", "evaluation") }}
                    {{ view_div.get(evalHousing.expulsionComment) }}
                </div>
            {% endif %}
            {% if evalHousing.housingExperience %}
                <div class="row mb-3">
                    {{ view_div.get(evalHousing.housingExperienceToString, "Housing experience", "evaluation") }}
                    {{ view_div.get(evalHousing.housingExpeComment) }}
                </div>
            {% endif %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <ul class="mb-0">
                        {% for key, value in evalHousing.housingHelps %}
                            {% if attribute(evalHousing, key) %}
                                <li>{{ value }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row mb-3">
                {{ view_div.get(evalHousing.domiciliation == YES ? evalHousing.domiciliationAddress ~ (evalHousing.domiciliationCity ? " - " 
                    ~ evalHousing.domiciliationDept ~ " " ~ evalHousing.domiciliationCity : "") : "", "Domiciliation", "evaluation") }}
            </div>
            <div class="row my-3">
                <div class="col-md-12 justify">{{ evalHousing.commentEvalHousing|nl2br }}</div>
            </div>

        </section>
    {% endif %}

    {# Parcours de vie #}
    {% if evaluation.backgroundPeople %}
        <hr/>
        <section class="mb-5">
            <div class="d-flex mb-3">
                <h2 class="h4">Parcours de vie</h2>
                <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                    class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
                </span>
            </div>
            <div class="row mb-3">
                <div class="col-md-12 justify">{{ evaluation.backgroundPeople|nl2br }}</div>
            </div>
        </section>
    {% endif %}

    {# Vie à l'hôtel #}
    {% set evalHotelLife = evaluation.evalHotelLifeGroup %}
    {% if evalHotelLife %}
        <hr/>
        <section class="mb-5">
            <div class="d-flex mb-3">
                <h2 class="h4">Vie à l'hôtel</h2>
                <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
                    class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
                </span>
            </div>
            {% if evalHotelLife.food %}
                <div class="row mb-3">
                    <div class="col-md-12 text-secondary">{{ "Food"|trans({}, "evaluation") }}</div>
                    <div class="col-md-12 justify">{{ evalHotelLife.food|nl2br }}</div>
                </div>
            {% endif %}
            {% if evalHotelLife.clothing %}
                <div class="row mb-3">
                    <div class="col-md-12 text-secondary">{{ "Clothing"|trans({}, "evaluation") }}</div>
                    <div class="col-md-12 justify">{{ evalHotelLife.clothing|nl2br }}</div>
                </div>
            {% endif %}
            {% if evalHotelLife.roomMaintenance %}
                <div class="row mb-3">
                    <div class="col-md-12 text-secondary">{{ "Room maintenance"|trans({}, "evaluation") }}</div>
                    <div class="col-md-12 justify">{{ evalHotelLife.roomMaintenance|nl2br }}</div>
                </div>
            {% endif %}
            {% if evalHotelLife.otherHotelLife %}
                <div class="row mb-3">
                    <div class="col-md-12 text-secondary">{{ "Other hotel life"|trans({}, "evaluation") }}</div>
                    <div class="col-md-12 justify">{{ evalHotelLife.otherHotelLife|nl2br }}</div>
                </div>
            {% endif %}
            {% if evalHotelLife.commentHotelLife %}
                <div class="row mb-3">
                    <div class="col-md-12 text-secondary">{{ "Comment hotel life"|trans({}, "evaluation") }}</div>
                    <div class="col-md-12 justify">{{ evalHotelLife.commentHotelLife|nl2br }}</div>
                </div>
            {% endif %}
        </section>
    {% endif %}

{% endapply %}