{% extends "model/collapseCard.html.twig" %}

{% set id = "eval_social" %}

{% block card_title %}Social{% endblock %}

{% block card_body %}

<div class="row">
    <div class="col-md-12 accordion" id="accordion-eval_social">
        <div class="mb-4">
            {% for key, evalPerson in form_evaluationPeople_filteredByRole %}
			{% set person = evalPerson.vars.value.supportPerson.person %}
            <button type="button" id="heading-eval_social-{{ key }}" class="btn btn-outline-{{ theme_color }} 
                {% if loop.first %}active{% endif %} mb-2 js-person"
                data-toggle="collapse" data-target="#collapse-eval_social-{{ key }}" aria-expanded="false"
                aria-controls="collapse-eval_social-{{ key }}" data-key="{{ key }}">{{ person.fullname}}</button>
            {% endfor %}
        </div>

        {% for key, evalPerson in form_evaluationPeople_filteredByRole %}
        <div id="collapse-eval_social-{{ key }}" class="collapse {% if loop.first %}show{% endif %} my-3"
            aria-labelledby="heading-eval_social-{{ key }}" data-parent="#accordion-eval_social" 
            data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.rightSocialSecurity) }}</div>
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_rightSocialSecurity">
                    {{ form_row(evalPerson.evalSocialPerson.socialSecurity) }}</div>
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_rightSocialSecurity">
                    {{ form_row(evalPerson.evalSocialPerson.endRightsSocialSecurityDate) }}</div>
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_rightSocialSecurity">
                    {{ form_row(evalPerson.evalSocialPerson.socialSecurityOffice) }}</div>
            </div>

            {% set healthProblemsType = constant("App\\Entity\\EvalSocialPerson::HEALTH_PROBLEMS_TYPE") %}

            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.healthProblem) }}</div>
				<div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_healthProblem">
					<div class="row">
						<div class="col-form-label col-sm-4">Type de problématiques de santé</div>
						<div class="col-sm-8">
							<select id="js-{{ key }}_evalSocialPerson_healthProblemType"
								name="js-{{ key }}_evalSocialPerson_healthProblemType" class="form-control">
                                <option class="default" value="">-- Ajouter --</option>
								{% for healthKey, healthValue in healthProblemsType %}
									<option value="{{ healthKey }}">{{ healthValue }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-12 mt-3">
							<div class="table-responsive" data-parent-field="{{ key }}_evalSocialPerson_healthProblemType">
								<table class="table table-sm table-hover text-dark">
									<tbody>
								        {% for healthKey, healthValue in healthProblemsType %}
										<tr id="js-{{ key }}_evalSocialPerson_healthProblemType-{{ healthKey }}" 
                                            class="js-{{ key }}_evalSocialPerson_healthProblemType d-table-row">
											<th scope="row">
                                                <div class="sr-only">{{ form_widget(attribute(evalPerson.evalSocialPerson, healthKey)) }}</div>
                                            </th>
											<td class="align-middle">{{ healthValue }}</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
                                        {% endfor %}
									</tbody>
								</table>
							</div>
        				</div>		
					</div>
				</div>
			</div>

            <div class="form-group row">
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_healthProblem">
                    {{ form_row(evalPerson.evalSocialPerson.careSupport) }}</div>
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_careSupport">
                    {{ form_row(evalPerson.evalSocialPerson.careSupportType) }}</div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.childWelfareBackground) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.familyBreakdown) }}</div>
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.friendshipBreakdown) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.violenceVictim) }}</div>
                <div class="col-md-6" data-parent-field="{{ key }}_evalSocialPerson_violenceVictim">
                    {{ form_row(evalPerson.evalSocialPerson.domViolenceVictim) }}</div>
            </div>
            <div class="form-group row">
                {{ form_label(evalPerson.evalSocialPerson.commentEvalSocialPerson) }}
                <div class="col-md-12">
                    {{ form_widget(evalPerson.evalSocialPerson.commentEvalSocialPerson) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<hr>

<div class="form-group row">
    <div class="col-md-6"> {{ form_row(form.evalSocialGroup.reasonRequest) }}</div>
    <div class="col-md-6"> {{ form_row(form.evalSocialGroup.wanderingTime) }}</div>
</div>
<div class="form-group row">
    <div class="col-md-6"> {{ form_row(form.evalSocialGroup.animal) }}</div>
    <div class="col-md-6" data-parent-field="animal">{{ form_row(form.evalSocialGroup.animalType) }}</div>
</div>

<div class="form-group row">
    {{ form_label(form.evalSocialGroup.commentEvalSocialGroup) }}
    <div class="col-md-12">
        {{ form_widget(form.evalSocialGroup.commentEvalSocialGroup) }}
    </div>
</div>
{% endblock %}