{% extends "model/collapseCard.html.twig" %}

{% import "macros/loopSupportPeople.html.twig" as utils %}

{% set id = "eval_adm" %}

{% block card_title %}Identité - Papier{{ badgeTitle }}{% endblock %}

{% block card_body %}

	<div class="row">
		<div class="col-md-12 accordion" id="accordion-eval_adm">
			{{ utils.loopSupportPeople(id, form.evaluationPeople, theme_color) }}

			{% for key, evalPerson in form.evaluationPeople %}
				<div id="collapse-eval_adm-{{ key }}" class="collapse {% if loop.first %}show{% endif %} my-3" 
					aria-labelledby="heading-eval_adm-{{ key }}" data-parent="#accordion-eval_adm" 
					data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
					<div class="form-group row">
						<div class="col-md-6">{{ form_row(evalPerson.evalAdmPerson.nationality) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_nationality">
							{{ form_row(evalPerson.evalAdmPerson.arrivalDate) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_nationality">
							{{ form_row(evalPerson.evalAdmPerson.country) }}</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">{{ form_row(evalPerson.evalAdmPerson.paper) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_paper">
							{{ form_row(evalPerson.evalAdmPerson.paperType) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_paper">
							{{ form_row(evalPerson.evalAdmPerson.renewalPermitDate) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_paper">
							{{ form_row(evalPerson.evalAdmPerson.endValidPermitDate) }}</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_paperType">
							{{ form_row(evalPerson.evalAdmPerson.nbRenewals) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_paperType">
							{{ form_row(evalPerson.evalAdmPerson.workRight) }}</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_nationality">
							{{ form_row(evalPerson.evalAdmPerson.asylumBackground) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_evalAdmPerson_asylumBackground">
							{{ form_row(evalPerson.evalAdmPerson.asylumStatus) }}</div>
					</div>
					<div class="form-group row mt-5">
						<div class="col-md-12">{{ form_widget(evalPerson.evalAdmPerson.commentEvalAdmPerson) }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
