{% extends "model/collapseCard.html.twig" %}

{% set id = "sit-social" %}

{% block card_title %}Social{% endblock %}

{% block card_body %}

<div class="row">
    <div class="col-md-12 accordion" id="accordion-eval_social">
        <div class="mb-4">
            {% for evalPerson in form.evaluationPeople|filter(evaluationPeople => evaluationPeople.vars.value.supportPerson.role != 3) %}
			{% set person = evalPerson.vars.value.supportPerson.person %}
            <button type="button" id="heading-eval_social-{{ loop.index0 }}"
                class="btn btn-outline-{{ theme_color }} {% if loop.first %}active{% endif %} mb-2 js-person"
                data-toggle="collapse" data-target="#collapse-eval_social-{{ loop.index0 }}" aria-expanded="false"
                aria-controls="collapse-eval_social-{{ loop.index0 }}">{{ person.fullname}}</button>
            {% endfor %}
        </div>

        {% for evalPerson in form.evaluationPeople|filter(evaluationPeople => evaluationPeople.vars.value.supportPerson.role != 3) %}
        <div id="collapse-eval_social-{{ loop.index0 }}" class="collapse {% if loop.first %}show{% endif %} my-3"
            aria-labelledby="heading-eval_social-{{ loop.index0 }}" data-parent="#accordion-eval_social">
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.rightSocialSecurity) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_rightSocialSecurity d-block">
                    {{ form_row(evalPerson.evalSocialPerson.socialSecurity) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_rightSocialSecurity d-block">
                    {{ form_row(evalPerson.evalSocialPerson.endRightsSocialSecurityDate) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_rightSocialSecurity d-block">
                    {{ form_row(evalPerson.evalSocialPerson.socialSecurityOffice) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.healthProblem) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_healthProblem d-block">{{ form_row(evalPerson.evalSocialPerson.physicalHealthProblem) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_healthProblem d-block">{{ form_row(evalPerson.evalSocialPerson.mentalHealthProblem) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_healthProblem d-block">{{ form_row(evalPerson.evalSocialPerson.addictionProblem) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_healthProblem d-block">{{ form_row(evalPerson.evalSocialPerson.careSupport) }}</div>
                <div class="col-md-6 js-{{ loop.index0 }}_evalSocialPerson_careSupport d-block">{{ form_row(evalPerson.evalSocialPerson.careSupportType) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.childWelfareBackground) }}</div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.familyBreakdown) }}</div>
                <div class="col-md-6">{{ form_row(evalPerson.evalSocialPerson.friendshipBreakdown) }}</div>
            </div>
            <div class="form-group row">
                {{ form_label(evalPerson.evalSocialPerson.commentEvalSocialPerson) }}
                <div class="col-md-12">
                    {{ form_widget(evalPerson.evalSocialPerson.commentEvalSocialPerson) }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<hr>

<div class="form-group row">
    <div class="col-md-6"> {{ form_row(form.evalSocialGroup.reasonRequest) }}</div>
    <div class="col-md-6"> {{ form_row(form.evalSocialGroup.wanderingTime) }}</div>
</div>

<div class="form-group row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-form-label col-4 mb-3">Spécificités</div>
                    <div class="col-8">
                        <select id="js-evalSocialGroup_specifity" name="evalSocialGroup_specifity" class="form-control">
                            <option class="default" value="">-- Ajouter --</option>
                            <option value="1">Présence d'un animal</option>
                            <option value="2">Personne en fauteuil roulant</option>
                            <option value="3">Personne à mobilité réduite</option>
                            <option value="4">Personne victime de violence</option>
                            <option value="5">Femme victime de violence conjugale</option>
                            <option value="6">Prise en charge ASE</option>
                            <option value="98">Autre spécificité</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.evalSocialGroup.speComment) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div id="js-evalSocialGroup_specifity-1" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speAnimal) }}</div>
                    <div id="js-evalSocialGroup_specifity-2" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speWheelchair) }}</div>
                    <div id="js-evalSocialGroup_specifity-3" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speReducedMobility) }}</div>
                    <div id="js-evalSocialGroup_specifity-4" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speViolenceVictim) }}</div>
                    <div id="js-evalSocialGroup_specifity-5" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speDomViolenceVictim) }}</div>
                    <div id="js-evalSocialGroup_specifity-6" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speChildWelfare) }}</div>
                    <div id="js-evalSocialGroup_specifity-98" class="col-md-2 js-evalSocialGroup_specifity d-block">
                        {{ form_widget(form.evalSocialGroup.speOther) }}</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 js-speAnimal d-none"> {{ form_row(form.evalSocialGroup.speAnimalName) }}</div>
                    <div class="col-md-6 js-speOther d-none"> {{ form_row(form.evalSocialGroup.speOtherPrecision) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.evalSocialGroup.commentEvalSocialGroup) }}
    <div class="col-md-12">
        {{ form_widget(form.evalSocialGroup.commentEvalSocialGroup) }}
    </div>
</div>
{% endblock %}