{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}Évaluation sociale | {{ title_website }}{% endblock %}

{% block body %}

	{% set evaluationGroup = form.vars.value %}
	{% set EDIT_MODE = form.vars.value.evalBudgetGroup ? true : false %}
	{% set ROLE_CHILD = constant("App\\Entity\\RolePerson::ROLE_CHILD") %}
	{% set YES = constant("App\\Form\\Utils\\Choices::YES") %}

    {# {% cache "evaluation.edit" ~ evaluationGroup.id ~ evaluationGroup.updatedAt.timestamp evaluationGroup.updatedAt.timestamp %} #}

	<div class="container">
	
		{% set support = evaluationGroup.supportGroup %}
		{% set typo = support.groupPeople.familyTypology %}

		{% set title = "Évaluation sociale" %}
		{% include "app/support/navSuppport.html.twig" %}

		{{ form_start(form) }}

		{% include "model/msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<div class="row my-3 align-items-center">
			<div class="col-md-8 my-1 small text-secondary">
				Évaluation créée le {{ evaluationGroup.createdAt|date("d/m/Y") }}
				{% if evaluationGroup.updatedAt %} (modifiée le {{ evaluationGroup.updatedAt|date("d/m/Y à H:i") }}){% endif %}
			</div>
			<div class="col-md-4 my-1">
				<div class="float-right">
					<button type="submit" name="send2" data-url="{{ path('support_evaluation_edit', {'id':support.id}) }}" 
						class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>{% if EDIT_MODE %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		{% set form_evaluationPeople_filteredByAge = form.evaluationPeople|filter(e => e.vars.value.supportPerson.person.age >= 16) %}
		{% set form_evaluationPeople_filteredByRole = form.evaluationPeople|filter(e => e.vars.value.supportPerson.role != ROLE_CHILD) %}

		<div class="mb-4" data-edit-mode="{% if EDIT_MODE %}true{% else %}false{% endif %}">
			{% include "app/evaluation/initEvaluation.html.twig" %}
			{% if support.service.justice == YES %}
				{% include "app/evaluation/evaluationJustice.html.twig" %}
			{% endif %}
			{% include "app/evaluation/evaluationSocial.html.twig" %}
			{% include "app/evaluation/evaluationAdm.html.twig" %}
			{% include "app/evaluation/evaluationFamily.html.twig" %}
			{% include "app/evaluation/evaluationProf.html.twig" %}
			{% include "app/evaluation/evaluationBudget.html.twig" %}
			{% include "app/evaluation/evaluationHousing.html.twig" %}
			{% if support.service.id in constant("App\\Entity\\Service::SERVICES_PAMH_ID") %}
				{% include "app/evaluation/evaluationHotelLife.html.twig" %}
			{% endif %}
		</div>

		<div class="form-group row">
			<div class="col-md-12">
				<div class="mb-4 float-right">
					<button type="submit" name="send" data-url="{{ path('support_evaluation_edit', {'id':support.id}) }}" 
						class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>{% if EDIT_MODE %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		{{ form_row(form._token) }}
		{{ form_end(form, {"render_rest": false}) }}
	</div>

	{# {% endcache %} #}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("evaluation") }}
{% endblock javascripts %}
