{% apply spaceless %}
{% import "macros/viewParagraph.html.twig" as view_p %}
{% import "macros/viewLi.html.twig" as view_li %}
{% import "macros/viewTextArea.html.twig" as view_text %}

{% set ROLE_CHILD = constant("App\\Entity\\RolePerson::ROLE_CHILD") %}
{% set YES = constant("App\\Form\\Utils\\Choices::YES") %}
{% set IN_PROGRESS = constant("App\\Form\\Utils\\Choices::IN_PROGRESS") %}
{% set theme_color = app.request.hasPreviousSession and app.session.get("theme_color") ? app.session.get("theme_color") : "#555c64;" %}

{% set person = (support.supportPeople|filter(s => s.head == true)|first).person %}
{% set eval_people = evaluation.evaluationPeople %}
{% set eval_adults = evaluation.evaluationPeople|filter(e => e.supportPerson.role != ROLE_CHILD) %}
{% set eval_children = evaluation.evaluationPeople|filter(e => e.supportPerson.role == ROLE_CHILD) %}
{% set people_over_18 = evaluation.evaluationPeople|filter(e => e.supportPerson.person.age >= 18) %}
{% set nb_people = support.supportPeople|length %}
{% set evalHousing = evaluation.evalHousingGroup %}
{% set hotelSupport = support.hotelSupport %}

{% set style_h2 = "color: " ~ theme_color ~ ";font-size: 21.5px; font-weight: bold;" %}
{% set style_h3 = "font-size: 16px; font-weight: bold;" %}
{% set style_table = "border: 1px #b5b5b5 solid;" %}
{% set style_thead = "background-color: #e9ecef; font-weight: bold;" %}
{% set type = type is defined ? type : null %}

<html lang="fr">
    {% if type == 'pdf' %}
        <head>
            <title>{{ title }} | {{ person.fullname }}</title>
            <meta charset="utf-8" />
            {% block stylesheets %}
                {% include "pdf/style/pdf.css.twig" %}
            {% endblock %}
        </head>
    {% endif %}

    <body>
        {% if type == 'pdf' %}
            {% include "pdf/headerFooterPdf.html.twig" %}
            <h1>{{ title }}</h1>
        {% endif %}

        <main>
            <p style="text-align: right;">Le {{ "now"|date("d/m/Y") }}</p>
            <p>&nbsp;</p>
            
            {{ view_p.get(person.lastname, "Nom du ménage") }}
            {{ view_p.get(person.phone1, "Phone") }}
            {{ view_p.get(person.email, "Email") }}

            {{ view_p.get(support.city or support.address ? support.address ~ ", " ~ support.zipcode ~ " " ~ support.city : "", "Address") }}
            {% if evalHousing and evalHousing.domiciliation == YES and support.address != evalHousing.domiciliationAddress %}
                {{ view_p.get(evalHousing.domiciliationAddress ~ (evalHousing.domiciliationCity ? " - " ~ 
                    evalHousing.domiciliationDept ~ " " ~ evalHousing.domiciliationCity : ""), "Domiciliation address", "evaluation") }}
            {% endif %}

            {# Suivi hôtel #}
            {% if hotelSupport %}
                <p>&nbsp;</p>
                {{ view_p.get(hotelSupport.entryHotelDate ? hotelSupport.entryHotelDate|date("d/m/Y"), "Entry hotel date") }}
                {{ view_p.get(support.accommodationGroups[0].accommodation ? support.accommodationGroups[0].accommodation.name, "Hotel") }}
                {{ view_p.get(hotelSupport.originDept, "Origin dept") }}
            {% endif %}

            {{ view_p.get(support.startDate ? support.startDate|date("d/m/Y"), "support.startDate") }}

            {# Référents sociaux #}
            {% if referents|length > 0 %}
                <p>&nbsp;</p>
                {% for referent in referents %}
                    {{ view_p.get(referent.socialWorker ~ " - " ~ referent.name ~ " : " ~ referent.phone1 ~ 
                        (referent.email ? " / " ~ referent.email), "Social referent") }}
                {% endfor %}
            {% endif %}

            <p>&nbsp;</p>
            {{ view_p.get(support.peopleGroup.familyTypologyToString~ (nb_people > 1 ? 
                ", " ~ nb_people ~ " personnes"), "Family typology") }}

            <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
                <thead>
                    <tr style="{{ style_thead }}">
                        <th>Nom et prénom</th>
                        <th>Date de naissance</th>
                        <th>Âge</th>
                        <th>Sexe</th>
                        <th>Lien de parenté</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supportPerson in support.supportPeople %}
                    <tr>
                        <td>{{ supportPerson.person.fullname }}</td>
                        <td>{{ supportPerson.person.birthdate|date("d/m/Y") }}</td>
                        <td>{{ supportPerson.person.age }} an{{ supportPerson.person.age > 1 ? "s" }}</td>
                        <td>{{ supportPerson.person.genderToString }}</td>
                        <td>{{ supportPerson.roleToString }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Rendez-vous #}
            {% if lastRdv or nextRdv %}
                <hr/>
                {{ view_p.get(lastRdv ? lastRdv.start|date("d/m/Y"), "rdv.last") }}
                {{ view_p.get(nextRdv ? nextRdv.start|date("d/m/Y"), "rdv.next") }}
            {% endif %}

            {# Justice #}
            {% if support.service.justice == YES %}
                <hr/>
                <h2 style="{{ style_h2 }}">Situation judiciaire</h2>
                {% for evalPerson in evaluation.evaluationPeople %}
                    {% set evalJustice = evalPerson.evalJusticePerson %}
                    {% if evalJustice %}
                        {% if nb_adults > 1 %}
                            <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                        {% endif %}
                        {{ view_p.get(evalJustice.justiceStatusToString, "Justice status", "evaluation") }}
                        {{ view_p.get(evalJustice.justiceActToString, "Justice act", "evaluation") }}
                        {{ view_text.get(evalJustice.commentEvalJustice, null, null, type) }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {# Identité - Papier #}
            <hr/>
            <h2 style=" color: {{ theme_color }}; {{ style_h2 }}">Situation administrative</h2>
            {% set eval_adults_admin = eval_adults|filter(e => e.evalAdmPerson) %}
            {% set nb_adults_admin = eval_adults_admin|length %}
            {% for evalPerson in eval_adults_admin %}
                {% set evalAdm = evalPerson.evalAdmPerson %}
                {% if nb_adults_admin > 1 %}
                    <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                {% endif %}
                {{ view_p.get(evalAdm.nationality ? evalAdm.nationalityToString ~ (evalAdm.country ? ' (' 
                    ~ evalAdm.country ~ ')' : "") : "", "Nationality", "evaluation") }}
                {{ view_p.get(evalAdm.arrivalDate ? evalAdm.arrivalDate|date("d/m/Y"), "Arrival date", "evaluation") }}
                {{ view_p.get(evalAdm.paper == YES and evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString, "Paper", "evaluation") }}
                {{ view_p.get(evalAdm.asylumBackground == YES ? (evalAdm.asylumStatus ? evalAdm.asylumStatusToString : 
                    evalAdm.asylumBackgroundToString), "Asylum background", "evaluation") }}
                {{ view_p.get(evalAdm.renewalPermitDate ? evalAdm.renewalPermitDate|date("d/m/Y") 
                    ~ (evalAdm.nbRenewals ? " (" ~ evalAdm.nbRenewals ~ " renouvellement(s))") : "", "Renewal permit date", "evaluation" ) }}
                {{ view_p.get(evalAdm.endValidPermitDate ? evalAdm.endValidPermitDate|date("d/m/Y") : "", "End valid permit date", "evaluation") }}
                {{ view_p.get(evalAdm.workRightToString, "Work right", "evaluation") }}
                {{ view_text.get(evalAdm.commentEvalAdmPerson, null, null, type) }}
            {% endfor %}

            {% if eval_children|filter(e => e.evalAdmPerson)|length > 0 %} {# si typologie familiale avec enfants #}
                <p>&nbsp;</p>
                <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
                    <thead>
                        <tr style="background-color: #e9ecef; font-weight: bold;">
                            <th>Enfants</th>
                            <th>Nationalité</th>
                            <th>Papier</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evalPerson in eval_children %}
                            {% set evalAdm = evalPerson.evalAdmPerson %}
                            {% if evalAdm %}
                                <tr>
                                    <td>{{ evalPerson.supportPerson.person.fullname }}</td>
                                    <td>{{ evalAdm.nationalityToString }}</td>
                                    <td>{{ evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {# Famille #}
            <hr/>
            <h2 style="{{ style_h2 }}">Situation familiale</h2>

            {% set eval_adults_family = eval_adults|filter(e => e.evalFamilyPerson) %}
            {% set nb_adults_family = eval_adults_family|length %}
            {% for evalPerson in eval_adults_family %}
                {% set evalFamily = evalPerson.evalFamilyPerson %}
                {% if nb_adults_family > 1 %}
                    <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                {% endif %}
                {{ view_p.get(evalFamily.maritalStatusToString, "Marital status", "evaluation") }}
                {{ view_p.get(evalFamily.protectiveMeasure == YES and evalFamily.protectiveMeasureType ? 
                    evalFamily.protectiveMeasureTypeToString : "", "Protective measure", "evaluation") }}
                {{ view_p.get(evalFamily.unbornChild == YES ? evalFamily.unbornChildToString ~ (evalFamily.expDateChildbirth ? " (" 
                    ~ evalFamily.expDateChildbirth|date("d/m/Y") ~ ")" : "") : "", "Unborn child", "evaluation") }}
                {{ view_text.get(evalFamily.commentEvalFamilyPerson, null, null, type) }}
            {% endfor %}

            {% set eval_children_family = eval_children|filter(e => e.evalFamilyPerson) %}
            {% if eval_children_family|length > 0 %}
                <p>&nbsp;</p>
                <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
                    <thead>
                        <tr style="background-color: #e9ecef; font-weight: bold;">
                            <th>Enfant(s)</th>
                            <th>Garde ou scolarité</th>
                            <th>Hébergement</th>
                            <th>À charge</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evalPerson in eval_children_family %}
                            {% set evalFamilyPerson = evalPerson.evalFamilyPerson %}
                            {% if evalFamilyPerson %}
                                <tr>
                                    <td>{{ evalPerson.supportPerson.person.fullname }}</td>
                                    <td>{{ evalFamilyPerson.childcareSchoolToString }}{{ evalFamilyPerson.childcareSchoolLocation ? " (" ~ evalFamilyPerson.childcareSchoolLocation ~ ")" }}</td>
                                    <td>{{ evalFamilyPerson.childToHostToString }}</td>
                                    <td>{{ evalFamilyPerson.childDependanceToString }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% set evalFamily = evaluation.evalFamilyGroup %}
            {% if evalFamily %}
                <p>&nbsp;</p>
                {# {{ view_p.get(evalFamily.cafId, "Caf id", "evaluation") }} #}
                {{ view_p.get(evalFamily.nbDependentChildren, "Nb dependent children", "evaluation") }}
                {{ view_p.get(evalFamily.famlReunification == YES ? evalFamily.famlReunificationToString ~ (evalFamily.nbPeopleReunification ? " (" 
                    ~ evalFamily.nbPeopleReunification ~ " personne(s))" : "") : "", "Faml reunification", "evaluation") }}
                {{ view_text.get(evaluation.evalFamilyGroup.commentEvalFamilyGroup, null, null, type) }}
            {% endif %}

            {# Situation financière #}
            {% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
            {% set nb_people_budget = eval_people_budget|length %}
            {% set evalBudgetGroup = evaluation.evalBudgetGroup %}
            {% if evalBudgetGroup %}
                <hr/>
                <h2 style="{{ style_h2 }}">Situation financière</h2>
                {% if nb_people_budget > 1 %}
                    <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                        <thead>
                            <tr style="{{ style_thead }}">
                                <th>Ménage</th>
                                <th style="text-align: right;">Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ressources</td>
                                <td style="text-align: right;">{{ evalBudgetGroup.resourcesGroupAmt|format_currency("EUR") }}</td>
                            </tr>
                            {% if evalBudgetGroup.chargesGroupAmt %}
                                <tr>
                                    <td>Charges</td>
                                    <td style="text-align: right;">{{ evalBudgetGroup.chargesGroupAmt|format_currency("EUR") }}</td>
                                </tr>
                            {% endif %}
                            {% if evalBudgetGroup.contributionAmt %}
                                <tr>
                                    <td>Participation financière</td>
                                    <td style="text-align: right;">{{ evalBudgetGroup.contributionAmt|format_currency("EUR") }}</td>
                                </tr>
                            {% endif %}
                            {% if evalBudgetGroup.debtsGroupAmt and evalBudgetGroup.monthlyRepaymentAmt > 0 %}
                                <tr>
                                    <td>Remboursement mensuel des dettes</td>
                                    <td style="text-align: right;">{{ evalBudgetGroup.monthlyRepaymentAmt|format_currency("EUR") }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            {% if evalBudgetGroup.budgetBalanceAmt > 0 %}
                                <tr style="font-weight: bold;">
                                    <td>Reste à vivre</td>
                                    <td style="text-align: right;">{{ evalBudgetGroup.budgetBalanceAmt|format_currency("EUR") }}</td>
                                </tr>
                            {% endif %}
                            {% if evalBudgetGroup.debtsGroupAmt > 0 %}
                                <tr>
                                    <td>Montant total des dettes</td>
                                    <td style="text-align: right;">{{ evalBudgetGroup.debtsGroupAmt|format_currency("EUR") }}</td>
                                </tr>
                            {% endif %}
                        </tfoot>
                    </table>
                    <p>&nbsp;</p>
                {% endif %}

                {% for evalPerson in eval_people_budget %}
                    {% set evalBudget = evalPerson.evalBudgetPerson %}
                    {% if evalBudget %}	
                        {% if nb_people_budget > 1 %}
                            <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                        {% endif %}

                        {{ evalBudget.resources != YES or null == evalBudget.resourcesAmt ? view_p.get(evalBudget.resourcesToString, "Resources", "evaluation") }}
                        {# {{ evalBudget.charges != YES or null == evalBudget.chargesAmt ? view_p.get(evalBudget.chargesToString, "Charges", "evaluation") }} #}
                        
                        {% if evalBudget.resources == YES %}
                            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                                <thead>
                                    <tr style="{{ style_thead }}">
                                        <th>Ressources</th>
                                        <th style="text-align: right;">Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in evalBudget.resourcesType %}
                                        {% if attribute(evalBudget, key) %}
                                        <tr>
                                            <td>{{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                                attribute(evalBudget, key ~ 'Precision') : "Autre(s) ressource(s)") }}</td>
                                            {% set amt = attribute(evalBudget, key ~ 'Amt') %}
                                            <td style="text-align: right;">{{ amt > 0 ? amt|format_currency("EUR") }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr style="font-weight: bold;">
                                        <td>Total des ressources</td>
                                        <td style="text-align: right;">{{ evalBudget.resourcesAmt|format_currency("EUR") }}</td>
                                    </tr>
                                    {% if evalBudget.incomeN1Amt %}
                                        <tr>
                                            <td>Impôts sur le revenu n-1</td>
                                            <td style="text-align: right;">{{ evalBudget.incomeN1Amt|format_currency("EUR") }}</td>
                                        </tr>							
                                    {% endif %}
                                    {% if evalBudget.incomeN2Amt %}
                                        <tr>
                                            <td>Impôts sur le revenu n-2</td>
                                            <td style="text-align: right;">{{ evalBudget.incomeN2Amt|format_currency("EUR") }}</td>
                                        </tr>
                                    {% endif %}
                                </tfoot>
                            </table>
                        {% endif %}

                        {{ view_p.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}

                        {% if evalBudget.charges == YES %}
                            <p>&nbsp;</p>
                            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                                <thead>
                                    <tr style="{{ style_thead }}">
                                        <th>Charges</th>
                                        <th style="text-align: right;">Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in evalBudget.chargesType %}
                                        {% if attribute(evalBudget, key) %}
                                        <tr>
                                            <td>{{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                                attribute(evalBudget, key ~ 'Precision') : "Autre(s) charge(s)") }}</td>
                                            <td style="text-align: right;">{{ attribute(evalBudget, key ~ 'Amt')|format_currency("EUR") }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr style="font-weight: bold;">
                                        <td>Total des charges</td>
                                        <td style="text-align: right;">{{ evalBudget.chargesAmt|format_currency("EUR") }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        {% endif %}

                        {% if evalBudget.chargeComment %}
                            {{ view_p.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
                        {% endif %}

                        {% if evalBudget.debts %}
                            {{ view_p.get(evalBudget.debtsToString, "Debts", "evaluation") }}
                            {% if evalBudget.debts == YES %}
                                <ul>
                                    {% for key, value in evalBudget.debtsType %}
                                        {% if attribute(evalBudget, key) %}
                                            <li>{{ value }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ view_p.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
                            {{ view_p.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                                " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")" : "") : "", "Over indebt record", "evaluation") }}
                            {{ view_p.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
                            {{ view_p.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
                            {{ view_p.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y") : "", "End rights date", "evaluation") }}
                        {% endif %}
                        {{ view_text.get(evalBudget.commentEvalBudget, null, null, type) }}
                    {% endif %}

                {% endfor %}
            {% endif %}


            {# Situation professionnelle #}
            <hr/>
            <h2 style="{{ style_h2 }}">Situation professionnelle</h2>

            {% set eval_adults_prof = eval_adults|filter(e => e.evalProfPerson) %}
            {% set nb_adults_prof = eval_adults_prof|length %}
            {% for evalPerson in eval_adults_prof %}
                {% set evalProf = evalPerson.evalProfPerson %}
                {% if nb_adults_prof > 1 %}
                    <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                {% endif %}
                {{ view_p.get(evalProf.schoolLevelToString, "School level", "evaluation") }}
                {{ view_p.get(evalProf.profExperienceToString, "Prof experience", "evaluation") }}
                {{ view_p.get(evalProf.profStatus ? evalProf.profStatusToString ~ (evalProf.contractType ? " (" 
                    ~ evalProf.contractTypeToString ~ ")" : "") : "", "Prof status", "evaluation") }}
                {{ view_p.get(evalProf.jobCenterId, "Job center id", "evaluation") }}
                {{ view_p.get(evalProf.jobType, "Job type", "evaluation") }}
                {{ view_p.get(evalProf.contractEndDate ? evalProf.contractEndDate|date("d/m/Y"), "Contract end date", "evaluation") }}
                {{ view_p.get(evalProf.workingHours ? evalProf.workingHours ~ (evalProf.nbWorkingHours ? " (nb d'heures : " 
                    ~ evalProf.nbWorkingHours ~ ")" : "") : "", "Working hours", "evaluation") }}
                {{ view_p.get(evalProf.employerName ? evalProf.employerName ~ (evalProf.workPlace ? " | " 
                    ~ evalProf.workPlace : "") : "", "Employer name", "evaluation") }}
                {{ view_p.get(evalProf.transportMeansType ? evalProf.transportMeansTypeToString ~ (evalProf.transportMeans ? " (" 
                    ~ evalProf.transportMeans ~ ")" : ""): "", "Transport means type", "evaluation") }}
                {{ view_p.get(evalProf.rqth in [YES, IN_PROGRESS] ? evalProf.rqthToString ~ (evalProf.endRqthDate ? " (fin de validité : " 
                    ~ evalProf.endRqthDate|date("d/m/Y") ~ ")" : ""): "", "Rqth", "evaluation") }}
                {{ view_text.get(evalProf.commentEvalProf, null, null, type) }}
            {% endfor %}


            {# Situation sociale #}
            <hr/>
            <h2 style="{{ style_h2 }}">Situation sociale</h2>

            {% set eval_people_social = eval_people|filter(e => e.evalSocialPerson) %}
            {% set nb_people_social = eval_people_social|length %}
            {% for evalPerson in eval_people_social %}
                {% set evalSocial = evalPerson.evalSocialPerson %}
                {% if evalSocial.rightSocialSecurity or evalSocial.healthProblem == YES or evalSocial.commentEvalSocialPerson  %}
                    {% if nb_people_social > 1 %}
                        <p style="{{ style_h3 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                    {% endif %}
                    {{ view_p.get(evalSocial.rightSocialSecurity in [1, 3] ? evalSocial.rightSocialSecurityToString ~ " - " 
                        ~ evalSocial.socialSecurityToString : evalSocial.rightSocialSecurityToString, "Right social security", "evaluation") }}
                    {{ view_p.get(evalSocial.socialSecurityOffice, "Social security office", "evaluation") }}
                    {{ view_p.get(evalSocial.childWelfareBackground == YES ? evalSocial.childWelfareBackgroundToString, "Child welfare background", "evaluation") }}
                    {% if evalSocial.familyBreakdown == YES or evalSocial.friendshipBreakdown == YES %}
                        {{ view_p.get(evalSocial.familyBreakdownToString, "Family breakdown", "evaluation") }}
                        {{ view_p.get(evalSocial.friendshipBreakdownToString, "Friendship breakdown", "evaluation") }}
                    {% endif %}
                    {% if evalSocial.healthProblem == YES %}
                        {{ view_p.get(evalSocial.healthProblemToString, "Health problem", "evaluation") }}
                        <ul>
                            {% for key, value in evalSocial.healthProblemsType %}
                                {% if attribute(evalSocial, key) %}
                                    <li>{{ value }}</li>
                                {% endif %}
                            {% endfor %}									 
                        </ul>
                    {% endif %}
                    {{ view_p.get(evalSocial.careSupport == YES ? evalSocial.careSupportToString ~ (evalSocial.careSupportType ? " - " 
                        ~ evalSocial.careSupportTypeToString : ""), "Care support", "evaluation") }}
                    {{ view_p.get(evalSocial.violenceVictim == YES ? evalSocial.violenceVictimToString ~ (evalSocial.domViolenceVictim == YES ? 
                        " (Violence conjugale)" : ""), "Violence victim", "evaluation") }}
                    {{ view_text.get(evalSocial.commentEvalSocialPerson, null, null, type) }}
                {% endif %}
            {% endfor %}

            {% if evaluation.evalSocialGroup %}
                {% set evalSocial = evaluation.evalSocialGroup %}
                    {# {{ view_p.get(evalSocial.reasonRequestToString, "Reason request", "evaluation") }} #}
                    {# {{ view_p.get(evalSocial.wanderingTimeToString, "Wandering time", "evaluation") }} #}
                    {{ view_p.get(evalSocial.animal == YES ? evalSocial.animalToString ~ (evalSocial.animalType ? " (" ~ evalSocial.animalType ~ ")" : "" ), "Animal", "evaluation") }}
                {{ view_text.get(evaluation.evalSocialGroup.commentEvalSocialGroup, null, null, type) }}
            {% endif %}

            {% set evalHousing = evaluation.evalHousingGroup %}
            {% if evalHousing %}
                <hr/>
                <h2 style="{{ style_h2 }}">Situation au regard du logement</h2>
                {{ view_p.get(evalHousing.housingStatusToString, "Housing status", "evaluation") }}
                {% if evalHousing.siaoRequest %}
                    {{ view_p.get(evalHousing.siaoRequestToString, "Siao request", "evaluation") }}
                    <ul>
                        {{ view_li.get(evalHousing.siaoRequestDate ? evalHousing.siaoRequestDate|date("d/m/Y") 
                            ~ (evalHousing.siaoUpdatedRequestDate ? " (actualisation : " ~ evalHousing.siaoUpdatedRequestDate|date("d/m/Y") 
                            ~ ")" : "") : "", "Siao request date", "evaluation") }}
                        {{ view_li.get(evalHousing.siaoRequestDept, "Siao request dept", "evaluation") }}
                        {{ view_li.get(evalHousing.siaoRecommendationToString, "Siao recommendation", "evaluation") }}
                    </ul>
                {% endif %}
                {% if evalHousing.socialHousingRequest %}
                    {{ view_p.get(evalHousing.socialHousingRequestToString, "Social housing request", "evaluation") }}
                    <ul>
                        {{ view_li.get(evalHousing.socialHousingRequestId, "NUR", "evaluation") }}
                        {{ view_li.get(evalHousing.socialHousingRequestDate ? evalHousing.socialHousingRequestDate|date("d/m/Y") 
                            ~ (evalHousing.socialHousingUpdatedRequestDate ? " (actualisation : " ~ evalHousing.socialHousingUpdatedRequestDate|date("d/m/Y") 
                            ~ ")" : "") : "", "Date demande de logement social", "evaluation") }}
                        {{ view_li.get(evalHousing.housingWishes, "Housing wishes", "evaluation") }}
                        {{ view_li.get(evalHousing.citiesWishes, "Cities wishes", "evaluation") }}
                        {{ view_li.get(evalHousing.specificities, "Specificities", "evaluation") }}
                    </ul>
                {% endif %}
                {% if evalHousing.syplo in [YES, IN_PROGRESS] %}
                    {{ view_p.get(evalHousing.syploToString, "Syplo", "evaluation") }}
                    <ul>
                        {{ view_li.get(evalHousing.syploDate ? evalHousing.syploDate|date("d/m/Y"), "Syplo date", "evaluation") }}
                        {{ view_li.get(evalHousing.syploId, "Syplo id", "evaluation") }}
                    </ul>
                {% endif %}
                {% if evalHousing.daloAction in [YES, IN_PROGRESS] %}
                    {{ view_p.get(evalHousing.daloActionToString, "Dalo action", "evaluation") }}
                    <ul>
                        {{ view_li.get(evalHousing.daloTypeToString, "Dalo type", "evaluation") }}
                        {{ view_li.get(evalHousing.daloDecisionDate ? evalHousing.daloDecisionDate|date("d/m/Y"), "Dalo decision date", "evaluation") }}
                        {{ view_li.get(evalHousing.daloId, "Dalo id", "evaluation") }}
                        {{ view_li.get(evalHousing.daloRecordDate ? evalHousing.daloRecordDate|date("d/m/Y"), "Dalo record date", "evaluation") }}
                        {{ view_li.get(evalHousing.daloTribunalAction in [YES, IN_PROGRESS] ? evalHousing.daloTribunalActionToString ~ (evalHousing.daloTribunalActionDate ? 
                            " (le " ~ evalHousing.daloTribunalActionDate|date("d/m/Y") ~ ")"), "Dalo tribunal action", "evaluation") }}
                    </ul>
                {% endif %}
                {% if evalHousing.hsgActionEligibility in [YES, IN_PROGRESS] %}					
                    {{ view_p.get(evalHousing.hsgActionEligibilityToString, "Hsg action eligibility", "evaluation") }}
                    {{ view_p.get(evalHousing.hsgActionRecordToString ~ (evalHousing.hsgActionDate ? 
                        " (le " ~ evalHousing.hsgActionDate|date("d/m/Y") ~ ")"), "Hsg action record", "evaluation") }}
                    {{ view_p.get(evalHousing.hsgActionRecordId, "Hsg action record id", "evaluation") }}
                    {{ view_p.get(evalHousing.hsgActionDept, "Hsg action dept", "evaluation") }}
                {% endif %}
                {% if evalHousing.expulsionInProgress == YES %}
                    {{ view_p.get(evalHousing.expulsionInProgressToString, "Expulsion in progress", "evaluation") }}
                    {{ view_p.get(evalHousing.publicForceToString ~ (evalHousing.publicForceDate ? 
                        " (le " ~ evalHousing.publicForceDate|date("d/m/Y") ~ ")"), "Public force", "evaluation") }}
                    {{ view_p.get(evalHousing.expulsionComment) }}
                {% endif %}
                {# {% if evalHousing.housingExperience %} #}
                    {{ view_p.get(evalHousing.housingExperienceToString, "Housing experience", "evaluation") }}
                    {# {{ view_p.get(evalHousing.housingExpeComment) }}
                {% endif %} #}
                {# <ul>
                    {% for key, value in evalHousing.housingHelps %}
                        {% if attribute(evalHousing, key) %}
                            <li>{{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul> #}
                {{ view_text.get(evalHousing.commentEvalHousing, null, null, type) }}
                        
            {% endif %}

            {# Parcours de vie #}
            {% if evaluation.backgroundPeople %}
                <hr/>
                <h2 style="{{ style_h2 }}">Parcours de vie</h2>
                {{ view_text.get(evaluation.backgroundPeople, null, null, type) }}
            {% endif %}

            {# Vie à l'hôtel #}
            {% set evalHotelLife = evaluation.evalHotelLifeGroup %}
            {% if evalHotelLife %}
                <hr/>
                <h2 class="h3" style="{{ style_h2 }}">Vie à l'hôtel</h2>
                    {% if evalHotelLife.food %}<br/>{{ view_text.get(evalHotelLife.food, "Food", "evaluation", type) }}{% endif %}
                    {% if evalHotelLife.clothing %}<br/>{{ view_text.get(evalHotelLife.clothing, "Clothing", "evaluation", type) }}{% endif %}
                    {% if evalHotelLife.roomMaintenance %}<br/>{{ view_text.get(evalHotelLife.roomMaintenance, "Room maintenance", "evaluation", type) }}{% endif %}
                    {% if evalHotelLife.otherHotelLife %}<br/>{{ view_text.get(evalHotelLife.otherHotelLife, "Other hotel life", "evaluation", type) }}{% endif %}
                    {% if evalHotelLife.commentHotelLife %}<br/>{{ view_text.get(evalHotelLife.commentHotelLife, "Comment hotel life", "evaluation", type) }}{% endif %}
            {% endif %}

            {# Signature #}
            <p><br/></p>
            <p class="break-inside" style="text-align: right;">{#
                #}{{ app.user.firstname }} {{ app.user.lastname }}<br/>{#
                #}{{ support.service.name }}<br/>{#
                #}Association ESPERER 95<br/>{#
                #}{% set subService = support.subService %}{#
                #}<i><a href="mailto:{{ app.user.email }}" style="color: {{ theme_color }};">{{ subService and subService.email ?  subService.email : 
                    (support.service.email ? support.service.email : app.user.email) }}</a></i><br/> 
                <i>{{ app.user.phone1 }}</i><br/>
                <a href="www.esperer-95.org" style="color: {{ theme_color }};">www.esperer-95.org</a>
                {% if type != 'pdf' %}<br/>{LOGO_SIGNATURE}{% endif %}
            </p>
            {% if type == 'pdf' %}<p class="text-right"><img src="{{ logo_path }}" width="120"/></p>{% endif %}
        </main>
    </body>
</html>
{% endapply %}