{# Charges #}
{% set charges = {
    0 : {
        'name' : 'rent',
        'trans' : 'Loyer', 
        'value' : evalBudgetPerson.rent,
        'amt' : evalBudgetPerson.rentAmt,
    },
    1 : {
        'name' : 'electricityGas',
        'trans' : 'Electricité / Gaz',
        'value' : evalBudgetPerson.electricityGas,
        'amt' : evalBudgetPerson.electricityGasAmt,
    },
    2 : {
        'name' : 'water',
        'trans' : 'Eau',
        'value' : evalBudgetPerson.water,
        'amt' : evalBudgetPerson.waterAmt,
    },
    3 : {
        'name' : 'insurance',
        'trans' : 'Assurance(s)',
        'value' : evalBudgetPerson.insurance,
        'amt' : evalBudgetPerson.insuranceAmt,
    },
    4 : {
        'name' : 'mutual',
        'trans' : 'Mutuelle(s)',
        'value' : evalBudgetPerson.mutual,
        'amt' : evalBudgetPerson.mutualAmt,
    },
    5 : {
        'name' : 'taxes',
        'trans' : 'Impôts',
        'value' : evalBudgetPerson.taxes,
        'amt' : evalBudgetPerson.taxesAmt,
    },
    6 : {
        'name' : 'transport',
        'trans' : 'Transport',
        'value' : evalBudgetPerson.transport,
        'amt' : evalBudgetPerson.transportAmt,
    },
    7 : {
        'name' : 'childcare',
        'trans' : 'Garde d\'enfant(s)',
        'value' : evalBudgetPerson.childcare,
        'amt' : evalBudgetPerson.childcareAmt,
    },
    8 : {
        'name' : 'alimony',
        'trans' : 'Pension alimentaire',
        'value' : evalBudgetPerson.alimony,
        'amt' : evalBudgetPerson.alimonyAmt,
    },
    9 : {
        'name' : 'phone',
        'trans' : 'Téléphone',
        'value' : evalBudgetPerson.phone,
        'amt' : evalBudgetPerson.phoneAmt,
    },
    10 : {
        'name' : 'chargeOther',
        'trans' : 'Autre charge',
        'value' : evalBudgetPerson.chargeOther,
        'amt' : evalBudgetPerson.chargeOtherAmt,
    }
}
%}

<div class="col-md-6">
    <div class="form-group row">
        <div class="col-md-12">{{ form_row(evalBudgetPerson.charges) }}</div>
        <div class="col-md-12 js-{{ key }}_{{ entity }}_charges d-block">
            <div class="row">
                <div class="col-form-label col-sm-4">Type de charges</div>
                <div class="col-sm-8">
                    <select id="js-{{ key }}_{{ entity }}_charges_type"
                        name="js-{{ key }}_{{ entity }}_charges_type" class="form-control"
                        data-id="chargesType" data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
                        <option class="default" value="">-- Ajouter --</option>
                        {% for charge in charges %}
                            <option value="{{ charge.name }}">{{ charge.trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive js-{{ key }}_{{ entity }}_charges d-block">
                <table class="table table-sm table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">Type de charges</th>
                            <th scope="col" class="align-middle th-w-150">Montant</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for charge in charges %}
                            <tr id="js-{{ key }}_{{ entity }}_charges_type-{{ charge.name }}" class="js-{{ key }}_{{ entity }}_resources_type d-table-row">
                                <th scope="row"><div class="sr-only">{{ form_widget(charge.value) }}</div></th>
                                <td class="align-middle">{% if not loop.last %}{{ charge.trans }}<!--
                                -->{% else %}{{ form_widget(evalBudgetPerson.chargeOtherPrecision) }}{% endif %}</td>
                                <td>{{ form_widget(charge.amt) }}</td>
                                <td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr id="js-{{ key }}_{{ entity }}_chargesAmt" class="font-weight-bold">
                            <th scope="row"></th>
                            <td class="align-middle">Total des charges</td>
                            <td class="align-middle">{{ form_widget(evalBudgetPerson.chargesAmt) }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>