{% import "macros/viewParagraph.html.twig" as pElt %}
{% import "macros/viewLi.html.twig" as liElt %}

{% set ROLE_CHILD = constant("App\\Entity\\RolePerson::ROLE_CHILD") %}
{% set YES = constant("App\\Form\\Utils\\Choices::YES") %}
{% set IN_PROGRESS = constant("App\\Form\\Utils\\Choices::IN_PROGRESS") %}

{% set theme_color = app.request.hasPreviousSession and app.session.get("theme_color") ? app.session.get("theme_color") : "dark" %}

{% set eval_people = evaluation.evaluationPeople %}
{% set eval_adults = evaluation.evaluationPeople|filter(e => e.supportPerson.role != ROLE_CHILD) %}
{% set eval_children = evaluation.evaluationPeople|filter(e => e.supportPerson.role == ROLE_CHILD) %}
{% set people_over_18 = evaluation.evaluationPeople|filter(e => e.supportPerson.person.age >= 18) %}
{% set nb_people = support.supportPeople|length %}
{% set evalHousing = evaluation.evalHousingGroup %}

{% set style_h3 = "font-size: 21.5px; font-weight: bold; color: {{ theme_color }};" %}
{% set style_h4 = "font-size: 16px; font-weight: bold;" %}
{% set style_table = "border: 1px #b5b5b5 solid;" %}
{% set style_thead = "background-color: #e9ecef; font-weight: bold;" %}

{% apply spaceless %}

    {% for supportPerson in support.supportPeople|filter(s => s.head == true) %}
        {{ pElt.get(supportPerson.person.lastname, "Nom du ménage") }}
        {{ pElt.get(supportPerson.person.phone1, "Phone") }}
        {{ pElt.get(supportPerson.person.email, "Email") }}
    {% endfor %}

    {{ pElt.get(support.city or support.address ? support.address ~ ", " ~ support.zipcode ~ " " ~ support.city : "", "Address") }}
    {% if evalHousing.domiciliation == YES and support.address != evalHousing.domiciliationAddress %}
        {{ pElt.get(evalHousing.domiciliationAddress ~ (evalHousing.domiciliationCity ? " - " ~ 
            evalHousing.domiciliationDept ~ " " ~ evalHousing.domiciliationCity : ""), "Domiciliation address", "evaluation") }}
    {% endif %}

    <br/>

    {{ pElt.get(support.groupPeople.familyTypologyToString~ (nb_people > 1 ? 
        ", " ~ nb_people ~ " personnes"), "Family typology") }}

    <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
        <thead>
            <tr style="{{ style_thead }}">
                <th> Nom et prénom</th>
                <th> Date de naissance</th>
                <th> Âge</th>
                <th> Sexe</th>
                <th> Lien de parenté</th>
                {# <th>Téléphone</th>
                <th>Adresse email</th> #}
            </tr>
        </thead>
        <tbody>
            {% for supportPerson in support.supportPeople %}
            <tr>
                <td scope="row"> {{ supportPerson.person.fullname }}</td>
                <td> {{ supportPerson.person.birthdate|date("d/m/Y") }}</td>
                <td> {{ supportPerson.person.age }} an{{ supportPerson.person.age > 1 ? "s" }}</td>
                <td> {{ supportPerson.person.genderToString }}</td>
                <td> {{ supportPerson.roleToString }}</td>
                {# <td>{{ supportPerson.person.phone1 }}</td>
                <td>{{ supportPerson.person.email }}</td> #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Rendez-vous #}
    {% if lastRdv or nextRdv %}
        <br/>   
        {{ pElt.get(lastRdv ? lastRdv.start|date("d/m/Y à H:i"), "rdv.last") }}
        {{ pElt.get(nextRdv ? nextRdv.start|date("d/m/Y à H:i"), "rdv.next") }}
    {% endif %}

    {# Justice #}
    {% if support.service.justice == YES %}
        <br/>
        <h3 class="h4" style="{{ style_h3 }}">Situation judiciaire</h3>
        {% for evalPerson in evaluation.evaluationPeople %}
            {% set evalJustice = evalPerson.evalJusticePerson %}
            {% if evalJustice %}
                {% if nb_adults > 1 %}
                    <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                {% endif %}
                {{ pElt.get(evalJustice.justiceStatusToString, "Justice status", "evaluation") }}
                {{ pElt.get(evalJustice.justiceActToString, "Justice act", "evaluation") }}
                 <div style="text-align: justify;">{{ pElt.get(evalJustice.commentEvalJustice) }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}


    {# Identité - Papier #}
    <br/>
    <h3 class="h4" style="{{ style_h3 }}">Situation administrative</h3>

    {% set eval_adults_admin = eval_adults|filter(e => e.evalProfPerson) %}
    {% set nb_adults_admin = eval_adults_admin|length %}
    {% for evalPerson in eval_adults_admin %}
        {% set evalAdm = evalPerson.evalAdmPerson %}
        {% if nb_adults_admin > 1 %}
            <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
        {% endif %}
        {{ pElt.get(evalAdm.nationality ? evalAdm.nationalityToString ~ (evalAdm.country ? ' (' 
            ~ evalAdm.country ~ ')' : "") : "", "Nationality", "evaluation") }}
        {{ pElt.get(evalAdm.arrivalDate ? evalAdm.arrivalDate|date("d/m/Y"), "Arrival date", "evaluation") }}
        {{ pElt.get(evalAdm.paper == YES and evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString, "Paper", "evaluation") }}
        {{ pElt.get(evalAdm.asylumBackground == YES ? (evalAdm.asylumStatus ? evalAdm.asylumStatusToString : 
            evalAdm.asylumBackgroundToString), "Asylum background", "evaluation") }}
        {{ pElt.get(evalAdm.renewalPermitDate ? evalAdm.renewalPermitDate|date("d/m/Y") 
            ~ (evalAdm.nbRenewals ? " (" ~ evalAdm.nbRenewals ~ " renouvellement(s))") : "", "Renewal permit date"  ) }}
        {{ pElt.get(evalAdm.endValidPermitDate ? evalAdm.endValidPermitDate|date("d/m/Y") : "", "End valid permit date", "evaluation") }}
        {{ pElt.get(evalAdm.workRightToString, "Work right", "evaluation") }}
        <div style="text-align: justify;">{{ pElt.get(evalAdm.commentEvalAdmPerson) }}</div>
    {% endfor %}

    {% if eval_children|filter(e => e.evalAdmPerson)|length > 0 %} {# si typologie familiale avec enfants #}
        <br/>
        <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
            <thead>
                <tr style="background-color: #e9ecef; font-weight: bold;">
                    <th scope="col"> Enfants</th>
                    <th> Nationalité</th>
                    <th> Papier</th>
                </tr>
            </thead>
            <tbody>
                {% for evalPerson in eval_children %}
                    {% set evalAdm = evalPerson.evalAdmPerson %}
                    {% if evalAdm %}
                        <tr>
                            <td scope="row"> {{ evalPerson.supportPerson.person.fullname }}</td>
                            <td> {{ evalAdm.nationalityToString }}</td>
                            <td> {{ evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {# Famille #}
    <br/>
    <h3 class="h4" style="{{ style_h3 }}">Situation familiale</h3>

    {% set eval_adults_family = eval_adults|filter(e => e.evalFamilyPerson) %}
    {% set nb_adults_family = eval_adults_family|length %}
    {% for evalPerson in eval_adults_family %}
        {% set evalFamily = evalPerson.evalFamilyPerson %}
        {% if nb_adults_family > 1 %}
            <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
        {% endif %}       
        {{ pElt.get(evalFamily.maritalStatusToString, "Marital status", "evaluation") }}
        {{ pElt.get(evalFamily.protectiveMeasure == YES and evalFamily.protectiveMeasureType ? 
            evalFamily.protectiveMeasureTypeToString : "", "Protective measure", "evaluation") }}
        {{ pElt.get(evalFamily.unbornChild == YES ? evalFamily.unbornChildToString ~ (evalFamily.expDateChildbirth ? " (" 
            ~ evalFamily.expDateChildbirth|date("d/m/Y") ~ ")" : "") : "", "Unborn child", "evaluation") }}
        <div style="text-align: justify;">{{ pElt.get(evalFamily.commentEvalFamilyPerson) }}</div>
    {% endfor %}

    {% set eval_children_family = eval_children|filter(e => e.evalFamilyPerson) %}
    {% if eval_children_family|length > 0 %}
        <br/>
        <table class="table-bordered mb-2" style="width: 100%; {{ style_table }}">
            <thead>
                <tr style="background-color: #e9ecef; font-weight: bold;">
                    <th scope="col"> Enfant(s)</th>
                    <th> Garde ou scolarité</th>
                    <th> Hébergement</th>
                    <th> À charge</th>
                </tr>
            </thead>
            <tbody>
                {% for evalPerson in eval_children_family %}
                    {% set evalFamilyPerson = evalPerson.evalFamilyPerson %}
                    {% if evalFamilyPerson %}     
                        <tr>
                            <td scope="row"> {{ evalPerson.supportPerson.person.fullname }}</td>
                            <td> {{ evalFamilyPerson.childcareSchoolToString }}{{ evalFamilyPerson.childcareSchoolLocation ? " (" ~ evalFamilyPerson.childcareSchoolLocation ~ ")" }}</td>
                            <td> {{ evalFamilyPerson.childToHostToString }}</td>
                            <td> {{ evalFamilyPerson.childDependanceToString }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% set evalFamily = evaluation.evalFamilyGroup %}
    {% if evalFamily %}
        <br/>
        {# {{ pElt.get(evalFamily.cafId, "Caf id", "evaluation") }} #}
        {{ pElt.get(evalFamily.nbDependentChildren, "Nb dependent children", "evaluation") }}
        {{ pElt.get(evalFamily.famlReunification == YES ? evalFamily.famlReunificationToString ~ (evalFamily.nbPeopleReunification ? " (" 
            ~ evalFamily.nbPeopleReunification ~ " personne(s))" : "") : "", "Faml reunification", "evaluation") }}
        <div style="text-align: justify;">{{ pElt.get(evaluation.evalFamilyGroup.commentEvalFamilyGroup) }}</div>
    {% endif %}

    {# Situation financière #}
    {% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
    {% set nb_people_budget = eval_people_budget|length %}
    {% set evalBudgetGroup = evaluation.evalBudgetGroup %}
    {% if evalBudgetGroup %}
        <br/>
        <h3 class="h4" style="{{ style_h3 }}">Situation financière</h3>
        {% if nb_people_budget > 1 %}
            <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                <thead>
                    <tr style="{{ style_thead }}">
                        <th scope="col"></th>
                        <th class="text-right" style="text-align: right;">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"> Ressources</td>
                        <td class="text-right" style="text-align: right;">{{ evalBudgetGroup.resourcesGroupAmt|number_format(0, ",", " ") ~ ' €' }}</td>
                    </tr>
                    {% if evalBudgetGroup.chargesGroupAmt %}
                    <tr>
                        <td scope="row"> Charges</td>
                        <td class="text-right" style="text-align: right;">{{ evalBudgetGroup.chargesGroupAmt|number_format(0, ",", " ") ~ ' €' }}</td>
                    </tr>
                    {% endif %}
                    {% if evalBudgetGroup.debtsGroupAmt and evalBudgetGroup.monthlyRepaymentAmt > 0 %}
                    <tr>
                        <td scope="row"> Remboursement mensuel des dettes</td>
                        <td class="text-right" style="text-align: right;">{{ evalBudgetGroup.monthlyRepaymentAmt|number_format(0, ",", " ") ~ ' €' }}</td>
                    </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    {% if evalBudgetGroup.budgetBalanceAmt > 0 %}
                        <tr class="font-weight-bold" style="font-weight: bold;">
                            <td scope="row"> Reste à vivre</td>
                            <td class="text-right" style="text-align: right;">{{ evalBudgetGroup.budgetBalanceAmt|number_format(0, ",", " ") ~ ' €' }}</td>
                        </tr>
                    {% endif %}
                    {% if evalBudgetGroup.debtsGroupAmt > 0 %}
                        <tr>
                            <td scope="row"> Montant total des dettes</td>
                            <td class="text-right" style="text-align: right;">{{ evalBudgetGroup.debtsGroupAmt|number_format(0, ",", " ") ~ ' €' }}</td>
                        </tr>        
                    {% endif %}
                </tfoot>
            </table>
        {% endif %}
        <br/>

        {% for evalPerson in eval_people_budget %}
            {% set evalBudget = evalPerson.evalBudgetPerson %}
            {% if evalBudget %}	
                {% if nb_people_budget > 1 %}
                    <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
                {% endif %}            

                {{ evalBudget.resources != YES or null == evalBudget.resourcesAmt ? pElt.get(evalBudget.resourcesToString, "Resources", "evaluation") }}
                {# {{ evalBudget.charges != YES or null == evalBudget.chargesAmt ? pElt.get(evalBudget.chargesToString, "Charges", "evaluation") }} #}
                
                {% if evalBudget.resources == YES %}
                    <table class="table-bordered mb-2" style="width: 50%; {{ style_table }}">
                        <thead>
                            <tr style="{{ style_thead }}">
                                <th scope="col"> Ressources</th>
                                <th class="text-right" style="text-align: right;">Montant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in evalBudget.resourcesType %}
                                {% if attribute(evalBudget, key) %}
                                <tr>
                                    <td scope="row"> {{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                        attribute(evalBudget, key ~ 'Precision') : "Autre(s) ressource(s)") }}</td>
                                    {% set amt = attribute(evalBudget, key ~ 'Amt')|number_format(0, ",", " ") %}
                                    <td class="text-right" style="text-align: right;">{{ amt > 0 ? amt ~ ' €' }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="font-weight-bold" style="font-weight: bold;">
                                <td scope="row"> Total des ressources</td>
                                <td class="text-right" style="text-align: right;">{{ evalBudget.resourcesAmt|number_format(0, ",", " ") }} €</td>
                            </tr>
                            {% if evalBudget.incomeN1Amt %}
                            <tr>
                                <td scope="row">Impôts sur le revenu n-1</td>
                                <td class="text-right" style="text-align: right;">{{ evalBudget.incomeN1Amt|number_format(0, ",", " ") }} €</td>
                            </tr>							
                            {% endif %}
                            {% if evalBudget.incomeN2Amt %}
                            <tr>
                                <td scope="row">Impôts sur le revenu n-2</td>
                                <td class="text-right" style="text-align: right;">{{ evalBudget.incomeN2Amt|number_format(0, ",", " ") }} €</td>
                            </tr>
                            {% endif %}
                        </tfoot>
                    </table>
                {% endif %}

                {{ pElt.get(evalBudget.incomeN1Amt > 0 ? evalBudget.incomeN1Amt|number_format(0, ",", " ") ~ " €", "Impôts sur le revenu n-1") }}
                {{ pElt.get(evalBudget.incomeN2Amt > 0 ? evalBudget.incomeN2Amt|number_format(0, ",", " ") ~ " €", "Impôts sur le revenu n-2") }}
                {{ pElt.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}

                {% if evalBudget.charges == YES %}
                    <br/>
                    <table class="table-bordered mb-2" style="width: 40%; {{ style_table }}">
                        <thead>
                            <tr style="{{ style_thead }}">
                                <th scope="col"> Charges</th>
                                <td class="text-right font-weight-bold" style="text-align: right;">Montant</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in evalBudget.chargesType %}
                                {% if attribute(evalBudget, key) %}
                                <tr>
                                    <td scope="row"> {{ not loop.last ? value : (attribute(evalBudget, key ~ 'Precision') ? 
                                        attribute(evalBudget, key ~ 'Precision') : "Autre(s) charge(s)") }}</td>
                                    <td class="text-right" style="text-align: right;">{{ attribute(evalBudget, key ~ 'Amt')|number_format(0, ",", " ") ~ ' €' }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr class="font-weight-bold" style="font-weight: bold;">
                                <td scope="row"> Total des charges</td>
                                <td class="text-right" style="text-align: right;">{{ evalBudget.resourcesAmt|number_format(0, ",", " ") }} €</td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}

                {% if evalBudget.chargeComment %}
                    {{ pElt.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
                {% endif %}

                {% if evalBudget.debts %}
                    <br/>
                    {{ pElt.get(evalBudget.debtsToString, "Debts", "evaluation") }}
                    {% if evalBudget.debts == YES %}
                        <ul>
                            {% for key, value in evalBudget.debtsType %}
                                {% if attribute(evalBudget, key) %}
                                    <li>{{ value }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ pElt.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
                    {{ pElt.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                        " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")" : "") : "", "Over indebt record", "evaluation") }}
                    {{ pElt.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
                    {{ pElt.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
                    {{ pElt.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y") : "", "End rights date", "evaluation") }}
                {% endif %}
                <div style="text-align: justify;">{{ pElt.get(evalBudget.commentEvalBudget) }}</div>
            {% endif %}

        {% endfor %}
    {% endif %}


    {# Situation professionnelle #}
    <br/>
    <h3 class="h4" style="{{ style_h3 }}">Situation professionnelle</h3>

    {% set eval_adults_prof = eval_adults|filter(e => e.evalProfPerson) %}
    {% set nb_adults_prof = eval_adults_prof|length %}
    {% for evalPerson in eval_adults_prof %}        
        {% set evalProf = evalPerson.evalProfPerson %}
        {% if nb_adults_prof > 1 %}
            <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
        {% endif %}                
        {{ pElt.get(evalProf.schoolLevelToString, "School level", "evaluation") }}
        {{ pElt.get(evalProf.profExperienceToString, "Prof experience", "evaluation") }}
        {{ pElt.get(evalProf.profStatus ? evalProf.profStatusToString ~ (evalProf.contractType ? " (" 
            ~ evalProf.contractTypeToString ~ ")" : "") : "", "Prof status", "evaluation") }}
        {{ pElt.get(evalProf.jobCenterId, "Job center id", "evaluation") }}
        {{ pElt.get(evalProf.jobType, "Job type", "evaluation") }}
        {{ pElt.get(evalProf.contractEndDate ? evalProf.contractEndDate|date("d/m/Y"), "Contract end date", "evaluation") }}
        {{ pElt.get(evalProf.workingHours ? evalProf.workingHours ~ (evalProf.nbWorkingHours ? " (nb d'heures : " 
            ~ evalProf.nbWorkingHours ~ ")" : "") : "", "Working hours", "evaluation") }}
        {{ pElt.get(evalProf.employerName ? evalProf.employerName ~ (evalProf.workPlace ? " | " 
            ~ evalProf.workPlace : "") : "", "Employer name", "evaluation") }}
        {{ pElt.get(evalProf.transportMeansType ? evalProf.transportMeansTypeToString ~ (evalProf.transportMeans ? " (" 
            ~ evalProf.transportMeans ~ ")" : ""): "", "Transport means type", "evaluation") }}
        {{ pElt.get(evalProf.rqth in [YES, IN_PROGRESS]  ? evalProf.rqthToString ~ (evalProf.endRqthDate ? " (fin de validité : " 
            ~ evalProf.endRqthDate|date("d/m/Y") ~ ")" : ""): "", "Rqth", "evaluation") }}
        <div style="text-align: justify;">{{ pElt.get(evalProf.commentEvalProf) }}</div>
    {% endfor %}


    {# Situation sociale #}
    <br/>
    <h3 class="h4" style="{{ style_h3 }}">Situation sociale</h3>

    {% set eval_people_social = eval_people|filter(e => e.evalSocialPerson) %}
    {% set nb_people_social = eval_people_social|length %}
    {% for evalPerson in eval_people_social %}
        {% set evalSocial = evalPerson.evalSocialPerson %}
        {% if evalSocial.rightSocialSecurity or evalSocial.healthProblem == YES or evalSocial.commentEvalSocialPerson  %}
            {% if nb_people_social > 1 %}
                <p style="{{ style_h4 }}"><u>{{ evalPerson.supportPerson.person.fullname }}</u> :</p>
            {% endif %}
            {{ pElt.get(evalSocial.rightSocialSecurity in [1, 3] ? evalSocial.rightSocialSecurityToString ~ " - " 
                ~ evalSocial.socialSecurityToString : evalSocial.rightSocialSecurityToString, "Right social security", "evaluation") }}
            {{ pElt.get(evalSocial.socialSecurityOffice, "Social security office", "evaluation") }}
            {{ pElt.get(evalSocial.childWelfareBackground == YES ? evalSocial.childWelfareBackgroundToString, "Child welfare background", "evaluation") }}
            {% if evalSocial.familyBreakdown == YES or evalSocial.friendshipBreakdown == YES %}
                {{ pElt.get(evalSocial.familyBreakdownToString, "Family breakdown", "evaluation") }}
                {{ pElt.get(evalSocial.friendshipBreakdownToString, "Friendship breakdown", "evaluation") }}
            {% endif %}
            {% if evalSocial.healthProblem == YES %}
                {{ pElt.get(evalSocial.healthProblemToString, "Health problem", "evaluation") }}
                <ul>
                    {% for key, value in evalSocial.healthProblemsType %}
                        {% if attribute(evalSocial, key) %}
                            <li>{{ value }}</li>
                        {% endif %}
                    {% endfor %}									 
                </ul>
            {% endif %}
            {{ pElt.get(evalSocial.careSupport == YES ? evalSocial.careSupportToString ~ (evalSocial.careSupportType ? " - " 
                ~ evalSocial.careSupportTypeToString : ""), "Care support", "evaluation") }}
            {{ pElt.get(evalSocial.violenceVictim == YES ? evalSocial.violenceVictimToString ~ (evalSocial.domViolenceVictim == YES ? 
                " (Violence conjugale)" : ""), "Violence victim", "evaluation") }}
            <div style="text-align: justify;">{{ pElt.get(evalSocial.commentEvalSocialPerson) }}</div>
        {% endif %}
    {% endfor %}

    {% if evaluation.evalSocialGroup %}
        {% set evalSocial = evaluation.evalSocialGroup %}
            {# {{ pElt.get(evalSocial.reasonRequestToString, "Reason request", "evaluation") }} #}
            {# {{ pElt.get(evalSocial.wanderingTimeToString, "Wandering time", "evaluation") }} #}
            {{ pElt.get(evalSocial.animal == YES ? evalSocial.animalToString ~ (evalSocial.animalType ? " (" ~ evalSocial.animalType ~ ")" : "" ), "Animal", "evaluation") }}
        <div style="text-align: justify;">{{ pElt.get(evaluation.evalSocialGroup.commentEvalSocialGroup) }}</div>
    {% endif %}

    {% set evalHousing = evaluation.evalHousingGroup %}
    {% if evalHousing %}
        <br/>
        <h3 class="h4" style="{{ style_h3 }}">Situation au regard du logement</h3>
        {{ pElt.get(evalHousing.housingStatusToString, "Housing status", "evaluation") }}
        {% if evalHousing.siaoRequest %}
            {{ pElt.get(evalHousing.siaoRequestToString, "Siao request", "evaluation") }}
            <ul>
                {{ liElt.get(evalHousing.siaoRequestDate ? evalHousing.siaoRequestDate|date("d/m/Y") 
                    ~ (evalHousing.siaoUpdatedRequestDate ? " (actualisation : " ~ evalHousing.siaoUpdatedRequestDate|date("d/m/Y") 
                    ~ ")" : "") : "", "Siao request date", "evaluation") }}
                {{ liElt.get(evalHousing.siaoRequestDept, "Siao request dept", "evaluation") }}
                {{ liElt.get(evalHousing.siaoRecommendationToString, "Siao recommendation", "evaluation") }}
            </ul>
        {% endif %}
        {% if evalHousing.socialHousingRequest %}
            {{ pElt.get(evalHousing.socialHousingRequestToString, "Social housing request", "evaluation") }}
            <ul>
                {{ liElt.get(evalHousing.socialHousingRequestId, "NUR", "evaluation") }}
                {{ liElt.get(evalHousing.socialHousingRequestDate ? evalHousing.socialHousingRequestDate|date("d/m/Y") 
                    ~ (evalHousing.socialHousingUpdatedRequestDate ? " (actualisation : " ~ evalHousing.socialHousingUpdatedRequestDate|date("d/m/Y") 
                    ~ ")" : "") : "", "Date demande de logement social", "evaluation") }}
                {{ liElt.get(evalHousing.housingWishes, "Housing wishes", "evaluation") }}
                {{ liElt.get(evalHousing.citiesWishes, "Cities wishes", "evaluation") }}
                {{ liElt.get(evalHousing.specificities, "Specificities", "evaluation") }}
            </ul>
        {% endif %}
        {% if evalHousing.syplo in [YES, IN_PROGRESS] %}
            {{ pElt.get(evalHousing.syploToString, "Syplo", "evaluation") }}
            <ul>
                {{ liElt.get(evalHousing.syploDate ? evalHousing.syploDate|date("d/m/Y"), "Syplo date", "evaluation") }}
                {{ liElt.get(evalHousing.syploId, "Syplo id", "evaluation") }}
            </ul>
        {% endif %}
        {% if evalHousing.daloAction in [YES, IN_PROGRESS] %}
            {{ pElt.get(evalHousing.daloActionToString, "Dalo action", "evaluation") }}
            <ul>
                {{ liElt.get(evalHousing.daloTypeToString, "Dalo type", "evaluation") }}
                {{ liElt.get(evalHousing.daloDecisionDate ? evalHousing.daloDecisionDate|date("d/m/Y"), "Dalo decision date", "evaluation") }}
                {{ liElt.get(evalHousing.daloId, "Dalo id", "evaluation") }}
                {{ liElt.get(evalHousing.daloRecordDate ? evalHousing.daloRecordDate|date("d/m/Y"), "Dalo record date", "evaluation") }}
                {{ liElt.get(evalHousing.daloTribunalAction in [YES, IN_PROGRESS] ? evalHousing.daloTribunalActionToString ~ (evalHousing.daloTribunalActionDate ? 
                    " (le " ~ evalHousing.daloTribunalActionDate|date("d/m/Y") ~ ")"), "Dalo tribunal action", "evaluation") }}
            </ul>
        {% endif %}
        {# {% if evalHousing.collectiveAgreementHousing %}
            {{ pElt.get(evalHousing.collectiveAgreementHousingToString ~ (evalHousing.collectiveAgreementHousingDate ? 
                " (le " ~ evalHousing.collectiveAgreementHousingDate|date("d/m/Y") ~ ")"), "Collective agreement housing", "evaluation") }}
        {% endif %} #}
        {% if evalHousing.hsgActionEligibility in [YES, IN_PROGRESS] %}					
            {{ pElt.get(evalHousing.hsgActionEligibilityToString, "Hsg action eligibility", "evaluation") }}
            {{ pElt.get(evalHousing.hsgActionRecordToString ~ (evalHousing.hsgActionDate ? 
                " (le " ~ evalHousing.hsgActionDate|date("d/m/Y") ~ ")"), "Hsg action record", "evaluation") }}
            {{ pElt.get(evalHousing.hsgActionRecordId, "Hsg action record id", "evaluation") }}
            {{ pElt.get(evalHousing.hsgActionDept, "Hsg action dept", "evaluation") }}
        {% endif %}
        {% if evalHousing.expulsionInProgress == YES %}
            {{ pElt.get(evalHousing.expulsionInProgressToString, "Expulsion in progress", "evaluation") }}
            {{ pElt.get(evalHousing.publicForceToString ~ (evalHousing.publicForceDate ? 
                " (le " ~ evalHousing.publicForceDate|date("d/m/Y") ~ ")"), "Public force", "evaluation") }}
            {{ pElt.get(evalHousing.expulsionComment) }}
        {% endif %}
        {# {% if evalHousing.housingExperience %} #}
            {{ pElt.get(evalHousing.housingExperienceToString, "Housing experience", "evaluation") }}
            {# {{ pElt.get(evalHousing.housingExpeComment) }}
        {% endif %} #}
        {# <ul>
            {% for key, value in evalHousing.housingHelps %}
                {% if attribute(evalHousing, key) %}
                    <li>{{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul> #}
        <div style="text-align: justify;">{{ pElt.get(evalHousing.commentEvalHousing) }}</div>
                
    {% endif %}

    {# Parcours de vie #}
    {% if evaluation.backgroundPeople %}
        <br/>
        <h3 class="h4" style="{{ style_h3 }}">Parcours de vie</h3>
        <div style="text-align: justify;">{{ pElt.get(evaluation.backgroundPeople) }}</div>
    {% endif %}

    {# Vie à l'hôtel #}
    {% set evalHotelLife = evaluation.evalHotelLifeGroup %}
    {% if evalHotelLife %}
        <br/>
        <h3 class="h4" style="{{ style_h3 }}">Vie à l'hôtel</h3>
        <div style="text-align: justify;">
            {{ pElt.get(evalHotelLife.food, "Food", "evaluation") }}
            {{ pElt.get(evalHotelLife.clothing, "Clothing", "evaluation") }}
            {{ pElt.get(evalHotelLife.roomMaintenance, "Room maintenance", "evaluation") }}
            {{ pElt.get(evalHotelLife.otherHotelLife, "Other hotel life", "evaluation") }}
            {{ pElt.get(evalHotelLife.commentHotelLife, "Comment hotel life", "evaluation") }}
        </div>
    {% endif %}

    {# Signature #}
    <br/><br/>
    <p style="text-align: right;">
        {{ app.user.firstname }} {{ app.user.lastname }}<br/>
        {{ support.service.name }}<br/>
        Association ESPERER 95<br/>
        {% set subService = support.subService %}
        <i><a href="mailto:{{ app.user.email }}" style="color: {{ theme_color }};">{{ subService and subService.email ?  subService.email : 
            (support.service.email ? support.service.email : app.user.email) }}</a></i><br/> 
        <i>{{ app.user.phone1 }}</i><br/>
        <a href="www.esperer-95.org" style="color: {{ theme_color }};">www.esperer-95.org</a>
    </p>

{% endapply %}