{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% block title %}
Évaluation sociale | Esperer95.app
{% endblock %}

{% block body %}

	<div class="container">

		{% set evaluationGroup = form.vars.value %}
		{% set support = evaluationGroup.supportGroup %}
		{% set typo = support.groupPeople.familyTypology %}

		{% set title = "Évaluation sociale" %}
		{% include "app/support/navSuppport.html.twig" %}

		{{ form_start(form) }}

		{% include "model/msgFlash.html.twig" %}
		<div id="js-msg-flash-content"></div>

		<div class="form-group row">
			<div class="col-md-12">
				<div class="my-2 float-right">
					<button type="submit" name="send2" data-url="{{ path('support_evaluation_edit', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow">{% if form.vars.value.evalSocialGroup %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		<div class="mb-4" data-editMode="{% if form.vars.value.evalSocialGroup%}true{% else %}false{% endif %}">
			{# {% include "app/support/evalSummary.html.twig" %} #}
			{% include "app/evaluation/initEvaluation.html.twig" %}
			{% if support.service.justice %}
			{% include "app/evaluation/evaluationJustice.html.twig" %}
			{% endif %}
			{% include "app/evaluation/evaluationSocial.html.twig" %}
			{% include "app/evaluation/evaluationAdm.html.twig" %}
			{% include "app/evaluation/evaluationFamily.html.twig" %}
			{% include "app/evaluation/evaluationProf.html.twig" %}
			{% include "app/evaluation/evaluationBudget.html.twig" %}
			{% include "app/evaluation/evaluationHousing.html.twig" %}
		</div>

		<div class="form-group row">
			<div class="col-md-12">
				<div class="mb-4 float-right">
					<button type="submit" name="send" data-url="{{ path('support_evaluation_edit', {'id':support.id}) }}" class="btn btn-{{ theme_color }} shadow">{% if form.vars.value.evalSocialGroup %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
				</div>
			</div>
		</div>

		{{ form_row(form._token) }}
		{{ form_end(form, {"render_rest": false}) }}

	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags("evaluation") }}
{% endblock javascripts %}
