{% extends "model/collapseCard.html.twig" %}

{% set id = "eval_budget" %}

{% block card_title %}Budget{% endblock %}

{% block card_body %}

<div class="card mb-4">
  	<div class="card-header font-weight-bold">
		<div class="row">
			<div class="col-6 col-sm-2 mb-2 text-center border-right border-gray">Situation budgétaire du groupe</div>
			<div class="col-6 col-sm-2 mb-2 text-center border-right border-gray">
				<span>Total des resources</span><br/>
				<span id="resourcesGroupAmt" class="font-weight-bold">{% if evaluationGroup.evalBudgetGroup.resourcesGroupAmt is defined %}
					{{ evaluationGroup.evalBudgetGroup.resourcesGroupAmt }}{% else %}0{% endif %}</span> €
			</div>
			<div class="col-6 col-sm-2 mb-2 text-center border-right border-gray">
				<span>Total des charges</span><br/>
				<span id="chargesGroupAmt" class="font-weight-bold">{% if evaluationGroup.evalBudgetGroup.chargesGroupAmt is defined %}
					{{ evaluationGroup.evalBudgetGroup.chargesGroupAmt }}{% else %}0{% endif %}</span> €
			</div>
			<div class="col-6 col-sm-2 mb-2 text-center border-right border-gray">
				<span>Remboursemt mensuel</span><br/>
				<span id="repaymentGroupAmt" class="font-weight-bold">{% if evaluationGroup.evalBudgetGroup.monthlyRepaymentAmt is defined %}
					{{ evaluationGroup.evalBudgetGroup.monthlyRepaymentAmt }}{% else %}0{% endif %}</span> €
			</div>
			<div class="col-6 col-sm-2 mb-2 text-center border-right border-gray">
				<span>Reste à vivre</span><br/>
					<span id="budgetBalanceGroupAmt" class="font-weight-bold">{% if evaluationGroup.evalBudgetGroup.budgetBalanceAmt is defined %}
						{{ evaluationGroup.evalBudgetGroup.budgetBalanceAmt }}{% else %}0{% endif %}</span> €
			</div>
			<div class="col-6 col-sm-2 mb-2 text-center">
				<span>Total des dettes</span><br/>
					<span id="debtsGroupAmt" class="font-weight-bold">{% if evaluationGroup.evalBudgetGroup.debtsGroupAmt is defined %}
						{{ evaluationGroup.evalBudgetGroup.debtsGroupAmt }}{% else %}0{% endif %}</span> €
			</div>
		</div>
  	</div>
</div>

<div class="row">
	<div class="col-md-12 accordion" id="accordion-eval_budget">
		<div class="mb-4">
			{% for evalPerson in form.evaluationPeople|filter(evaluationPeople => evaluationPeople.vars.value.supportPerson.person.age >= 16) %}
				{% set person = evalPerson.vars.value.supportPerson.person %}
				
			<button type="button" id="heading-eval_budget-{{ loop.index0 }}"
				class="btn btn-outline-{{ theme_color }} {% if loop.first %}active{% endif %}  mb-2 js-person"
				data-toggle="collapse" data-target="#collapse-eval_budget-{{ loop.index0 }}" aria-expanded="false"
				aria-controls="collapse-eval_budget-{{ loop.index0 }}">{{ person.fullname}}</button>
			{% endfor %}
		</div>

		{% for evalPerson in form.evaluationPeople|filter(evaluationPeople => evaluationPeople.vars.value.supportPerson.person.age >= 16) %}
		{% set evalBudgetPerson = evalPerson.evalBudgetPerson %}
		{% set entity_name = "evalBudgetPerson" %}

		<div id="collapse-eval_budget-{{ loop.index0 }}" class="collapse {% if loop.first %}show{% endif %} my-3"
			aria-labelledby="heading-eval_budget-{{ loop.index0 }}" data-parent="#accordion-eval_budget">
			<div class="row">

				{% include "app/evaluation/evalResources.html.twig" %}

				{% include "app/evaluation/evalCharges.html.twig" %}

			</div>
			<div class="form-group row">
				<div class="col-md-6 js-{{ loop.index0 }}_evalBudgetPerson_resources d-block">{{ form_row(evalBudgetPerson.endRightsDate) }}</div>
			</div>

			<hr>

			<div class="form-group row">
				<div class="col-md-6">{{ form_row(evalBudgetPerson.debts) }}</div>
				<div class="col-md-6 js-{{ loop.index0 }}_evalBudgetPerson_debts d-block">{{ form_row(evalBudgetPerson.debtsAmt) }}</div>
				<div class="col-md-6 js-{{ loop.index0 }}_evalBudgetPerson_debts d-block">
					<div class="row">
						<div class="col-form-label col-sm-4">Type de dettes</div>
						<div class="col-sm-8">
							<select id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type"
								name="js-{{ loop.index0 }}_evalBudgetPerson_debts_type" class="form-control">
								<option class="default" value="">-- Ajouter --</option>
								<option value="debtRental">Dettes locatives</option>
								<option value="debtConsrCredit">Dette de crédits à la consommation</option>
								<option value="debtMortgage">Dettes de crédits immobiliers</option>
								<option value="debtFines">Amendes</option>
								<option value="debtTaxDelays">Retards d'impôts</option>
								<option value="debtBankOverdrafts">Découverts bancaires</option>
								<option value="debtOther">Autres dettes</option>
							</select>
						</div>
						<div class="col-md-12 mt-3">
							<div class="table-responsive js-{{ loop.index0 }}_evalBudgetPerson_debts d-block">
								<table class="table table-sm table-hover text-dark">
									<thead>
										<tr>
											<th scope="col" class="align-middle th-w-20"></th>
											<th scope="col" class="align-middle th-w-180">Type de dettes</th>
											<th scope="col" class="align-middle th-w-20"></th>
										</tr>
									</thead>
									<tbody>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtRental"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtRental) }}</div></th>
											<td class="align-middle">Dettes locatives</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtConsrCredit"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtConsrCredit) }}</div></th>
											<td class="align-middle">Dette de crédits à la consommation</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtMortgage"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtMortgage) }}</div></th>
											<td class="align-middle">Dettes de crédits immobiliers</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtFines"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtFines) }}</div></th>
											<td class="align-middle">Amendes</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtTaxDelays"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtTaxDelays) }}</div></th>
											<td class="align-middle">Retards d'impôts</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtBankOverdrafts"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtBankOverdrafts) }}</div></th>
											<td class="align-middle">Découverts bancaires</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
										<tr id="js-{{ loop.index0 }}_evalBudgetPerson_debts_type-debtOther"
											class="js-{{ loop.index0 }}_evalBudgetPerson_debts_type d-table-row">
											<th scope="row"><div class="sr-only">{{ form_widget(evalBudgetPerson.debtOther) }}</div></th>
											<td class="align-middle">Autres dettes</td>
											<td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
										</tr>
									</tbody>
								</table>
							</div>
        				</div>		
					</div>
				</div>
				<div class="col-md-6 js-{{ loop.index0 }}_evalBudgetPerson_debts d-block">
					<div class="row">
						<div class="col-md-12">{{ form_row(evalBudgetPerson.monthlyRepaymentAmt) }}</div>
						<div class="col-md-12">{{ form_row(evalBudgetPerson.debtComment) }}</div>
					</div>
				</div>
			</div>
			<div class="js-{{ loop.index0 }}_evalBudgetPerson_debts d-block">
				<div class="form-group row">
					<div class="col-md-6">{{ form_row(evalBudgetPerson.overIndebtRecord) }}</div>
					<div class="col-md-6 js-{{ loop.index0 }}_evalBudgetPerson_overIndebtRecord d-block">{{ form_row(evalBudgetPerson.overIndebtRecordDate) }}</div>
				</div>
				<div class="form-group row">
					<div class="col-md-6">{{ form_row(evalBudgetPerson.settlementPlan) }}</div>
					<div class="col-md-6">{{ form_row(evalBudgetPerson.moratorium) }}</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					{{ form_label(evalBudgetPerson.commentEvalBudget) }}
					{{ form_widget(evalBudgetPerson.commentEvalBudget) }}
				</div>
			</div>
		</div>

		{% endfor %}
	</div>
</div>

{% endblock %}