{# Resources #}
{% set ressources = constant('App\\Entity\\evalBudgetPerson::RESOURCES_TYPE') %}
<div class="col-md-6">
    <div class="form-group row">
        <div class="col-md-12">{{ form_row(evalBudgetPerson.resources.resources) }}</div>
        <div class="col-md-12 js-{{ key }}_{{ entity }}_resources_resources d-block">
            <div class="row">
                <div class="col-form-label col-sm-4 js-resources d-block">Type de ressources</div>
                <div class="col-sm-8">
                    <select id="js-{{ key }}_{{ entity }}_resources_type"
                        name="js-{{ key }}_{{ entity }}_resources_type" class="form-control" 
                        data-id="resourcesType" data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
                        <option class="default" value="">-- Ajouter --</option>
                        {% for ressKey, ressValue in ressources %}
                        <option value="{{ ressKey }}">{{ ressValue }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="table-responsive js-{{ key }}_{{ entity }}_resources_resources d-block">
                <table class="table table-sm table-hover text-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-140">Type de resources</th>
                            <th scope="col" class="align-middle th-w-150">Montant</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for ressKey, ressValue in ressources %}
                        <tr id="js-{{ key }}_{{ entity }}_resources_type-{{ ressKey }}" class="js-{{ key }}_{{ entity }}_resources_type d-table-row" 
                            data-id="{{ ressKey }}" data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
                            <th scope="row"><div class="sr-only">{{ form_widget(attribute(evalBudgetPerson.resources, ressKey)) }}</div></th>
                            <td class="align-middle">{% if not loop.last %}{{ ressValue }}<!--
                                -->{% else %}{{ form_widget(evalBudgetPerson.resources.ressourceOtherPrecision) }}{% endif %}</td>
                            <td class="align-middle">{{ form_widget(attribute(evalBudgetPerson.resources, ressKey ~ "Amt")) }}</td>
                            <td><button class="btn btn-danger js-remove"><span class="fas fa-trash-alt"></span></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr id="js-{{ key }}_{{ entity }}_resourcesAmt" class="font-weight-bold">
                            <th scope="row"></th>
                            <td class="align-middle">Total des resources</td>
                            <td class="align-middle">{{ form_widget(evalBudgetPerson.resources.resourcesAmt) }}</td>
                            <td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>