{% extends "model/collapseCard.html.twig" %}

{% import "macros/loopSupportPeople.html.twig" as utils %}

{% set id = "init_eval" %}

{% block card_title %}<span class="{{ EDIT_MODE ? 'text-secondary' }}">Situation à l'entrée</span>{{ badgeTitle }}{% endblock %}

{% block card_body %}

	<p class="mb-4 p-2 border border-warning"><span class="fas fa-exclamation-triangle text-warning mr-1"></span><!--
		-->Attention, cet encart <b>ne doit être compléter qu'au début du suivi</b>. <!--
		-->Il ne doit pas être mise à jour par la suite (sauf information manquante ou erronée).</p>

	<div class="js-evalGroup" data-support-id="g-{{form.vars.value.supportGroup.id}}">
		<div class="form-group row">
			<div class="col-md-6">{{ form_row(form.initEvalGroup.housingStatus) }}</div>
		</div>
		<div class="form-group row">
			<div class="col-md-6">{{ form_row(form.initEvalGroup.siaoRequest) }}</div>
			<div class="col-md-6">{{ form_row(form.initEvalGroup.socialHousingRequest) }}</div>
		</div>
	</div>

	{# {% set form_evaluation_people = form.supportPerson is defined ? form.supportPerson|filter(e => e.vars.value.person.age >= 16) : people_filtered_by_age %} #}

	<div class="row">
		<div class="col-md-12 accordion" id="accordion-init_eval">
			{{ utils.loopSupportPeople(id, people_filtered_by_age, theme_color) }}

			{% for key, evalPerson in people_filtered_by_age %}
				{% set evalBudgetPerson = evalPerson.initEvalPerson %}
				{% set entity = "initEvalPerson" %}
				<div id="collapse-init_eval-{{ key }}" class="collapse {% if loop.first %}show{% endif %} my-3"
					aria-labelledby="heading-init_eval-{{ key }}" data-parent="#accordion-init_eval" data-support-id="p-{{ evalPerson.vars.value.supportPerson.id }}">
					<div class="form-group row">
						<div class="col-md-6" data-parent-field="{{ key }}_initEvalPerson_paper">{{ form_row(evalPerson.initEvalPerson.paperType) }}</div>
					</div>			
					<div class="form-group row mb-0">
						<div class="col-md-6">{{ form_row(evalPerson.initEvalPerson.rightSocialSecurity) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_initEvalPerson_rightSocialSecurity">{{ form_row(evalPerson.initEvalPerson.socialSecurity) }}</div>
					</div>		
					<div class="form-group row">
						<div class="col-md-6">{{ form_row(evalPerson.initEvalPerson.familyBreakdown) }}</div>
						<div class="col-md-6">{{ form_row(evalPerson.initEvalPerson.friendshipBreakdown) }}</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">{{ form_row(evalPerson.initEvalPerson.profStatus) }}</div>
						<div class="col-md-6" data-parent-field="{{ key }}_initEvalPerson_profStatus">{{ form_row(evalPerson.initEvalPerson.contractType) }}</div>
					</div>
					<div class="form-group row">
						{% include "app/evaluation/evalResources.html.twig" %}
						<div class="col-md-6">
							<div class="form-group row">
								<div class="col-md-12">{{ form_row(evalBudgetPerson.debts) }}</div>
								<div class="col-md-12" data-parent-field="{{ key }}_initEvalPerson_debts">{{ form_row(evalBudgetPerson.debtsAmt) }}</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
                        {{ form_label(evalPerson.initEvalPerson.comment) }}
                        <div class="col-md-12">
                            {{ form_widget(evalPerson.initEvalPerson.comment) }}
                        </div>
                    </div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}