{% extends 'base.html.twig' %}

{% block title %}Indicateurs sociaux{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="h2 mb-3">Indicateurs sociaux</h1>
    </div>

        {% include 'app/support/_partials/_searchSupports.html.twig' %}

    <div class="container">
        <div class="row">
            {% for key, value in datas %}
                {% if key not in ['nbGroups', 'nbPeople'] %}
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-striped table-hover text-dark shadow">
                                <thead>
                                    <tr>
                                        <th scope="row" class="align-middle th-w-180">{{ key|trans({}, 'support') }}</th>
                                        <th class="align-middle text-right th-w-100">Nb ménages</th>
                                        <th class="align-middle text-right">%</th>
                                        <th class="align-middle text-right  th-w-100">Nb personnes</th>
                                        <th class="align-middle text-right">%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in value %}
                                        <tr>
                                            <td scope="row" class="align-middle">{{ data.name }}</td>
                                            <td class="align-middle text-right">{{ data.nbGroups|number }}</td>
                                            <td class="align-middle text-right font-italic">{{ datas.nbGroups ? ((data.nbGroups / datas.nbGroups) * 100)|percent }}</td>
                                            <td class="align-middle text-right">{{ data.nbPeople|number }}</td>
                                            <td class="align-middle text-right font-italic">{{ datas.nbPeople ? ((data.nbPeople / datas.nbPeople) * 100)|percent }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="font-weight-bold">
                                        <td scope="row" class="align-middle text-center">Total</td>
                                        <td class="align-middle text-right">{{ datas.nbGroups|number }}</td>
                                        <td class="align-middle text-right font-italic">100 %</td>
                                        <td class="align-middle text-right">{{ datas.nbPeople|number }}</td>
                                        <td class="align-middle text-right font-italic">100 %</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock javascripts %}