{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}
{% if edit_mode %}{% form_theme form_new_group "form/bootstrap_4_horizontal.html.twig" %}{% endif %}

{% set person = form.vars.value %}

{% block title %}
{% if edit_mode %}{{ person.fullname }}{% else %}Création d'une personne{% endif %} |
Esperer95.app
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h2 mb-3">{% if edit_mode %}{{ person.fullname }}{% else %}Création d'une personne{% endif %}</h1>
    {% if edit_mode %}
    <div class="small text-secondary">
        <p> Créé le {{person.createdAt | date("d/m/Y à H:i") }}
            {% if person.createdBy %}par {{ person.createdBy.fullname }}{% endif %}
            <span id="js-person-updated"> (modifié le {{ person.updatedAt | date("d/m/Y à H:i") }}
                {% if person.updatedBy %}par {{ person.updatedBy.fullname }}{% endif %})</span>
        </p>
    </div>
    {% else %}
    <div class="mb-4"></div>
    {% endif %}

    {% if group_people is defined %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-{{ theme_color }}"
                    href="{{ path('group_people_show', {'id': group_people.id}) }}"><span
                        class="fas fa-users mr-2"></span>Fiche groupe</a> <span
                    class="small text-secondary">{{ group_people.familyTypologyToString }}
                    {% if group_people.nbPeople > 1 %}({{ group_people.nbPeople }} personnes){% endif %}
                </span></li>
            <li class="breadcrumb-item active" aria-current="page">Fiche individuelle</li>
        </ol>
    </nav>
    {% endif %}

    <hr>

    <div id="person" data-edit-mode="{{ edit_mode ? 'true' : 'false' }}">

        {% include "model/msgFlash.html.twig" %}
        <div id="js-msg-flash-content"></div>

        {{ form_start(form) }}

        {% if edit_mode %} {% set form_person = form %} {% else %} {% set form_person = form.person %} {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_person.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form_person.lastname) }}</div>
            <div class="col-md-6">{{ form_row(form_person.usename) }}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_person.birthdate) }}</div>
            <div class="col-md-6"> {{ form_row(form_person.gender) }}</div>
        </div>

        {% if edit_mode == false %}
        <div class="form-group row">
            {% if group_people is not defined %}
            <div class="col-md-6">{{ form_row(form.groupPeople.familyTypology) }}</div>
            <div class="col-md-6">{{ form_row(form.groupPeople.nbPeople) }}</div>
            {% endif %}
            <div class="col-md-6">{{ form_row(form.role) }}</div>
        </div>
        {% endif %}

        <div class="form-group row">
            <div class="col-md-6">{{ form_row(form_person.phone1) }}</div>
            <div class="col-md-6">{{ form_row(form_person.phone2) }}</div>
            <div class="col-md-6">{{ form_row(form_person.email) }}</div>
            <div class="col-md-6">{{ form_row(form_person.contactOtherPerson) }}</div>
        </div>
        <div class="form-group row">{{ form_label(form_person.comment) }}
            <div class="col-md-12">{{ form_widget(form_person.comment) }}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                {% if edit_mode and is_granted("ROLE_ADMIN") %}
                <div class="float-left d-flex">
                    <a id="modal-btn-delete" class="mr-3 btn btn-danger d-block" href="{{ path('person_delete', {'id':person.id}) }}"
                        title="Supprimer le suivi social" data-placement="bottom"
                        onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir supprimer cette personne ?')){return true;}else{return false;}"><span
                        class="fas fa-trash-alt mr-2"></span><span class="">Supprimer</span></a>
                </div>
                {% endif %}
                <div class="mb-4 float-right">
                    {% if edit_mode %}
                    <button type="submit" id="updatePerson" name="updatePerson"
                        class="btn btn-{{ theme_color }} btn-smshadow"
                        data-url="{{ path('person_edit_ajax', {'id':person.id}) }}"><span class="fas fa-save mr-2"></span>Mettre à jour</button>
                    {% else %}
                	<button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                    {% endif %}
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {"render_rest": false}) }}

    </div>

    <hr>

    {% if edit_mode %}

    {% include "app/support/historySupportsPerson.html.twig" %}

    <hr>

    <section>

        <h2 class="h4 my-4">Groupes d'appartenance</h2>
        {% if person.rolesPerson %}
        <div class="table-responsive">
            <table class="table table-striped table-hover text-dark">
                <thead class="">
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-80 d-none d-sm-table-cell" data-placement="bottom"
                            title="N° d'identification du groupe">ID groupe</th>
                        <th scope="col" class="align-middle th-w-140">Typologie familiale</th>
                        <th scope="col" class="align-middle th-w-100 d-none d-sm-table-cell">Nb de
                            personnes</th>
                        <th scope="col" class="align-middle th-w-150">Rôle dans le groupe</th>
                        <th scope="col" class="align-middle th-w-100 d-none d-sm-table-cell">Date de
                            création</th>
                        <th scope="col" class="align-middle th-w-100 d-none d-sm-table-cell">Date de
                            modification
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for role in person.rolesPerson %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('group_people_show', {'id':role.groupPeople.id}) }}"
                                class="btn btn-{{ theme_color }} btn-sm shadow" data-placement="bottom"
                                title="Voir la fiche du groupe">
                                <span class="fas fa-eye"></span>
                            </a>
                        </th>
                        <td data-placement="bottom" title="N° d'identification du groupe"
                            class="d-none d-sm-table-cell">
                            {{ role.groupPeople.id }}</td>
                        <td class="d-table-row d-sm-table-cell">
                            {{ role.groupPeople.familyTypologyToString }}
                        </td>
                        <td class="d-table-row d-sm-table-cell">{{ role.groupPeople.nbPeople }}</td>
                        <td>{{ role.roleToString }} {% if role.head %} (DP){% endif %}</td>
                        <td class="d-none d-sm-table-cell">
                            {{ role.groupPeople.createdAt | date("d/m/Y H:i") }}</td>
                        <td class="d-none d-sm-table-cell">
                            {{ role.groupPeople.updatedAt | date("d/m/Y H:i") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        
        <button id="btn-new-group" class="m-3 btn btn-{{ theme_color }} btn-sm" data-toggle="modal" data-target="#modal-block"><span
            class="fas fa-plus-square pr-2"></span>Créer un nouveau groupe</button>

    </section>

    {% endif %}

</div>

{% if edit_mode == true %}
{% include "app/person/newGroupPeople.html.twig" %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("person") }}
{% endblock javascripts %}