<!DOCTYPE html>
<html lang="fr">

<head>
	<title>
		{% block title %}Esperer95.app{% endblock %}
	</title>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	{{ encore_entry_link_tags("app") }}
	{% block stylesheets %}{% endblock %}

	<link rel="icon" href="{{ asset("images/logo_e95_blanc.ico") }}" />
	<meta property="og:title" content="AppE95" />
	<meta property="og:type" content="application" />
	<meta property="og:url" content="https://Esperer95.app.romain-mad.fr" />
	<meta property="og:image" content="" />
	<meta name="description" content="Application de gestion de l'accompagnement social d'ESPERER 95" />

</head>

{% set theme_color = "dark" %}
{% if app.session.get("themeColor") %}{% set theme_color = app.session.get("themeColor") %}{% endif %}

<body>
	<div id="loader" role="status">
		<span class="fas fa-circle-notch text-{{ theme_color }}"></span>
		<span class="sr-only">Chargement...</span>
	</div>

	<main class="min-vh-100">
		<header id="header" data-color="{{ theme_color }}">
			<nav class=" navbar fixed-top navbar-expand-xl navbar-light bg-{{ theme_color }} mb-0 shadow">
				<a class="navbar-brand text-light" href="{{ path("home") }}">
					<img id="logo-mail" src="{{ asset("images/logo_e95_blanc.png") }}" alt="Esperer95.app">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
					aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					{% if is_granted("ROLE_USER") %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("home") }}">
								<span class="fas fa-home mr-1"></span>Mon espace
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuSupports"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Suivis
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuSupports">
								<a class="dropdown-item" href="{{ path("supports") }}">Voir tous les suivis</a>
								<a class="dropdown-item" href="{{ path("new_support_search_person") }}">Créer un nouveau
									suivi</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("calendar") }}">Agenda</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuDirectory"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Répertoire
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuDirectory">
								<a class="dropdown-item" href="{{ path("users") }}">Utilisateurs</a>
								<a class="dropdown-item" href="{{ path("services") }}">Services</a>
								<a class="dropdown-item" href="{{ path("poles") }}">Pôles</a>
							</div>

						</li>
						{% if is_granted("ROLE_ADMIN") %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuAdmin"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuAdmin">
								<a class="dropdown-item" href="{{ path("security_registration") }}">Créer un utilisateur</a>
								{% if is_granted("ROLE_SUPER_ADMIN") %}
								<a class="dropdown-item" href="{{ path("service_new") }}">Créer un nouveau service</a>
								<a class="dropdown-item" href="{{ path("pole_new") }}">Créer un nouveau pôle</a>
								<a class="dropdown-item" href="{{ path("admin_device_new") }}">Ajouter un dispositif</a>
								{% endif %}
								<a class="dropdown-item" href="{{ path("admin_organization_new") }}">Ajouter un organisme prescripteur</a>
								<div class="dropdown-divider"></div>
								{% if is_granted("ROLE_SUPER_ADMIN") %}
								<a class="dropdown-item" href="{{ path("admin_users") }}">Liste des utilisateurs</a>
								{% endif %}
								<a class="dropdown-item" href="{{ path("admin_devices") }}">Liste des dispositifs</a>
								<a class="dropdown-item" href="{{ path("admin_accommodations") }}">Liste des groupes de places</a>
								<a class="dropdown-item" href="{{ path("admin_organizations") }}">Liste des organismes prescripteurs</a>
							</div>
						</li>
						{% endif %}
						{% if is_granted("ROLE_SUPER_ADMIN") %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("export") }}">Export</a>
						</li>
						{% endif %}
					</ul>
					<form action="{{ path("people") }}" method="get" class="form-inline mr-3 my-2 my-lg-0">
						<div class="position-relative" style="z-index: 9;">
							<label for="search-person" class="sr-only col-form-label">Recherche d'une personne</label>
							<input name="search-person" id="search-person" class="form-control mr-sm-2" type="text"
								placeholder="Recherche personne" autocomplete="off">
							<div id="results_search" class="w-100 list-group pr-sm-2 d-block fade-in"></div>
						</div>
						<button class="btn btn-{{ theme_color }} border-light my-2 my-sm-0" type="submit">
							<span class="fas fa-search" data-placement="bottom" title="Rechercher"><span class="sr-only">Rechercher</span></span>
						</button>
					</form>
					<div class="text-light">
						{% if app.user %}
						{% set user = app.user %}
						<a id="user-name" class="text-light font-weight-bold" href="{{ path('my_profile') }}" data-toggle="popover"
							data-trigger="hover" data-placement="bottom" data-html="true"
							title="{{ user.firstname }} {{ user.lastname }}" data-content="Dernière connexion : {{ user.lastLogin | date(" d/m/y h:i") }}
							<br>fonction : {{ user.statuslist }}<br>Services rattachés :
							{% for serviceuser in app.session.get("servicesUser") %}<br>- {{ serviceuser }}{% endfor %}">
							<span class="fas fa-user"></span>
							{{ user.firstname }} {{ user.lastname|first }}.
						</a>
						<br />
						<a class="text-light" href="{{ path("security_logout") }}">Se déconnecter</a>
						{% else %}
						<a class="text-light" href="{{ path("security_login") }}">Se connecter</a>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</nav>
		</header>

		<div class="position-fixed fixed-bottom container-fluid">
			<div id="js-notif-container" class="container" aria-live="polite" aria-atomic="true"></div>
		</div>

		{% include "app/autoLogout.html.twig" %}

		{% block body %}{% endblock %}

		<a id="scroll-top" href="#header">
			<span class="fa fa-chevron-up"></span>
		</a>

	</main>

	<footer class="p-3 bg-dark text-light">
		<div class="d-md-flex justify-content-md-between">
			<p>
				<strong class="font-weight-bold">Esperer 95 © 2020. Tous droits réservés.</strong><br>
				<a href="www.esperer-95.org" class="text-white">www.esperer-95.org</a><br>
				<span class="small">Association loi 1901 n°06385 déclarée le 9 février 1979. J.O. du 16 février 1979.</span>
			</p>
			<p>Version 1.1.0 - 02/03/2020</p>
		</div>

	</footer>

{{ encore_entry_script_tags("app") }}
{% block javascripts %}{% endblock %}

</body>
</html>