<!DOCTYPE html>
<html lang="fr">

<head>
	{% set title_website = "Esperer95.app" %}
	<title>{% block title %}{{ title_website }}{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" 
		integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
	{{ encore_entry_link_tags("app") }}
	{% block stylesheets %}{% endblock %}

	<link rel="icon" href="{{ asset("images/logo_e95_blanc.ico") }}" />
	<meta property="og:title" content="AppE95" />
	<meta property="og:type" content="application" />
	<meta property="og:url" content="https://esperer95.app" />
	<meta property="og:image" content="" />
	<meta name="description" content="Application de gestion de l'accompagnement social de l'association ESPERER 95" />
</head>

{% set theme_color = app.request.hasPreviousSession and app.session.get("themeColor") ? app.session.get("themeColor") : "dark" %}

<body id="top-body">
	<div id="loader" role="status">
		<span class="fas fa-circle-notch text-{{ theme_color }}"></span>
		<span class="sr-only">Chargement...</span>
	</div>

	<main class="min-vh-100">
		<header id="header" data-color="{{ theme_color }}">
			<nav class=" navbar fixed-top navbar-expand-xl navbar-light bg-{{ theme_color }} mb-0 shadow">
				<a class="navbar-brand text-light" href="{{ path("home") }}">
					{% if app.environment == "prod" %}
						<img id="logo-site" src="{{ asset("images/logo_e95_blanc.png") }}" alt="Esperer95.app">
					{% else %}
						<span class="fas fa-exclamation-triangle text-warning mr-2"></span>Esperer95.app version test
					{% endif %}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
					aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					{% if is_granted("ROLE_USER") %}
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("home") }}">
								<span class="fas fa-home mr-1"></span>Mon espace</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuSupports"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Suivis</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuSupports">
								<a class="dropdown-item" href="{{ path("supports") }}">Voir tous les suivis</a>
								<a class="dropdown-item" href="{{ path("new_support_search_person") }}">Créer un nouveau suivi</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuCalendar"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agenda
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuCalendar">
								<a class="dropdown-item" href="{{ path("calendar") }}">Mon agenda</a>
								<a class="dropdown-item" href="{{ path("rdvs", {'date[start]': 'now'|date('Y-m-d') }) }}">Voir tous les rendez-vous</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("notes") }}">Notes</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuDirectory"
								role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Répertoire
							</a>
							<div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuDirectory">
								<a class="dropdown-item" href="{{ path("users") }}">Utilisateurs</a>
								<a class="dropdown-item" href="{{ path("services") }}">Services</a>
								<a class="dropdown-item" href="{{ path("poles") }}">Pôles</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("managing") }}">Gestion</a>
						</li>
						{% if is_granted("ROLE_ADMIN") %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path("admin") }}">Admin</a>
						</li>
						{% endif %}
					</ul>
					<form action="{{ path("people") }}" method="get" class="form-inline mr-3 my-2 my-lg-0">
						<div class="position-relative">
							<label for="search-person" class="sr-only col-form-label">Recherche d'une personne</label>
							<input name="search-person" id="search-person" class="form-control mr-sm-2" type="text"
								placeholder="Recherche personne" autocomplete="off" 
								title="Recherche instantanée à partir des 3 premières lettres saisies">
							<div id="results_search" class="w-100 list-group pr-sm-2 d-block fade-in"></div>
						</div>
						<button class="btn btn-{{ theme_color }} border-light my-2 my-sm-0" 
							data-toggle="tooltip" data-placement="bottom" title="Rechercher" type="submit">
							<span class="fas fa-search"><span class="sr-only">Rechercher</span></span>
						</button>
					</form>
					<div class="text-light">
						{% if app.user %}
						{% set user = app.user %}
						<a id="user-name" class="text-light font-weight-bold" href="{{ path('my_profile') }}" data-toggle="popover"
							data-trigger="hover" data-placement="bottom" data-html="true"
							title="{{ user.firstname }} {{ user.lastname }}" data-content="Dernière connexion : {{ user.lastLogin|date(" d/m/Y H:i") }}
							<br />Fonction : {{ user.statusToString }}<br />Services rattachés :<br />- {{ app.session.get("userServices")|join("<br />- ") }}">
							<span class="fas fa-user mr-2"></span>{{ user.firstname }} {{ user.lastname|first }}.
						</a>
						<br />
						<a class="text-light" href="{{ path("security_logout") }}">Se déconnecter</a>
						{% else %}
						<a class="text-light" href="{{ path("security_login") }}">Se connecter</a>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</nav>
		</header>

		<div class="position-fixed fixed-bottom">
			<div id="js-notif-container" class="container py-0 d-none"></div>
		</div>

		{% include "app/autoLogout.html.twig" %}

		{% block body %}{% endblock %}

		<a id="scroll-top" href="#top-body">
			<span class="fa fa-chevron-up"></span>
		</a>

	</main>

	<footer class="mt-4 p-3 bg-dark text-light">
		<div class="d-md-flex justify-content-md-between">
			<p>
				<strong class="font-weight-bold">Esperer 95 © 2020. Tous droits réservés.</strong><br>
				<a href="www.esperer-95.org" class="text-white">www.esperer-95.org</a><br>
				<span class="small">Association loi 1901 n°06385 déclarée le 9 février 1979. J.O. du 16 février 1979.</span>
			</p>
			<p>Version 1.22.0 - 17/09/2020</p>
		</div>
	</footer>

{{ encore_entry_script_tags("app") }}
{% block javascripts %}{% endblock %}

</body>
</html>