{% extends "base.html.twig" %}

{% set title = "Indicateurs quotidiens d'activité" %}

{% block title %}{{ title }} | {{ title_website }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="h2 m-3">{{ title }}</h1>
        <div class="navigation">{{ knp_pagination_render(indicators) }}</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                        <thead>
                            <tr>
                                {% set items = {
                                    "Date" : "i.date",
                                    "Nb de personnes créées" : "i.nbPeople",
                                    "Nb de groupes créés" : "i.nbGroups",
                                    "Nb de suivis créés" : "i.nbSupportsGroup",
                                    "Nb d'évaluations créés" : "i.nbEvaluations",
                                    "Nb de notes créées" : "i.nbNotes",
                                    "Nb de RDVs créés" : "i.nbRdvs",
                                    "Nb de paiements créés" : "i.nbContributions",
                                    "Nb de connexions" : "i.nbConnections",
                                } %}
                                {% for key, item in items %}
                                    <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(indicators, key, item ) }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for indicator in indicators %}
                                <tr>
                                    <td class="align-midle">{{ indicator.date|date('d/m/Y') }}</td>
                                    {% set items = [
                                        indicator.nbPeople, 
                                        indicator.nbGroups, 
                                        indicator.nbSupportsGroup, 
                                        indicator.nbEvaluations, 
                                        indicator.nbNotes, 
                                        indicator.nbRdvs, 
                                        indicator.nbContributions,
                                        indicator.nbConnections,
                                    ] %}
                                    {% for item in items %}
                                        <td class="align-midle text-right">{{ item|number_format(0, ",", " ") }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="navigation">{{ knp_pagination_render(indicators) }}</div>
    </div>
    
{% endblock %}
