<nav class="navbar navbar-expand-xl navbar-light bg-{{ theme_color }} fixed-top mb-0 shadow">
    <div class="container-fluid">
        <a class="navbar-brand py-0 text-light" href="{{ path('home') }}">
            {% if app_env == 'prod' %}
                <img id="logo-site" src="{{ asset('images/logo_assia_white.png') }}" height="56" width="144" alt="Application Assia"
                    title="Application Assia">
            {% else %}
                <span class="fas fa-exclamation-triangle text-warning me-2"></span>Assia version test
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if app.user %}
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('home') }}">
                            <span class="fas fa-home me-1"></span>Mon espace</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuSupports"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Suivis</a>
                        <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuSupports">
                            <a class="dropdown-item" href="{{ path('support_index') }}">Voir tous les suivis</a>
                            <a class="dropdown-item" href="{{ path('new_support_search_person') }}">Créer un nouveau suivi</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuCalendar"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agenda
                        </a>
                        <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuCalendar">
                            <a class="dropdown-item" href="{{ path('calendar') }}">Mon agenda</a>
                            <a class="dropdown-item" href="{{ path('rdv_index', {'date[start]': 'now'|date('Y-m-d') }) }}">
                                Voir tous les rendez-vous</a>
                            <a class="dropdown-item" href="{{ path('task_index') }}">Voir toutes les tâches</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('note_index') }}">Notes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuDirectory"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Répertoire
                        </a>
                        <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownMenuDirectory">
                            <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                            <a class="dropdown-item" href="{{ path('service_index') }}">Services</a>
                            <a class="dropdown-item" href="{{ path('pole_index') }}">Pôles</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('managing') }}">Gestion</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light" target="_blank"
                            href="https://drive.google.com/drive/folders/1-B1pHYyNhp2tHFxwcSOWfsYD0qxjJLLs" 
                            title="Aide" data-toggle="tooltip" data-placement="bottom">
                            <i class="fas fa-question fa-xs"></i>
                        </a>
                    </li>
                </ul>
                <form action="{{ path('person_index') }}" method="get" class="form-inline me-3 my-2 my-lg-0">
                    <div class="position-relative">
                        <label for="search-person" class="sr-only col-form-label">Recherche d'une personne</label>
                        <input name="search-person" id="search-person" class="form-control me-sm-2" type="search"
                            placeholder="Recherche personne" autocomplete="off" 
                            title="Recherche instantanée à partir des 3 premières lettres saisies">
                        <div id="results_search" class="w-100 list-group pe-sm-2 d-block fade-in"></div>
                    </div>
                    <button class="btn btn-{{ theme_color }} border-light my-2 my-sm-0" 
                        title="Rechercher" data-toggle="tooltip" data-placement="bottom" type="submit">
                        <span class="fas fa-search"><span class="sr-only">Rechercher</span></span>
                    </button>
                </form>
                <div class="text-light text-endw-min-160">
                    <a id="user-name" class="text-light font-weight-bold" href="{{ path('my_profile') }}" data-toggle="popover"
                        data-trigger="hover" data-placement="bottom" data-html="true" data-user-id="{{ app.user.id }}"
                        title="{{ app.user.firstname }} {{ app.user.lastname }}" data-content="Dernière connexion : {{ app.user.lastLogin|date('d/m/Y H:i') }}
                        <br/>Statut : {{ app.user.statusToString }}<br/>Services rattachés :<br/>- {{ app.session.get('userServices')|join('<br/>- ') }}">
                        <span class="fas fa-user me-2"></span>{{ app.user.firstname }} {{ app.user.lastname|first }}.
                    </a>
                    <br/>
                    <a class="text-light" href="{{ path('security_logout') }}">Se déconnecter</a>
                    <p class="mb-0 text-light small" title="Après l'expiration de la session, vous serez automatiquement déconnecté." 
                        data-toggle="tooltip" data-placement="bottom">Session expire dans <span id="session-timer">...</span></p>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

