{% extends 'model/_search.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.fullname) }}</div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.status) }}</div>
    {% include '_shared/_service_device_referent_search.html.twig' with {'poles': false} %}
    <div class="col-auto my-1 px-1">{{ form_widget(form.hotels) }}</div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.supportDates) }}</div>
    <div class="col-auto my-1 px-1 d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Date de début"><span class="my-2 px-1">Entre</span>{{ form_widget(form.date.start) }}
    </div>
    <div class="col-auto my-1 px-1 d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Date de fin"><span class="my-2 pe-2">et</span>{{ form_widget(form.date.end) }}
    </div>
    <div class="col-auto my-1 px-1">{{ form_widget(form.levelSupport) }}</div>
    <div class="col-auto my-1 px-1 d-inline-flex">
        <div class="form-check form-check-{{ theme_color }}"
            data-bs-placement="bottom" title="Demandeur/euse principal·e">
            {{ form_widget(form.head) }}
        </div>
    </div>
{% endblock %}