{% extends 'base.html.twig' %}

{% set title = 'Suivis PASH' %}
{% set form_head = form.vars.value.head == true %}          

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <section class="mt-0">

        <div class="container-fluid pt-4">
            {% include 'model/_msgFlash.html.twig' %}
            <h1 class="h2 mb-3">{{ title }}</h1>
        </div>

        {% include 'app/support/hotel_support/_hotel_support_search_form.html.twig' %}

        <div class="container-fluid mt-4">

            <div class="row align-items-baseline">
                <div class="col-md-4 count align-middle mb-2">
                    <span class="align-middle">Résultat : {{ supports.getTotalItemCount|number }} <!--
                    -->{% if form_head %}ménage{% else %}personne{% endif %}{% if supports.getTotalItemCount > 1 %}s{% endif %}.</span>
                </div>
                <div class="col-md-8">
                    <div class="navigation">{{ knp_pagination_render(supports) }}</div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover shadow-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-20"></th>
                            <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, 'Nom et prénom', 'p.lastname') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Secteur', 'ss.name') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Dispositif', 'd.name') }}</th>
                            <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, 'Référent·e social·e', 'u.lastname') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Statut', 'sg.status') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Hôtel (Commune)', 'sg.city') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, 'Date de demande', 'origin.orientationDate') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Orienteur', 'orga.name') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, 'Début de suivi', 'sg.startDate') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, 'Date de l\'évaluation', 'hs.evaluationDate') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Niveau d\'intervention', 'hs.levelSupport') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, 'Date de signature convention', 'hs.agreementDate') }}</th>
                            <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(supports, 'Départemt d\'ancrage', 'hs.departmentAnchor') }}</th>
                            <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, 'Fin de suivi', 'sg.endDate') }}</th>
                            <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, 'Motif fin suivi', 'sp.endReason') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for support_person in supports %}
                            {% set person = support_person.person %}
                            {% set support_group = support_person.supportGroup %}
                            {% set hotel_support = support_group.hotelSupport %}
                            <tr class="{% if form_head == false and support_person.head %}font-weight-bold{% endif %}">
                                <td scope="row" class="align-middle text-center">
                                    {% if is_granted('VIEW', support_group) %}
                                        <a href="{{ path('support_show', {'id': support_group.id}) }}"class="btn btn-{{ theme_color }} btn-sm shadow my-1" 
                                            data-toggle="tooltip" data-placement="bottom" title="Voir la fiche du suivi"><span class="fas fa-eye"></span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="align-middle">{{ person.fullname ~ (person.usename ? ' (' ~ person.usename ~ ')') }}</td>
                                <td class="align-middle">{{ support_group.subService ? support_group.subService.name }}</td>
                                <td class="align-middle">{{ support_group.device ? support_group.device.name }}</td>
                                <td class="align-middle">{{ support_group.referent ? support_group.referent.fullname }}</td>
                                <td class="align-middle">
                                    {% if hotel_support %}
                                        {{ support_person.statusToString }}<br/> 
                                        <span class="text-secondary">
                                            {{ hotel_support.reasonNoInclusion ? ' (' ~ hotel_support.reasonNoInclusionToString ~ ')' }}
                                            {{ support_person.status in [2, 4] and support_group.coefficient ? '(coeff. ' ~ support_group.coefficient ~ ')' }}
                                        </span>
                                    {% endif %}
                                </td>
                                {% set place = support_group.placeGroups|length ? support_group.placeGroups[0].place %}
                                <td class="align-middle">{{ place ? place.name }}<br/>
                                    <span class="text-secondary">{{ support_group.city ? '(' ~ support_group.city ~ ')' }}</span>
                                </td>
                                {% if hotel_support %}
                                    <td class="align-middle">{{ support_group.originRequest and support_group.originRequest.orientationDate ? 
                                        support_group.originRequest.orientationDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ support_group.originRequest and support_group.originRequest.organization and 
                                        support_group.originRequest.organization ? support_group.originRequest.organization.name ~ 
                                        (hotel_support.ssd ? ' (' ~  hotel_support.ssd ~ ')') }}</td>
                                    <td class="align-middle">{{ support_person.startDate ? support_person.startDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ hotel_support.evaluationDate ? hotel_support.evaluationDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ hotel_support.levelSupportToString }}</td>
                                    <td class="align-middle">{{ hotel_support.agreementDate ? hotel_support.agreementDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ hotel_support.departmentAnchorToString }}</td>
                                    <td class="align-middle">{{ support_person.endDate ? support_person.endDate|date('d/m/Y') }}</td>
                                    <td class="align-middle">{{ support_person.endReasonToString }}</td>
                                {% else %}
                                    <td class="align-middle" colspan="10"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">{{ knp_pagination_render(supports) }}</div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock javascripts %}