<section id="supports-by-device">
    <h2 class="h4 mb-4">Nombre théorique de suivis par dispositif</h2>

    {{ form_start(form_user_devices) }}

    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive table-sm">
                <table id="function-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle th-w-150">Dispositif</th>
                            <th scope="col" class="align-middle th-w-120">Nombre de suivis</th>
                            <th scope="col" class="align-middle th-w-20"></th>
                        </tr>
                    </thead>

                    {% set user_device_prototype %}
                        <td class="align-middle">{{ form_widget(form_user_devices.userDevices.vars.prototype.device) }}</td>
                        <td class="align-middle">{{ form_widget(form_user_devices.userDevices.vars.prototype.nbSupports) }}</td>
                        <td class="align-middle">
                            <button class="btn btn-danger" data-action="remove"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    {% endset %}

                    <tbody id="userDevices-fields-list" data-prototype="{{ user_device_prototype|e|spaceless }}"
                        data-container-tag="tr" data-widget-counter="{{ form_user_devices.userDevices|length }}">
                        {% for userDevice in form_user_devices.userDevices %}
                            <tr id="{{ userDevice.vars.id }}">
                                <td class="align-middle">{{ form_widget(userDevice.device) }}</td>
                                <td class="align-middle">{{ form_widget(userDevice.nbSupports) }}</td>
                                <td class="align-middle">
                                    <button class="btn btn-danger" data-action="remove">
                                        <i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <button type="button" class="btn btn-{{ theme_color }}"
                data-add-widget="device" data-list-selector="#userDevices-fields-list">
                <i class="fas fa-plus-square me-2"></i>Ajouter un dispositif</button>
            <div class="float-end">
                <button type="submit" id="send3" name="send3" class="btn btn-{{ theme_color }} shadow">
                    <i class="fas fa-save me-2"></i>Enregistrer</button>
            </div>
        </div>
    </div>

    {{ form_end(form_user_devices, {render_rest: false}) }}

</section>