{% extends 'base.html.twig' %}
{# {% form_theme form "bootstrap_4_layout.html.twig" %} #}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container">
        <section class="row min-vh-80">
            <div class="form-signin m-auto text-center">
                {{ form_start(form) }}
                    {% include 'model/_msgFlash.html.twig' %}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible mb-3 fade show" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security')|raw }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    <h1 class="h3 mb-4 font-weight-normal">Merci de vous connecter</h1>
                    <div class="my-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="fa fa-user"></span></div>
                            </div>{{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="input-group js-password-group">
                            {{ form_label(form.password) }}
                            {{ form_widget(form.password, {'attr': {'class': 'js-password' }}) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><span class="js-show-password fa fa-eye"></span></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="send" name="send" class="btn btn-lg btn-{{ theme_color }} btn-block shadow mb-4">Se connecter</button>
                {{ form_end(form) }}
                <a href="{{ path('security_forgot_password') }}" class="text-{{ theme_color }} mb-4">Mot de passe oublié ?</a>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}