{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container">
        <section class="row min-vh-80">
            <div class="form-signin m-auto text-center">
                {% include 'model/_flash_message.html.twig' %}
                <h1 class="h3 mb-4 fw-normal">Mot de passe oublié</h1>
                <p>Saisissez vos login et adresse e-mail afin de recevoir un e-mail pour réinitialiser votre mot
                    de passe.
                </p>

                {{ form_start(form) }}
                {{ form_row(form.username, {label_attr: {class: 'visually-hidden'}}) }}
                {{ form_row(form.email, {label_attr: {class: 'visually-hidden'}}) }}

                <div class="d-grid gap-2">
                    <button type="submit" id="send" name="send" class="btn btn-lg btn-primary btn-block shadow mb-4">Envoyer</button>
                </div>

                {{ form_end(form) }}
                
                <a href="{{ path('security_login') }}" class="link-primary mb-4">Retour à la page de connexion</a>
            </div>
        </section>
    </div>
{% endblock %}