{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% set create_account = app.request.attributes.get('_route') == 'security_create_password' %}
{% set title = create_account ? 'Création' : 'Réinitialisation' %}
{% block title %}{{ title }} du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <section class="row min-vh-80">
            <div class="form-signin col-sm-8 col-md-6 col-lg-4 m-auto text-center">
                {% include 'model/_flash_message.html.twig' %}
                <h1 class="h3 mb-4 fw-normal">{{ title }}<br/> du mot de passe</h1>
                <p>Saisissez vos login et adresse e-mail, puis choisissez votre {{ create_account == false ? ' nouveau' }} mot de passe.</p>

                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                <div class="mb-3">
                    <div class="mb-2">{{ form_errors(form.password) }}</div>
                    <div class="input-group js-password-group">
                        {{ form_widget(form.password) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                        {{ form_help(form.password) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-2">{{ form_errors(form.confirmPassword) }}</div>
                    <div class="input-group js-password-group">
                        {{ form_widget(form.confirmPassword) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                    </div>
                </div>

                <button type="submit" id="send" name="send" class="btn btn-lg btn-{{ theme_color }} btn-block shadow mb-4">Valider</button>

                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}