{% extends 'base_light.html.twig' %}

{% block title %}Personnalisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <section class="row min-vh-80">
            <div class="form-signin m-auto text-center">
                <h1 class="h3 mb-4 fw-normal">Personnalisation<br/> du mot de passe</h1>
                {{ form_start(form) }}
                <div class="mb-3">
                    <div class="input-group js-password-group">
                        {{ form_widget(form.password) }}
                        {{ form_help(form.password) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group js-password-group">
                        {{ form_widget(form.confirmPassword) }}
                        <span class="input-group-text"><i class="fa fa-eye js-show-password"></i></span>
                    </div>
                </div>
                <button type="submit" id="send" name="send" class="btn btn-lg btn-dark w-100 shadow mb-4">Envoyer</button>
                {{ form_row(form._token) }}
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}