{% extends "base.html.twig" %}

{% set user = form.vars.value  %}
{% set disabled = user.isDisabled %}
{% set title = user.id ? user.fullname ~ (disabled ? " (désactivé)") : "Création d'un compte utilisateur"  %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        <section>
            <h1 class="h2 mb-3">{{ title }}</h1>
            {% if user.id %}
                <div class="small text-secondary">
                    <p> Créé le {{ user.createdAt|date("d/m/Y à H:i") }}{{ user.createdBy ? " par " ~ user.createdBy.fullname }}
                        {% if user.updatedAt %}(modifié le {{ user.updatedAt|date("d/m/Y à H:i") }}{{ user.updatedBy ? " par " ~ user.updatedBy.fullname }}{% endif %})
                    </p>
                </div>
            {% else %}
                <div class="mb-4"></div>
            {% endif %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-{{ theme_color }}" href="{{ path('users') }}">Liste des utilisateurs</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>

            {% include "model/_msgFlash.html.twig" %}
            <div id="js-msg-flash-content"></div>

            <hr>

            <div class="row">
                <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                <div class="col-md-6">{{ form_row(form.lastname) }}</div>
                <div class="col-md-6">{{ form_row(form.email) }}</div>
                <div class="col-md-6">{{ form_row(form.phone1) }}</div>
                <div class="col-md-6">{{ form_row(form.status) }}</div>
                <div class="col-md-6">{{ form_row(form.roles) }}</div>
                <div class="col-md-6">{{ form_row(form.username) }}</div>
            </div>
            {% if null == user.id %}
                <div class="mb-2 text-secondary">
                    <p>Un email sera automatiquement envoyé à l'utlisateur après l'enregistrement. Il n'est pas nécessaire de créer de mot de passe provisoire.</p>
                </div>
            {% endif %}
            {% if user.id %}
                <div class="form-group row mb-4">
                    <div class="col-md-12">
                        <div class="float-left d-flex">
                            <a class="mr-3 btn btn-{{ disabled ? 'success' : 'danger' }} d-block" href="{{ path('security_user_disable', {'id':user.id}) }}"
                                title="{{ disabled ? 'Réactiver' : 'Désactiver' }} l'utilisateur" data-toggle="tooltip" data-placement="bottom"
                                {% if disabled == false %}onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir désactiver cet utilisateur ?')){return true;}else{return false;}"{% endif %}>
                                {% if disabled %}Réactiver{% else %}Désactiver{% endif %}</a>
                            <a class="mr-3 btn btn-{{ theme_color }} d-block" href="{{ path('security_user_send_new_email', {'id':user.id}) }}"
                                title="Envoyer un nouvel e-mail à l'utilisateur afin de définir son mot de passe" data-toggle="tooltip" data-placement="bottom" 
                                onclick="if(window.confirm('Êtes-vous vraiment sûr de vouloir envoyer un e-mail à l\'utilisateur ?')){return true;}else{return false;}">Envoyer e-mail</a>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>

        <hr>
        
        <section id="user-services">
            <h2 class="h4 mb-4">Services rattachés</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive table-sm">
                        <table id="function-table" class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="align-middle th-w-150">Service</th>
                                    <th scope="col" class="align-middle th-w-20"></th>
                                </tr>
                            </thead>
                            <tbody id="serviceUser-fields-list" 
                                data-prototype="<td class='align-middle'>{{ form_widget(form.serviceUser.vars.prototype.service)|e }}"
                                data-widget-tags="<tr></tr>" data-widget-counter="{{ form.serviceUser|length }}">
                                {% for role in form.serviceUser %}
                                    <tr id="{{ role.vars.id }}">
                                        <td>{{ form_widget(role.service) }}</td>
                                        <td class="align-middle">
                                            <button class="btn btn-danger" data-action="remove"><span class="fas fa-trash-alt"></span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="col-md-12">
                    <button type="button" class="add-another-collection-widget btn btn-{{ theme_color }}"
                        data-list-selector="#serviceUser-fields-list"><span class="fas fa-plus-square mr-2"></span>Ajouter un
                        service</button>
                    <div class="float-right">
                        <button type="submit" id="send2" name="send2" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                    </div>
                </div>
            </div>
        </section>

        {% if user.id and user.status == constant("STATUS_SOCIAL_WORKER", app.user) %}
            <hr>
            <section id="supports-by-device">
                <h2 class="h4 mb-4">Nombre théorique de suivis par dispositif</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive table-sm">
                            <table id="function-table" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="align-middle th-w-150">Dispositif</th>
                                        <th scope="col" class="align-middle th-w-120">Nombre de suivis</th>
                                        <th scope="col" class="align-middle th-w-20"></th>
                                    </tr>
                                </thead>

                                {% set prototype %}
                                    {% apply spaceless %}
                                        <td class="align-middle">{{ form_widget(form.userDevices.vars.prototype.device) }}</td>
                                        <td class="align-middle">{{ form_widget(form.userDevices.vars.prototype.nbSupports) }}</td>
                                    {% endapply %}
                                {% endset %}

                                <tbody  id="userDevices-fields-list" data-prototype="{{ prototype|e }}"
                                    data-widget-tags="<tr></tr>" data-widget-counter="{{ form.userDevices|length }}">
                                    {% for userDevice in form.userDevices %}
                                        <tr id="{{ userDevice.vars.id }}">
                                            <td class="align-middle">{{ form_widget(userDevice.device) }}</td>
                                            <td class="align-middle">{{ form_widget(userDevice.nbSupports) }}</td>
                                            <td class="align-middle">
                                                <button class="btn btn-danger" data-action="remove"><span class="fas fa-trash-alt"></span></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-md-12">
                        <button type="button" class="add-another-collection-widget btn btn-{{ theme_color }}"
                            data-list-selector="#userDevices-fields-list"><span class="fas fa-plus-square mr-2"></span>Ajouter un dispositif</button>
                        <div class="float-right">
                            <button type="submit" id="send3" name="send3" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>Enregistrer</button>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {{ form_row(form._token) }}
        {{ form_end(form, {"render_rest": false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("securityUser") }}
{% endblock %}