{% extends 'base.html.twig' %}

{% block title %}Groupes de personnes | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}


<section class="my-0">
    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-3">Groupes de personnes</h1>
    </div>

    {% include "app/groupPeople/searchGroupPeople.html.twig" %}

    <div class="container">

        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle">
                <p class="align-middle">Résultat : {{ groupsPeople.getTotalItemCount|number_format(0,'', ' ')  }}
                    personnes.</p>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(groupsPeople) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover text-dark shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20">
                        </th>
                        <th scope="col" class="align-middle th-w-80" data-placement="bottom"
                            title="N° d'identification du groupe">
                            {{ knp_pagination_sortable(groupsPeople, "ID", "g.id") }}
                        </th>
                        <th scope="col" class="align-middle th-w-150 text-uppercase">
                            {{ knp_pagination_sortable(groupsPeople, "Nom", "p.lastname") }}
                        </th>
                        <th scope="col" class="align-middle th-w-120 text-capitalize">
                            {{ knp_pagination_sortable(groupsPeople, "Prénom", "p.firstname") }}
                        </th>
                        <th scope="col" class="align-middle th-date">
                            {{ knp_pagination_sortable(groupsPeople, "Date de naissance", "p.birthdate") }}
                        </th>
                        <th scope="col" class="align-middle th-w-80">
                            {{ knp_pagination_sortable(groupsPeople, "Sexe", "p.gender") }}
                        </th>
                        <th scope="col" class="align-middle th-w-100">
                            {{ knp_pagination_sortable(groupsPeople, "Rôle", "r.role") }}
                        </th>
                        <th scope="col" class="align-middle th-w-140">
                            {{ knp_pagination_sortable(groupsPeople, "Typologie familiale", "g.familyTypology") }}
                        </th>
                        <th scope="col" class="align-middle th-w-100">
                            {{ knp_pagination_sortable(groupsPeople, "Nb de pers.", "g.nbPeople") }}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for groupPeople in groupsPeople %}
                    {% set rolePerson = groupPeople.rolePeople|first %}
                    <tr>
                        <th scope="row">
                            {% if groupPeople.nbPeople > 1 %}
                            <a href="{{ path('group_people_show', {'id':groupPeople.id}) }}"
                                class="btn btn-{{ theme_color }} shadow" data-placement="bottom"
                                title="Voir la fiche du groupe"><span class="fas fa-users"></span></a>
                            {% else %}
                            <a href="{{ path('group_person_show', {'id':groupPeople.id, 'person_id':rolePerson.person.id, 'slug':rolePerson.person.slug}) }}"
                                class="btn btn-{{ theme_color }} shadow" data-placement="bottom"
                                title="Voir la fiche individuelle"> <span class="fas fa-user"></span></a>
                            {% endif %}
                        </th>
                        <td data-placement="bottom" title="N° d'identification du groupe">{{ groupPeople.id }} </td>
                        <td>{{ rolePerson.person.lastname }}</td>
                        <td class="text-capitalize">
                            {{ rolePerson.person.firstname }}
                            {% if  rolePerson.head %}<span data-placement="bottom"
                                title="Demandeur/euse principal·e">*</span>{% endif %}</td>
                        <td>{% if rolePerson.person.birthdate %}{{ rolePerson.person.birthdate|date("d/m/Y") }}<br />
                            ({{ rolePerson.person.age }}{% if rolePerson.person.age > 1 %}
                            ans{% elseif rolePerson.person.age > 0 %} an{% endif %}){% endif %}
                        <td>{% if rolePerson.person.gender == 1 %}
                            <span class="fas fa-female fa-2x text-dark" data-placement="bottom" title="Femme"></span>
                            {% elseif rolePerson.person.gender == 2 %}
                            <span class="fas fa-male fa-2x text-dark" data-placement="bottom" title="Homme"></span>
                            {% endif %} </td>
                        <td>{{ rolePerson.roleToString }}{% if rolePerson.head %} (DP){% endif %}</td>
                        <td>{{ groupPeople.familyTypologyToString }}</td>
                        <td>{{ groupPeople.nbPeople }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(groupsPeople) }}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}