{% extends "base.html.twig" %}

{% block title %}Suivis AVDL | {{ title_website }}{% endblock %}

{% block body %}

<section class="mt-0">

    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-3">Suivis AVDL</h1>
    </div>

    {% include "app/hotelSupport/searchAvdlSupports.html.twig" %}

    <div class="container-fluid mt-4">

        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle mb-2">
                <span class="align-middle">Résultat : {{ supports.getTotalItemCount|number_format(0,'', ' ') }} <!--
                -->suivi{% if supports.getTotalItemCount > 1 %}s{% endif %}.</span>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(supports) }}</div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover shadow-sm">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle th-w-20"></th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Nom et prénom", "p.lastname") }}</th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Statut", "sg.status") }}</th>
                        <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Référent·e social·e", "u.lastname") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Dispositif", "d.name") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Commune", "sg.city") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Date de manda-tement", "origin.orientationDate") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début du diagnostic", "hotelSupport.diagStartDate") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin du diagnostic", "hotelSupport.diagEndDate") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Type de diagnostic", "hotelSupport.diagType") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Accompa-gnement préconisé", "hotelSupport.recommendationSupport") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début de l'accompa-gnement", "hotelSupport.supportStartDate") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin de l'accompa-gnement", "hotelSupport.supportEndDate") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Type d'accompa-gnement", "hotelSupport.supportType") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Motif fin accompa-gnement", "hotelSupport.endSupportReason") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Modalités d'accès au logement", "hotelSupport.accessHousingModality") }}</th>
                        <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Date de la proposition", "hotelSupport.propoHousingDate") }}</th>
                        <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Résultat de la proposition", "hotelSupport.propoResult") }}</th>
                    </tr>
                </thead>
                <tbody>            
                    {% for support in supports %}
                        {% if support.supportPeople|filter(s => s.head == true)|length %}
                            {% set supportPerson = support.supportPeople|filter(s => s.head == true)|first %}
                        {% else %} 
                            {% set supportPerson = support.supportPeople|first %}
                        {% endif %}
                    <tr>
                        <td scope="row" class="align-middle">
                            {% if is_granted("VIEW", support) %}
                            <a href="{% if support.groupPeople %}{{ path('support_view', {'id':support.id}) }} {% endif %}"
                                class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-toggle="tooltip" data-placement="bottom"
                                title="Voir la fiche du suivi"><span class="fas fa-eye"></span>
                            </a>
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ supportPerson.person.fullname }}{{ supportPerson.person.usename ? " (" ~ supportPerson.person.usename ~ ")" }}</td>
                        <td class="align-middle">{{ support.statusToString }}<br/>
                            <span class="text-secondary">{{ support.coefficient ? "(coeff. " ~ support.coefficient ~ ")" }}</span>
                        </td>
                        <td class="align-middle">{{ support.referent ? support.referent.fullname }}</td>
                        <td class="align-middle">{{ support.device ? support.device.name }}</td>
                        <td class="align-middle">{{ support.city }}</td>
                        <td class="align-middle">{{ support.originRequest and support.originRequest.orientationDate ? support.originRequest.orientationDate|date("d/m/Y") }}</td>
                        {% if support.hotelSupport %}
                        <td class="align-middle">{{ support.hotelSupport.diagStartDate ? support.hotelSupport.diagStartDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.hotelSupport.diagEndDate ? support.hotelSupport.diagEndDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.hotelSupport.diagTypeToString }}</td>
                        <td class="align-middle">{{ support.hotelSupport.recommendationSupportToString }}</td>
                        <td class="align-middle">{{ support.hotelSupport.supportStartDate ? support.hotelSupport.supportStartDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.hotelSupport.supportEndDate ? support.hotelSupport.supportEndDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.hotelSupport.supportTypeToString }}</td>
                        <td class="align-middle">{{ support.hotelSupport.endSupportReasonToString }}</td>
                        <td class="align-middle">{{ support.hotelSupport.accessHousingModalityToString }}</td>
                        <td class="align-middle">{{ support.hotelSupport.propoHousingDate ? support.hotelSupport.propoHousingDate|date("d/m/Y") }}</td>
                        <td class="align-middle">{{ support.hotelSupport.propoResultToString }}</td>
                        {% else %}
                        <td class="align-middle" colspan="12"></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="navigation">{{ knp_pagination_render(supports) }}</div>

    </div>

</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}