{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Famille</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_view', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>

    {% set evalFamily = evaluation.evalFamilyGroup %}
    {% if evalFamily %}
        <div class="row mb-2">
            {{ view_div.get(evalFamily.pmiFollowUp == YES ? (evalFamily.pmiName ? evalFamily.pmiName), "Pmi follow up", "evaluation") }}
            {{ view_div.get(evalFamily.nbDependentChildren, "Nb dependent children", "evaluation") }}
            {{ view_div.get(evalFamily.famlReunification == YES ? evalFamily.famlReunificationToString ~ (evalFamily.nbPeopleReunification ? " (" 
                ~ evalFamily.nbPeopleReunification ~ " personne(s))"), "Faml reunification", "evaluation") }}
        </div>
        <div class="row my-3">
            <div class="col-md-12 justify">{{ evaluation.evalFamilyGroup.commentEvalFamilyGroup|nl2br }}</div>
        </div>
    {% endif %}

    {% set eval_people_family = eval_people|filter(e => e.evalFamilyPerson) %}
    {% set nb_adults_family = eval_people_family|length %}
    {% for evalPerson in eval_people_family %}
        {% set evalFamily = evalPerson.evalFamilyPerson %}
            {% if nb_adults_family > 1 %}
            <div class="row mb-2">
                <div class="col-md-12 font-weight-bold"><span class="text-underline">{{ evalPerson.supportPerson.person.fullname }}</span> :</div>
            </div>
            {% endif %}
        <div class="my-3">
            {% if evalPerson.supportPerson.role != ROLE_CHILD %}
                <div class="row">
                    {{ view_div.get(evalFamily.maritalStatusToString, "Marital status", "evaluation") }}
                    {{ view_div.get(evalFamily.noConciliationOrderToString, "No conciliation order", "evaluation") }}
                    {{ view_div.get(evalFamily.protectiveMeasure == YES and evalFamily.protectiveMeasureType ? 
                        evalFamily.protectiveMeasureTypeToString, "Protective measure", "evaluation") }}
                    {{ view_div.get(evalFamily.unbornChild == YES ? evalFamily.unbornChildToString ~ (evalFamily.expDateChildbirth ? " (" 
                        ~ evalFamily.expDateChildbirth|date("d/m/Y") ~ ")"), "Unborn child", "evaluation") }}
                </div>
            {% endif %}
            {% if evalPerson.supportPerson.role == ROLE_CHILD %}
                <div class="row">
                    {{ view_div.get((evalFamily.childcareOrSchool == YES ? evalFamily.childcareSchoolTypeToString : 
                        evalFamily.childcareOrSchoolToString) ~ (evalFamily.schoolCity or evalFamily.schoolChildCarePrecision ? " (" ~ evalFamily.schoolCity 
                        ~ ", " ~ (evalFamily.schoolChildCarePrecision ? evalFamily.schoolChildCarePrecision) ~ ")"), "Childcare or school", "evaluation") }}
                    {{ view_div.get(evalFamily.childToHostToString, "Child to host", "evaluation") }}
                    {{ view_div.get(evalFamily.childDependanceToString, "Child dependance", "evaluation") }}
                </div>
            {% endif %}
            <div class="row my-2">
                <div class="col-md-12 justify">{{ evalFamily.commentEvalFamilyPerson|nl2br }}</div>
            </div>
        </div>
    {% endfor %}
</section>