{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section class="mb-5">
    <div class="d-flex mb-3">
        <h2 class="h4">Logement - Hébergement</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    <div class="row mb-3">
        {{ view_div.get(evalHousing.housingStatusToString, "Housing status", "evaluation") }}
    </div>
        <div class="row mb-3">
            {{ view_div.get(evalHousing.siaoRequestToString, "Siao request", "evaluation") }}
            {% if evalHousing.siaoRequest == YES %}
                {{ view_div.get(evalHousing.siaoRequestDate ? evalHousing.siaoRequestDate|date("d/m/Y") 
                    ~ (evalHousing.siaoUpdatedRequestDate ? " (actualisation : " ~ evalHousing.siaoUpdatedRequestDate|date("d/m/Y") 
                    ~ ")"), "Siao request date", "evaluation") }}
                {{ view_div.get(evalHousing.siaoRequestDeptToString, "Siao request dept", "evaluation") }}
                {{ view_div.get(evalHousing.siaoRecommendationToString, "Siao recommendation", "evaluation") }}
            {% endif %}
        </div>
    {% if evalHousing.socialHousingRequest %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.socialHousingRequestToString ~ (evalHousing.socialHousingRequestId ? " (NUR : " 
                ~ evalHousing.socialHousingRequestId ~ ")"), "Social housing request", "evaluation") }}
            {{ view_div.get(evalHousing.socialHousingRequestDate ? evalHousing.socialHousingRequestDate|date("d/m/Y") 
                ~ (evalHousing.socialHousingUpdatedRequestDate ? " (actualisation : " ~ evalHousing.socialHousingUpdatedRequestDate|date("d/m/Y") 
                ~ ")"), "Date demande de logement social", "evaluation") }}
            {{ view_div.get(evalHousing.housingWishes, "Housing wishes", "evaluation") }}
            {{ view_div.get(evalHousing.citiesWishes, "Cities wishes", "evaluation") }}
            {{ view_div.get(evalHousing.specificities, "Specificities", "evaluation") }}
        </div>
    {% endif %}
    {% if evalHousing.syplo in [YES, IN_PROGRESS] %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.syploToString ~ (evalHousing.syploDate ? " (" 
                ~ evalHousing.syploDate|date("d/m/Y") ~ ")"), "Syplo", "evaluation") }}
            {{ view_div.get(evalHousing.syploId, "Syplo id", "evaluation") }}
        </div>
    {% endif %}
    {% if evalHousing.daloAction in [YES, IN_PROGRESS] %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.daloActionToString ~ (evalHousing.daloDecisionDate ? " (" 
                ~ evalHousing.daloDecisionDate|date("d/m/Y") ~ ")"), "Dalo action", "evaluation") }}
            {{ view_div.get(evalHousing.daloTypeToString, "Dalo type", "evaluation") }}
            {{ view_div.get(evalHousing.daloId, "Dalo id", "evaluation") }}
            {{ view_div.get(evalHousing.daloRecordDate ? evalHousing.daloRecordDate|date("d/m/Y"), "Dalo record date", "evaluation") }}
            {{ view_div.get(evalHousing.daloTribunalActionToString ~ (evalHousing.daloTribunalActionDate ? 
                " (le " ~ evalHousing.daloTribunalActionDate|date("d/m/Y") ~ ")"), "Dalo tribunal action", "evaluation") }}
        </div>
    {% endif %}
    {#{% if evalHousing.collectiveAgreementHousing %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.collectiveAgreementHousingToString ~ (evalHousing.collectiveAgreementHousingDate ? 
                " (le " ~ evalHousing.collectiveAgreementHousingDate|date("d/m/Y") ~ ")"), "Collective agreement housing", "evaluation") }}
        </div>
    {% endif %} #}
    {% if evalHousing.hsgActionEligibility in [YES, IN_PROGRESS] %}					
        <div class="row mb-3">
            {{ view_div.get(evalHousing.hsgActionEligibilityToString, "Hsg action eligibility", "evaluation") }}
            {{ view_div.get(evalHousing.hsgActionRecordToString ~ (evalHousing.hsgActionDate ? 
                " (le " ~ evalHousing.hsgActionDate|date("d/m/Y") ~ ")"), "Hsg action record", "evaluation") }}
            {{ view_div.get(evalHousing.hsgActionRecordId, "Hsg action record id", "evaluation") }}
            {{ view_div.get(evalHousing.hsgActionDept, "Hsg action dept", "evaluation") }}
        </div>
    {% endif %}
    {% if evalHousing.expulsionInProgress == YES %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.expulsionInProgressToString, "Expulsion in progress", "evaluation") }}
            {{ view_div.get(evalHousing.publicForceToString ~ (evalHousing.publicForceDate ? 
                " (le " ~ evalHousing.publicForceDate|date("d/m/Y") ~ ")"), "Public force", "evaluation") }}
            {{ view_div.get(evalHousing.expulsionComment) }}
        </div>
    {% endif %}
    {% if evalHousing.housingExperience %}
        <div class="row mb-3">
            {{ view_div.get(evalHousing.housingExperienceToString, "Housing experience", "evaluation") }}
            {{ view_div.get(evalHousing.housingExpeComment) }}
        </div>
    {% endif %}
    <div class="row mb-3">
        <div class="col-md-6">
            <ul class="mb-0">
                {% for key, value in constant("HOUSING_HELPS", evalHousing) %}
                    {% if attribute(evalHousing, key) %}
                        <li>{{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mb-3">
        {{ view_div.get(evalHousing.domiciliation == YES ? (evalHousing.domiciliationComment ? evalHousing.domiciliationComment ~ " - ") 
            ~ evalHousing.domiciliationAddress ~ (evalHousing.domiciliationCity ? " - " ~ evalHousing.domiciliationDept ~ " " 
            ~ evalHousing.domiciliationCity), "Domiciliation", "evaluation") }}
        {{ view_div.get(evalHousing.endDomiciliationDate ? evalHousing.endDomiciliationDate|date("d/m/Y"), "End domiciliation date", "evaluation") }}
    </div>
    <div class="row my-3">
        <div class="col-md-12 justify">{{ evalHousing.commentEvalHousing|nl2br }}</div>
    </div>

</section>