{% import "macros/viewDiv.html.twig" as view_div %}

{% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
{% set nb_people_budget = eval_people_budget|length %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Budget</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    {% if nb_people_budget > 1 %}           
        <div class="row mb-1">
            <div class="col-md-6">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-right">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Ressources</td>
                            <td class="text-right">{{ evalBudgetGroup.resourcesGroupAmt|format_currency("EUR") }}</td>
                        </tr>
                        {% if evalBudgetGroup.chargesGroupAmt %}
                            <tr>
                                <td scope="row">Charges</td>
                                <td class="text-right">{{ evalBudgetGroup.chargesGroupAmt|format_currency("EUR") }}</td>
                            </tr>
                        {% endif %}
                        {% if evalBudgetGroup.contributionAmt %}
                            <tr>
                                <td scope="row">Participation financière</td>
                                <td class="text-right">{{ evalBudgetGroup.contributionAmt|format_currency("EUR") }}</td>
                            </tr>
                        {% endif %}
                        {% if evalBudgetGroup.debtsGroupAmt and evalBudgetGroup.monthlyRepaymentAmt > 0 %}
                            <tr>
                                <td scope="row">Remboursement mensuel des dettes</td>
                                <td class="text-right">{{ evalBudgetGroup.monthlyRepaymentAmt|format_currency("EUR") }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr class="font-weight-bold">
                            <td scope="row">Reste à vivre</td>
                            <td class="text-right">{{ evalBudgetGroup.budgetBalanceAmt|format_currency("EUR") }}</td>
                        </tr>
                        {% if evalBudgetGroup.debtsGroupAmt %}
                            <tr>
                                <td scope="row">Montant total des dettes</td>
                                <td class="text-right">{{ evalBudgetGroup.debtsGroupAmt|format_currency("EUR") }}</td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="row mb-3">
        {{ view_div.get(evalBudgetGroup.cafId, "Caf id", "evaluation") }}
    </div>

    {% for evalPerson in eval_people_budget %}
        {% set evalBudget = evalPerson.evalBudgetPerson %}
        <div class="my-3">
            {% if nb_people_budget > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                </div>
            {% endif %}
            <div class="row">
                    {{ evalBudget.resources == YES and evalBudget.resourcesAmt > 0 ? '' : 
                        view_div.get(evalBudget.resourcesToString, "Resources", "evaluation") }}
                    {# {{ evalBudget.charges == YES and evalBudget.chargesAmt > 0 ? '' : 
                        view_div.get(evalBudget.chargesToString, "Charges", "evaluation") }} #}
            </div>
            <div class="row">
                {% if evalBudget.resources == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Ressources</th>
                                    <th class="text-right">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in evalBudget.resourcesType %}
                                    {% if attribute(evalBudget, key) %}
                                    <tr>
                                        <td scope="row">{% if not loop.last %}{{ value }}{% else %}
                                            {{ attribute(evalBudget, key ~ 'Precision') ? attribute(evalBudget, key ~ 'Precision') : 
                                                "Autre(s) ressource(s)" }}{% endif %}</td>
                                            {% set amt = attribute(evalBudget, key ~ 'Amt') %}
                                        <td class="text-right">{{ amt > 0 ? amt|format_currency("EUR") }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des ressources</td>
                                    <td class="text-right">{{ evalBudget.resourcesAmt|format_currency("EUR") }}</td>
                                </tr>
                                {% if evalBudget.incomeN1Amt %}
                                <tr>
                                    <td scope="row">Impôts sur le revenu n-1</td>
                                    <td class="text-right">{{ evalBudget.incomeN1Amt|format_currency("EUR") }}</td>
                                </tr>							
                                {% endif %}
                                {% if evalBudget.incomeN2Amt %}
                                <tr>
                                    <td scope="row">Impôts sur le revenu n-2</td>
                                    <td class="text-right">{{ evalBudget.incomeN2Amt|format_currency("EUR") }}</td>
                                </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

                {% if evalBudget.charges == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Charges</th>
                                    <td class="text-right font-weight-bold">Montant</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in evalBudget.chargesType %}
                                    {% if attribute(evalBudget, key) %}
                                    <tr>
                                        <td scope="row">{% if not loop.last %}{{ value }}{% else %}
                                            {{ attribute(evalBudget, key ~ 'Precision') ? attribute(evalBudget, key ~ 'Precision') : 
                                                "Autre(s) charge(s)" }}{% endif %}</td>
                                        <td class="text-right">{{ attribute(evalBudget, key ~ 'Amt')|format_currency("EUR") }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des charges</td>
                                    <td class="text-right">{{ evalBudget.chargesAmt|format_currency("EUR") }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

            </div>
            <div class="row">
                {{ view_div.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
            </div>
            <div class="row">
                {{ view_div.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}
            </div>
            <div class="row">
                {{ view_div.get(evalBudget.incomeTaxToString, "Income tax", "evaluation") }}
            </div>
            {% if evalBudget.debts %}
                <div class="row mb-2">
                    {{ view_div.get(evalBudget.debtsToString, "Debts", "evaluation") }}
                    {% if evalBudget.debts == YES %}
                        <div class="col-md-6">
                            <ul class="mb-0">
                                {% for key, value in evalBudget.debtsType %}
                                    {% if attribute(evalBudget, key) %}
                                        <li>{{ value }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="row mb-2">
                    {{ view_div.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
                    {{ view_div.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                        " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")"), "Over indebt record", "evaluation") }}
                    {{ view_div.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
                    {{ view_div.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
                    {{ view_div.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y"), "End rights date", "evaluation") }}
                </div>
            {% endif %}
            {% if evalBudget.commentEvalBudget %}
                <div class="row my-3">
                    <div class="col-md-12 justify">{{ evalBudget.commentEvalBudget|nl2br }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>