{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section class="mb-5">
    <div class="d-flex mb-3">
        <h2 class="h4">Vie à l'hôtel</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_view', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    {% if evalHotelLife.food %}
        <div class="row mb-3">
            <div class="col-md-12 font-weight-bold">{{ "Food"|trans({}, "evaluation") }} :</div>
            <div class="col-md-12 justify">{{ evalHotelLife.food|nl2br }}</div>
        </div>
    {% endif %}
    {% if evalHotelLife.clothing %}
        <div class="row mb-3">
            <div class="col-md-12 font-weight-bold">{{ "Clothing"|trans({}, "evaluation") }} :</div>
            <div class="col-md-12 justify">{{ evalHotelLife.clothing|nl2br }}</div>
        </div>
    {% endif %}
    {% if evalHotelLife.roomMaintenance %}
        <div class="row mb-3">
            <div class="col-md-12 font-weight-bold">{{ "Room maintenance"|trans({}, "evaluation") }} :</div>
            <div class="col-md-12 justify">{{ evalHotelLife.roomMaintenance|nl2br }}</div>
        </div>
    {% endif %}
    {% if evalHotelLife.otherHotelLife %}
        <div class="row mb-3">
            <div class="col-md-12 font-weight-bold">{{ "Other hotel life"|trans({}, "evaluation") }} :</div>
            <div class="col-md-12 justify">{{ evalHotelLife.otherHotelLife|nl2br }}</div>
        </div>
    {% endif %}
    {% if evalHotelLife.commentHotelLife %}
        <div class="row mb-3">
            <div class="col-md-12 font-weight-bold">{{ "Comment hotel life"|trans({}, "evaluation") }} :</div>
            <div class="col-md-12 justify">{{ evalHotelLife.commentHotelLife|nl2br }}</div>
        </div>
    {% endif %}
</section>