{% import 'macros/div_view.html.twig' as view_div %}

{% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
{% set nb_people_budget = eval_people_budget|length %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Budget</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ms-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    {% if nb_people_budget > 1 %}
        <div class="row mb-1">
            <div class="col-md-6">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-right">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Ressources</td>
                            <td class="text-right">{{ eval_budget_group.resourcesGroupAmt|amount }}</td>
                        </tr>
                        {% if eval_budget_group.chargesGroupAmt %}
                            <tr>
                                <td scope="row">Charges</td>
                                <td class="text-right">{{ eval_budget_group.chargesGroupAmt|amount }}</td>
                            </tr>
                        {% endif %}
                        {% if eval_budget_group.contributionAmt %}
                            <tr>
                                <td scope="row">Participation financière</td>
                                <td class="text-right">{{ eval_budget_group.contributionAmt|amount }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr class="font-weight-bold">
                            <td scope="row">Reste à vivre</td>
                            <td class="text-right">{{ eval_budget_group.budgetBalanceAmt|amount }}</td>
                        </tr>
                        {% if eval_budget_group.debtsGroupAmt %}
                            <tr>
                                <td scope="row">Montant total des dettes</td>
                                <td class="text-right">{{ eval_budget_group.debtsGroupAmt|amount }}</td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="row mb-3">
        {{ view_div.get(eval_budget_group.cafId ~ (eval_budget_group.cafAttachment ? ' (CAF de rattachement : ' ~ eval_budget_group.cafAttachment ~ ')'), 'Caf id', 'evaluation') }}
    </div>
    {% for eval_person in eval_people_budget %}
        {% set eval_budget_person = eval_person.evalBudgetPerson %}
        <div class="my-3">
            {% if nb_people_budget > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12 font-weight-bold"><span class="text-underline">{{ eval_person.supportPerson.person.fullname }}</span> :</div>
                </div>
            {% endif %}
            <div class="row">
                    {{ eval_budget_person.resource == YES and eval_budget_person.resourcesAmt > 0 ? '' : 
                        view_div.get(eval_budget_person.resourceToString, 'Resources', 'evaluation') }}
                    {# {{ eval_budget_person.charge == YES and eval_budget_person.chargesAmt > 0 ? '' : 
                        view_div.get(eval_budget_group.chargeToString, 'Charges', 'evaluation') }} #}
            </div>
            <div class="row">
                {% if eval_budget_person.resource == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Ressources</th>
                                    <th class="text-right">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eval_budget_resource in eval_budget_person.evalBudgetResources %}
                                    <tr>
                                        <td scope="row">{{ eval_budget_resource.type == 1000 and eval_budget_resource.comment ? 
                                            eval_budget_resource.comment : eval_budget_resource.typeToString  }}</td>
                                        <td class="text-right">{{ eval_budget_resource.amount > 0 ? eval_budget_resource.amount|amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des ressources</td>
                                    <td class="text-right">{{ eval_budget_person.resourcesAmt|amount }}</td>
                                </tr>
                                {% if eval_budget_person.incomeN1Amt is not null %}
                                    <tr>
                                        <td scope="row">Impôts sur le revenu n-1</td>
                                        <td class="text-right">{{ eval_budget_person.incomeN1Amt|amount }}</td>
                                    </tr>							
                                {% endif %}
                                {% if eval_budget_person.incomeN2Amt is not null %}
                                    <tr>
                                        <td scope="row">Impôts sur le revenu n-2</td>
                                        <td class="text-right">{{ eval_budget_person.incomeN2Amt|amount }}</td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

                {% if eval_budget_person.charge == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Charges</th>
                                    <td class="text-endfont-weight-bold">Montant</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eval_budget_charge in eval_budget_person.evalBudgetCharges %}
                                    <tr>
                                        <td scope="row">{{ eval_budget_charge.type == 1000 and eval_budget_charge.comment ? 
                                            eval_budget_charge.comment : eval_budget_charge.typeToString  }}</td>
                                        <td class="text-right">{{ eval_budget_charge.amount > 0 ? eval_budget_charge.amount|amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des charges</td>
                                    <td class="text-right">{{ eval_budget_person.chargesAmt|amount }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

            </div>
            <div class="row">
                {{ view_div.get(eval_budget_person.chargeComment, 'Charge comment', 'evaluation') }}
            </div>
            <div class="row">
                {{ view_div.get(eval_budget_person.resourcesComment, 'Resources comment', 'evaluation') }}
            </div>
            <div class="row">
                {{ view_div.get(eval_budget_person.incomeTaxToString, 'Income tax', 'evaluation') }}
            </div>
            {% if eval_budget_person.debt == YES %}
                <div class="row mb-2">
                    {{ view_div.get(eval_budget_person.debtToString ~ (eval_budget_person.evalBudgetDebts|length > 0 ? 
                        ' (' ~ eval_budget_person.evalBudgetDebtsToString|lower ~ ')'), 'Debts', 'evaluation') }}
                    {{ view_div.get(eval_budget_person.debtsAmt|amount(0), 'Debts amt', 'evaluation') }}
                </div>
                <div class="row mb-2">
                    {{ view_div.get(eval_budget_person.debtComment, 'Debt comment', 'evaluation') }}
                    {{ view_div.get(eval_budget_person.overIndebtRecord ? eval_budget_person.overIndebtRecordToString ~ (eval_budget_person.overIndebtRecordDate ? 
                        ' (date de dépôt : ' ~ eval_budget_person.overIndebtRecordDate|date('d/m/Y') ~ ')'), 'Over indebt record', 'evaluation') }}
                    {{ view_div.get(eval_budget_person.settlementPlanToString, 'Settlement plan', 'evaluation') }}
                    {{ view_div.get(eval_budget_person.moratoriumToString, 'Moratorium', 'evaluation') }}
                    {{ view_div.get(eval_budget_person.endRightsDate ? eval_budget_person.endRightsDate|date('d/m/Y'), 'End rights date', 'evaluation') }}
                </div>
            {% endif %}
            {% if eval_budget_person.commentEvalBudget %}
                <div class="row my-3">
                    <div class="col-md-12 justify">{{ eval_budget_person.commentEvalBudget|nl2br }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>