{% import "macros/viewDiv.html.twig" as view_div %}

{% set eval_people_budget = eval_people|filter(e => e.evalBudgetPerson) %}
{% set nb_people_budget = eval_people_budget|length %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Budget</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_view', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    {% if nb_people_budget > 1 %}           
        <div class="row mb-1">
            <div class="col-md-6">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-right">Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Ressources</td>
                            <td class="text-right">{{ evalBudgetGroup.resourcesGroupAmt|amount }}</td>
                        </tr>
                        {% if evalBudgetGroup.chargesGroupAmt %}
                            <tr>
                                <td scope="row">Charges</td>
                                <td class="text-right">{{ evalBudgetGroup.chargesGroupAmt|amount }}</td>
                            </tr>
                        {% endif %}
                        {% if evalBudgetGroup.contributionAmt %}
                            <tr>
                                <td scope="row">Participation financière</td>
                                <td class="text-right">{{ evalBudgetGroup.contributionAmt|amount }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr class="font-weight-bold">
                            <td scope="row">Reste à vivre</td>
                            <td class="text-right">{{ evalBudgetGroup.budgetBalanceAmt|amount }}</td>
                        </tr>
                        {% if evalBudgetGroup.debtsGroupAmt %}
                            <tr>
                                <td scope="row">Montant total des dettes</td>
                                <td class="text-right">{{ evalBudgetGroup.debtsGroupAmt|amount }}</td>
                            </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
    <div class="row mb-3">
        {{ view_div.get(evalBudgetGroup.cafId ~ (evalBudgetGroup.cafAttachment ? " (CAF de rattachement : " ~ evalBudgetGroup.cafAttachment ~ ")"), "Caf id", "evaluation") }}
    </div>
    {% for evalPerson in eval_people_budget %}
        {% set evalBudget = evalPerson.evalBudgetPerson %}
        <div class="my-3">
            {% if nb_people_budget > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12 font-weight-bold"><span class="text-underline">{{ evalPerson.supportPerson.person.fullname }}</span> :</div>
                </div>
            {% endif %}
            <div class="row">
                    {{ evalBudget.resource == YES and evalBudget.resourcesAmt > 0 ? "" : 
                        view_div.get(evalBudget.resourceToString, "Resources", "evaluation") }}
                    {# {{ evalBudget.charge == YES and evalBudget.chargesAmt > 0 ? '' : 
                        view_div.get(evalBudget.chargeToString, "Charges", "evaluation") }} #}
            </div>
            <div class="row">
                {% if evalBudget.resource == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Ressources</th>
                                    <th class="text-right">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resource in evalBudget.resources %}
                                    <tr>
                                        <td scope="row">{{ resource.type == 1000 and resource.comment ? 
                                            resource.comment : resource.typeToString  }}</td>
                                        <td class="text-right">{{ resource.amount > 0 ? resource.amount|amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des ressources</td>
                                    <td class="text-right">{{ evalBudget.resourcesAmt|amount }}</td>
                                </tr>
                                {% if evalBudget.incomeN1Amt is not null %}
                                    <tr>
                                        <td scope="row">Impôts sur le revenu n-1</td>
                                        <td class="text-right">{{ evalBudget.incomeN1Amt|amount }}</td>
                                    </tr>							
                                {% endif %}
                                {% if evalBudget.incomeN2Amt is not null %}
                                    <tr>
                                        <td scope="row">Impôts sur le revenu n-2</td>
                                        <td class="text-right">{{ evalBudget.incomeN2Amt|amount }}</td>
                                    </tr>
                                {% endif %}
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

                {% if evalBudget.charge == YES %}
                    <div class="col-md-6">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Charges</th>
                                    <td class="text-right font-weight-bold">Montant</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for charge in evalBudget.charges %}
                                    <tr>
                                        <td scope="row">{{ charge.type == 1000 and charge.comment ? 
                                            charge.comment : charge.typeToString  }}</td>
                                        <td class="text-right">{{ charge.amount > 0 ? charge.amount|amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr class="font-weight-bold">
                                    <td scope="row">Total des charges</td>
                                    <td class="text-right">{{ evalBudget.chargesAmt|amount }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                {% endif %}

            </div>
            <div class="row">
                {{ view_div.get(evalBudget.chargeComment, "Charge comment", "evaluation") }}
            </div>
            <div class="row">
                {{ view_div.get(evalBudget.resourcesComment, "Resources comment", "evaluation") }}
            </div>
            <div class="row">
                {{ view_div.get(evalBudget.incomeTaxToString, "Income tax", "evaluation") }}
            </div>
            {% if evalBudget.debt == YES %}
                <div class="row mb-2">
                    {{ view_div.get(evalBudget.debtToString ~ (evalBudget.debts|length > 0 ? 
                        " (" ~ evalBudget.debtsToString|lower ~ ")"), "Debts", "evaluation") }}
                    {{ view_div.get(evalBudget.debtsAmt|amount(0), "Debts amt", "evaluation") }}
                </div>
                <div class="row mb-2">
                    {{ view_div.get(evalBudget.debtComment, "Debt comment", "evaluation") }}
                    {{ view_div.get(evalBudget.overIndebtRecord ? evalBudget.overIndebtRecordToString ~ (evalBudget.overIndebtRecordDate ? 
                        " (date de dépôt : " ~ evalBudget.overIndebtRecordDate|date("d/m/Y") ~ ")"), "Over indebt record", "evaluation") }}
                    {{ view_div.get(evalBudget.settlementPlanToString, "Settlement plan", "evaluation") }}
                    {{ view_div.get(evalBudget.moratoriumToString, "Moratorium", "evaluation") }}
                    {{ view_div.get(evalBudget.endRightsDate ? evalBudget.endRightsDate|date("d/m/Y"), "End rights date", "evaluation") }}
                </div>
            {% endif %}
            {% if evalBudget.commentEvalBudget %}
                <div class="row my-3">
                    <div class="col-md-12 justify">{{ evalBudget.commentEvalBudget|nl2br }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</section>