{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Emploi</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>

    {% set eval_adults_prof = eval_adults|filter(e => e.evalProfPerson) %}
    {% set nb_adults_prof = eval_adults_prof|length %}
    {% for evalPerson in eval_adults_prof %}
        {% set evalProf = evalPerson.evalProfPerson %}
        <div class="my-3">
            {% if nb_adults_prof > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12"><b>{{ evalPerson.supportPerson.person.fullname }}</b></div>
                </div>
            {% endif %}
            <div class="row mb-2">
                {{ view_div.get(evalProf.schoolLevelToString, "School level", "evaluation") }}
                {{ view_div.get(evalProf.profExperienceToString, "Prof experience", "evaluation") }}
                {{ view_div.get(evalProf.profStatus ? evalProf.profStatusToString ~ (evalProf.contractType ? " (" 
                    ~ evalProf.contractTypeToString ~ ")"), "Prof status", "evaluation") }}
                {{ view_div.get(evalProf.jobCenterId, "Job center id", "evaluation") }}
                {{ view_div.get(evalProf.jobType, "Job type", "evaluation") }}
                {{ view_div.get(evalProf.contractEndDate ? evalProf.contractEndDate|date("d/m/Y"), "Contract end date", "evaluation") }}
                {{ view_div.get(evalProf.workingHours ? evalProf.workingHours ~ (evalProf.nbWorkingHours ? " (nb d'heures : " 
                    ~ evalProf.nbWorkingHours ~ ")"), "Working hours", "evaluation") }}
                {{ view_div.get(evalProf.employerName ? evalProf.employerName ~ (evalProf.workPlace ? " | " 
                    ~ evalProf.workPlace), "Employer name", "evaluation") }}
                {{ view_div.get(evalProf.transportMeansType ? evalProf.transportMeansTypeToString ~ (evalProf.transportMeans ? " (" 
                    ~ evalProf.transportMeans ~ ")"), "Transport means type", "evaluation") }}
                {{ view_div.get(evalProf.rqth in [YES, IN_PROGRESS] ? evalProf.rqthToString ~ (evalProf.endRqthDate ? " (fin de validité : " 
                    ~ evalProf.endRqthDate|date("d/m/Y") ~ ")"), "Rqth", "evaluation") }}
            </div>
            <div class="row my-2">
                <div class="col-md-12 justify">{{ evalProf.commentEvalProf|nl2br }}</div>
            </div>
        </div>
    {% endfor %}
</section>