{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Identité - Papier</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    {% set eval_adults_admin = eval_adults|filter(e => e.evalAdmPerson) %}
    {% set nb_adults_admin = eval_adults_admin|length %}
    {% for evalPerson in eval_adults_admin %}
        {% set evalAdm = evalPerson.evalAdmPerson %}
        <div class="my-3">
            {% if nb_adults_admin > 1 %}
                <div class="row mb-2">
                    <div class="col-md-12 font-weight-bold"><span class="text-underline">{{ evalPerson.supportPerson.person.fullname }}</span> :</div>
                </div>
            {% endif %}
            <div class="row">
                {{ view_div.get(evalAdm.nationality ? evalAdm.nationalityToString ~ (evalAdm.country ? ' (' 
                    ~ evalAdm.country ~ ')'), "Nationality", "evaluation") }}
                {{ view_div.get(evalAdm.arrivalDate ? evalAdm.arrivalDate|date("d/m/Y"), "Arrival date", "evaluation") }}
                {{ view_div.get(evalAdm.paper == YES and evalAdm.paperType ? evalAdm.paperTypeToString : evalAdm.paperToString, "Paper", "evaluation") }}
                {{ view_div.get(evalAdm.asylumBackground == YES ? (evalAdm.asylumStatus ? evalAdm.asylumStatusToString : 
                    evalAdm.asylumBackgroundToString), "Asylum background", "evaluation") }}
                {{ view_div.get(evalAdm.renewalPermitDate ? evalAdm.renewalPermitDate|date("d/m/Y") 
                    ~ (evalAdm.nbRenewals ? " (" ~ evalAdm.nbRenewals ~ " renouvellement(s))"), "Renewal permit date", "evaluation") }}
                {{ view_div.get(evalAdm.endValidPermitDate ? evalAdm.endValidPermitDate|date("d/m/Y"), "End valid permit date", "evaluation") }}
                {{ view_div.get(evalAdm.workRightToString, "Work right", "evaluation") }}
            </div>
            <div class="row my-2">
                <div class="col-md-12 justify">{{ evalAdm.commentEvalAdmPerson|nl2br }}</div>
            </div>
        </div>
    {% endfor %}

    {% if eval_children|filter(e => e.evalAdmPerson)|length > 0 %}
        {% set nb_asylum_children = eval_children|filter(e => e.evalAdmPerson and e.evalAdmPerson.asylumBackground == YES)|length %}
        <div class="row my-3">
            <div class="col-md-12 table-responsive">
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="w-min-150" scope="col" >Enfants</th>
                            <th class="w-min-150">Nationalité</th>
                            <th class="w-min-120">Papier</th>
                            {% if nb_asylum_children > 0 %}
                                <th class="w-min-120">Asile</th>
                            {% endif %}
                            <th>Commentaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evalPerson in eval_children %}
                            {% set evalAdm = evalPerson.evalAdmPerson %}
                            {% if evalAdm %}
                                <tr>
                                    <td class="align-middle" scope="row">{{ evalPerson.supportPerson.person.fullname }}</td>
                                    <td class="align-middle">{{ evalAdm.nationalityToString ~ (evalAdm.country ? ' (' ~ evalAdm.country ~ ')') }}</td>
                                    <td class="align-middle">{{ evalAdm.paper == YES ? evalAdm.paperType ? evalAdm.paperTypeToString ~ (evalAdm.endValidPermitDate ? " (fin de validité : " ~ evalAdm.endValidPermitDate|date("d/m/Y") ~ ")") : evalAdm.paperToString }}</td>
                                    {% if nb_asylum_children > 0 %}
                                        <td>{{ evalAdm.asylumBackground == YES ? evalAdm.asylumStatus ? evalAdm.asylumStatusToString : evalAdm.asylumBackgroundToString }}</td>
                                    {% endif %}
                                    <td class="align-middle">{{ evalAdm.commentEvalAdmPerson }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</section>