{% import "macros/viewDiv.html.twig" as view_div %}

<hr/>
<section>
    <div class="d-flex mb-3">
        <h2 class="h4">Social - Santé</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ml-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>

    {% set eval_people_social = eval_people|filter(e => e.evalSocialPerson) %}
    {% set nb_people_social = eval_people_social|length %}
    {% for evalPerson in eval_people_social %}
        {% set evalSocial = evalPerson.evalSocialPerson %}
        {% if evalSocial.rightSocialSecurity or evalSocial.healthProblem == YES or evalSocial.aseFollowUp == YES or evalSocial.commentEvalSocialPerson  %}
            <div class="my-3">
                {% if nb_people_social > 1 %}
                    <div class="row mb-2">
                        <div class="col-md-12 font-weight-bold"><span class="text-underline">{{ evalPerson.supportPerson.person.fullname }}</span> :</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    {{ view_div.get(evalSocial.rightSocialSecurity in [1, 3] ? evalSocial.rightSocialSecurityToString ~ " - " 
                        ~ evalSocial.socialSecurityToString ~ (evalSocial.endRightsSocialSecurityDate ? " (fin de validité : " 
                        ~ evalSocial.endRightsSocialSecurityDate|date("d/m/Y") ~ ")") 
                        : evalSocial.rightSocialSecurityToString , "Right social security", "evaluation") }}
                    {{ view_div.get(evalSocial.socialSecurityOffice, "Social security office", "evaluation") }}
                </div>
                <div class="row mb-2">
                    {{ view_div.get(evalSocial.infoCrip == YES ? evalSocial.infoCripToString 
                        ~ (evalSocial.infoCripDate ? ' (le ' ~ evalSocial.infoCripDate|date('d/m/Y')
                        ~ (evalSocial.infoCripByService == YES ? ' par le service') ~ ")"), "Info crip", "evaluation") }}
                    {{ view_div.get(evalSocial.infoCripComment) }}
                </div>
                <div class="row mb-2">
                    {{ view_div.get(evalSocial.aseFollowUp == YES ? evalSocial.aseFollowUpToString 
                        ~ (evalSocial.aseMeasureType ? ' (Mesure ' ~ evalSocial.aseMeasureTypeToString ~ ")"), "Ase follow up", "evaluation") }}
                    {{ view_div.get(evalSocial.aseComment) }}
                </div>
                {% if evalSocial.familyBreakdown == YES or evalSocial.friendshipBreakdown == YES %}
                    <div class="row mb-2">
                        {{ view_div.get(evalSocial.familyBreakdownToString, "Family breakdown", "evaluation") }}
                        {{ view_div.get(evalSocial.friendshipBreakdownToString, "Friendship breakdown", "evaluation") }}
                    </div>
                {% endif %}
                {% if evalSocial.healthProblem == YES %}
                    <div class="row mb-2">
                        {{ view_div.get(evalSocial.healthProblemToString ~ (evalSocial.healthProblemsType ? 
                            " (" ~ evalSocial.healthProblemsType|join(", ") ~ ")"), "Health problem", "evaluation") }}
                    </div>
                {% endif %}
                <div class="row mb-2">
                    {{ view_div.get(evalSocial.medicalFollowUp == YES ? evalSocial.medicalFollowUpToString, "Medical follow up", "evaluation") }}
                    {{ view_div.get(evalSocial.homeCareSupport == YES ? evalSocial.homeCareSupportToString ~ (evalSocial.homeCareSupportType ? " - " 
                        ~ evalSocial.homeCareSupportTypeToString), "Home care support", "evaluation") }}
                    {{ view_div.get(evalSocial.violenceVictim == YES ? evalSocial.violenceVictimToString ~ (evalSocial.domViolenceVictim == YES ? 
                        " (Violence conjugale)"), "Violence victim", "evaluation") }}
                </div>
                {% if evalSocial.commentEvalSocialPerson %}
                    <div class="row mb-2">
                        <div class="col-md-12 justify">{{ evalSocial.commentEvalSocialPerson|nl2br }}</div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    {% if evaluation.evalSocialGroup %}
        {% set evalSocial = evaluation.evalSocialGroup %}
        <div class="row mb-2">
            {{ view_div.get(evalSocial.reasonRequestToString, "Reason request", "evaluation") }}
            {{ view_div.get(evalSocial.wanderingTimeToString, "Wandering time", "evaluation") }}
            {{ view_div.get(evalSocial.animal == YES ? evalSocial.animalToString 
                ~ (evalSocial.animalType ? " (" ~ evalSocial.animalType ~ ")" ), "Animal", "evaluation") }}
        </div>
        <div class="row mb-2">
            <div class="col-md-12 justify">{{ evaluation.evalSocialGroup.commentEvalSocialGroup|nl2br }}</div>
        </div>
    {% endif %}
</section>