<div class="accordion-item" id="accordion_item_{{ accordion_id }}">
	<h3 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
			data-bs-target="#accordion_item_collapse_{{ accordion_id }}" aria-expanded="false" 
			aria-controls="accordion_item_collapse_{{ accordion_id }}">
			<span class="h5">{% block card_title %}{% endblock %}</span>
		</button>
	</h3>
	<div id="accordion_item_collapse_{{ accordion_id }}" class="accordion-collapse collapse" 
		aria-labelledby="accordion_item_heading_{{ accordion_id }}">
		<div class="accordion-body bg-light">
			{% block card_body %}{% endblock %}
		</div>
	</div>
</div>