<section class="accordion my-0" id="accordion-parent-{{ id }}">
	<div id="card-{{ id }}" class="card mb-0 border-bottom">
		<div role="button" class="card-header py-2 collapsed cursor-pointer" id="heading-{{ id }}" data-toggle="collapse" 
			data-target="#collapse-{{ id }}" aria-expanded="true" aria-controls="collapse-{{ id }}">
			<h2 class="h5 my-2">{% block card_title %}{% endblock %}
				<span class="float-right"><span class="fa fa-chevron-right"></span></span>
			</h2>
		</div>
		<div id="collapse-{{ id }}" class="collapse" aria-labelledby="heading-{{ id }}" data-parent="#accordion-parent-{{ id }}">
			<div class="card-body bg-light"> {% block card_body %}{% endblock %}</div>
		</div>
	</div>
</section>
