{% extends "base.html.twig" %}

{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{% if form.vars.value.id is defined %}{% set edit_mode = true %}{% else %}{% set edit_mode = false %}{% endif %}

{% block title %}AVDL | {{ title_website }}{% endblock %}

{% block body %}

<div class="container">

	{% set title = "AVDL" %}
	{% include "app/support/navSuppport.html.twig" %}

	{{ form_start(form) }}

	{% include "model/msgFlash.html.twig" %}
	<div id="js-msg-flash-content"></div>

	<div class="form-group row">
		<div class="col-md-12"><h2 class="h5 mb-3">Demande</h2></div>
		<div class="col-md-6">{{ form_row(form.supportGroup.originRequest.organization) }}</div>
		<div class="col-md-6 d-none">{{ form_row(form.supportGroup.originRequest.organizationComment) }}</div>
		<div class="col-md-6">{{ form_row(form.mandateDate) }}</div>
		<div class="col-md-6">{{ form_row(form.supportGroup.location.city) }}</div>
		<div class="col-md-6 d-none">{{ form_row(form.supportGroup.location.address) }}</div>
		<div class="col-md-6 d-none">{{ form_row(form.supportGroup.location.zipcode) }}</div>
		<div class="col-md-6 d-none">{{ form_row(form.supportGroup.location.commentLocation) }}</div>
		{# <div class="col-md-6">{{ form_row(form.cityOrigin) }}</div> #}
		<div class="col-md-6">{{ form_row(form.propoHousing) }}</div>
		<div class="col-md-12">{{ form_widget(form.supportGroup.originRequest.comment) }}</div>
	</div>
	<hr>
	<div class="form-group row">
		<div class="col-md-12"><h2 class="h5 mb-3">Diagnostic</h2></div>
		<div class="col-md-6">{{ form_row(form.diagStartDate) }}</div>
		<div class="col-md-6">{{ form_row(form.diagEndDate) }}</div>
		<div class="col-md-6">{{ form_row(form.diagType) }}</div>
		<div class="col-md-6">{{ form_row(form.recommendationSupport) }}</div>
		<div class="col-md-12">{{ form_widget(form.diagComment) }}</div>
	</div>
	<hr>
	<div class="form-group row">
		<div class="col-md-12"><h2 class="h5 mb-3">Accompagnement</h2></div>
		<div class="col-md-6">{{ form_row(form.supportStartDate) }}</div>
		<div class="col-md-6">{{ form_row(form.supportEndDate) }}</div>
		<div class="col-md-6">{{ form_row(form.supportGroup.startDate) }}</div>
		<div class="col-md-6">{{ form_row(form.supportGroup.endDate) }}</div>
		<div class="col-md-6">{{ form_row(form.supportType) }}</div>
		<div class="col-md-6">{{ form_row(form.readyToHousing) }}</div>
		<div class="col-md-12">{{ form_widget(form.supportComment) }}</div>
	</div>
	<hr>
	<div class="form-group row">
		<div class="col-md-12"><h2 class="h5 mb-3">Fin d'accompagnement / Proposition logement</h2></div>

		<div class="col-md-6">{{ form_row(form.endSupportReason) }}</div>
		<div class="col-md-6">{{ form_row(form.supportGroup.endStatus) }}</div>
		<div class="col-md-6">{{ form_row(form.supportGroup.endStatusComment) }}</div>
		<div class="col-md-6">{{ form_row(form.AccessHousingType) }}</div>
		<div class="col-md-6">{{ form_row(form.propoHousingDate) }}</div>
		<div class="col-md-6">{{ form_row(form.propoOrigin) }}</div>
		<div class="col-md-6">{{ form_row(form.propoResult) }}</div>
		<div class="col-md-12">{{ form_widget(form.endSupportComment) }}</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12">
			<div class="mb-4 float-right">
			     <button type="submit" id="send" name="send" class="btn btn-{{ theme_color }} shadow"><span class="fas fa-save mr-2"></span>{% if edit_mode %}Mettre à jour{% else %}Enregistrer{% endif %}</button>
			</div>
		</div>
	</div>

	{{ form_row(form._token) }}
	{{ form_end(form, {"render_rest": false}) }}

</div>

{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
