{% extends "base.html.twig" %}

{% block title %}Suivis AVDL | {{ title_website }}{% endblock %}

{% block body %}

<section class="mt-0">

    <div class="container">
        {% include "model/msgFlash.html.twig" %}
        <h1 class="h2 mb-3">Suivis AVDL</h1>
    </div>

    {% include "app/avdl/searchAvdlSupports.html.twig" %}

    <div class="container-fluid mt-4">

        <div class="row align-items-baseline">
            <div class="col-md-4 count align-middle mb-2">
                <span class="align-middle">Résultat : {{ supports.getTotalItemCount|number_format(0,'', ' ') }} <!--
                -->suivi{% if supports.getTotalItemCount > 1 %}s{% endif %}.</span>
            </div>
            <div class="col-md-8">
                <div class="navigation">{{ knp_pagination_render(supports) }}</div>
            </div>
        </div>

        {# <div class="row">
            <div class="col md-12"> #}
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover shadow-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="align-middle th-w-20"></th>
                                <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Nom et prénom", "p.lastname") }}</th>
                                {# <th scope="col" class="align-middle th-w-80">{{ knp_pagination_sortable(supports, "Typologie familiale", "g.familyTypology") }}</th> #}
                                <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Statut", "sg.status") }}</th>
                                {# <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début de suivi", "sg.startDate") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin de suivi", "sg.endDate") }}</th> #}
                                <th scope="col" class="align-middle th-w-120">{{ knp_pagination_sortable(supports, "Référent·e social·e", "u.lastname") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Dispositif", "d.name") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Commune", "sg.city") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Date de manda-tement", "avdl.mandateDate") }}</th>
                                {# <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Proposition logement", "avdl.propoHousing") }}</th> #}
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début du diagnostic", "avdl.diagStartDate") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin du diagnostic", "avdl.diagEndDate") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Type de diagnostic", "avdl.diagType") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Accompa-gnement préconisé", "avdl.recommendationSupport") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Début de l'accompa-gnement", "avdl.supportStartDate") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Fin de l'accompa-gnement", "avdl.supportEndDate") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Type d'accompa-gnement", "avdl.supportType") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Prêt au logement", "avdl.readyToHousingToString") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Motif fin accompa-gnement", "avdl.endSupportReason") }}</th>
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Type d'accès au logement", "avdl.AccessHousingType") }}</th>
                                <th scope="col" class="align-middle th-date">{{ knp_pagination_sortable(supports, "Date de la proposition", "avdl.propoHousingDate") }}</th>
                                {# <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Origine de la proposition", "avdl.propoOrigin") }}</th> #}
                                <th scope="col" class="align-middle th-w-100">{{ knp_pagination_sortable(supports, "Résultat de la proposition", "avdl.propoResult") }}</th>
                            </tr>
                        </thead>
                        <tbody>            
                            {% for support in supports %}
                                {% if support.supportPeople|filter(s => s.role != 3)|length %}
                                    {% set supportPeople = support.supportPeople|filter(s => s.role != 3) %}
                                {% else %} 
                                    {% set supportPeople = support.supportPeople %}
                                {% endif %}
                            <tr>
                                <td scope="row" class="align-middle">
                                    {% if is_granted("VIEW", support) %}
                                    <a href="{% if support.groupPeople %}{{ path('support_view', {'id':support.id}) }} {% endif %}"
                                        class="btn btn-{{ theme_color }} btn-sm shadow my-1" data-toggle="tooltip" data-placement="bottom"
                                        title="Voir la fiche du suivi"><span class="fas fa-eye"></span>
                                    </a>
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    {% for supportPerson in supportPeople %}
                                    <a href="{{ path('group_person_show', {'id':support.groupPeople.id, 'person_id':supportPerson.person.id, 'slug':supportPerson.person.slug}) }}"
                                        class="text-{{ theme_color }}" title="Voir la fiche de la personne" data-toggle="tooltip" 
                                        data-placement="bottom">{{ supportPerson.person.fullname }}{{ supportPerson.person.usename ? " (" ~ supportPerson.person.usename ~ ")" }}</a><br />
                                {% endfor %}
                                </td>
                                {# <td class="align-middle">
                                    {{ support.groupPeople.familyTypologyToString }}<!--
                                    -->{{ support.nbPeople > 1 ? ", " ~ support.nbPeople ~ " pers." }}
                                    {% if support.nbPeople != support.groupPeople.nbPeople %}
                                        <span class="fas fa-exclamation-triangle text-warning" 
                                            title="Le nombre de personnes rattachées au suivi ne correspond pas à la composition familiale."></span>
                                    {% endif %}
                                </td> #}
                                <td class="align-middle">{{ support.statusToString }}<br/>
                                    <span class="text-secondary">{{ support.coefficient ? "(coeff. " ~ support.coefficient ~ ")" }}</span>
                                </td>
                                {# <td class="align-middle">{{ support.startDate ? support.startDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ support.endDate ? support.endDate|date("d/m/Y") }}
                                    {% if support.endDate == null and support.theoreticalEndDate %}
                                        <span class="text-secondary">{{ support.theoreticalEndDate|date("d/m/Y") }}<br/>(Fin théorique)</span>
                                    {% endif %}
                                    </td> #}
                                <td class="align-middle">{{ support.referent ? support.referent.fullname }}</td>
                                <td class="align-middle">{{ support.device ? support.device.name }}</td>
                                <td class="align-middle">{{ support.city }}</td>
                                {% if support.avdl %}
                                <td class="align-middle">{{ support.avdl.mandateDate ? support.avdl.mandateDate|date("d/m/Y") }}</td>
                                {# <td class="align-middle">{{ support.avdl.propoHousingToString }}</td> #}
                                <td class="align-middle">{{ support.avdl.diagStartDate ? support.avdl.diagStartDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ support.avdl.diagEndDate ? support.avdl.diagEndDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ support.avdl.diagTypeToString }}</td>
                                <td class="align-middle">{{ support.avdl.recommendationSupportToString }}</td>
                                <td class="align-middle">{{ support.avdl.supportStartDate ? support.avdl.supportStartDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ support.avdl.supportEndDate ? support.avdl.supportEndDate|date("d/m/Y") }}</td>
                                <td class="align-middle">{{ support.avdl.supportTypeToString }}</td>
                                <td class="align-middle">{{ support.avdl.readyToHousingToString }}</td>
                                <td class="align-middle">{{ support.avdl.endSupportReasonToString }}</td>
                                <td class="align-middle">{{ support.avdl.AccessHousingTypeToString }}</td>
                                <td class="align-middle">{{ support.avdl.propoHousingDate ? support.avdl.propoHousingDate|date("d/m/Y") }}</td>
                                {# <td class="align-middle">{{ support.avdl.propoOriginToString }}</td> #}
                                <td class="align-middle">{{ support.avdl.propoResultToString }}</td>
                                {% else %}
                                <td class="align-middle" colspan="13"></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="navigation">{{ knp_pagination_render(supports) }}</div>

    </div>

</section>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("search") }}
{% endblock javascripts %}